{* All callable template functions are in this include template. *}
{include file="./PersonalSettingsHelpers.inc.html" inline}

{$wrapper_class = 's-personal-settings-wrapper'}
{$wrapper_id = uniqid($wrapper_class)}
<div class="dialog s-section-settings-dialog {$wrapper_class}" id="{$wrapper_id}">
    <div class="dialog-background"></div>
    <div class="dialog-body">
    <header class="dialog-header flexbox middle full-width">
        <h1>[`Login and signup settings`]</h1>
    </header>

    {if $auth_endpoints}
        {* Auth enabled checkbox *}
        <div class="dialog-content">
            <div class="s-alert-text alert custom-mb-32">
                <div class="flexbox space-12 small">
                    <span><i class="fas fa-info-circle"></i></span>
                    <span class="text">[`Subsections of the personal account (“My orders”, “My requests”, “My subscriptions”, “My profile”) are determined by the connected applications.`]</span>
                    <a class="nowrap custom-ml-auto custom-mt-4 custom-mr-8 link" href="[`https://support.webasyst.com/2879/client-account/`]" target="_blank">[`View instructions`] <span class="icon size-10"><i class="fas fa-external-link-alt"></i></span></a>
                </div>
            </div>
            <div>

            </div>
        <div class="fields">
            <form action="?module=mapPersonalSettingsSave&domain_id={$domain_id}">
                <div class="field custom-pb-24">
                    <div class="value">
                        <div class="switch-with-text custom-pt-4">
                            <span class="switch small" id="switch-auth-enabled">
                                <input type="checkbox" id="s-auth-enabled" name="enabled" {if !$auth_endpoints} disabled="disabled"{/if}
                                {if $auth_config.auth} checked="checked"{/if}>
                            </span>
                            <label for="s-auth-enabled" data-active-text="[`Client accounts are enabled`]" data-inactive-text="[`Client accounts are disabled`]">{if $auth_config.auth}[`Client accounts are enabled`]{else}[`Client accounts are disabled`]{/if}</label>
                        </div>
                    </div>
                </div>
                <div {if $auth_config.auth}style="display:none"{/if} class="text-orange auth-ban-text"><i class="fas fa-ban text-red"></i> {sprintf('[`User signup, authorization and personal accounts are not enabled on %s.`]', $domain)}</div>

                <div class="s-auth-content js-auth-content"{if !$auth_config.auth} style="display:none"{/if}>

                    {* Auth endpoints (app and urls) list *}
                    {auth_endpoints_select}

                    {* Ways of login and registration *}
                    <div class="s-big-label custom-mt-32 custom-mb-16">
                        <h2>[`Ways of login and registration`]</h2>
                        <div class="s-small">[`Set up how website visitors will log in and sign up on your website.`]</div>
                    </div>

                    {* Password system *}
                    {password_system}

                    {* Timeout for verification code *}
                    {timeout}

                    {auth_by_login}

                    {* \\|// *}
                    <div class="s-auth-methods js-auth-methods">
                        {* EMAIL *}
                        {email_settings}

                        {* MOBILE PHONE *}
                        {phone_settings}

                        {* SOCIAL NETWORKS *}
                        {social_networks_settings}
                    </div>
                    {* Forms *}
                    <div class="s-big-label custom-mt-32 custom-mb-16">
                        <h2>[`Login & signup forms`]</h2>
                        <div class="s-small">[`Set up fields website visitors will need to complete in login and signup forms.`]</div>
                        <div class="s-auth-forms">
                            {* Register form *}
                            {register_form}
                            {* Login form *}
                            {login_form}
                        </div>
                    </div>
                </div>

            </form>
        </div>
        </div>
        <footer class="js-form-buttons dialog-footer flexbox middle space-8">
            <div class="js-footer-actions">
                <input class="button js-submit-button" type="submit" name="" value="[s`Save`]">
                <a href="javascript:void(0);" class="js-close-dialog button light-gray">[`Cancel`]</a>
                <span class="icon js-loading" style="display: none;"><i class="fas fa-spinner fa-spin"></i> </span>
            </div>
        </footer>
        {* Warning about the minimum type of auth *}
        <div class="dialog s-minimum-auth-type-dialog" id="s-minimum-auth-type-dialog">
            <div class="dialog-background"> </div>
            <div class="dialog-body">
                <header class="dialog-header">
                    <h2>[`Both sign-in options “Email” & “Phone” cannot be disabled`]</h2>
                </header>
                <div class="dialog-content">
                    <p>[`Keep at least one of these two basic options enabled for website visitors to be able to log into their accounts.`]</p>
                    <p>[`Authorization with an email address is used by default.`]</p>
                </div>

                <footer class="dialog-footer">
                    <div class="">
                        <a href="javascript:void(0);" class="button js-close-dialog light-gray">[s`Close`]</a>
                    </div>
                </footer>
            </div>
        </div>

        {$_locale = [
            'enabled'     => _w('Enabled'),
            'disabled'    => _w('Disabled'),
            'login_names' => [
                'email'          => _w('Email'),
                'phone'          => _w('Phone'),
                'email_or_phone' => _w('Email or phone')
            ],
            "required_field" => _w("Required field"),
            "required_all_fields" => _w("Please fill required fields")
        ]}

        <script type="text/javascript">
            $(function () {
                new SitePersonalSettings({
                    $wrapper: $('#{$wrapper_id}'),
                    no_channels: {$no_channels|json_encode},
                    $minimum_auth_type_dialog: $('#s-minimum-auth-type-dialog'),
                    domain_id: {$domain_id|json_encode},
                    locale: {$_locale|json_encode}
                });
            });
        </script>

    {else}
    <div class="dialog-content">
        <p>[`To enable authorization on this site, add at least one section of an app that supports authorization forms.`]</p>
    </div>
    <footer class="js-form-buttons dialog-footer flexbox middle space-8">
        <div class="js-footer-actions">
            <a href="javascript:void(0);" class="js-close-dialog button light-gray">[`Cancel`]</a>
        </div>
    </footer>
    {/if}
</div>
</div>
