{*
Requirements list
@todo adjust requirements level
*}
{if !empty($item.requirements)}
    {capture name='warning'}
        {assign var=warning_meets value=''}
        {if !isset($class)}{assign var=class value="small red"}{/if}
        {if !isset($icon)}{assign var=icon value=false}{/if}
        <ul class="menu-v">
            {foreach $item.requirements as $subject => $requirement}
                {if ($requirement.warning && !$requirement.passed)} {assign var=warning_meets value=true}
                    <li>
                        <span class="{if strstr($subject,'app.')==$subject}hint{else}{$class}{/if}" title="{$requirement.name|escape}">
                            {if $icon}<i class="icon10 no{if $requirement.passed}-bw{/if}"></i>{/if}
                            {$requirement.warning|default:$requirement.note|escape}
                        </span>
                    </li>
                {/if}
            {/foreach}
        </ul>
    {/capture}
    {if $warning_meets && $smarty.capture.warning}
        {$smarty.capture.warning}
    {/if}
{/if}
