/*
 * Webasyst Default theme family
 *
 * Color schemes
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2014 Webasyst LLC
 * @package Webasyst
 */

.color_scheme_green .bullets,
.color_scheme_green .filters,
.color_scheme_green .product-sidebar,
.color_scheme_green .subscribe { background: #ecffe3; }

.color_scheme_blue a { color: #0082dd; }
.color_scheme_blue .price { color: #ce0052; }
.color_scheme_blue .banner { background: #39ade6 url('img/backgrounds/blue.png'); background-size: 420px 420px; }
.color_scheme_blue .banner h3 { color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.25); }
.color_scheme_blue main { background: #effaff; }
.color_scheme_blue header .cart a { background: #fd0; color: #1f61b3; }
.color_scheme_blue header .cart a strong { color: #ce0052; }
.color_scheme_blue header .cart a:hover { background: #fe0 !important; color: #1f61b3 !important; }
.color_scheme_blue header .cart a:hover strong { color: #ce0052 !important; }
.color_scheme_blue .dropdown-sidebar .nav-sidebar-header { background-color: #effaff; }
.color_scheme_blue .page,
.color_scheme_blue .nav-sidebar,
.color_scheme_blue .nav-sidebar-body { background-color: #f9fdff; }
.color_scheme_blue .bullets,
.color_scheme_blue .filters,
.color_scheme_blue .product-sidebar,
.color_scheme_blue .subscribe { background-color: #effaff; }
.color_scheme_blue input[type="button"],
.color_scheme_blue input[type="submit"] { background: #fd0; color: #1f61b3; }
.color_scheme_blue input[type="button"]:hover,
.color_scheme_blue input[type="submit"]:hover { background: #fe0; }
.color_scheme_blue input[type="button"]:active,
.color_scheme_blue input[type="submit"]:active { background: #ea0; }
.color_scheme_blue .search button { background: #fd0; }
.color_scheme_blue .filters .ui-slider-horizontal .ui-widget-header { background: #fc0; }
.color_scheme_blue .followus-leash .toggler { background: #39ADE6; }

.color_scheme_red a { color: #0082dd; }
.color_scheme_red .price { color: #f00; }
.color_scheme_red .banner { background: #da2e2e url('img/backgrounds/red.png'); background-size: 103px 23px; }
.color_scheme_red .banner h3 { color: #fff; }
.color_scheme_red main { background: #fee; }
.color_scheme_red header .cart a { background: #c00; color: #fff; }
.color_scheme_red header .cart a strong { color: #ff7; }
.color_scheme_red header .cart a:hover { background: #e33 !important; color: #fff !important; }
.color_scheme_red header .cart a:hover strong { color: #fff !important; }
.color_scheme_red .dropdown-sidebar .nav-sidebar-header { background-color: #ffefef; }
.color_scheme_red .page,
.color_scheme_red .nav-sidebar,
.color_scheme_red .nav-sidebar-body { background-color: #fff9f9; }
.color_scheme_red .bullets,
.color_scheme_red .filters,
.color_scheme_red .product-sidebar,
.color_scheme_red .subscribe { background-color: #ffefef; }
.color_scheme_red input[type="button"],
.color_scheme_red input[type="submit"] { background: #c00; color: #fff; }
.color_scheme_red input[type="button"]:hover,
.color_scheme_red input[type="submit"]:hover { background: #e33; }
.color_scheme_red input[type="button"]:active,
.color_scheme_red input[type="submit"]:active { background: #900; }
.color_scheme_red .search button { background: #faa; }
.color_scheme_red .search button:hover { background-color: #fbb; }
.color_scheme_red .filters .ui-slider-horizontal .ui-widget-header { background: #fc0; }
.color_scheme_red .followus-leash .toggler { background: #da2e2e; }

.color_scheme_yellow a { color: #0082dd; }
.color_scheme_yellow .price { color: #ce0052; }
.color_scheme_yellow .banner { background: #ffee43 url('img/backgrounds/yellow.png'); background-size: 300px 300px; border-bottom: 0; }
.color_scheme_yellow .banner h3 { color: #945d0e; }
.color_scheme_yellow main { background: #ffee43 url('img/backgrounds/yellow.png'); background-size: 300px 300px; margin-top: -1px; }
.color_scheme_yellow header .cart a { background: #ffee43; color: #1f61b3; }
.color_scheme_yellow header .cart a strong { color: #ce0052; }
.color_scheme_yellow header .cart a:hover { background: #fe0 !important; color: #945d0e !important; }
.color_scheme_yellow header .cart a:hover strong { color: #ce0052 !important; }
.color_scheme_yellow .dropdown-sidebar .nav-sidebar-header { background-color: #fffae7; }
.color_scheme_yellow .page,
.color_scheme_yellow .nav-sidebar,
.color_scheme_yellow .nav-sidebar-body,
.color_scheme_yellow .subscribe { background-color: #fffae3; }
.color_scheme_yellow .bullets,
.color_scheme_yellow .filters,
.color_scheme_yellow .product-sidebar { background-color: #fffae7; }
.color_scheme_yellow input[type="button"],
.color_scheme_yellow input[type="submit"] { background: #ffee43; color: #945d0e; }
.color_scheme_yellow input[type="button"]:hover,
.color_scheme_yellow input[type="submit"]:hover { background: #fe0; }
.color_scheme_yellow input[type="button"]:active,
.color_scheme_yellow input[type="submit"]:active { background: #ea0; }
.color_scheme_yellow .banner .search input { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
.color_scheme_yellow .search button { background: #fd0; }
.color_scheme_yellow .filters .ui-slider-horizontal .ui-widget-header { background: #fc0; }