/*
 * Webasyst Default theme family
 *
 * Additional CSS for tablet computers (e.g. iPad)
 * (requires linking default.css)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2014 Webasyst LLC
 * @package Webasyst
 */

body { font-size: 15px; -webkit-text-size-adjust: 100%; }

.container { padding: 0 20px; }

/* navigation sidebar always become dropdown on tablets */

.nav-sidebar { min-width: 230px; }
.nav-sidebar-header { display: block !important; box-shadow: 0 7px 20px -18px rgba(0, 0, 0, 0.7); position: relative; z-index: 102; background-color: #f7faf3; }
.nav-sidebar-body  { position: absolute; opacity: 0; left:-9999em; top:-9999em; z-index: 101; width: 100%; margin-top: 1px; background: #eef3ea; border-right: 1px solid rgba(0,0,0,0.15); }
.nav-sidebar-body .waSlideMenu-wrapper ul.menu-v { margin-top: 1px; } 
.nav-sidebar:hover .nav-sidebar-body { top: 46px; left: 0; transition: opacity 0.3s; opacity: 1; box-shadow: 0 2px 15px rgba(0,0,0,0.15); }
.nav-hotties { margin-left: 0%; border-left: none; }

.page-content { clear: both; margin-left: 0%; border-left: none; box-shadow: none; padding: 2% 3%; }