/*
 * Webasyst Default theme family
 *
 * Additional CSS for multi-touch mobile devices
 * (requires linking default.css)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2014 Webasyst LLC
 * @package Webasyst
 */

body { font-size: 12px; -webkit-text-size-adjust: 100%; }
h1 { font-weight: bold; }
h2.title { font-size: 1.5em; }
h3.title { font-size: 1.3em; }

.container { min-width: 0; padding: 0; }

.apps-negative { display: block; /* mobile-only slide-out navigation */ }

header h2 { margin-left: 10px; }
header .apps-toggle { display: block; float: right; margin-right: 10px; margin-top: 10px; }
header .apps { display: none; }
header .auth { float: left; padding-left: 0; }
header .apps.unfolded { display: block; }

header .cart { float: none; clear: both; margin: 0 5px; }
header .cart.empty a { background: #eee !important; }
header .cart.fixed { display: none; }

header .banner { padding: 10px; }
header .banner h3 { margin-top: 10px; }
header .banner .search { width: 100%; }
header .banner .search button { width: 26px; background-position: 14px 8px; }

.footer-block { display: block; margin: 20px !important; }

.page {  }
.page-nav { position: static; width: 100%; }
.page-nav .nav-sidebar { float: none !important; width: auto !important; padding: 10px !important; }
.page-nav .nav-sidebar ul.menu-v li.selected a { background: transparent; }
.page-content { margin-left: 0 !important; margin-right: 0 !important; padding: 10px; }

.nav-hotties { margin-left: 0; }
.nav-hotties ul.menu-h li { display: block; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.nav-sidebar-header,
.dropdown-sidebar .nav-sidebar-header { background-color: transparent; box-shadow: none; border-bottom: none; }

html.my ul.menu-h li a { padding: 10px; }

.comment-form-fields label { float: left; }

.wa-form .wa-field .wa-name { float: none; padding-bottom: 0; }
.wa-form .wa-field .wa-value { margin-left: 0; }
.wa-form .wa-field .wa-value p span { display: block; }
.wa-form .wa-field .wa-value input[type="text"],
.wa-form .wa-field .wa-value input[type="email"],
.wa-form .wa-field .wa-value input[type="password"] { min-width: 200px; }
.wa-auth-adapters p { width: 80%; }
.wa-captcha input.wa-captcha-input { width: 100px; }
.errormsg { margin-left: 0; }

.followus-leash { right: 0; left: 0; width: auto; }