/*
 * Webasyst “Default” theme family
 * (additional CSS for mobile multi-touch devices)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2011 Webasyst LLC
 * @package Webasyst
 */
 
* { -webkit-text-size-adjust: 100%; }

.container { padding: 1px 15px 0; min-width: 0; }

.sidebar.left { width: 100%; float: none; }
.sidebar.right { width: 100%; float: none; }
.content.left { margin-left: 0; }
.content.right { margin-right: 0; }
.app-header { min-height: 0; padding-top: 0; }
.top-padded { padding-top: 0; }

#header { margin-bottom: 20px; }
#header ul#wa-apps li.selected { background: none; }
#footer { padding-bottom: 30px; }
#footer .container { margin: 0 15px; }
#footer #copyright { padding-left: 0; }
#footer #sub-links { margin-left: 0; margin-top: 30px; }
#footer #sub-links ul li { float: none; margin-bottom: 5px; }

.content img { max-width: 100%; height: auto !important; }

#page { margin: 0 0 20px; }