body {
  background: #000;
  font-size: 1em;
}
body .highlighted {
  background: #665;
}
#wa-app {
  margin: 0 0;
  padding: 0 10px 0 0;
}
.cl {
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both;
}
.d-page-wrapper .page-header-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  -webkit-transition: height 666ms ease-in-out;
  -moz-transition: height 666ms ease-in-out;
  -ms-transition: height 666ms ease-in-out;
  transition: height 666ms ease-in-out;
}
.d-page-wrapper .page-header-wrapper.is-hidden {
  display: block;
  width: auto;
  table-layout: auto;
}
.d-page-wrapper .page-header-wrapper.is-hidden .page-header {
  display: none;
}
.d-page-wrapper .page-header-wrapper .page-header {
  display: table-cell;
  vertical-align: bottom;
  margin: 0;
  padding: 0 0 30px 0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  color: #e0e0e0;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper {
  font-size: 0;
  line-height: 0;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .d-widgets-block {
  position: relative;
  padding: 0 10px 0 0;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .d-widgets-block .empty-widgets-wrapper {
  display: none;
  margin: 10px 0 0 10px;
  padding: 10rem 5rem 2rem;
  text-align: center;
  font-weight: normal;
  color: #aaa;
  font-size: 1rem;
  line-height: 1.25;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .d-widgets-block .empty-widgets-wrapper.is-shown {
  display: block;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper.is-vertical .widget-group-wrapper {
  width: 50%;
  padding: 0 0 50%;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0 0 25%;
  height: 0;
  box-sizing: border-box;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper .widget-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  box-sizing: border-box;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper .widget-wrapper.widget-1x1 {
  width: 50%;
  padding: 0 0 50%;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper .widget-wrapper.widget-1x2 {
  width: 50%;
  padding: 0 0 100%;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper .widget-wrapper.widget-2x1 {
  width: 100%;
  padding: 0 0 50%;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper .widget-wrapper.widget-2x2 {
  width: 100%;
  padding: 0 0 100%;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper .widget-wrapper .widget-outer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid transparent;
  border-width: 10px 0 0 10px;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper .widget-wrapper .widget-outer-container .widget-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper .widget-wrapper .widget-outer-container .widget-inner-container .widget-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #181818;
  color: #eee;
}
.d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper .widget-wrapper .widget-outer-container .widget-inner-container .widget-block .loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -9px;
}
.widget-block h1 {
  color: #fff;
}
.widget-block h2 {
  color: #eee;
}
.widget-block a {
  color: #e2e25b;
}
.widget-block .hint,
.widget-block a.hint,
.widget-block span.hint {
  display: inline-block;
  color: #eee;
}
.widget-block .hint a,
.widget-block a.hint a,
.widget-block span.hint a {
  color: inherit;
}
.widget-block .hint.highlighted,
.widget-block a.hint.highlighted,
.widget-block span.hint.highlighted {
  padding: 1px;
  color: #444;
}
.widget-block table.zebra td {
  background: #000;
  padding: 0.5rem;
}
.widget-block table.zebra tr:nth-child(2n+1) td {
  background: #282828;
}
.widget-block table.zebra tr:hover td {
  background: inherit;
}
.widget-1x1 h1 {
  font-size: 3em;
}
.widget-1x1 h2 {
  font-size: 2em;
}
.widget-1x1 h3 {
  font-size: 1.5em;
}
.widget-1x1 h4 {
  font-size: 1.1em;
}
.widget-1x1 h5 {
  font-size: 1em;
}
.widget-1x1 h6 {
  font-size: 0.8em;
}
.widget-1x1 p {
  font-size: 0.8em;
}
.widget-2x1 h1 {
  font-size: 3em;
}
.widget-2x1 h2 {
  font-size: 2em;
}
.widget-2x1 h3 {
  font-size: 1.5em;
}
.widget-2x1 h4 {
  font-size: 1.2em;
}
.widget-2x1 h5 {
  font-size: 1em;
}
.widget-2x1 h6 {
  font-size: 1em;
}
.widget-2x1 p {
  font-size: 0.8em;
}
.widget-2x2 h1 {
  font-size: 6em;
}
.widget-2x2 h2 {
  font-size: 4em;
}
.widget-2x2 h3 {
  font-size: 3em;
}
.widget-2x2 h4 {
  font-size: 2em;
}
.widget-2x2 h5 {
  font-size: 1.4em;
}
.widget-2x2 h6 {
  font-size: 1.1em;
}
html {
  font-size: 100%;
  font-size: 1.1vw;
}
@media (orientation: portrait) {
  html {
    font-size: 50%;
    font-size: 2.5vw;
  }
  .d-page-wrapper .page-header-wrapper.is-hidden {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .d-page-wrapper .page-header-wrapper.is-hidden .page-header {
    display: table-cell;
    padding: 10px 0 0;
  }
  .d-page-wrapper .d-content-wrapper .d-widgets-wrapper .widget-group-wrapper {
    width: 50%;
    padding: 0 0 50%;
  }
}
@media (orientation: landscape) and (max-width: 800px) {
  html {
    font-size: 50%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  html {
    font-size: 62.5%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  html {
    font-size: 80%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 1130px) {
  html {
    font-size: 90%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 1260px) {
  html {
    font-size: 100%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 1340px) {
  html {
    font-size: 107%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  html {
    font-size: 120%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 1580px) {
  html {
    font-size: 125%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 1900px) {
  html {
    font-size: 150%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 2500px) {
  html {
    font-size: 200%;
    font-size: 1.1vw;
  }
}
@media (orientation: landscape) and (min-width: 3800px) {
  html {
    font-size: 300%;
    font-size: 1.1vw;
  }
}
