<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>[`Sign up as a new user`]</title>
    <link href="{$wa_app_static_url}css/invite.css?{$wa->version()}" rel="stylesheet">
    <link href="{$wa_url}wa-content/css/wa/wa-2.0.css?v{$wa->version(true)}" rel="stylesheet" type="text/css">
    {$wa->css()}
    <script src="{$wa_url}wa-content/js/jquery/jquery-1.8.2.min.js?{$wa->version(true)}"></script>
    <script src="{$wa_app_static_url}js/invite.js?{$wa->version()}"></script>
    {$wa->js()}
</head>
<body>

{$_background_url = ''}
{if $background}
    {$_background_url = "`$wa_url``$background|ltrim:'/'`"}
{/if}

<div class="t-invite-page" id="t-invite-page"{if $background} style="background-image:url('{$_background_url}');{if !$stretch}background-size:auto;{/if}"{/if}>
    <div class="t-invite-block">

        <div class="custom-mb-16">
            {* Conflict: backend user already bound *}
            {$_webasyst_id_contact_already_bound = $webasyst_id_auth_result && !$webasyst_id_auth_result.status && $webasyst_id_auth_result.details.error_code === 'already_bound'}
            {if $_webasyst_id_contact_already_bound}
                {include file="./webasyst_contact_info.inc.html" webasyst_contact_info=$webasyst_id_auth_result.details.webasyst_contact_info|default:[]}
            {/if}
        </div>

        <form action="{$token_link}" method="post">
            <h1 class="break-word"{if !empty($title_style)} style="{$title_style}"{/if}>{$title|escape}</h1>

            {if $webasyst_id_auth_url}
                <div class="waid-login">
                    <a href="{$webasyst_id_auth_url}{if $_webasyst_id_contact_already_bound}&change_user=1{/if}" class="waid-auth-link js-webasyst-auth-link"><span class="icon"></span>&nbsp;[s`Sign in with`]&nbsp;Webasyst ID</a>

                    <div class="separator custom-my-20">[`or`]</div>
                </div>
            {/if}

            <p class="align-center">[`Please specify login and password to create new backend user.`]</p>
            <div class="t-fields">
                <div class="field">
                    <div class="name">[`Login`]</div>
                    <div class="value">
                        <input type="text" name="data[login]" value="{$data.login|escape}" class="larger">
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Password`]</div>
                    <div class="value">
                        <input type="password" name="data[password]" class="larger">
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Password (again)`]</div>
                    <div class="value">
                        <input type="password" name="data[password_confirm]" class="larger">
                    </div>
                </div>
            </div>

            <div class="t-actions align-center">
                <input type="submit" class="button large" value="[`Save and proceed`]">
            </div>
        </form>

        <div class="wa-poweredby align-center custom-mt-32">
            <a href="[s`https://www.webasyst.com`]" title="Webasyst" target="_blank">
                <img class="icon size-24" src="{$wa_url}wa-content/img/webasyst-wand-bold-black.svg" alt="Webasyst">
            </a>
        </div>
    </div>
</div>

<script>jQuery(function($){
    new InvitePage({
        $wrapper: $("#t-invite-page"),
        backend_url: {$backend_url|json_encode},
        errors: {$errors|json_encode}
    });
});</script>

</body>
</html>
