<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>{$title|escape} &mdash; {$wa->accountName()}</title>

{$wa->css()}
<link rel="stylesheet" type="text/css" href="{$wa_app_static_url}css/checklists.css?v{$wa->version()}" media="screen" />
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{$wa_app_static_url}css/checklists.ie7.css?v{$wa->version()}" media="screen" />
<![endif]-->

<script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.8.2.min.js"></script>
{wa_js file="js/compiled/checklists-jquery.js"}
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.core.min.js
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.sortable.min.js
	{$wa_url}wa-content/js/jquery-wa/wa.core.js
{/wa_js}
</head>
<body id="{$wa_app}"><div id="wa">
	{$wa->header()}
	<div id="wa-app">
		<div class="sidebar left200px">
			{if !empty($sidebar)}
				{$sidebar}
			{/if}
		</div>
		<div class="content left200px" id="cl-core">
			<div class="shadowed c-content">
				{if !empty($content)}
					{$content}
				{/if}
			</div>
		</div>
	</div>
</div></body>
</html>