<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {$title=$wa->title()}
  <title>{if $title}{$title|escape}{else}{$wa->appName()}{/if} &mdash; {$wa->accountName()}</title>
  {$wa->css()}
  <link rel="stylesheet" href="{$wa_app_static_url}css/blog.css?v={$wa->version()}">

  <script src="{$wa_url}wa-content/js/jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
  <script src="{$wa_url}wa-content/js/jquery/jquery-migrate-3.3.2.min.js"></script>
  <script src="{$wa_url}wa-content/js/jquery-wa/wa.js?v={$wa->version(true)}"></script>

  <script src="{$wa_url}wa-content/js/jquery-plugins/jquery.json.js"></script>
  <script src="{$wa_url}wa-content/js/jquery-plugins/jquery.store.js"></script>
  <script src="{$wa_url}wa-content/js/jquery-plugins/jquery.history.js"></script>
  <script src="{$wa_url}wa-content/js/jquery-plugins/jquery.tmpl.min.js"></script>


  {wa_js file="js/blog.min.js"}
  {$wa_app_static_url}js/jquery.sticky.js
  {$wa_app_static_url}js/jquery.pageless2.js
  {$wa_app_static_url}js/blog.js
  {$wa_app_static_url}js/blogComments.js
  {$wa_app_static_url}js/jquery.form.js
  {/wa_js}
  {$wa->js(false)}

  {* @event backend_assets.%plugin_id% *}
  {foreach $backend_assets as $item}
      {$item}
  {/foreach}

  <script>
  $.wa_blog = $.extend(true,$.wa_blog,{
    'rights':{json_encode($rights)}
  });
  </script>
</head>
{$_has_wrapper = true}
{if ($module == 'blog' && $action == 'settings')
|| ($module == 'post' && $action == 'edit')
|| $module == 'plugins'
|| $module == 'pages'
|| $module == 'design'
|| $action == 'calendar'}
  {$_has_wrapper = false}
{/if}
<body>
  <div id="wa">
    {$wa->header()}
    <div id="wa-app" class="flexbox wrap-mobile">
      {$sidebar}
      <main class="{if $module == 'pages'}flexbox {/if}content s-hide-scrollbar not-blank js-main-content">
        {if $_has_wrapper}
          <div class="article wide"><div class="article-body">
        {/if}
            {$content}
        {if $_has_wrapper}
          </div></div>
        {/if}
      </main>
    </div>
  </div><!-- #wa -->
</body>
</html>
