<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {$title=$wa->title()}
    <title>{if $title}{$title|escape}{else}{$wa->appName()}{/if} &mdash; {$wa->accountName()}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;">
    <link rel="apple-touch-icon" href="apps/mobile/img/iphone_icon.png">
    <link type="text/css" rel="stylesheet" href="{$wa_url}wa-content/css/wa/wa-mobile-1.0.css">
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/mobile.css">
    <script src="{$wa_url}wa-content/js/jquery/jquery-1.7.1.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-mobile/jquery.mobile-1.1.1.min.js"></script>

    <script src="{$wa_app_static_url}js/jquery.pageless2.js"></script>

</head>
<body>
    <div id="wa">
        <div data-role="page" id="wa-app" data-dom-cache="false">
            <div data-role="header" data-position="inline" data-backbtn="false" >
                <a href="{$wa_backend_url}" rel="external"  data-role="button" data-iconpos="notext" data-icon="mobile-apps">[`Apps`]</a>
                <h1>[`Blog`]</h1>
            </div>
            <div data-role="content" class="content">
                {$content}
            </div>
        </div><!-- #wa-app -->

    </div><!-- #wa -->
</body>
</html>