{strip}

{$_is_global_admin = $wa->user()->isAdmin('webasyst')}

{function name=user_block user=[]}
{strip}
    <div class="image">
        <i class="userpic userpic32 custom-mt-4" style="background-image: url('{$user.photo_url_96}')"></i>
    </div>
    <div class="t-user-block details">
        <div class="t-layout">
            <div class="t-column">
                <h6 class="t-name small">{$user.name|escape}</h6>
                {if !empty($user.login)}
                    <div class="t-login">@{$user.login|escape}</div>
                {/if}
            </div>
            <div class="t-column right">
                <div class="t-actions">
                    <button class="text-blue button circle light-gray smallest mobile-only js-move-user">
                        <span class="t-add-text" title="[`Add to group`]">
                            <i class="fas fa-plus text-green"></i>
                        </span>

                        <span class="t-remove-text" title="[`Remove from group`]">
                            <i class="fas fa-minus text-red"></i>
                        </span>
                    </button>

                    <a class="text-blue desktop-and-tablet-only js-move-user" href="javascript:void(0);">
                        <span class="t-add-text" title="[`Add to group`]">
                            <i class="fas fa-plus-circle text-green"></i>
                            <span class="desktop-and-tablet-only custom-ml-4">[`Add to group`]</span>
                        </span>

                        <span class="t-remove-text" title="[`Remove from group`]">
                            <i class="fas fa-minus-circle text-red"></i>
                            <span class="desktop-and-tablet-only custom-ml-4">[`Remove from group`]</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{/strip}
{/function}

<div class="t-group-manage-page content article break-word" id="t-group-manage-page">

    <div class="t-content-body article-body">
        {* HEADER *}
        <header class="t-content-header flexbox middle">
            <h1 class="flexbox wide middle space-16 custom-mb-0 custom-pr-16">
                <a class="t-back-link gray" href="{$wa_app_url}group/{$group.id}/" title="[`Back`]"><i class="fas fa-arrow-circle-left"></i></a>
                <span class="{if $can_manage_group} editable js-name-editable{/if}"{if $can_manage_group} contenteditable="true"{/if}>{$group.name|escape}</span>
            </h1>

            <div class="dropdown js-change-group custom-mt-8 small">
                <button class="dropdown-toggle button light-gray" type="button"><i class="fas fa-cog text-blue"></i> [`Change`]</button>
                <div class="dropdown-body dd-wide">
                    <ul class="menu">
                        <li class="selected">
                            <a href="javascript:void(0);">
                                <i class="fas fa-users text-orange"></i><span>[`Set up members`]</span>
                            </a>
                        </li>
                        {if $wa->user()->isAdmin('webasyst')}
                            <li>
                                <a href="{$wa_app_url}group/{$group.id}/access/">
                                    <i class="fas fa-lock text-green"></i><span>[`Manage access`]</span>
                                </a>
                            </li>
                        {/if}
                        <li>
                            <a class="js-edit-group" href="javascript:void(0);">
                                <i class="fas fa-pencil-alt text-gray"></i><span>[`Edit group`]</span>
                            </a>
                        </li>
                        {if $wa->user()->isAdmin('webasyst')}
                            <li>
                                <a class="js-delete-group" href="javascript:void(0);">
                                    <i class="fas fa-trash-alt text-red"></i><span>[`Delete group`]</span>
                                </a>
                            </li>
                        {/if}
                    </ul>
                </div>
                <script>
                    ( function($) {
                        $(".js-change-group").waDropdown();
                    })(jQuery);
                </script>
            </div>
        </header>
        <div class="t-autocomplete-wrapper">
            <input class="t-input width-100 bold" type="text" placeholder="[`Find and add user`]">
        </div>

        {* USERS IN GROUP *}
        <div class="t-users-wrapper">
            <h5 class="heading large">[`Users in this group`]</h5>
            <p class="t-description t-empty-users-in-group custom-ml-16 {if !empty($group_users)}is-hidden{/if}">[`No users in this group.`]</p>
            <ul class="list t-users-list is-used-list">
                {foreach $group_users as $_user}
                    <li class="item t-user-wrapper" data-user-id="{$_user.id}">
                        {user_block user=$_user}
                    </li>
                {/foreach}
            </ul>
        </div>

        {* OTHER USERS *}
        <div class="t-users-wrapper">
            <h5 class="heading">[`Others users`]</h5>
            <p class="t-description t-empty-users-outside-group custom-ml-16 {if !empty($other_users)}is-hidden{/if}">[`All users in this group.`]</p>
            <ul class="list t-users-list is-unused-list">
                {foreach $other_users as $_user}
                    <li class="item t-user-wrapper" data-user-id="{$_user.id}">
                        {user_block user=$_user}
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>

    <script>
        ( function($) {
            new GroupManage({
                $wrapper: $("#t-group-manage-page"),
                locales: {
                    added: "[`User added`]",
                    in_group: "[`Already in group`]"
                },
                group_id: "{$group.id}"
            });
            $.team.setTitle({json_encode($group.name)});
        })(jQuery);
    </script>

</div>

{/strip}
