{$_location_enabled = ( $group.type == teamWaGroupModel::WA_GROUP_TYPE_LOCATION && !empty($group.location.address) )}

<div class="t-group-page content article break-word" id="t-group-page">
    {* CONTENT *}
    <div class="t-content-body article-body">
        {* HEADER *}
        <header class="t-content-header flexbox">
            <h1 class="custom-my-0 wide{if $can_manage_group} editable js-name-editable{/if}"{if $can_manage_group} contenteditable="true" style="margin: 0 -.25em"{/if}>
                {$group.name|escape}
            </h1>

            <div class="custom-mt-12 small flexbox middle wrap">
            {* MANAGE GROUP *}
            {if $can_manage_group}
                <div class="dropdown js-change-group custom-mr-12 custom-mb-12">
                    <button class="dropdown-toggle button light-gray" type="button"><i class="fas fa-cog text-blue"></i> [`Change`]</button>
                    <div class="dropdown-body dd-wide">
                        <ul class="menu">
                            <li>
                                <a href="{$wa_app_url}group/{$group.id}/manage/">
                                    <i class="fas fa-users text-orange"></i><span>[`Set up members`]</span>
                                </a>
                            </li>
                            {if $wa->user()->isAdmin('webasyst')}
                            <li>
                                <a href="{$wa_app_url}group/{$group.id}/access/">
                                    <i class="fas fa-lock text-green"></i><span>[`Manage access`]</span>
                                </a>
                            </li>
                            {/if}
                            <li>
                                <a class="js-edit-group" href="javascript:void(0);">
                                    <i class="fas fa-pencil-alt text-gray"></i><span>[`Edit group`]</span>
                                </a>
                            </li>
                            {if $wa->user()->isAdmin('webasyst')}
                            <li>
                                <a class="js-delete-group" href="javascript:void(0);">
                                    <i class="fas fa-trash-alt text-red"></i><span>[`Delete group`]</span>
                                </a>
                            </li>
                            {/if}
                        </ul>
                    </div>
                    <script>
                        ( function($) {
                            $(".js-change-group").waDropdown();
                        })(jQuery);
                    </script>
                </div>
            {/if}

                {* SORTING *}
                <div class="dropdown js-sort-by custom-mb-12">
                    {$_sort_list = [
                    'last_seen' => '[`Online`]',
                    'name'      => '[`Alphabetically`]',
                    'signed_up' => '[`By signup date`]'
                    ]}
                    <a class="dropdown-toggle button light-gray" href="{$wa_app_url}?sort={$sort|escape}" data-disable-routing>
                        {if isset($_sort_list[$sort])}{$_sort_list[$sort]|escape}{else}&mdash;{/if}
                    </a>
                    <div class="dropdown-body right">
                        <ul class="menu">
                            {foreach $_sort_list as $_id=>$_name}
                                <li class="t-menu-item {if $sort == $_id}selected{/if}">
                                    <a href="{teamHelper::getUrl('sort', $_id)}">
                                        {$_name|escape}
                                    </a>
                                </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        {if empty($contacts) && $can_manage_group}
            <div class="alert info t-info-notice-wrapper custom-mt-20" style="display: none;">
                <div class="flexbox space-16 full-width">
                    <div class="wide small">
                        <p>
                            {if $wa->user()->isAdmin('team')}
                                {sprintf_wp(
                                'To add a user to <span class="bold">%s</span>, use the <a href="%s">Manage group</a> mode.',
                                $group.name|escape,
                                "`$wa_app_url`group/`$group.id`/manage/"
                                )}
                                <span class="desktop-only custom-ml-4">
                                    [`You can also drag a user to this group in the sidebar.`]
                                </span>
                            {else}
                                {sprintf_wp(
                                'To add a user to %s, use <a href="%s">Manage group</a> mode.',
                                $group.name|escape,
                                "`$wa_app_url`group/`$group.id`/manage/"
                                )}
                            {/if}
                        </p>
                    </div>
                    <div>
                        <a href="#" class="alert-close t-info-notice-toggle" data-disable-routing><i class="fas fa-times"></i></a>
                    </div>
                </div>
            </div>
        {/if}

        {if $can_manage_group}
            <p class="t-description small{if $group.description === '[`Add group description`]'} gray italic{/if} custom-my-8 break-word editable js-desc-editable" contenteditable="true" style="margin: 0 -.25em" data-default-text="[`Add group description`]">
                {$group.description|default:'[`Add group description`]'|escape|nl2br}
            </p>
        {elseif $group.description !== '[`Add group description`]'}
            <p class="t-description small custom-my-8 break-word">
                {$group.description|escape|nl2br}
            </p>
        {/if}

        {if $_location_enabled && empty($geocoding.key)}
        <div>
            <span class="t-map-link small">
                <a href="https://maps.google.com/?q={$group.location.address|escape}" target="_blank">
                    <i class="fas fa-map-marker-alt custom-mr-4"></i>
                    {$group.location.address|escape}
                    <i class="fas fa-external-link-alt smaller custom-ml-4" style="vertical-align: baseline;"></i>
                </a>
            </span>
        </div>
        {/if}

        {if $_location_enabled && !empty($geocoding.key)}
        <a href="javascript:void(0)" class="t-map-link small inline-link js-open-map-link">
            <i class="fas fa-map-marker-alt"></i>
            <span class="custom-ml-4 custom-mr-4">{$group.location.address|escape}</span>
            <i class="fas fa-caret-down custom-ml-4"></i>
        </a>

        <div class="t-map-wrapper flexbox middle align-center custom-mt-12" style="background-color: var(--background-color-skeleton);">
            <div class="width-100" style="color: var(--menu-background-color-hover);">
                <i class="fas fa-map icon size-80"></i>
            </div>

            <style>
                .ymaps-2-1-79-gototech,
                .ymaps-2-1-79-gototaxi {
                    display: none;
                }
            </style>

            <div class="t-location-map" id="t-location-map"></div>
        </div>
        {/if}

        {if !empty($contacts)}
            {if !empty($online) && $sort === 'last_seen'}
                {include file="./../users/Users.inc.html" contacts=$online list_context="group/`$group.id`"}
            {elseif $sort !== 'last_seen'}
                {include file="./../users/Users.inc.html" contacts=$contacts list_context="group/`$group.id`"}
            {else}
                <p class="t-description">[`No users online.`]</p>
                {$_is_admin = $wa->user()->isAdmin($wa->app())}
                {$_has_rights = teamHelper::hasRights()}
                {$_can_drag = ( $_is_admin || $_has_rights )}
            {/if}

            {if !empty($offline) && $sort === 'last_seen'}
                <h3 class="t-header">[`Offline`]</h3>

                <ul class="list t-offline-list js-users-list-offline">
                    {foreach $offline as $user}
                        {$user_data = waUser::getNameAndStatus($user, true)}
                        <li class="t-user-wrapper flexbox middle space-16 custom-py-12{if $user.is_user >= 1 && !$wa->isMobile()} js-move-user{/if}" data-user-id="{$user.id}" data-update-datetime="{$user.update_datetime|default:''}">

                            {$_url_encoded = urlencode($user.login|escape)}
                            {$_user_link = "`$wa_app_url`u/`$_url_encoded`/?list=group/`$group.id`"}

                            <a href="{$_user_link}" title="{$user_data.formatted_user_name|escape}" class="image custom-mb-auto">
                                <span class="userpic icon size-72 valign-middle" style="background-image: url('{$user.photo_url_96}'); background-size: cover;">
                                    {if !empty($user_data.user.birth_day) && $user_data.user.birth_day == waDateTime::format('j') && $user_data.user.birth_month == waDateTime::format('n')}
                                        <span class="userstatus birthday t-user-birthday-icon" title="{$user_data.user_birthday_str}">
                                            <i class="fas fa-birthday-cake"></i>
                                        </span>
                                    {/if}
                                </span>
                            </a>
                            <div class="details">
                                <a href="{$_user_link}" class="t-name bold custom-my-0 small" title="{$user.name|escape}">
                                    {$user_data.formatted_user_name|escape}&#32;

                                    <span class="semibold gray">@{$user.login|escape}</span>
                                </a>

                                <div>
                                    {if !empty($user_data.user._event)}
                                    {$_badge_status_styles = ''}
                                    {if !empty($user_data.user._event.status_bg_color)}
                                    {$_badge_status_styles = "color: `$user_data.user._event.status_font_color`; background: `$user_data.user._event.status_bg_color`;"}
                                    {else}
                                    {$_badge_status_styles = "color: `$user_data.user._event.font_color`; background: `$user_data.user._event.bg_color`;"}
                                    {/if}

                                    <span class="badge user small custom-mr-4" style="{$_badge_status_styles}">
                                        {if $user_data.user._event.icon}
                                        <i class="{$user_data.user._event.icon|escape}"></i>
                                        {else}
                                        <i class="fas fa-calendar-alt"></i>
                                        {/if}
                                        {$user_data.user._event.summary|escape}
                                    </span>
                                    {/if}

                                    {if !empty($user.jobtitle)}
                                    <span class="t-job small custom-my-0">{$user.jobtitle|escape}</span>
                                    {/if}

                                    <p class="hint custom-my-0">
                                        [`Last seen`]
                                        &nbsp;
                                        {if empty($user.last_datetime)}
                                            [`never`]
                                        {else}
                                            {$user.last_datetime_formatted}
                                        {/if}
                                    </p>
                                </div>
                            </div>
                        </li>
                    {/foreach}
                </ul>
            {/if}
        {else}
            <p class="t-description">[`No users.`]</p>
        {/if}
    </div>

    <script>
        ( function($) {
            $.team.setTitle({json_encode($group.name)});

            new UserList({
                $wrapper: $(".js-users-list")
            });

            new UserList({
                $wrapper: $(".js-users-list-offline")
            });

            var options = {
                $wrapper: $("#t-group-page"),
                group_id: {if !empty($group.id)}{$group.id}{else}false{/if},
                can_manage: {if $can_manage_group}true{else}false{/if},
{if $_location_enabled && !empty($geocoding.key)}
                map_adapter: "{$geocoding.type}",
                latitude: "{$group.location.latitude}",
                longitude: "{$group.location.longitude}",
                address: "{$group.location.address}"
{/if}
            };

            new GroupPage(options);

            $(".js-sort-by").waDropdown({
                items: ".menu > li > a"
            });
        })(jQuery);
    </script>
</div>
