/*
 * Webasyst CUSTOM theme family
 *
 * Additional CSS for multi-touch mobile devices
 * (requires linking custom.css)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2012 Webasyst LLC
 * @package Webasyst
 */

body { font-size: 15px; -webkit-text-size-adjust: 100%; }
h1 { font-weight: bold; }

.mobile-only { display: block; }
.non-mobile-only { display: none; }

.block { padding: 10px 0; }
.float-left { float: none; }
.float-right { float: none; }
.top-padded { padding-top: 10px; }

.custom-margins { margin: 0; }
.container { min-width: 0; padding: 15px; }
.sidebar { padding-top: 0 !important; }
.sidebar.left { width: 100%; float: none; }
.sidebar.right { width: 100%; float: none; }
.content.left { margin-left: 0; }
.content.right { margin-right: 0; }
.content img { max-width: 100%; height: auto !important; }

#header { margin-top: -18px; margin-bottom: 20px; }
#header ul#wa-apps { margin-left: -7px; }
#header ul#wa-apps li a { padding-left: 7px; padding-right: 7px; }

#header div#cart a { float: none !important; width: auto !important; }
#header div#cart.fixed { right: 0; left: 0; margin: 0; }
#header div#cart.fixed a { margin: 0; width: auto; padding-top: 15px !important; }

#footer { padding-bottom: 30px; }
#footer .container { margin: 0 15px; }
#footer #copyright { padding-left: 0; }
#footer #sub-links { margin-left: 0; margin-top: 30px; }
#footer #sub-links ul li { float: none; margin-bottom: 5px; }

.hero, .hero.superhero { margin: 0 -15px 20px -15px; padding: 15px; }

#page { margin: 0 0 20px; }
.content.right #page { margin-right: 0; }

i.icon16 { margin-top: 0; vertical-align: middle; }