/*
 * Webasyst "Mobile" Theme
 *
 * Blog CSS File
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2015 Webasyst LLC
 * @package Webasyst
 */
.wa-blog-wrapper {
  padding: 0.5em;
  margin: 0;
}
.wa-blog-wrapper .pageless-wrapper {
  margin: 0.5em 0 0;
  text-align: center;
}
.wa-blog-wrapper a:first-child + .article-wrapper {
  margin-top: 0;
}
.wa-blog-wrapper .article-wrapper,
.wa-blog-wrapper .comment-list-wrapper,
.wa-blog-wrapper .comment-form-wrapper {
  margin: 0.5em 0 0;
  padding: 0.5em;
  border: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  overflow: hidden;
}
.wa-blog-wrapper .article-wrapper:first-child,
.wa-blog-wrapper .comment-list-wrapper:first-child,
.wa-blog-wrapper .comment-form-wrapper:first-child {
  margin-top: 0;
}
.wa-blog-wrapper .article-wrapper .article-header {
  margin: 0 0 1.2em;
}
.wa-blog-wrapper .article-wrapper .article-header a {
  text-decoration: none;
}
.wa-blog-wrapper .article-wrapper .article-header .date-block {
  font-size: 0.6em;
  line-height: 1em;
  text-align: left;
  text-transform: uppercase;
  color: #999;
}
.wa-blog-wrapper .article-wrapper .article-content p {
  overflow: hidden;
}
.wa-blog-wrapper .article-wrapper .article-content img {
  max-width: 100% !important;
  height: auto !important;
}
.wa-blog-wrapper .article-wrapper .article-content > a:last-child {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0.5em 1em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font: normal 1em/1.5em "Helvetica Neue", "Roboto Condensed", "Roboto", Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #121212;
  background: #eee linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}
.wa-blog-wrapper .article-wrapper .photo-album-attachment {
  margin: 0.5em 0;
}
.wa-blog-wrapper .article-wrapper .photo-album-attachment .description {
  color: #798997;
}
.wa-blog-wrapper .article-wrapper .photo-album-attachment .photo-image {
  margin: 0.5em 0 0;
  padding: 0.5em;
  line-height: 0;
  background: #f8f8f8;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.wa-blog-wrapper .article-wrapper .photo-album-attachment .photo-image a {
  font-size: 0;
}
.wa-blog-wrapper .article-wrapper .photo-album-attachment .photo-image a img {
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.wa-blog-wrapper .article-wrapper .credentials-wrapper {
  display: table;
  width: 100%;
  margin: 0.5em 0 0;
  padding: 0.5em 0 0;
  border-top: 1px solid #ccc;
}
.wa-blog-wrapper .article-wrapper .credentials-wrapper .comment-block {
  display: table-cell;
  vertical-align: middle;
  width: 1.75em;
  padding: 0;
  line-height: 1.25em;
}
.wa-blog-wrapper .article-wrapper .credentials-wrapper .comment-block a {
  display: block;
  width: 1.75em;
  height: 1.75em;
  background: #fff url("../../../site/themes/mobile/img/icons/comment-icon.png") 50% no-repeat;
  background-size: 1.4em;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.wa-blog-wrapper .article-wrapper .credentials-wrapper .author-block {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  line-height: 1em;
  box-sizing: border-box;
}
.wa-blog-wrapper .article-wrapper .credentials-wrapper .author-block .author-name {
  display: inline-block;
  vertical-align: top;
  max-width: 180px;
  line-height: 1.25em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wa-blog-wrapper .article-wrapper .credentials-wrapper .author-block .author-name a {
  text-decoration: none;
}
.wa-blog-wrapper .article-wrapper .credentials-wrapper .author-block .userpic-block {
  display: inline-block;
  vertical-align: top;
  width: 1.25em;
  height: 1.25em;
}
.wa-blog-wrapper .article-wrapper .credentials-wrapper .author-block .userpic-block img {
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.wa-blog-wrapper .comment-list-wrapper {
  padding: 0;
}
.wa-blog-wrapper .comment-list-wrapper .comment-count {
  margin: 0;
  padding: 0.25em 0.5em;
}
.wa-blog-wrapper .comment-list-wrapper .comment-wrapper > .comment-wrapper .comment-item {
  padding-left: 15%;
  border-width: 1px 0 0;
}
.wa-blog-wrapper .comment-list-wrapper .comment-wrapper > .comment-wrapper .comment-item:after {
  position: absolute;
  top: 0.5em;
  left: 0;
  content: "";
  opacity: 0.33;
  width: 2.5em;
  height: 2.5em;
  background: transparent url("../../../site/themes/mobile/img/icons/arrow-child.png") 50% no-repeat;
  background-size: 1em;
}
.wa-blog-wrapper .comment-list-wrapper .comment-wrapper > .comment-wrapper .comment-item .right-column .author-block {
  width: 150px;
}
.wa-blog-wrapper .comment-list-wrapper .comment-wrapper > .comment-wrapper .comment-item .right-column .author-block .username {
  color: #777;
}
.wa-blog-wrapper .comment-list-wrapper .comment-wrapper > .comment-wrapper .comment-item .text-block {
  color: #777;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item {
  position: relative;
  padding: 0.75em 0.5em;
  border: solid rgba(0,0,0,0.1);
  border-width: 1px 0 0 3px;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item .credentials {
  display: table;
  width: 100%;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item .credentials > .left-column {
  display: table-cell;
  vertical-align: top;
  width: 2em;
  line-height: 0;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item .credentials > .left-column img {
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item .credentials > .right-column {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding: 0 0 0 0.5em;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item .credentials > .right-column .author-block {
  width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item .credentials > .right-column .date-block {
  display: inline-block;
  vertical-align: top;
  font-size: 0.8em;
  color: #aaa;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item .credentials > .right-column .actions {
  position: absolute;
  top: 0;
  right: 0;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item .credentials > .right-column .actions .reply-link {
  display: block;
  width: 1.75em;
  height: 1.75em;
  opacity: 0.5;
  background: transparent url("../../../site/themes/mobile/img/icons/comment-icon.png") 50% no-repeat;
  background-size: 1.4em;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.wa-blog-wrapper .comment-list-wrapper .comment-item .text-block {
  margin: 0.25em 0 0;
  padding: 0.25em 0 0;
  border-top: 1px dotted #f0f0f0;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .field-line {
  margin: 1em 0 0;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .field-line:first-child {
  margin-top: 0;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .field-line .wa-captcha {
  margin: 1em 0 0;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .field-line .wa-captcha p {
  margin: 0;
  line-height: 0;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .field-line .wa-captcha p + p {
  display: none;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .field-line .wa-captcha img {
  max-width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .field-line .wa-captcha img + strong {
  display: none;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .field-line .wa-captcha input {
  margin: 1em 0 0;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .comment-submit {
  margin: 1em 0 0;
}
.wa-blog-wrapper .comment-form-wrapper .comment-form-fields .comment-submit:first-child {
  margin-top: 0;
}
.category-plugin {
  margin: 0.5em 0;
  padding: 0;
  border: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(127,127,127,0.1);
  box-shadow: 0 0 5px 0 rgba(127,127,127,0.1);
}
.category-plugin:first-child {
  margin-top: 0;
}
.category-plugin ul {
  margin: 0;
  padding: 0;
}
.category-plugin ul li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid rgba(0,0,0,0.1);
  border-width: 1px 0 0;
}
.category-plugin ul li:first-child {
  border-width: 0;
}
.category-plugin ul li a {
  position: relative;
  display: block;
  padding: 0.6em 2em 0.6em 0.8em;
  text-decoration: none;
}
.category-plugin ul li a:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 2em;
  height: 100%;
  background: transparent url("../../../site/themes/mobile/img/icons/arrow-right.png") 50% no-repeat;
  background-size: 0.6em;
}
.tag-plugin {
  margin: 0.5em 0;
  padding: 0;
  border: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(127,127,127,0.1);
  box-shadow: 0 0 5px 0 rgba(127,127,127,0.1);
}
.tag-plugin:first-child {
  margin-top: 0;
}
.tag-plugin .tags a {
  border: solid rgba(0,0,0,0.1);
  border-width: 1px 0 0;
  position: relative;
  display: block;
  padding: 0.6em 2em 0.6em 0.8em;
  text-decoration: none;
  box-sizing: border-box;
}
.tag-plugin .tags a:first-child {
  border-width: 0;
}
.tag-plugin .tags a:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 2em;
  height: 100%;
  background: transparent url("../../../site/themes/mobile/img/icons/arrow-right.png") 50% no-repeat;
  background-size: 0.6em;
}
