<!DOCTYPE html><html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->accountName()}</title>
    {if $env == 'backend'}<meta name="robots" content="noindex, nofollow"/>{/if}
    {$wa->css()}
    <style type="text/css">
        .dialog.newpassword .dialog-window {
            width: 615px;
            min-width: 615px;
        }
        #wa-login .newpassword h1 { margin-top: 10px}
        #wa-login .newpassword .field .name { width: auto}
        #wa-login .newpassword .field .value { margin-left: 250px; margin-bottom: 5px}
        #wa-login p.i-error { margin: 6px 0 10px; color: red }
    </style>
    <script src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{$wa_url}wa-content/js/jquery/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="{$wa_url}wa-content/js/jquery-wa/wa.dialog.js" type="text/javascript"></script>
</head>
<body>
<div id="wa-login"{if $background} style="background-image: url('{$wa_url}{$background}'); {if !$stretch} background-size: auto;{/if}"{/if}>
    <div class="dialog{if !empty($dialog_class)} {$dialog_class}{/if} width500px height300px{if !empty($error)} error{/if}" id="wa-login-dialog">
        <div class="dialog-background"></div>
        <div class="dialog-window"{if !empty($dialog_style)} style="{$dialog_style}"{/if}>
        <div class="dialog-content">
            <div class="dialog-content-indent">
                {$content}
            </div>
        </div>
        <div class="dialog-buttons">
            <div class="wa-poweredby">
                <a href="http://www.webasyst.com/" title="Webasyst">
                    <span class="wa-dots"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#wa-login-dialog').waDialog({ 'esc': false});
        $('#wa-login-input').focus();
        var input = $('input:text')[0] || $('input:password')[0];
        if (input) {
            input.focus();
        }
    });
</script>
</body>
</html>