/*
 * Webasyst “Default” theme family
 * (version for desktop computers)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2012 Webasyst LLC
 * @package Webasyst
 */

/* Reset
-------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, /* ol, ul, li, */ fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, credentials, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }
article, aside, credentials, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }

/* Common HTML elements, fonts, and colors
------------------------------------------ */
html, body { height: 100%; width: 100%; font-family: 'Georgia', Times, serif; font-size: 14px; background: #fff; }
a { color: #03c; outline:0 none; }
a:focus { outline:none; outline-offset:-4px; }
a:visited { color: #63c; }
a:hover { color: red !important; }
input[type="button"]::-moz-focus-inner { border: 0; }
input[type="submit"]::-moz-focus-inner { border: 0; }
a img { border: 0; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, blockquote { margin-bottom: 20px; }
h1, h2, h3 { font-weight: normal; }
h1 { font-size: 2.4em; }
h1 a { text-decoration:none; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.45em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
h1, h2, h3, h4, h5, h6 { line-height:1.2em; margin-bottom:.3em; }
ul, ol { padding-top:0; }
ol { list-style: decimal; }
input, textarea, select { margin:0; }
input, textarea { font-size: 1em; color: #000; font-family: 'Georgia', Times, serif; }
input[type="button"]:focus { outline:none; outline-offset:-2px; }
fieldset { border:1px solid #bbb; padding:10px; position:relative; background:#e9e9e9; margin-bottom:10px; }
legend { font-size:1.1em; padding:.4em .8em; background:#fff; //background:none;
border:1px solid #bbb; //border:none
}
fieldset p label { width:98%; }
fieldset p input[type="text"] { width:98%; }
fieldset p select { width:99%; }
blockquote { color: #555; font-size:0.9em; padding:20px; background: #f3f3f3; border-left: 2px solid #ccc; }
blockquote cite { font-size: 0.9em; }
hr { background-color: #ccc; height: 1px; border: 0; }

/* Misc
------- */

.inline-link { text-decoration: none !important; }
.inline-link b { border-bottom: 1px dotted; font-weight: normal; position: relative; top: -0.13em;}
.inline-link b i { font-style: normal; position: relative; top: 0.13em;}
.small { font-size: 0.9em; }
.large { font-size: 1.2em; }
.bold { font-weight: bold; }
.highlighted { background:  #FFFFCC; }
.hint { color: #aaa; font-size: .9em;}
.nowrap { white-space: nowrap; }
.hint a { color: #aaa; }
.float-left { float: left !important; }
.float-right { float: right !important; }
.align-center { text-align: center; }
.clear-left { clear: left; }
.clear-both { clear: both; }
.shadowed { -moz-box-shadow: 0 2px 5px #aaa; -webkit-box-shadow: 0 2px 5px #aaa; box-shadow: 0 2px 5px #aaa; }

/* 16x16 Icons
-------------- */
i.icon10 { background-repeat:no-repeat; height:10px; width:10px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.icon10 { text-decoration:none!important; vertical-align:top; margin: 0.2em 0.1em 0 0; }
i.icon16 { background-repeat:no-repeat; height:16px; width:16px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.icon16 { text-decoration:none!important; vertical-align:top; margin: 0.2em 0.25em 0 0; }
.icon16.loading { background-image: url('/wa-content/img/loading16.gif'); }

/* Menus
-------- */

ul.menu-v { margin: 0 0 20px -6px; padding: 0; }
ul.menu-v li { list-style: none; padding: 0; margin: 3px 0 8px; line-height: 1.1em; }
ul.menu-v li a { padding: 5px 6px; display: block;}
ul.menu-v li.selected a { color: #000; text-decoration: none; background: #eee; }
ul.menu-v li.selected ul li a { background: inherit; color: #03c; text-decoration: underline; }
ul.menu-v li ul.menu-v { margin-left: 10px; margin-top: 5px; margin-bottom: 15px; }
ul.menu-v li ul.menu-v li a { padding: 2px 6px; font-size: 0.9em; }
ul.menu-v li ul.menu-v li ul.menu-v li a { font-size: 0.8em; }

ul.menu-h { margin-left: -5px; padding: 0; }
ul.menu-h li { list-style: none; float: left; padding: 0 10px 0 0; }
ul.menu-h li a { display: block; padding: 0px 5px; }
ul.menu-h li.selected a { color: #000; text-decoration: none; background: #eee; }
ul.menu-h li.selected ul * { background: #fff !important; }

/* Default theme common layout
------------------------------ */

.container { padding: 1px 30px 0; min-width: 950px; /* max-width: 1440px; margin: 0 auto; */ }

.sidebar.left { width: 170px; float: left; }
.sidebar.right { width: 190px; float: right; }
.content.left { margin-left: 200px; }
.content.right { margin-right: 200px; }
.app-header { min-height: 100px; padding-top: 0; }
.top-padded { padding-top: 50px; /* "due to heading" padding */ }

#header { font-family: Helvetica, Arial, sans-serif; background: #000; color: #ccc; }
#header a { text-decoration: none; }
#header ul#wa-apps { margin: 0 -10px; padding: 0;}
#header ul#wa-apps li { float: left; list-style: none; margin: 0; padding: 6px 0; }
#header ul#wa-apps li.selected { background: url("img/app-selected.png") bottom center no-repeat; }
#header ul#wa-apps li a,
#header ul#wa-apps li strong { display: block; padding: 5px 10px; margin-right: 10px; color: #ccc; }
#header ul#wa-apps li a:visited { color: #ccc; }
#header ul#wa-apps li a:hover { color: #fff !important; }
#header ul#wa-apps li.selected a,
#header ul#wa-apps li.selected strong { font-weight: bold; color: #fff; }
#header ul#wa-apps li.float-right a,
#header ul#wa-apps li.float-right strong { margin-right: 0; margin-left: 10px; }
#header ul#wa-apps li.small { padding-top: 7px; padding-bottom: 6px; /* give some extra space because of a smaller font size */ }

#main { clear: both; line-height: 1.5em; margin: 0; }

#footer { clear: both; margin: 10px 0; font-size: 0.9em; color: #aaa; padding-bottom: 30px; }
#footer .container { border-top: 1px solid #ddd; padding-left: 0; padding-right: 0; margin: 0 30px; padding-top: 13px; }
#footer #sub-links { margin-left: 200px; }
#footer #sub-links ul { list-style: none; padding: 0; margin: 0; }
#footer #sub-links ul li { float: left;  padding: 0 15px 0 0; }
#footer #copyright { float: left; padding: 0 5px; }
#footer #poweredby {  text-align: center; float: right; padding-top: 0; padding-right:10px; }
#footer #poweredby .dots { font-size: 0.8em; text-decoration: none; display: inline-block; width: 54px; height: 9px; background: url("http://www.webasyst.com/wa-content/img/dots/all-dots-default-order.png") no-repeat 0 3px; padding-top: 3px; margin-left: 10px; display: block\9; float: right\9; }

/* Photos app specific
---------------------- */

.sidebar { padding-top: 10px; }
.sidebar.right300px { width: 270px; float: right; }
.content.right300px { margin-right: 300px; }
.sidebar p { line-height: 1.3em; }

.breadcrumbs { padding-top: 20px; }

h1.search-criteria { margin-bottom: 1em; }
.album-note { display: block; margin-top: -10px; color: #aaa; font-style: italic; }
.album-description { margin-top: 15px; }
.sub-albums { font-style: italic; margin-bottom: 25px; line-height: 1.3em; }
.sub-albums a { padding: 0 1em 0 0; }

ul.menu-v.album-tree li { margin: 3px 0; }
ul.menu-v.album-tree ul li { margin-left: 7px; font-size: 0.9em; }

/* Photostream */

ul.photostream { padding: 0; margin: 0; list-style: none; position: relative;}
ul.photostream li { float: left; padding-right: 7px;  }
ul.photostream li img { width: 48px; height: 48px; }
ul.photostream li.selected img { border: 4px solid #FDDA3B; margin: -4px -4px -2px; }
ul.photostream li.stream-nav { position: absolute; top: 18px; }
ul.photostream li.stream-nav i { display: block; width: 12px; height: 14px; }
ul.photostream li.stream-nav.rewind { left: -16px; padding: 0; }
ul.photostream li.stream-nav.rewind i { background: url('img/photostream-rewind.png') no-repeat; }
ul.photostream li.stream-nav.ff { right: -16px; padding: 0; }
ul.photostream li.stream-nav.ff i { background: url('img/photostream-ff.png') no-repeat;}

.photostream-divider { margin-top: 90px; border-top: 1px solid #ccc; margin-bottom: 20px; }

/* One photo */

.photo { margin-bottom: 25px; width: 100%; }
.photo img { max-width: 100%; }

.stack-nav { font-size: 120%; margin-bottom: 10px; }
.stack-nav .rewind { position: relative; left: -10px; top: 5px; }
.stack-nav .ff { position: relative; left: 10px; top: 5px; }

.stack { position: relative; display: inline-block; max-width: 100%; }
.stack .stack-nav { position: absolute; top: -37px; left: 20%; right: 20%; }

.image { position: relative; display: inline-block; max-width: 100%; display: block\9; /* IE8- hack */ }
.image img { max-width: 100%; height: auto; }
.image .corner { position:absolute; z-index:10; font-size: 0.8em; color: #fff; font-weight: bold; }
.image .corner.top { top:3px; }
.image .corner.left { left:10px; }
.image .corner.right { right:10px; }
.image .corner.bottom { bottom:3px; }
.image .corner .indicator { color: #fff; background: #000; border-radius: 10px; padding: 1px 5px 4px; }

/* Photo lists */

.view-plain { margin-top: 20px; }
.view-plain h5 { margin-bottom: 3px; }
.view-plain p { margin-bottom: 0; }
.view-plain .image { margin: 5px 0 0; text-align: center; text-align: left\9; /* IE8- hack */ }
.view-plain img.shadowed { -moz-box-shadow: 0 1px 3px #aaa; -webkit-box-shadow: 0 1px 3px #aaa; box-shadow: 0 1px 3px #aaa; }
.view-plain .stack { margin-top: 20px; }

ul.view-thumbs { padding: 0; margin: 0; list-style: none; }
ul.view-thumbs li a { text-decoration: none; }
ul.view-thumbs li { display: inline-block; position: relative; vertical-align: top; width: 250px; margin-right: 20px; margin-bottom: 30px; }
ul.view-thumbs li img.shadowed { -moz-box-shadow: 0 1px 3px #aaa; -webkit-box-shadow: 0 1px 3px #aaa; box-shadow: 0 1px 3px #aaa; margin-bottom: 5px; }
ul.view-thumbs li p { font-size: 0.9em; line-height: 1.3em; }

.tags a { color: green; }

/* Sign up & Login forms
------------------------ */

.wa-auth-adapters ul { padding: 0; min-height: 16px; }
.wa-auth-adapters ul li { list-style: none; float: left; padding: 0 15px 0 0; }
.wa-auth-adapters ul li a { display: block; padding: 0px 5px; }
.wa-auth-adapters ul li a img { position: relative; top: 3px; left: -3px; }
.wa-auth-adapters p { clear: left; color: #888; font-size: 0.9em; width: 80%; }

.wa-form { float: left; margin: 10px 0; overflow: visible; }
.wa-form .wa-field { clear: left; margin: 0; padding-top: 3px; }
.wa-form .wa-field .wa-name { float: left; width: 155px; padding-top: 0.05em; padding-bottom: 10px; font-size: 0.95em; }
.wa-form .wa-field.wa-separator { height: 10px; }
.wa-form .wa-field .wa-value { margin-left: 180px; margin-bottom: 5px; position: relative; }
.wa-form .wa-field .wa-value input.wa-error { border: 2px solid red; }
.wa-form .wa-field .wa-value .wa-error-msg { font-size: 0.9em; color: red; display: block; }
.wa-form .wa-field .wa-value input[type="text"],
.wa-form .wa-field .wa-value input[type="email"],
.wa-form .wa-field .wa-value input[type="password"] { width: 30%; min-width: 260px;  margin:0;}
.wa-form .wa-field .wa-value textarea { min-width: 300px; height: 70px; }
.wa-form .wa-field .wa-value input.wa-captcha-input { width: 100px; min-width: 0; }
.wa-form .wa-field .wa-value .wa-captcha img { margin-left: 0; }
.wa-form .wa-field .wa-value.wa-submit { margin-top: 10px; }

.wa-captcha { padding: 7px 0 10px; }
.wa-captcha p { clear: left; margin: 0; }
.wa-captcha strong { font-size: 1.2em; }
.wa-captcha p img { float: left !important; margin-right: 5px; margin-top: -8px; }
.wa-captcha .wa-captcha-refresh { font-size: 0.8em; text-decoration: underline; color: #aaa; }
.wa-captcha .errormsg { display: inline; margin-left: 10px; }

/* Comments
----------- */
.credentials { overflow: hidden; line-height: 1.3em; }
.credentials a,
.credentials span { display: inline-block; vertical-align: middle; padding-left: 0 !important; //display: inline;}
.credentials .userpic { min-width: 20px; display: block; float: left; margin-right: 2px; }
.credentials .username { font-size: 0.9em; margin: 0; }
.credentials .username, .credentials .username a { color: #777; padding: 0; display: inline; }
.credentials a.username:hover { color: red; }
.credentials .date { margin: 0 3px; }

.comment-form { padding: 0; }
.comment-form h4 { margin: 0 0 20px; font-weight: normal; }
.comment-form-fields p { margin: 0 0 10px; }
.comment-form-fields p a { display: inline !important; }
.comment-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #aaa;}
.comment-form-fields input { width: 20em;}
.comment-form textarea { min-width: 70%; min-height: 160px; }
.comment-form .comment-submit { padding:0 0 20px 170px;}
.comment-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; }
.comment-form ul.menu-h.auth-type li a img { float: left; margin-right: 3px; position: relative; top: 2px; }
.comment-form ul.menu-h.auth-type { padding-bottom: 20px; }
.comment-form label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #AAA; }

.comments { margin-bottom: 30px; }
.comments h3 { margin: 0 0 20px; }
.comments h4 { margin: 0 0 10px; }
.comments .credentials .date { margin: 0 5px; }
.comments .credentials .userpic { margin-top: 5px; margin-right: 5px; }
.comments .credentials .userpic.icon16 { min-width: 0; width: 16px; height: 16px; margin: 7px 4px 0; }
.comments textarea { height: 100px; min-height: 100px; width: 75%; margin-top: 0; } 
.comments ul,
.comments ul.menu-v li { padding: 0; margin: 0; list-style: none;}
.comments ul li { margin:0 0 20px 0;}
.comments ul li ul { margin:20px 0 0 0; }
.comments ul li span.hint a { color: #aaa; text-decoration: underline; }
.comments .text { margin: 5px 0 5px 27px; }
.comments .actions { margin: 0 0 5px 22px; font-size: 0.9em; }
.comments ul li a.comment-delete { margin: 0 0 0 5px; padding: 0; color: #d99; text-decoration: underline; }
.comments ul li a.comment-delete:hover { background: red; color: white; }
.comments ul li ul { padding-left: 25px; }
.comments ul li .comment-form { padding: 10px 30px; }
.comments ul li .comment-form textarea { min-height: 100px; }
.comments ul.menu-h.auth-type { padding: 0 0 40px; margin-left: -5px; }
.comments ul.menu-h.auth-type li { padding-right: 10px; }
.comments ul.menu-h.auth-type li a { padding: 5px 6px; }
.comments ul.menu-h.auth-type li a img { top: 0; }
.comment.deleted s { color: #777; background: #eee; padding: 0 3px; }

input.error, textarea.error { border: 2px solid red; }
.errormsg { color: red; margin-left: 170px; display: block; }

div.wa-captcha { padding: 7px 0 10px; }
div.wa-captcha p { clear: left; margin: 0; }
div.wa-captcha strong { font-size: 1.2em; }
div.wa-captcha img { float: left; margin-right: 5px; margin-top: -8px; }
div.wa-captcha .wa-captcha-refresh { font-size: 0.8em; text-decoration: underline; color: #aaa; }
div.wa-captcha .errormsg { display: inline; margin-left: 10px; }

/* Star icons for user rating */

#photo-rate-votes-count,
#clear-photo-rate,
#photo-rate-error { position: relative; top: 3px; margin-left: 5px; margin-right: 5px; }
#photo-rate-error { color: red; }

.p-declined { color: red; }
.p-declined img { border: 2px solid red; margin-top: -2px; }
.p-awaiting-moderation { color: gray; font-style: italic; opacity: 0.5; }

.image .p-declined { color: white; background: red; padding: 15px; font-size: 1.2em; }
.image .p-awaiting-moderation { color: white; background: gray; padding: 15px; font-size: 1.2em; }

.icon10,
.icon16 { background-image: url("img/stars.png"); }
.icon16.star,
.icon16.star-full { background-position:-16px 0; }
.icon16.star-half { background-position:-32px 0; }
.icon16.star-empty { background-position:-48px 0; }
.icon16.star-hover { background-position:-64px 0; }
.icon10.star,
.icon10.star-full { background-position:0 -16px; }
.icon10.star-half { background-position:-10px -16px; }
.icon10.star-empty { background-position:-20px -16px; }
.icon16.loading { background-image: url("/wa-content/img/loading16.gif"); background-position:0 0; }