/*
 * Webasyst Facebook theme family
 *
 * Core CSS file
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2013 Webasyst LLC
 * @package Webasyst
 */
 
/* Reset
-------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, /* ol, ul, li, */ fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, credentials, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }
article, aside, credentials, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }

/* Common HTML elements, fonts, and colors
------------------------------------------ */
html,
body { width: 100%; min-height: 100%; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; background: #fff; }
a { color: #45688E; outline:0 none; text-decoration: none; }
a:focus { outline:none; outline-offset:-4px; }
a:visited { color: #45688E; }
a:hover { text-decoration: underline !important; }
input[type="button"]::-moz-focus-inner { border: 0; }
input[type="submit"]::-moz-focus-inner { border: 0; }
a img { border: 0; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, blockquote { margin-bottom: 15px; }
h3, h4, h5, h6 { color: #45688E; }
h1 { font-size: 1.5em; line-height: 1em; }
h1 a { text-decoration:none; }
h2 { font-size: 1.4em; line-height: 1.2em; }
h3 { font-size: 1.3em; line-height: 1.4em; }
h4 { font-size: 1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }
ul, ol { padding-top:0; }
ol { list-style: decimal; }
input, textarea, select { margin:0; } 
input, textarea { font-size: 1em; color: #000; }
input[type="button"]:focus { outline:none; outline-offset:-2px; }
fieldset { border:1px solid #bbb; padding:10px; position:relative; background:#e9e9e9; margin-bottom:10px; }
legend { font-size:1.1em; padding:.4em .8em; background:#fff; //background:none;
border:1px solid #bbb; //border:none
}
fieldset p label { width:98%; }
fieldset p input[type="text"] { width:98%; }
fieldset p select { width:99%; }
blockquote { color: #555; padding:20px; background: #f3f3f3; border-left: 2px solid #ccc; }
hr { background-color: #ccc; height: 1px; border: 0; }
input::-webkit-input-placeholder { color: #ccc; }
input:-moz-placeholder,
input::-moz-placeholder { color: #ccc; }
input:-ms-input-placeholder { color: #ccc; }

/* Misc elements
---------------- */

.block { padding: 15px; }
.inline { display: inline !important; }
.inline-link { text-decoration: none !important; }
.inline-link b { border-bottom: none; font-weight: normal; }
.inline-link b i { font-style: normal; }
.inline-link:hover b { border-bottom: none; }
.small { font-size: 0.9em; }
.large { font-size: 1.2em; }
.bold { font-weight: bold; }
.strike { text-decoration: line-through; }
.highlighted { background:  #ffc; }
.hint { color: #aaa; font-size: 0.9em; }
.gray { color: #aaa; }
.float-left { float: left; }
.float-right { float: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.clear-both { clear: both; }
.shadowed { -moz-box-shadow: 0 5px 15px #aaa; -webkit-box-shadow: 0 5px 15px #aaa; box-shadow: 0 5px 15px #aaa; }
.nowrap { white-space: nowrap; }
.hr { border-top: 1px solid #ccc; margin-bottom: 15px; }
.uppercase { text-transform: uppercase; }

/* Menus
-------- */

ul.facebook-tabs { padding: 0 15px 0 0; margin: 0; background: #fff; border-top: 1px solid #d3d6db; }
ul.facebook-tabs li { list-style: none; display: inline-block; padding: 0; line-height: 1.1em; margin: 0; display:block\9; float:left\9; /* ie8 hack */ }
ul.facebook-tabs li a { font-weight: bold; font-size: 13px; display: block; border-right: 1px solid #e9eaed; padding: 15px 20px; }
ul.facebook-tabs li a img.icon16 { position: relative; top: 3px; left: -3px; }
ul.facebook-tabs li a:hover { background: #f6f7f8; text-decoration: none !important; }
ul.facebook-tabs li.selected a { color: #37404e; background: url('img/fb-tab-selected.png') no-repeat bottom center; }

ul.menu-v { margin: 0 0 20px -6px; padding: 0; }
ul.menu-v li { list-style: none; padding: 0; margin: 1px 0 3px; line-height: 1.1em; }
ul.menu-v li a { padding: 6px 8px; display: block; }
ul.menu-v li ul.menu-v { margin-left: 10px; margin-top: 5px; margin-bottom: 15px; }
/* ul.menu-v li ul.menu-v li a { padding: 2px 6px; } */
ul.menu-v li.selected a { color: #fff; border-color: #395676 #3B6798 #4A73A0; background-color: #6D8FB3 !important; }
ul.menu-v li.selected ul.menu-v li a { background: #fff !important; color: #45688E; }

ul.menu-h { margin: 0; padding: 0; }
ul.menu-h.bottom-padded { margin-bottom: 20px; }
ul.menu-h li { list-style: none; display: inline-block; padding: 1px 10px 0 0; line-height: 1.1em; display:block\9; float:left\9; /* ie8 hack */ }
ul.menu-h li a { padding: 5px 8px; font-weight: bold; }
ul.menu-h li a img.icon16 { position: relative; top: 3px; left: -3px; }
ul.menu-h li.selected a { font-weight: bold; color: #fff; background-color: #657aa8 !important; }

ul.menu-h.dropdown li { position: relative; }
ul.menu-h.dropdown li.collapsible { background: url('img/darr.png') no-repeat; background-position: right center; margin-right: 15px !important; padding-right: 9px; }
ul.menu-h.dropdown li.collapsible a:hover { background-color: inherit; }
ul.menu-h.dropdown li a { display: block; }
ul.menu-h.dropdown ul.menu-v { display: none; position: absolute; width: 150px; top: 100%; left: -3px; background: #fff; border: 1px solid #ccc; padding: 0; z-index: 13012; margin-left: 0; -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1); box-shadow: 0px 1px 3px rgba(0,0,0,0.1); margin-top: 0; } /* .menu-h's dropdown menus look like .menu-v's menus: plain, with icons, new branches are rendered to the left from parent menu */
ul.menu-h.dropdown ul.menu-v li { display: block; width: 150px; padding: 0; margin: 0; border-bottom: 1px solid #eee; }
ul.menu-h.dropdown ul.menu-v li.collapsible { background: url('img/rarr.png') no-repeat; background-position: right center; margin-right: 0 !important; }
ul.menu-h.dropdown ul.menu-v li a { display: block; padding: 10px 25px 10px 15px; margin: 0; font-weight: normal !important; }
ul.menu-h.dropdown ul.menu-v li a:hover { background-color: inherit !important; text-decoration: underline !important; }
ul.menu-h.dropdown ul.menu-v li i.icon16 { margin-left:-20px; margin-right:4px; }
ul.menu-h.dropdown ul.menu-v li ul.menu-v { top: -1px; left: 100%; margin-left: 0; }
ul.menu-h.dropdown li:hover ul.menu-v { display: block; }
ul.menu-h.dropdown.disabled li:hover ul.menu-v { display: none !important; }
ul.menu-h.dropdown li:hover ul.menu-v ul.menu-v { display: none; top: -1px; }  /* level 2*/
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v { display: block; }
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v ul.menu-v { display: none; top: -1px; } /* level 3; add more levels in a similar way if needed */
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v { display: block; }
ul.menu-h.dropdown li .inner { display: none; width: 250px; position: absolute; left: -3px; z-index: 13012; background: #fff; }
ul.menu-h.dropdown li .inner.shadowed { background: #fff; border: 1px solid #ccc; padding: 0; margin-left: 0; -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1); box-shadow: 0px 1px 3px rgba(0,0,0,0.1); margin-top: 0; }
ul.menu-h.dropdown li:hover .inner { top: 100%; display: block; }

/* float right dropdown menus unfold to the opposite direction */
.float-right ul.menu-h.dropdown ul.menu-v { left: auto; right: -3px; }
.float-right ul.menu-h.dropdown ul.menu-v li { padding-left: 13px; margin-left: 0 !important; }
.float-right ul.menu-h.dropdown ul.menu-v li.collapsible { background: url('img/larr.png') no-repeat; background-position: left center; padding-left: 13px; margin-left: 0 !important; }
.float-right ul.menu-h.dropdown ul.menu-v li ul.menu-v { left: auto; right: 100%; }
ul.menu-h.dropdown li:hover .inner { left: auto; right: -3px; }

/* Sign up & Login forms
------------------------ */

.wa-auth-adapters ul { padding: 0; min-height: 16px; }
.wa-auth-adapters ul li { list-style: none; float: left; padding: 0 15px 0 0; }
.wa-auth-adapters ul li a { display: block; padding: 0px 5px; }
.wa-auth-adapters ul li a img { position: relative; top: 3px; left: -3px; }
.wa-auth-adapters p { clear: left; color: #888; font-size: 0.9em; width: 40%; }

.wa-form { float: left; margin: 10px 0; overflow: visible; }
.wa-form .wa-field { clear: left; margin: 0; padding-top: 3px; }
.wa-form .wa-field .wa-name { float: left; width: 155px; padding-top: 0.05em; padding-bottom: 10px; font-size: 0.95em; }
.wa-form .wa-field.wa-separator { height: 10px; }
.wa-form .wa-field .wa-value { margin-left: 180px; margin-bottom: 5px; position: relative; }
.wa-form .wa-field .wa-value input.wa-error { border: 2px solid red; }
.wa-form .wa-field .wa-value .wa-error-msg { font-size: 0.9em; color: red; display: block; }
.wa-form .wa-field .wa-value input[type="text"],
.wa-form .wa-field .wa-value input[type="email"],
.wa-form .wa-field .wa-value input[type="password"] { width: 30%; min-width: 260px;  margin:0;}
.wa-form .wa-field .wa-value textarea { min-width: 300px; height: 70px; }
.wa-form .wa-field .wa-value input.wa-captcha-input { width: 100px; min-width: 0; }
.wa-form .wa-field .wa-value label { display: block; }
.wa-form .wa-field .wa-value .wa-captcha img { margin-left: 0; }
.wa-form .wa-field .wa-value .errormsg { margin-left: 0; }
.wa-form .wa-field .wa-value.wa-submit { margin-top: 10px; }
.wa-form .wa-field .wa-value p label { display: block; margin: 0; }
.wa-form .wa-field .wa-value p { line-height: 1.6em; margin-bottom: 23px; position: relative; } 
.wa-form .wa-field .wa-value p span { color: #777; font-size: 0.9em; display: block; }
.wa-form .wa-field .wa-value p i.icon16 { float: left; left: -20px; margin-top: 2px; position: absolute; }
.wa-form .wa-field .wa-value p input { display: block; margin-bottom: 2px; }
.wa-form .wa-field .wa-value p input[type="radio"],
.wa-form .wa-field .wa-value p input[type="checkbox"] { display: inline; }
.wa-form .wa-field .wa-value p .field.wa-required span:after { content: " *"; color: #faa; }
.wa-form .wa-field.wa-required .wa-name:after { content: " *"; color: #faa; }

.wa-captcha { padding: 7px 0 10px; }
.wa-captcha p { clear: left; margin: 0; }
.wa-captcha strong { font-size: 1.2em; }
.wa-captcha p img { float: left !important; margin-right: 5px; margin-top: -8px; }
.wa-captcha .wa-captcha-refresh { font-size: 0.8em; text-decoration: underline; color: #aaa; }
.wa-captcha .wa-captcha-input { display: inline !important; }
.wa-captcha .errormsg { display: inline-block; margin-left: 10px; }

input.error, textarea.error { border: 2px solid red; }
.errormsg { color: red; margin-left: 170px; display: block; }

/* Multi-column layout
---------------------- */

.row { clear: both; border-top: 1px solid #eee; padding: 20px 0; }
.row.no-border { border: none; }
.col { float: left; }
.col.w1 { width: 6%; }
.col.w2 { width: 12%; }
.col.w3 { width: 18%; }
.col.w4 { width: 24%; }
.col.w5 { width: 30%; }
.col.w6 { width: 36%; }
.col.w7 { width: 42%; }
.col.w8 { width: 48%; }
.col.w9 { width: 54%; }
.col.w10 { width: 60%; }
.col.w11 { width: 66%; }
.col.w12 { width: 72%; }
.col.w13 { width: 78%; }
.col.w14 { width: 84%; }
.col.w15 { width: 90%; }
.col.w16 { width: 96%; }

/* Misc .table table
-------------------- */

table th { color: #aaa; }
table th,
table td { padding: 3px; }

table.table { margin-top: 25px; width: 100%; border-spacing:0; border-collapse:collapse; }
table.table th { padding-left: 7px; padding-right: 7px; }
table.table td { padding: 15px 7px; border-bottom: 1px solid #ddd; }
table.table td.min-width { width: 1%; }
table.table td p { margin: 0; }
table.table td input.numerical { width: 50px; margin-right: 5px; text-align: right; }
table.table tr.no-border td { border: none; }
table.table tr.thin td { padding-top: 13px; padding-bottom: 0; }
table.table tr.service td { padding-top: 5px; padding-bottom: 5px; padding-left: 25px; font-size: 0.8em; color: #555; }

/* 16x16 Icons
-------------- */

i.icon16 { background-repeat:no-repeat; height:16px; width:16px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.icon16 { text-decoration:none!important; vertical-align:top; margin: 0.2em 0.25em 0 0; }
.icon16.loading { background-image: url('/wa-content/img/loading16.gif'); }
.icon16.rss { background-image: url("img/rss.png"); }
.icon16.facebook { background-image: url("img/facebook.png"); }
.icon16.twitter { background-image: url("img/twitter.png"); }
.icon16.cart { background-image: url('img/cart-full.png'); }
.icon16.cart.empty { background-image: url('img/cart-empty.png'); opacity: 0.6; }

.icon16.userpic20 { background-position: -2px -2px; }
.icon16.color { border-radius: 50%; border: 1px solid rgba(0,0,0,0.2); width: 14px; height: 14px; }

/* 10x10 Icons
-------------- */

i.icon10 { background-repeat:no-repeat; height:10px; width:10px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.icon10 { text-decoration:none!important; vertical-align:top; margin: 0.2em 0.1em 0 0; }
.icon10.darr { background-image: url('img/darr.png'); }

/* Facebook theme layout
------------------------ */

.mobile-only { display: none; }

.container { margin: 0 auto; padding: 0; }

.sidebar.left { width: 170px; float: left; }
.sidebar.right { width: 190px; float: right; }
.content.left { margin-left: 200px; }
.content.right { margin-right: 200px; }
.content.right #page { margin-right: 50px; /* extra margin in case page tree is on the right */ }
.sidebar p { line-height: 1.3em; }

.sidebar.left.double { width: 220px; float: left; }
.content.left.double { margin-left: 250px; float: left; }
.sidebar.right.double { width: 220px; float: right; }
.content.right.double { margin-right: 250px; }

.sidebar.left.triple { width: 370px; float: left; }
.content.left.triple { margin-left: 357px; margin-top: 0; }
.sidebar.right.triple { width: 370px; float: right; }
.content.right.triple { margin-right: 370px; margin-top: 0; }

.content { padding: 0; margin-top: 10px; overflow: hidden; }
.content.top-padded { padding-top: 50px; }
.content.block { padding: 5px 15px; }

.sidebar.facebook-tree { padding-top: 20px; padding-right: 10px; }

.welcome { text-align: center; font-size: 130%; padding: 80px 0 150px; }

#header { margin-top: 0px; background: #f6f7f8; border: 1px solid #d3d6db; border-bottom: 0; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
#header a i.icon16 { margin-top: -0.2em; }

#header .auth a { font-style: italic; font-size: 0.8em; }
#header .auth a { padding-right: 3px !important; }

#header div#cart.empty a,
#header div#cart.empty a strong { color: #45688E; }
#header div#cart.empty i.icon16.cart { background-image: url('img/cart-empty.png'); opacity: 0.4; margin-right: 0.7em; }

#header .search { padding-top: 12px; padding-right: 10px; }
#header .search input { -webkit-appearance: none; background: #fff url("img/search10.png") no-repeat scroll 8px 6px; color: #2B587A; font-weight: bold; border: 1px solid #D3D6DB; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size: 1em; padding: 3px 0px 3px 25px; outline: 0; display: block; margin: 0; width: 200px; }
#header .search input::-webkit-input-placeholder { color: #607387; font-weight: bold; }
#header .search input:-moz-placeholder,
#header .search input::-moz-placeholder { color: #607387; font-weight: bold; }
#header .search input:-ms-input-placeholder { color: #607387; font-weight: bold; }

#main { clear: both; line-height: 1.5em; margin: 0; }

.app-navigation { background: #e9eaed; -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; border: 1px solid #DAE1E8; padding: 11px 10px; border-top: 0; }
.app-navigation .static-text { padding: 13px 13px 12px 0; }

.facebook-app-title { padding-top: 8px; font-size: 24px; padding-bottom: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom: 10px; }

.static-pages { float: right; }

.breadcrumbs { padding: 0 0 5px; }
.breadcrumbs a { color: #45688E; }
.breadcrumbs span.rarr { color: #ccc; margin: 0 3px; }
.tags { line-height: 2em; min-height: 50px; }
.tags a { color: green !important; display: inline !important; padding: 5px 7px !important; }

#footer { clear: both; margin-top: 10px; color: #777; padding-bottom: 25px; }
#footer #sub-links { margin-left: 30px; }
#footer #sub-links ul { list-style: none; padding: 0; margin: 0; }
#footer #sub-links ul li { float: left;  padding: 0 15px 0 0; }
#footer #poweredby {  text-align: center; float: right; padding-top: 0; }
#footer #poweredby .dots { font-size: 0.8em; text-decoration: none; display: inline-block; width: 54px; height: 9px; background: url("/wa-content/img/dots/all-dots-default-order.png") no-repeat 0 3px; padding-top: 3px; margin-left: 10px; display: block\9; float: right\9; }

/* Facebook button */

.facebook-button { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-shadow:0 1px 1px #fff; border: 1px solid #32497c; color: #FFF; text-shadow:0 1px 0 #45688E; white-space:nowrap; padding:3px 6px; font-weight: bold;
-moz-box-shadow: 0 1px 1px #8c9cc0 inset;
-webkit-box-shadow: 0 1px 1px #8c9cc0 inset;
box-shadow: 0 1px 1px #8c9cc0 inset;
background: #657aa8;
}
.facebook-button:hover { cursor: pointer;  }
.facebook-button:active { cursor: pointer; background: #556ca0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.facebook-button:disabled { color: #eee; text-shadow: 0 1px 0 #999; background: #bbb !important; cursor: default !important; border-color: #999; border-top-color: #888;
-moz-box-shadow: 0 1px 1px #bbb inset;
-webkit-box-shadow: 0 1px 1px #bbb inset;
box-shadow: 0 1px 1px #bbb inset;
}
.facebook-button.large { margin: -5px 3px 0; }