<form id="post-form" action="" method="post">
    {$wa->csrf()}

    <div class="hidden sidebar right200px realtime-preview">
        <div class="column-resize-handler"></div>
        <div class="block">
            <iframe id="realtime-preview-iframe" src="about:blank" sandbox="allow-scripts" referrerpolicy="origin-when-cross-origin"></iframe>
            <div id="not-available-message" style="color: #888; padding: 150px 0 0 0; text-align: center; display: none;">
                [`Live preview is not available for private and not published blogs.`]
            </div>
            <input type="hidden" name="realtime_on" value="">
        </div>
    </div>

    <div class="sidebar right200px b-post-editor-toolbar">
        <div class="block b-edit-options">

            <!-- allow comments -->
            <div class="block">
                <h6>[`Allow comments`]</h6>
                <div class="b-ibutton-checkbox" id="allow-comment-switcher-ibutton-checkbox">
                    {if !$show_comments}
                        <span id="allow-comment-switcher-off-label" class="b-unselected">[`Off`]</span>
                    {else}
                        <ul class="menu-h">
                            <li><span id="allow-comment-switcher-off-label" class="b-unselected">[`Off`]</span></li>
                            <li><input id="allow-comment-switcher" type="checkbox" name="comments_allowed" value="1" {if $post.comments_allowed}checked="checked"{/if}></li>
                            <li><span id="allow-comment-switcher-on-label">[`On`]</span></li>
                        </ul>
                    {/if}
                </div>
            </div>

            <!-- author -->
            <div class="block">
                <h6>[`Author`]</h6>
                <select class="b-toolbar-select" name="contact_id">
                    {foreach $users as $id => $name}
                        <option {if $id == $post.contact_id}selected="selected"{/if} value="{$id}">{$name|escape}</option>
                    {/foreach}
                </select>
            </div>

            <!-- publication datetime -->
            <div class="block">

                {if ($post.status eq blogPostModel::STATUS_DRAFT) || ($post.status eq blogPostModel::STATUS_DEADLINE)}

                    <h6>[`Publication deadline`]</h6>

                    <div id="publication-deadline-changable-part">

                        {if ($post.datetime || $wa->get('date')) && $post.status eq blogPostModel::STATUS_DEADLINE}
                            <i class="icon16 exclamation"></i>{if !$wa->get('date')}{$post.datetime|wa_date}{else}{date('d.m.Y', strtotime($wa->get('date')))}{/if}
                            <a id="deadline-edit" href="javascript:void(0);" class="small dialog-edit">[`edit`]</a>
                        {else}
                            <i class="icon16 exclamation"></i><a id="deadline-edit" href="javascript:void(0);" class="dialog-edit">[`Not set`]</a>
                            <span class="hint">[`Deadline is for plan purposes only. It will not automatically published the post, but will highlight the post if publication date is overdue.`]</span>
                        {/if}
                    </div>

                    <!-- jquery template {capture name="publication-deadline-setted-template-js"}{literal} -->
                        <i class="icon16 exclamation"></i>${date}
                        <a id="deadline-edit" href="javascript:void(0);" class="small dialog-edit">[`edit`]</a>
                    <!-- {/literal}{/capture} -->

                    <!-- jquery template {capture name="publication-deadline-unsetted-template-js"}{literal} -->
                        <i class="icon16 exclamation"></i><a id="deadline-edit" href="javascript:void(0);" class="dialog-edit">[`Not set`]</a>
                        <span class="hint">[`Deadline is for plan purposes only. It will not automatically published the post, but will highlight the post if publication date is overdue.`]</span>
                    <!-- {/literal}{/capture} -->
                    {capture append="dialogs"}
                        {include file='./../../dialogs/postDeadline.html' inline}
                        {include file='./../../dialogs/postDelete.html' inline}
                    {/capture}

                {elseif $post.status != blogPostModel::STATUS_SCHEDULED}

                    <h6>[`Published`]</h6>

                    <span id="current-time" title="{$post.datetime}">{$post.datetime|wa_datetime:'humandatetime'}</span>

                    <a class="inline-link small no-wrap" id="inline-edit-datetime" href="javascript:void(0);"><i class="icon10 edit"></i><b><i>[`edit`]</i></b></a>

                    <div class="datetime" style="display: none">
                        <input class="datepicker" name="datetime[]" type="text" value="{$post.datetime|wa_date}" size="8">

                        <input type="text" name="datetime[]" class="time" value="{$post.datetime|wa_datetime:'H'}" size="1" maxlength="2" autocomplete="off">:<input type="text" class="time" name="datetime[]" value="{$post.datetime|wa_datetime:'i'}" size="1" maxlength="2" autocomplete="off">

                        <br>
                        <span class="hint">(<span class="user-date-format"><!-- format placeholder --></span> [`format`], [`current time is`] <span class="current-user-time">{time()|wa_date:'time'}</span>)</span>

                    </div>

                    {capture append="dialogs"}
                        {include file='./../../dialogs/postDelete.html' inline}
                    {/capture}

                {/if}

            </div>

            <!--  meta and custom parameters -->
            <div class="block">
                <h6>[`Meta`]</h6>
                <p class="small">
                    <span id="b-post-edit-meta-title" {if !$post.meta_title}style="display:none;"{/if}>
                        <span class="gray" >[`Title`]:</span> <span class="val">{$post.meta_title|escape}</span><br>
                    </span>
                    <span id="b-post-edit-meta-keywords" {if !$post.meta_keywords}style="display:none;"{/if}>
                        <span class="gray">[`Meta Keywords`]:</span> <span class="val">{$post.meta_keywords|escape}</span><br>
                    </span>
                    <span  id="b-post-edit-meta-description" {if !$post.meta_description}style="display:none;"{/if}>
                        <span class="gray" >[`Meta Description`]:</span> <span class="val">{$post.meta_description|escape}</span><br>
                    </span>
                    <span id="b-post-edit-custom-params" {if !$params}style="display:none;"{/if}>
                        {foreach $params as $k => $v}{$k}={$v|escape}<br>{/foreach}
                    </span>
                    <span class="gray" id="b-post-edit-no-meta" {if $post.meta_title || $post.meta_keywords || $post.meta_description || $params}style="display:none;"{/if}>[`No meta parameters are defined for this blog post.`]</span>
                    <a href="#" id="b-post-edit-custom-params-link" class="nowrap">[`Edit meta`]</a>
                </p>
                {capture append="dialogs"}
                    {include file="./../../dialogs/postEditCustomParams.html" inline}
                {/capture}
            </div>

            {* @event backend_post_edit.%plugin_id%.sidebar *}
            <!-- plugin hook: "backend_post_edit.*.sidebar" -->
            {if isset($backend_post_edit)}
                {foreach $backend_post_edit as $plugin => $output}
                    {if isset($output.sidebar)}
                        <!-- begin backend.post_edit.{$plugin}.sidebar -->
                            {$output.sidebar}
                        <!-- end {$plugin} -->
                    {/if}
                {/foreach}
            {/if}
            <!-- end plugin hook: "backend_post_edit.*.sidebar" -->

            <!-- actions -->
            {if $post.id}
                <div class="block">
                    <ul class="menu-v with-icons compact">
                        <li><a href="#{*?module=post&amp;action=delete&amp;id={$post.id*}" class="dialog-confirm" id="postdelete-dialog-confirm"><i class="icon16 delete"></i>[`Delete post`]</a></li>
                    </ul>
                </div>
            {/if}

        </div>
    </div>{* .sidebar.right200px *}

    <div class="content right200px">

        <div class="b-stream b-single-post">
            <div class="b-stream-title" style="padding-left: 20px;">
                <div class="float-right">
                    <a href="#" id="realtime-preview-toggle" title="[`Mirror mode`]"></a>
                </div>
                <ul class="menu-h dropdown" id="blogs-list">
                    <li>[`Blog`]:</li>
                    <li class="b-stream-title-drop">
                        <a href="#{$post.blog_id}" class="inline-link current-blog">
                            {$blogs[$post.blog_id].icon_html|default:''}
                            <b><i>{$blogs[$post.blog_id].name|escape|truncate:32}</i></b>
                            {if $blogs[$post.blog_id].status ==  blogBlogModel::STATUS_PRIVATE}<i class="icon10 lock-bw no-overhanging"></i>{/if}
                            <input type="hidden" name="blog_id" value="{$post.blog_id}">
                            <i class="icon10 darr"></i>
                        </a>

                        <!-- jquery template {capture name="selected-blog-template-js"}{literal} -->
                            <a href="#${blog.id}" class="inline-link current-blog">
                                {{html blog.icon_html}}
                                <b><i>{{if blog.name.length > 32}}${blog.name.substring(0, 29)}...{{else}}${blog.name}{{/if}}</i></b>
                                {{if (blog.status == '{/literal}{blogBlogModel::STATUS_PRIVATE}{literal}')}}<i class="icon10 lock-bw no-overhanging"></i>{{/if}}
                                <input type="hidden" name="blog_id" value="${blog.id}">
                                <i class="icon10 darr"></i>
                            </a>
                        <!-- {/literal}{/capture} -->
                        {if $allow_change_blog}
                            <ul class="menu-v">
                                {foreach $blogs as $id => $blog_}{if $blog_.rights ge blogRightConfig::RIGHT_READ_WRITE}
                                    <li id="blog-selector-{$id}" class="{if $id eq $blog.id}selected{/if}" data-blog-status="{if $blog_.status == blogBlogModel::STATUS_PRIVATE}private{else}public{/if}">
                                        {if $blog_.color != 'b-white'}<span class="count"><i class="icon10 color {$blog_.color}"></i></span>{/if}
                                        <a href="#{$id}" class="inline-link change-blog">
                                            {$blog_.icon_html|default:''}{$blog_.name|escape|truncate:32}{if $blog_.status ==  blogBlogModel::STATUS_PRIVATE} <i class="icon10 lock-bw no-overhanging"></i>{/if}
                                        </a>
                                    </li>
                                {/if}{/foreach}
                            </ul>
                        {/if}
                    </li>
                </ul>
            </div>
            <div class="block double-padded b-post b-bottom-extra-padded {$blog.color}"{if isset($post.id) && $post.id} id="b-post-{$post.id}"{/if} style="position: static;">

                <input id="post-title" name="title" type="text" value="{$post.title|escape}" class="b-post-title" maxlength="255" placeholder="[`Post title`]">
                <br>

                {* POST URL *}

                {assign var="is_adding" value = ($post.status == blogPostModel::STATUS_DRAFT && !$post.id)}
                {assign var="unsuccessful_save" value = (isset($validate_messages.url) && $validate_messages.url)}

                <div id="post-url-field-no-settlements" class="hidden no-settlements">
                    <p class="small" style="line-height: 1.0em;">
                        [`Posts of this blog are not visible in the public frontend because there are no routing rules for the Blog app in your website settings. Use Site app (Routing section) to settle Blog app on your website and to start publishing.`]
                    </p>
                </div>

                {if !$no_settlements}
                    <div id="post-url-field" {if ($blog.status == blogBlogModel::STATUS_PRIVATE && !$unsuccessful_save) || ($is_adding && $post.title|escape|strlen == 0 && !$unsuccessful_save)}style="display:none;"{/if} {if $no_settlements}class="no-settlements"{/if}>
                        {if $post.status == blogPostModel::STATUS_PUBLISHED}
                        <i class="icon10 yes"></i>
                        <span class="small">[`Published`]:
                        {else}
                        <span class="{if $is_adding}small{else}hint{/if}">[`Preview`]:
                        {/if}
                            <span id="url-editable" {if $is_adding || $unsuccessful_save}style="display:none;"{/if}>
                                {$link = $post.link}
                                {$full_link = "{if $link}{$link|escape}{if $post.url}{$post.url|escape}{/if}/{if isset($preview_hash)}?preview={$preview_hash}{/if}{/if}"}
                                {$realtime_preview_url = $post.preview_link}
                                <a id="url-link" target="_blank" href="{$full_link}" data-preview-url="{$realtime_preview_url|escape}">{$post.link|escape}<span class="slug">{if $post.url}{$post.url|escape}/{else}<!-- slug placeholder -->{/if}</span></a>
                                <a id="url-edit-link" href="javascript:void(0);" class="inline-link inline-edit"><i class="icon10 edit"></i><b><i>[`edit`]</i></b></a>
                            </span>
                            <span id="url-edit" {if !$is_adding && !$unsuccessful_save}style="display:none;"{/if}>
                                <a href="#" id="preview-url" style="display: none">{$post.preview_url|default:''|escape}</a>
                                {strip}
                                    <span id="pure-url">{$post.link|escape}</span>
                                    <input type="text" id="post-url" name="url" value="{$post.url|escape}" {if isset($validate_messages) && !empty($validate_messages)}class="error"{/if}>/
                                {/strip}
                            </span>
                        </span>

                        <div id="other-urls">
                            {if isset($post.other_links) && !empty($post.other_links)}
                                {foreach $post.other_links as $i => $link}
                                    {$full_link = "{if $link}{$link|escape}{if $post.url}{$post.url|escape}{/if}/{if isset($preview_hash)}?preview={$preview_hash}{/if}{/if}"}
                                    {$realtime_preview_url = ifset($post, 'other_preview_links', $i, '')}
                                    {if $post.status == blogPostModel::STATUS_PUBLISHED}
                                        <i class="icon10 yes"></i>
                                        <span class="small">[`Published`]:
                                            <a target="_blank" href="{$full_link}" data-preview-url="{$realtime_preview_url|escape}">{$link|escape}<span class="slug">{if $post.url}{$post.url|escape}/{else}<!-- slug placeholder -->{/if}</span></a>
                                        </span>
                                    {else if $is_adding}
                                        <span class="small">[`Preview`]:
                                            {$link|escape}<span class="slug">{if $post.url}{$post.url|escape}/{else}<!-- slug placeholder -->{/if}</span>
                                        </span>
                                    {else}
                                        <span class="hint">[`Preview`]:
                                            <a target="_blank" href="{$full_link}" data-preview-url="{$realtime_preview_url|escape}">{$link|escape}<span class="slug">{if $post.url}{$post.url|escape}/{else}<!-- slug placeholder -->{/if}</span></a>
                                        </span>
                                    {/if}
                                    <br>
                                {/foreach}
                            {/if}
                        </div>

                        {if $unsuccessful_save}
                            <div id="message-post-url" class="hint errormsg">{$validate_messages.url}</div>
                        {else}
                            <div id="message-post-url" class="hint"></div>
                        {/if}

                    </div>
                {/if} {*/$no_settlements*}

                {* /POST URL *}

                {* @event backend_post_edit.%plugin_id%.toolbar *}
                <!-- plugin hook: "backend_post_edit.*.toolbar" -->
                {if isset($backend_post_edit)}
                    {foreach $backend_post_edit as $plugin => $output}
                        {if isset($output.toolbar)}
                            <!-- begin backend_post_edit.{$plugin}.toolbar -->
                                {$output.toolbar}
                            <!-- end {$plugin} -->
                        {/if}
                    {/foreach}
                {/if}
                <!-- end plugin hook: "backend_post_edit.*.toolbar" -->
            </div>{* .b-post *}

            <div class="b-post-editor" id="post-editor">
                <ul class="b-post-editor-toggle">
                    <li>
                        <a id="redactor" href="javascript:void(0);">[`Visual`]</a>
                    </li>
                    <li>
                        <a id="ace" href="javascript:void(0);">[`HTML`]</a>
                    </li>

                    {* @event backend_post_edit.%plugin_id%.editor_tab *}
                    <!-- plugin hook: "backend_post_edit.*.editor_tab" -->
                    {if isset($backend_post_edit)}
                        {foreach $backend_post_edit as $plugin => $output}
                            {if isset($output.editor_tab)}
                                <li>
                                    <!-- begin backend_post_edit.{$plugin}.toolbar -->
                                        {$output.editor_tab}
                                    <!-- end {$plugin} -->
                                </li>
                            {/if}
                        {/foreach}
                    {/if}
                    <!-- end plugin hook: "backend_post_edit.*.editor_tab"-->

                    {if blogPhotosBridge::isAvailable()}
                        <li>
                            <a id="photo_bridge" href="javascript:void(0);">
                                [`Photo Album`]
                                <i class="icon10 yes show-when-album-selected" style="{if empty($post.album_id)}display:none;{/if}"></i>
                            </a>
                        </li>
                    {/if}
                </ul>
                <textarea id="post_text" name="text" cols="60" rows="20" style="border:0; display: none;">{$post.text|escape}</textarea>
                <div  class="b-post-editor-wrapper" id="post_text_wrapper">
                    {if blogPhotosBridge::isAvailable()}
                        <div id="blog-photo_bridge-editor" class="hidden">
                            <div class="double-padded block">
                                <div class="fields">
                                    <div class="field">
                                        <div class="name">[`Attach photo album`]</div>
                                        <div class="value">
                                            <i class="icon16 pictures"></i>
                                            <select name="album_id">
                                                <option></option>
                                                {function upload_album_menu parent=0 level=0}
                                                    {foreach $albums as $a}
                                                        {if $a.parent_id == $parent}
                                                          <option value="{$a.id}"{if $post.album_id == $a.id} selected{/if} data-frontend-link="{$a.frontend_link|escape}">{strip}
                                                            {if $parent}{'-'|str_repeat:$level}{*'*}&nbsp;{/if}
                                                            {$a.name|default:'[`(no name)`]'|escape|truncate:64}{if $a.status != 1} ([`private album`]){/if}
                                                          {/strip}</option>
                                                          {call upload_album_menu parent=$a.id level=($level+1)}
                                                        {/if}
                                                    {/foreach}
                                                {/function}
                                                {call upload_album_menu}
                                            </select>
                                            <p class="hint">[`Photos from the selected album will be automatically embedded after the post content. Photos descriptions and sort order will be defined by Photos app.`]</p>
                                        </div>
                                    </div>
                                    <div class="hidden field">
                                        <div class="name">[`Post URL`]</div>
                                        <div class="value">
                                            <label>
                                                <input type="hidden" name="album_link_type" value="blog">
                                                <input type="checkbox" name="album_link_type" value="photos"{if $post.album_link_type == 'photos'} checked{/if}>
                                                [`Replace with the direct link to this album`]
                                                <strong id="album-frontend-link" class="hint"></strong>
                                                <p class="hint">[`Great for photo galleries. Blog post will be published in the blog on a regular basis (in both post stream and RSS), but the main post title link will lead to the album page directly (Photos app).`]</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear-left"></div>
                            </div>
                        </div>
                    {/if}
                </div>
            </div> {* #post-editor.b-post-editor *}

            <div class="block double-padded b-post {$blog.color}" id="buttons-bar">
                {if ($post.status eq blogPostModel::STATUS_DRAFT) || ($post.status eq blogPostModel::STATUS_DEADLINE)}
                    <div id="b-post-draft-settings">
                        <div class="float-right b-aux-link">
                            <i class="icon16 clock"></i>
                            <a id="schedule-edit" href="javascript:void(0);" class="no-underline dialog-edit">[`Schedule publication`]</a>
                        </div>
                        {if ($allow_change_blog > 1) && ($post.status neq blogPostModel::STATUS_PUBLISHED)}
                            <input id="postpublish-edit" type="button" class="button green dialog-edit" value="[`Publish`]" >
                            {capture append="dialogs"}
                                {include file='./../../dialogs/postPublish.html' inline}
                            {/capture}
                        {else}
                            <input id="b-post-save-button" type="button" class="button green" name="published" value="[`Publish`]" >
                        {/if}
                        <input id="b-post-save-draft-button" type="button" class="button grey" name="{if $post.status eq blogPostModel::STATUS_DEADLINE}deadline{else}draft{/if}" value="[`Save draft`]" >
                        <span class="hint">Ctrl+S</span>
                        <span id="form-status">
                            <span id="saved-status" style="display: none;">
                                <i class="icon16 b-post-save-indicator yes"></i>[`Saved`]
                            </span>
                            <span id="loading-status" style="display: none;">
                                <i class="icon16 b-post-save-indicator loading"></i>
                            </span>
                        </span>
                    </div>
                    {capture append="dialogs"}
                        {include file='./../../dialogs/postSchedule.html' inline}
                    {/capture}
                {else}
                    <div id="b-post-public-settings">
                        {if $post.status ne blogPostModel::STATUS_PUBLISHED}
                            <div class="block">
                                <i class="icon16 clock"></i>
                                [`Autopublication is scheduled for`]
                                <strong>{$post.datetime|wa_datetime:'humandatetime'}</strong>
                                <span class="hint">({$post.remaining_time})</span>
                            </div>
                        {/if}

                        <div class="float-right b-aux-link">
                            <i class="icon10 no-bw"></i>
                            <a name="unpublish" href="#unpublish" class="no-underline js-submit" title="[`Unpublish this blog post?`]">[`Unpublish`]</a>
                        </div>
                        <input id="b-post-save-button" type="button" class="button green" name="{if $post.status eq blogPostModel::STATUS_SCHEDULED}scheduled{else}published{/if}" value="[`Save`]" >
                        <span class="hint">Ctrl+S</span>
                        <span id="form-status">
                            <span id="saved-status" style="display: none;">
                                <i class="icon16 b-post-save-indicator yes"></i>[`Saved`]
                            </span>
                            <span id="loading-status" style="display: none;">
                                <i class="icon16 b-post-save-indicator loading"></i>
                            </span>
                        </span>
                    </div>
                    {capture append="dialogs"}
                        {include file='./../../dialogs/postDelete.html' inline}
                    {/capture}
                {/if}

                <div class="clear-left"></div>
            </div> {* #buttons-bar.b-post *}

        </div> {* .b-single-post *}

        <input type="hidden" id="post-id" name="post_id" value="{$post.id}">

    </div> {* .content *}

    {if isset($dialogs)}
        <!-- dialog begin -->
        {foreach $dialogs as $dialog}
            {$dialog}
        {/foreach}
        <!-- dialog end -->
    {/if}

</form>

<link type="text/css" rel="stylesheet" href="{$wa_url}wa-content/js/elrte/elrte.min.css">
<link type="text/css" rel="stylesheet" href="{$wa_url}wa-content/js/elrte/elrte-wa.css">
<script type="text/javascript">
    $.wa.locale['Post cut'] = "[`Post cut (Continue reading &rarr;)`]";
    $.wa.locale['Image will be uploaded into'] = "[`Image will be uploaded into`]";
</script>
{assign var=lang value=substr($wa->locale(), 0, 2)}
<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.datepicker.min.js"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.draggable.min.js"></script>
{if $lang!='en'}
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/i18n/jquery.ui.datepicker-{$wa->locale()}.js"></script>
{/if}

{* REDACTOR (WYSIWYG) *}
<link type="text/css" rel="stylesheet" href="{$wa_url}wa-content/js/redactor/2/redactor.css?v{$wa->version(true)}">
{* CUT PLUGIN *}
<script src="{$wa_app_static_url}js/redactor_plugins.js?v{$wa->version()}"></script>
<script src="{$wa_url}wa-content/js/redactor/2/redactor.min.js?v{$wa->version(true)}"></script>
{if substr($wa->locale(), 0, 2)!='en'}
    <script src="{$wa_url}wa-content/js/redactor/2/{substr($wa->locale(), 0, 2)}.js?v{$wa->version(true)}"></script>
{/if}
{* ACE *}
<script type="text/javascript" src="{$wa_url}wa-content/js/ace/ace.js?v{$wa->version(true)}"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/elrte/elrte.min.js"></script>
{if $lang!='en'}
    <script type="text/javascript" src="{$wa_url}wa-content/js/elrte/i18n/elrte.{$lang}.js"></script>
{/if}
<script type="text/javascript" src="{$wa_url}wa-content/js/elrte/elrte-wa.js"></script>

{wa_js file="js/blog-post-edit.min.js"}
    {$wa_app_static_url}js/postmessage.js
    {$wa_app_static_url}js/postEdit.js
{/wa_js}

<script type="text/javascript">
    var wa_url = "{$wa_url}";
    var wa_lang = "{$lang}";
    var wa_img_upload_path = "{$wa->blog->dataUrl('img')}";
    $.wa.locale = $.extend($.wa.locale, {
        "Upload": "[`Upload`]",
        "Select from Photos app": "[`Select from Photos app`]",
        "Insert": "[`Insert`]",
        "Total photos selected:": "[`Total photos selected:`]",
        "Photos from the attached album will be displayed here.":"[`Photos from the attached album will be displayed here.`]",
        'input_maxlength':{json_encode('[`Max %d characters`]')}
    });
    $.wa_blog_options = $.extend(true, $.wa_blog_options, {
        'photos_bridge_available': {json_encode(blogPhotosBridge::isAvailable())},
        'editor': {
            'blogs':{json_encode($blogs)},
            'current_blog_id':{$blog.id},
            'editor_id':'post_text',
            'wa_url':"{$wa_url}",
            'wa_app_static_url':"{$wa_app_static_url}",
            'cut_link_label_default': "[`Continue reading →`]",
            'version':'{$wa->version()}'
        }
    });

    $('#post_text').data('uploadFields', {
        '_csrf': "{waRequest::cookie('_csrf', '')}"
    });

    {if waRequest::request('realtime_on')}
        $(function() {
            $('#realtime-preview-toggle').click();
        });
    {/if}
</script>

{foreach $smarty.capture as $name => $template}
{if strpos($name,'template-js')}
<script type="text/x-jquery-tmpl" id="{$name}">
<!-- begin {$name} {$template|replace:'</':'<\/'} end {$name} -->
</script>
{/if}
{/foreach}