/*
 * Webasyst Default theme family
 *
 * Blog app CSS for multi-touch mobile devices
 * (requires linking base default.css, default.mobile.css files from the Site app, and default.blog.css)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2014 Webasyst LLC
 * @package Webasyst
 */

.timeline { display: none; }
 
.post { margin-right: 0 !important; }
.post h3 { font-size: 1.5em; }
.post img { max-width: 100%; height: auto !important; }

.comment-form-fields label { width: auto; float: none; }
.comment-form-fields input { width: 80%; }
.comment-form textarea { width: 90%; }
.comment-form .comment-submit { padding-left: 0; }
.comment-form .wa-captcha img { margin-bottom: 10px; }
