/*
 * Webasyst Default 4.0 theme family
 *
 * Blog app CSS
 * (requires linking base default.css file from the Site app)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2015 Webasyst LLC
 * @package Webasyst
 *
 * ... extends base Site app's default.css
 */

.sidebar .search { margin: 16px 26px 16px 16px; }
.sidebar .search .search-wrapper { background: #fff; }
.sidebar .search input { margin-bottom: 0; }
.sidebar > ul, .sidebar > div { padding: 30px; margin-bottom: 20px; background: #ffffff; border-radius: 15px; }
.sidebar .timeline { margin-top: 0; }
.sidebar .timeline li a {
    padding:         0;
    margin-bottom:   8px;
    display:         block;
    text-decoration: none;
    font-size:       16px;
    color:           #333;
}
.sidebar .timeline ul {
    padding-left:  0;
    margin-bottom: 32px;
    list-style:    none;
}

.sidebar .timeline ul a {
    padding:   3px 0;
    font-size: 14px;
}

.subscribe { }
.subscribe ul { list-style: none; padding-left: 0; margin-bottom: 0; margin-top: 0; }
.subscribe ul li:not(:last-child) { margin-bottom: 12px; }
.subscribe ul li a { text-decoration: none; font-size: 16px; color: #333333; }
.subscribe ul li i.icon16 { margin-top: 0.1em; margin-right: 0.5em; width: 24px; height: 24px; background-position: 0 -50px;}
.subscribe #twitter-follow-code { overflow: hidden; }

.post { margin-bottom: 20px; padding: 30px; background: #ffffff; box-shadow: 0 5px 30px rgba(0, 0, 0, 0.06); border-radius: 15px; }
.post h3 { font-size: 2em; margin-right: 5px; margin-bottom: 24px; }
.post h3 a { text-decoration: none; color: #333; }
.post img { max-width: 100%; height: auto !important; }
.post iframe { max-width: 100%; }
.post .text { margin-top: 5px; margin-right: 10px; color: #333; font-size: 16px;}
.post textarea { width: 100%; min-height: 300px; margin-top: 10px; height: 250px; }
.post.search-match { margin-top: 20px; margin-bottom: 50px; }
.post.search-match h3 { font-size: 1.5em; margin-bottom: 5px; }
.post.search-match p { margin-top: 5px; }
.post li, .post lh { line-height: 1.4em; }

.credentials { overflow: hidden; line-height: 1.3em; }
.credentials a,
.credentials span { display: inline-block; vertical-align: middle; padding-left: 0; }
.credentials .userpic { min-width: 20px; display: block; float: left; margin-right: 2px; border-radius: 50%; }
.credentials .username { margin: 0; }
.credentials .username, .credentials .username a { color: #828282; padding: 0; display: inline; font-size: 16px; }
.credentials a.username:hover { color: red; }
.credentials .date {color: #bdbdbd;}
.credentials .date,
.credentials .icon16 { margin: 0 3px; }
.credentials img.userpic { width: 20px; }
.post .credentials { margin-bottom: 24px;}

.photo-album-attachment ul.thumbs { padding-left: 0; }
.photo-album-attachment ul.thumbs li { list-style: none; display: inline-block; margin: 0 20px 20px 0; }
.photo-album-attachment .photo { margin-bottom: 20px; }
.photo-album-attachment .photo img { margin-top: -10px; }
.post .photo-album-attachment { padding-top: 10px; }

.comments { margin-top: 50px; }
.comments h3 { margin: 0; font-size: 24px; }
.comments h4 { margin: 0 0 10px; }
.comments .credentials .date { margin: 0 5px; padding-top: 1px; }
.comments .credentials .userpic { margin-right: 5px; }
.comments .credentials .userpic.icon16 { min-width: 0; width: 16px; height: 16px; margin: 7px 4px 0; }
.comments textarea { height: 100px; min-height: 100px; width: 75%; margin-top: 0; }
.comments ul { padding: 0; margin: 0 0 20px 0; list-style: none;}
.comments ul li ul { margin: 20px 0 0 0; }
.comments ul li span.hint a { color: #aaa; text-decoration: underline; }
.comments .text { color:#808080;font-size: 14px; word-break: break-word; }
.comments .actions { margin-top: 8px; font-size: 0.9em; }
.comments ul li a.comment-delete { margin: 0 0 0 5px; padding: 0; color: #d99; text-decoration: underline; }
.comments ul li a.comment-delete:hover { background: red; color: white; }
.comments ul li ul { padding-left: 18px; }
.comments ul li .comment-form { margin-top: 16px; }
.comments ul li .comment-form textarea { min-height: 100px; }
.comment { border: 1px solid #e0e0e0; border-radius: 10px;background: #ffffff; padding: 18px;}
.comment.in-reply-to { background: #eee; position: relative; }
.comment.new { background: #ffc; margin-left: -13px; }
.comment .credentials { margin-bottom: 16px; }

ul.auth-type { padding: 0 0 10px !important; list-style: none; }
ul.auth-type li { padding-right: 10px; display: inline-block; float: left \9; display: inline \9; }
ul.auth-type li a { padding: 5px 6px; }
ul.auth-type li a img { margin-right: 5px; top: 4px; position: relative; }

.comment-form { padding: 0; margin-top: 30px; }
.comment-form h4 { margin: 0 0 20px; font-weight: normal; }
.comment-form-fields p { margin: 0 0 10px; }
.comment-form-fields p a { display: inline !important; }
.comment-form-fields label { width: 160px; display: block; clear: left; float: left; margin: 0 10px 0 0; color: #aaa; padding-top: 3px; }
.comment-form-fields input { width: 20em; }
.comment-form textarea { min-width: 70%; min-height: 160px; }
.comment-form .comment-submit { }
.comment-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; border-radius: 50%; }
.comment-form ul.menu-h.auth-type li a img { float: left; margin-right: 3px; position: relative; top: 2px; }
.comment-form ul.menu-h.auth-type { padding-bottom: 20px; }

.pageless-wrapper { font-style: italic; }

html.realtime-preview,
html.realtime-preview body { background: #fff; }
html.realtime-preview .globalheader,
html.realtime-preview .globalfooter { display: none; }
html.realtime-preview .content { margin-right: 0; }
html.realtime-preview .page { top: 0; margin: 10px 0; }

/* Plugins
---------- */

ul.menu-v.categories { }
ul.menu-v.categories li { border: none; }
ul.menu-v.categories li a { padding: 5px 16px; }
ul.menu-v.categories li.selected a { color: #000; text-decoration: none; font-weight: bold; }

.tags.cloud { text-align: center; }


/* TABLET
========= */

@media screen and (min-width: 760px) and (max-width: 1024px) {

    .post { overflow-x: hidden; }

    .comment-form-fields input,
    .comment-form textarea { width: auto; min-width: 0; }

    .subscribe { padding-left: 10px; padding-right: 10px; }

}


/* MOBILE
========= */

@media screen and (max-width: 760px) {

    .category-plugin,
    .tag-plugin,
    .nav-sidebar hr,
    .timeline { display: none; }

    .subscribe ul li { display: inline-block; }

    .subscribe ul li a span { display: none; }

    .subscribe #twitter-follow-code { display: none; }

    .post { margin-right: 0 !important; overflow-x: hidden; }

    .post h3 { font-size: 1.6em; }

    .post img { max-width: 100%; height: auto !important; }

    .comment-form-fields label { width: auto; float: none; }

    .comment-form-fields input { width: 80%; }

    .comment-form textarea { width: 90%; }

    .comment-form .comment-submit { padding-left: 0; }

    .comment-form .wa-captcha img { margin-bottom: 10px; }

    html.realtime-preview body { padding-top: 0; }

    html.realtime-preview .container { margin: 0 10px; }

    html.realtime-preview .post h1 { font-size: 2.6em; }

}
