<ul class="tabs">
	{if $app}<li class="no-tab"><img src="{$wa_url}{$app.icon.24}" alt=""><p class="bold">{$file|escape}</p><p><span class="hint">{$app.name|escape}</span></p></li>{/if}
	{if $vars}<li id="s-helper-vars" class="selected"><a href="#">{$app.name|escape}</a></li>{/if}
	<li id="s-helper-wa"{if !$vars} class="selected"{/if}><a href="#">$wa</a></li>
	<li id="s-helper-smarty"><a href="#">Smarty</a></li>
    <li id="s-helper-blocks"><a href="#">[`Blocks`]</a></li>
</ul>
{if $vars}
<div id="s-helper-vars-content" class="tab-content s-dropdown-content">
	<div class="fields">
		{foreach $vars as $v=>$desc}
		<div class="field">
			<div class="name"><a href="#" class="inline-link"><b><i>&#123;{$v}&#125;</i></b></a></div>
			{if !is_array($desc)}<div class="value"><span class="hint">{$desc}</span></div>{/if}
		</div>
		{if is_array($desc)}
			{foreach $desc as $sub_v=>$sub_desc}
			<div class="field subfield">
				<div class="name"><a href="#" class="inline-link"><b><i>&#123;{$sub_v}&#125;</i></b></a></div>
				<div class="value"><span class="hint">{$sub_desc}</span></div>
			</div>
			{/foreach}
		{/if}
		{/foreach}
	</div>
</div>
{/if}
<div id="s-helper-wa-content" class="tab-content s-dropdown-content" {if $vars}style="display:none"{/if}>
	<div class="fields">
		{foreach $wa_vars as $v=>$desc}
		<div class="field">
			<div class="name"><a href="#" class="inline-link"><b><i>&#123;{$v}&#125;</i></b></a></div>
			<div class="value"><span class="hint">{$desc}</span></div>
		</div>
		{/foreach}
	</div>
</div>
<div id="s-helper-smarty-content" class="tab-content s-dropdown-content" style="display:none">
    <div class="fields">
        {foreach $smarty_vars as $v=>$desc}
	   <div class="field">
            <div class="name"><a href="#" class="inline-link"><b><i>{$v|escape}</i></b></a></div>
            <div class="value"><span class="hint">{$desc}</span></div>
	   </div>
	   {/foreach}
	</div>
</div>

<div id="s-helper-blocks-content" class="tab-content s-dropdown-content" style="display:none">
    <div class="fields">
        {foreach $blocks as $block_id => $b}
        <div class="field">
            <div class="name"><a href="#" class="inline-link"><b><i>{literal}{$wa->block('{/literal}{$block_id|escape}{literal}')}{/literal}</i></b></a></div>
            <div class="value"><span class="hint">{$b.description}</span></div>
        </div>
        {/foreach}
    </div>
</div>

<script type="text/javascript">
	$("#s-save-panel ul.tabs li a").click(function () {
		$("#s-save-panel ul.tabs li.selected").removeClass('selected');
		var id = $(this).parent().addClass('selected').attr('id') + '-content';
		$("#s-save-panel div.tab-content").hide();
		$('#' + id).show();
		return false;
	});
</script>