body {
	background: url("../img/corkboardbackground.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
    body { background: url("../img/corkboardbackground.jpg"); background-size:75px 75px; }
}

#wa .ui-page {
	background: transparent !important;
	border: none !important;
}
.ui-overlay-c {
    background-image: none !important;
    background: none !important;
}

