body{
	overflow: hidden;
	background: url("../img/corkboardbackground.jpg") repeat scroll 0 0 transparent;
}

#wa-account {
	position: relative;
}

#wa-usercorner {
	position: relative;
}

.ui-resizable-se {
	cursor: se-resize;
	width: 17px;
	height: 17px;
	right: -5px;
	bottom: -5px;
	z-index: 100000 !important;
	background: transparent !important;
}

.sticky .sticky-resizable-se {
	width: 17px;
	height: 17px;
	position: absolute;
	right: -5px;
	bottom: -5px;
	background: url('../img/resize.png') no-repeat;
	background-position: 3px 3px;
}

#wa-system-notice {
	left: 0;
	width: 100%;
	bottom: 0;
	max-height: 30%;
	padding: 0;
	overflow: auto;
	z-index: 9999;
	position: fixed;
	background-color: #ccc;
	text-align: left;
}
.nosaved {
	color: red;
}

.sticky-header {
	cursor: move;
	display: none;
}


/* override standard header colors because of custom background */

#wa-account h3 { color: #000; text-shadow: 0 0 2.0em #ffa, 0 0 2.0em #ffa, 0 0 1.5em #ffc, 0 0 1.0em #ffc, 0 0 0.2em #fff; }
#wa-header a { text-shadow: 0 0 2.0em #ffa, 0 0 2.0em #ffa !important; color: #000 !important; }
#wa-header a:hover { text-shadow: 0 0 2.0em #ffa, 0 0 2.0em #ffa, 0 0 2.0em #ffa, 0 0 2.0em #ffa !important; }
#wa-header .status { color: #000 !important; }

input { font-size: 0.9em; }

/* sidebar */

.stickies-sidebar {
	float:none;
	position:absolute;
	width: 200px;
	top: 100px;
	bottom:10px;
	overflow:hidden;
	left:10px;
	padding: 0 0 44px;
	background-color:rgba(180, 170, 150, 0.35);
	-moz-box-shadow:-3px -3px 5px rgba(220, 220, 220, 0.5), 3px 3px 5px rgba(220, 220, 220, 0.5);
	-webkit-box-shadow:-3px -3px 5px rgba(220, 220, 220, 0.5), 3px 3px 5px rgba(220, 220, 220, 0.5);
	box-shadow:-3px -3px 5px rgba(220, 220, 220, 0.5), 3px 3px 5px rgba(220, 220, 220, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#55fff0dc', endColorstr='#55fff0dc');
}
.stickies-sidebar-scrolable { position: relative; overflow:auto; overflow-x:hidden; height: 100%; margin: 44px 0 0 0;}
.sticky-createnew { padding: 0 10px; position: absolute; top:0; left:0; width: 100%; height: 44px;}
.sticky-createnew .menu-v { margin-top: 0; }
.sticky-createnew .menu-v a { padding-top: 15px; padding-bottom: 15px; background:rgba(255, 249, 207, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#65fff9cf', endColorstr='#65fff9cf'); color: #fff; }
.sticky-createnew .menu-v a:hover { background:rgba(255, 249, 207, 0.25); }

ul.menu-v li { margin: 0 -10px; padding:0; }
ul.menu-v a { color:#ffe; font-weight: bold; margin: 0; padding: 6px 0 7px 15px; }
ul.menu-v li a:hover { text-shadow: 0 0 2.0em #ffa, 0 0 2.0em #ffa !important; color:#fff; }
ul.menu-v li.selected { background-color: rgba(255, 250, 230, 0.45); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#88fffae6', endColorstr='#88fffae6'); color: #fff; }
ul.menu-v li.selected a { color:#642; background: none;	vertical-align: middle; }
ul.menu-v li .count { color:#805a49; clear: right; top:.5em; margin: 0 4px 3px 4px; }
ul.menu-v li .count a { padding:0;}
/* sticky papers */

.stickies-settings-form { overflow: hidden; padding:5px 10px; }
.stickies-settings-form p { margin: 0 0 5px; }
.stickies-settings-form a { color: #333!important; text-decoration: underline!important; padding:0 !important; display: inline-block!important; vertical-align: middle; font-size:10px; font-weight: normal!important;}

ul.menu-v li .stickies-settings-form { display:none; margin: 0; position: relative; z-index: 1; }
.sticky .stickies-settings-form { background:none; border:none; padding:5px; }
.sticky .stickies-settings-form ul { margin:0 0 10px }

ul.thumbs li { margin: 2px 1px; padding: 0; }
ul.thumbs li:hover { background: none; }
ul.thumbs a { padding: 0; color: #333; text-decoration: none; font-size: 0.9em; }
ul.thumbs a:hover { border: solid 1px #fff; }

div.sticky { position:absolute; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index:1; width:155px; height:172px; }
ul.thumbs li { min-width:inherit; }
div.sticky-inner { padding:0; background:#fef49c; border:solid 1px #bca902; margin:10px; -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.5); -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.5); box-shadow:3px 3px 10px rgba(0, 0, 0, 0.5); position:relative; margin:0; }
div.sticky-inner.active { cursor:pointer; margin:-1px 0 0 -1px; -moz-box-shadow:3px 3px 16px rgba(0, 0, 0, 0.7); -webkit-box-shadow:3px 3px 16px rgba(0, 0, 0, 0.7); box-shadow:3px 3px 16px rgba(0, 0, 0, 0.7); }
.sticky-inner:hover .sticky-header { display: block; }
.sticky-header { background:#feea3d; border:1px solid #bca902; font-size:0.7em; margin:-17px -1px 0 -1px; height:13px; padding: 1px 0; opacity: 0.8; }
div.sticky-content { padding: 3px; width:153px; height:153px; }
.sticky textarea { height: 100%; width: 100%; left: 0; outline: 0 none; background:none; border:none; font-size:16px; font-family:"'Helvetica Neue", "Trebuchet MS", sans-serif; line-height:1.15em; overflow: hidden; padding: 0;/*3px 3px 3px 3px;*/ margin: 0; resize: none; }
.sticky-header a { float: right; margin: 0 0 0 0.25em; }
.sticky-header a.sticky-setting { float: left; }

.background-vars li a { border:solid 1px #666; margin:2px; text-indent:-9999px; display:block!important; }
.background-vars li a:hover { border:solid 1px #333; }
.background-vars li.selected a { border: 2px solid #666; margin: 1px; }
.background-vars li i { width:24px; height:16px; overflow:hidden; display:block; }
.color-vars li a { border:solid 1px #666; margin:2px; text-indent:-9999px; display:block!important; }
.color-vars li a:hover { border:solid 1px #333; }
.color-vars li.selected a { border:solid 2px #666; margin: 1px; }
.color-vars li i { width:24px; height:16px; overflow:hidden; display:block; }
.size-vars li a { border:solid 1px #666; display:block; width:2em; text-align:center; margin:0 0 2px; padding: 2px; }
.size-vars li a:hover { border:solid 1px #333; }
.size-vars li.selected a { border:solid 1px #fff; }

i.sticky { background:#FEF49C }

/* sidebar's custom scroll in WebKit browsers */

#wa ::-webkit-scrollbar { width:10px; height:10px; }
#wa ::-webkit-scrollbar-button:start:decrement, #doc ::-webkit-scrollbar-button:end:increment { display:block; height:0; background-color:transparent; }
#wa ::-webkit-scrollbar-track-piece { background-color:rgba(255, 240, 220, 0.95); background-image:url("../img/scroll.png"); background-position: center center; -webkit-border-radius:0; -webkit-border-bottom-right-radius:10px; -webkit-border-bottom-left-radius:10px; }
#wa ::-webkit-scrollbar-thumb:vertical { height:50px; background-color:rgba(255, 240, 220, 0.75); -webkit-border-radius:10px; }
#wa ::-webkit-scrollbar-thumb:horizontal { width:50px; background-color:rgba(255, 240, 220, 0.75); -webkit-border-radius:10px; }

/* sticky into another sheet drag-n-drop class (jQuery UI) */

#wa-app-stickies-sheets .ui-state-active { background: #FFFFCC; border:0; margin:0 -11px;}
