.electronic-clock-wrapper {
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.electronic-clock-wrapper .electronic-clock-block {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.electronic-clock-wrapper .electronic-clock-block .date-block {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.electronic-clock-wrapper .electronic-clock-block .date-block .date-wrapper {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--text-color);
  margin-bottom: 16px;
}
.electronic-clock-wrapper .electronic-clock-block .date-block .date-wrapper span {
  text-transform: lowercase;
}
.electronic-clock-wrapper .electronic-clock-block .date-block .time-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: 700;
  font-size: 3.5rem;
  white-space: nowrap;
  color: var(--text-color-strongest);
}
.electronic-clock-wrapper .electronic-clock-block .date-block .time-wrapper .divider {
  margin: 0 8px;
  color: var(--text-color-hint);
}
.electronic-clock-wrapper .electronic-clock-block .date-block .time-wrapper .divider.step-1 {
  color: var(--text-color);
}
.electronic-clock-wrapper .electronic-clock-block .town-wrapper {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-strong);
}
.electronic-clock-wrapper:not(.has-town) .electronic-clock-block .date-block {
  justify-content: center;
}
.widget-2x1 .electronic-clock-wrapper {
  padding: 8px 16px;
}
.widget-2x1 .electronic-clock-wrapper .electronic-clock-block .date-block .date-wrapper {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 8px;
}
.widget-2x1 .electronic-clock-wrapper .electronic-clock-block .date-block .time-wrapper {
  font-size: 2.5rem;
}
.widget-2x1 .electronic-clock-wrapper .electronic-clock-block .date-block .time-wrapper .divider {
  margin: 0 6px;
}
.widget-2x1 .electronic-clock-wrapper .electronic-clock-block .town-wrapper {
  font-size: 14px;
}
.widget-1x1 .electronic-clock-wrapper {
  padding: 8px;
}
.widget-1x1 .electronic-clock-wrapper .electronic-clock-block .date-block .date-wrapper {
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 8px;
}
.widget-1x1 .electronic-clock-wrapper .electronic-clock-block .date-block .time-wrapper {
  font-size: 1.6rem;
}
.widget-1x1 .electronic-clock-wrapper .electronic-clock-block .date-block .time-wrapper .divider {
  margin: 0 3px;
}
.widget-1x1 .electronic-clock-wrapper .electronic-clock-block .town-wrapper {
  font-size: 14px;
}
