body { min-width:960px;}
#wa { background: url('../img/gray-noisy-bg.jpg') repeat; }

#wa-app { padding-top: 13px; margin-top: -13px; } /* lift up a bit for a nice shadow*/
#wa-app .sidebar { padding-top: 20px; }

#c-core { ;/* page core content container */ }
#c-core .contacts-background { background: #fff; border: 1px solid #ccc;-moz-box-shadow: 0px 1px 15px #bbb; -webkit-box-shadow: 0px 1px 15px #bbb;box-shadow: 0px 1px 15px #bbb; margin: 15px; }
#c-core h1 { display: inline-block; max-width: 100%; overflow: hidden; }

.c-actions { float: right; }

.c-core-header { background: #fcfcfc; border-bottom: 1px solid #ddd; }
.c-core-header.red { background: #fcc; border-bottom: 1px solid #c88; }
.c-core-header.yellow { background: #eed; border-bottom: 1px solid #cc8; }
.c-core-content { background: #eee; }

.c-profile-userpic { float: left; }
.c-profile-summary { margin-left: 116px; margin-bottom: 10px; }

.c-list-toolbar { border-bottom: 1px solid #aaa; }

.c-splitview-content { border-left: 1px solid #ccc; background: #fff; }

.count.c-action-link  { top:0.15em;}
#c-edit-contact { background: #eee; border-bottom: 1px solid #ccc; }

/* override few colors */

ul.menu-v li .count  { top:0.3em}

ul.menu-v li.selected a { background:#e7e7e7; }
ul.menu-v li.draginto a { background:#eeb; }

.c-user-status-online { font-style: italic; color: green; }
.c-user-status-not-online { font-style: italic; color: gray; }

a.c-user-group-link { color: gray; }
a.c-user-group-setup { margin-left: 10px; }

.c-access-rights { }
.c-access-rights .ibutton-container { float: left; }
.c-access-rights span.c-access-rights-hint {  margin-left: 10px; line-height:18px}
.c-access-rights span.c-access-not-allowed-hint { margin-left: 10px; line-height:18px}
.c-access-rights span.c-access-rights-hint span,
.c-access-rights span.c-access-not-allowed-hint span { display: inline-block; max-width: 30em; max-width: 60%;}
.c-access-rights td.c-app-accessspan.c-access-rights-hint span,
.c-access-rights td.c-app-access span.c-access-not-allowed-hint span { max-width: 33%;  margin: 0 0 0 -10px;}
table#c-access-rights-by-app { border: 0; clear: left; display: none; margin-left: -10px; }
table#c-access-rights-by-app td { vertical-align: top; padding-top: 22px; border: 0; }
table#c-access-rights-by-app td.c-app-icon { vertical-align: top; padding-top: 5px; width: 1%; }
table#c-access-rights-by-app td.c-app-icon img { max-width: 48px; }
table#c-access-rights-by-app td.c-app-name { width: 150px; padding-top: 24px;  }
table#c-access-rights-by-app td.c-app-name span { padding: 1px 3px; }
table#c-access-rights-by-app td.c-app-name span.c-access-color-full { background: #bcffa5; }
table#c-access-rights-by-app td.c-app-name span.c-access-color-limited { background: #fffea5; }
table#c-access-rights-by-app td.c-app-name span.c-access-color-noaccess { background: #ffbcb9; }
table#c-access-rights-by-app td.c-app-access { white-space: nowrap; }
table#c-access-rights-by-app td.c-app-access select.c-result { font-weight: bold; }
table#c-access-rights-by-app td.c-app-access a { display: inline; }
table#c-access-rights-by-app td.c-app-access .c-access-saved-hint { font-size: 0.8em; color: green; }
table#c-access-rights-by-app td.c-app-access .customize-link { line-height:18px;vertical-align: top;}
.c-app-access-personal { display: none; }

.contacts-data .profile.image96px .details { position: relative; }
.contacts-data .profile.image96px .details input { position: absolute; left: -125px;top:4px}
.contacts-data .profile.image96px { padding: 0 0 0 30px;}
.contacts-data .profile.image96px .details p { margin: 0 0 .25em 0;}
.contacts-data .profile.image96px .details p.contact-name { margin-bottom: .5em; font-weight: bold; }
.c-details-label { color: #999; margin: 0 0.25em 0 0;}

.contacts-data .zebra li { overflow: hidden; display:block; padding: 5px 0;}
.contacts-data .zebra li.selected { background: #EEEEDD!important; }
#c-ar-dialog .dialog-window { min-width: 700px; max-width: 800px;}
.c-dialog-limited-user { float: left; width: 49%; }
.c-dialog-limited-app { float: right; width: 49%; }
.c-dialog-limited-user .profile .details,
.c-dialog-limited-app .profile .details { font-size: 1.4em; padding-top: 15px;/*  white-space: nowrap; */ }
.c-dialog-limited-user .profile .details.c-header-thumb-no { margin-left: 0;}
.dialog-content .profile h3 { display: inline; overflow: hidden; max-width:100%;}

.c-access-grant-arrow { float: right; padding: 8px; }

.c-access-app-limited {}
.c-access-app-limited table.zebra td {  text-align: center; border-bottom: solid 1px #eee; background:#fff!important}
.c-access-app-limited table.zebra th  {text-align: center;}
.c-access-app-limited table.zebra th span.float-right  { margin:  0 0 -1.05em 0}
.c-access-app-limited td:first-child div {text-align: left; position: relative; max-width: 370px;}
.c-access-app-limited td div {  position: relative;  }
.c-access-app-limited td div b { font-weight: normal; color: #333;}
.c-access-full, .c-access-edit, .c-access-read { height: 1.8em; text-align: center; display: block; position: absolute; top:-7px; width: 33.33%; }
.c-access-full { left: 0;}
.c-access-edit { left: 33.33%;}
.c-access-read { left: 66.66%;}

.c-access-subcontrol-header td { background: #fff!important}
.c-access-subcontrol-header td:first-child div { font-weight: bold;}
.c-access-app-limited .c-access-subcontrol-item td:first-child div { max-width: 300px; overflow: hidden;}
.c-access-subcontrol-item td:first-child div { padding-left: 20px; color: #333;}
.c-long-menu-item { min-width: 14em; }

.c-checkbox-menu li { padding-left: 23px!important; position: relative;}
.c-checkbox-menu li input { position: absolute; left:6px; top:4px;}
.c-checkbox-menu li label { padding: 0 .25em;}

.c-checkbox-menu-container { background: #FAFAFA;
    border-color: #AAAAAA #EEEEEE #EEEEEE #AAAAAA;
    border-style: solid;
    border-width: 1px;
    height: 8.3em;
    overflow: hidden;
    min-width: 200px;
    width: 65%;
    display: inline-block;
   }
.c-checkbox-menu-container div { overflow: auto; overflow-x: hidden; height: 100%; }
.c-checkbox-menu-container ul.menu-v { margin:8px;}
.contacts-data table.zebra tr th:first-child ,.contacts-data table.zebra tr td:first-child { padding-left: 10px;}
.contacts-data table.zebra th a { color:#555;}
.c-list-top-line { position: relative; padding:3px 5px 4px 70px; border-top: 0; /* border-right: 1px solid #d3d3d3; */ background: -moz-linear-gradient(center top , #F5F5F5 0%, #DDDDDD 100%) repeat scroll 0 0 transparent; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F5F5F5', endColorstr='#dddddd')";  font-weight: normal; color: #777; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #ddd)); }
.c-list-top-line a { color: #555; text-decoration: none; margin:0 0 0 .75em}
.c-list-top-line a:hover  {color: #333333; text-decoration: none;}
.c-list-top-line .icon10 { margin: -3px 4px 0!important;vertical-align: middle; }
.c-list-top-line input { position: absolute; top:3px;left:10px; }
.c-access-app-limited .c-access-app-group .c-access-subcontrol-item td:first-child { width: 350px;}
.c-access-cb-all { display: inline; margin: 0 0 0 1.5em;}
.c-access-cb-all input { margin: 0 0.5em!important;vertical-align: middle;}
.c-list-toolbar ul.menu-h.dropdown li:first-child { width: 250px;}
.c-list-toolbar ul.menu-h.dropdown li:first-child ul li:first-child { width:auto;}
.c-core-content .delete-subfield { margin: 0 0 0 .5em}
.contacts-data .thumbs { padding-left: 2px;}
.contacts-data ul.thumbs .c-name-check a { vertical-align:top; max-width:80px; display:inline-block; overflow:hidden;}
.contacts-data .paging { color: #444444; font-size: 0.92em; white-space: nowrap; overflow:hidden;}
.contacts-data .paging span {white-space: nowrap; }
.c-sort-block ul.thumbs li.c-sort-btns { margin: 50px 0 0 -30px;}
.c-sort-block .c-sort-btns p { margin-bottom: 5px;}
.c-core-content div.error { margin-bottom: 5px;}
.c-search-close .icon10 { margin-top: 3px!important;}
.c-page-num { margin: -10px 0 0; float: right;font-size: 0.9em; background: #fff;}
.contacts-data .paging a { background:#fff;}
.icon16.c-ar-tooltip { background-position:-48px -112px; }
input[disabled] {
    color: #999;
}

/* Sidebar */
.menu-v li.line-after {
    border-bottom: 1px solid #aaa;
}
.sidebar.left200px ul.menu-v.with-icons>li>a b {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    max-width: 130px;
    min-height: 1.25em;
    font-weight: normal; line-height: 1.3}
.sidebar.left200px ul.menu-v.with-icons>li>a b.c-item-bold  { font-weight:bold;}

#search-text {
    width: 100%;
}

/* Contact list */
a.hdr-button {
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    margin: 0 0 0 10px;
}
.paging span {
    padding: 4px 6px;
}
.paging .total {
    margin-right: 15px;
}
ul.menu-h.dropdown.disabled ul { display: none !important; }

/* Tile view */
.wa-datagrid tbody tr:hover td, .wa-datagrid tbody td {
    background: transparent;
}
.wa-datagrid tbody .contact-row:hover {
    background: #FAF6CE;
}
.contact-tile {
    float: left;
    height: 160px;
    width: 126px;
    text-align: center;
    overflow: hidden;
}
.wa-datagrid .contact-tile.grid-active {
    border: 0px none;
    background: #E4E8F0;
}
.wa-datagrid .contact-tile .photo-sub {
    position: relative;
}
.wa-datagrid .contact-tile .photo-sub input.selector {
    position: absolute;
    left: 6px;
    top: -24px;
}
.wa-datagrid .contact-tile .fullname {
    text-align: center;
}
.wa-datagrid .contact-tile .wa-contact-photo {
    margin: 3px;
}
.wa-icon-tmb-tile {
    background-position: -336px 0px;
}

/* Photo editor */
.wa-contact-photo-buttons .photo-change-link {
    visibility: hidden;
    text-align: center;
    width: 100px;
    padding-top: 5px;

}
.wa-contact-photo-buttons .photo-upload-form {
    display: none;
    padding:0 0 10px 0;

}
.wa-contact-photo-buttons {
    position: relative;
}
.wa-contact-photo-buttons a {
    color: #888888;
}
.wa-contact-photo-buttons a:hover {
    color: #dd3f1a;
}
.profile .photo:hover .wa-contact-photo-buttons div {
    visibility: visible;
}

/* Export */
#export-progressbar, #import-progressbar {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 60%;
    z-index: 1000;
    padding: 2%;
    background-color: #fff;
    border: 2px solid #888;
}

/* Contact editor */
.composite .field .name {
    color: #AAA;
    font-size: .8em;
}
.composite .field.hdr .name {
    color: #888;
    font-size: 0.95em;
}
.c-core-header .larr {
    margin-right: 5px;
}
input.external-error {
    border: 2px solid red;
    color: red;
}
.multifield-subfields>:only-child .delete-subfield,
.in-place-editor .delete-subfield {
    display: none;
}
.multifield-subfields>:only-child .delete-subfield,
.in-place-editor .delete-subfield {
    display: none;
}
.field.no-bot-margins .name, .field.no-bot-margins .value {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
ul.menu-v a.inline-link {
    display: inline;
}
.tab-content.hidden {
    display: none;
}

/* Import dialog */
.c-import-block { padding:10px; overflow:hidden; }
.c-import-block.selected {  -moz-border-radius: 4px 4px 4px 4px;
    border: 4px solid #FDDA3B;
    margin: -4px -2px -2px -4px; background:#F5F5F5}
.c-import-block textarea { height:250px!important; margin: 0 0 15px 0; width:40em!important; float:left;}
.c-import-block p { margin:0 0 0.5em 47em; color:#888; font-size:0.88em;}
.c-import-block p.c-monospace { padding:5px; margin-right: 10px; }
.c-bordered { border-top: solid 1px #ccc; position:relative; top:0.5em;}
.field .value.c-import-wrapper { margin-left:0; max-width:800px;}
.field .value span span { margin: 0 0 0 3px;}
.c-list-nomargin li { margin: 0!important;   line-height: 1.6em;}
.c-divider { margin:30px auto 20px ;}
.c-divider li.c-bordered { width:48%; margin:0 3px!important;}
.c-monospace { font-family:"Courier New", Courier, monospace;}
.c-import-message { padding:0 10px 10px;}
.c-import-options p input { vertical-align:top; margin:2px 0.5em 0 -1.5em;}
.c-import-options p {  margin:0 0 0.5em; padding:0 0 0 1.8em; line-height:1.25em }
.c-import-options b { background:#FFFFCC; padding:0 0.25em; font-size:1.1em;}
.c-import-options li  {margin:0!important; line-height:1.6em;}
.c-import-options li { max-width:60%;}
.c-import-options li:first-child { width:162px;}
table.zebra.c-import-upload { margin:0;}
table.zebra.c-import-upload td  { font-weight:bold; color:#000}
table.zebra.c-import-upload td.off {  font-weight:normal; color:#888;}
table.zebra.c-import-upload td:first-child { padding-left:10px;}
table.zebra.c-import-upload select { width:100%;}
#wa-i-loading { clear: both; margin: 15px; }

/** jquery.tooltip */
#tooltip {position: absolute; z-index: 3000; opacity: 0.85; }
#tooltip h3, #tooltip div { margin: 0; }

#photo-editor-buttons { margin: 10px 0 0;}

.c-image-form-file {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow:0 0 8px #666;-webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 8px 15px;
    position: absolute;
    top:0;
    left:10px;
    z-index: 10;
    white-space: nowrap;
}

.collapse-handler { cursor: pointer; }
.c-sidebar-indent { height: 6em;}

ul.menu-v li.drag-newposition { height: 0px; }
ul.menu-v li.drag-newposition.dragging { height: 10px; }
ul.menu-v li.drag-active a { background:#eec !important; }
ul.menu-v li.drag-active ul.menu-v li a { background: inherit !important; }

.view-mode .address-field .ext {
	position: absolute;
	left: -60px;
	width: 38px;
	overflow: hidden;
}
.view-mode .address-field .ext {
	font-weight: normal;
	color: #AAA;
	font-size: .8em;
}


img.c-app16x16icon-menu-v {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
}
.wa-message-text .errormsg { display: inline; }