{if $options.js.ace}
<script src="{$wa_url}wa-content/js/ace/ace.js"></script>
{/if}

{if $options.js.editor}
<script src="{$wa_url}wa-content/js/jquery-wa/wa.elrte.ace.js?v{$wa->version()}"></script>
{/if}

<style>
    .wa-design { margin-bottom: 80px; }

    .wa-editor-core-wrapper { background: white; }
    .wa-design-gray-toolbar { background: #eee; padding-left: 15px; padding-bottom: 13px; }
    .wa-design-gray-toolbar h4 { font-size: 1.3em;}
    .wa-design-save-panel { position: fixed; bottom: 0; left: 0; right: 0; background: #eee; padding-left: 420px; z-index: 1}

    .wa-app-block { margin: 0; padding: 15px 15px 5px 42px;}
    .wa-app-block span.hint { white-space: nowrap;}
    .wa-app-block h2.short-header { line-height: 0.9em; vertical-align: top; min-width: 166px; font-weight: normal; font-size: 1.3em; }
    .wa-app-block h2.short-header img { float: left; margin: -5px 7px 0 -32px; width: 24px; height: 24px; vertical-align: middle;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}
    .wa-app-block h2.short-header .hint { font-size: 0.66em; }

    .wa-dropdown { float: right; margin: 5px 20px 0 0; }
    .wa-dropdown .wa-dropdown-content { padding: 20px;  width: auto; width: 760px;  min-height: 180px; max-height: 310px; overflow: auto; overflow-x: hidden;}
    .wa-dropdown .wa-dropdown-content .field .name .inline-link b i { font-weight: bold; }
    .wa-dropdown .wa-dropdown-content .field .name { width: 340px; }
    .wa-dropdown .wa-dropdown-content .field .value { margin-left: 350px; }
    .wa-dropdown .wa-dropdown-content .field.subfield .name { margin-left: 20px; }
    .wa-dropdown .wa-dropdown-content .field.subfield .name .inline-link b i { font-weight: normal; font-size: 0.9em; }
    .wa-dropdown .wa-drop-link { position: relative; padding: 6px 0 0 ; display: block;}
    .wa-dropdown .wa-dropdown-block { display: none; position: absolute; bottom:1.4em; right:0; background: #F3F3F3; border: 2px solid #AAAAAA; box-shadow: 0 2px 10px #777; -webkit-box-shadow: 0 2px 10px #777; -moz-box-shadow: 0 2px 10px #777; -o-box-shadow: 0 2px 10px #777; z-index: 100;}
    .wa-dropdown ul.tabs { height: 45px; padding-top: 6px; }
    .wa-dropdown ul.tabs li.selected a { background: #fff;}
    .wa-dropdown ul.tabs li.no-tab { min-width: 70px;}
    .wa-dropdown ul.tabs li a { position: relative; padding:5px 15px 8px; height: 30px;}
    .wa-dropdown ul.tabs li.no-tab { padding:4px 0.8em 0 40px;}
    .wa-dropdown ul.tabs li.no-tab .hint { font-weight: bold;}
    .wa-dropdown ul.tabs li.no-tab p { margin: 0 ; line-height: 16px; white-space: nowrap;}
    .wa-dropdown ul.tabs li.no-tab img { float: left; vertical-align: top; margin:2px 0 0 -32px; width: 24px; height: 24px; }
    .wa-dropdown .field .name { word-wrap: break-word; }

    li.error a { color: red; }

    .wa-themes { background: url({$wa_url}wa-content/img/cloth-background-light.jpg); box-shadow: 0 6px 10px -5px #777 inset; }
    .wa-themes ul.thumbs { padding: 25px 20px; margin-top: 0; }
    .wa-themes ul.thumbs li { text-align: center; margin-right: 5px; }
    .wa-themes ul.thumbs li a h5 { color: #000; margin-bottom: 10px; }
    .wa-themes ul.thumbs li a .wa-theme-cover { width: 200px; height: 220px; overflow: hidden; box-shadow: 0 2px 9px #777; margin: 0 auto 10px; background: #fff; position: relative; }
    .wa-themes ul.thumbs li a .wa-theme-cover .wa-in-use-badge { position: absolute; left: -12px; right: -12px; top: 76%; margin-top: -10px; background: #5a4; color: #fff; font-style: italic; padding: 5px; font-weight: bold; box-shadow: 0 1px 3px rgba(0,0,0,0.2); transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -o-transform: rotate(-5deg); }
    .wa-themes ul.thumbs li a .wa-theme-cover span.hint { margin-top: 100px; display: block; }
    .wa-themes ul.thumbs li a:hover .wa-theme-cover { box-shadow: 0 4px 13px #666; }
    .wa-themes ul.thumbs li i.icon10 { display: none; }
    .wa-themes ul.thumbs li:hover i.icon10 { display: inline-block; position: absolute; display: none\9; }
    .wa-themes ul.thumbs li strong { padding: 2px 4px 1px; color: #000; background: #ffb; }
    .wa-themes ul.thumbs li .wa-theme-installed { color: #008000; display: inline-block; margin-left: -4px; padding: 2px 7px; }
    .wa-themes ul.thumbs li .wa-theme-installed i.icon10 { position: static; display: inline-block !important; }
    .wa-themes .wa-price { color: #777; }

    h5.wa-themes-group { padding-top: 20px; margin-left: 20px; text-transform: uppercase; color: #777; }    
    .wa-themes-installed { background: rgba(0,0,0,0.15); }
    .wa-themes-from-the-store { border-top: 2px dotted rgba(0,0,0,0.15); }
    
    .wa-theme-image-select { padding-left: 0; margin-top: 0; }
    .wa-theme-image-select li { list-style: none; display: inline-block; float: left\9; margin: 0 5px 5px 0; padding: 0; }
    .wa-theme-image-select a { display: block; max-height: 100px; max-width: 100px; overflow: hidden; border: 4px solid #fff; }
    .wa-theme-image-select li.selected a { border-color: #FDDA3B; border-radius: 4px; }
    
/*     .wa-theme-image-upload { display: inline-block; } */
    .wa-theme-image-upload img { margin-bottom: 10px; display: block; }

    .wa-theme-preview i.icon16 { margin-right: 5px; }

    .wa-theme-about h1 { margin-bottom: 20px; }
    .wa-theme-about p { line-height: 1.5em; }
    .wa-theme-about pre { background: none repeat scroll 0 0 #EEEEEE; border-left: 3px solid #CCCCCC; color: #777777; font-size: 0.9em; padding: 20px; }

    ul.menu-h.wa-theme-filter-colors li { border-radius: 20px; padding: 8px; margin-right: 5px; box-shadow: 0 1px 2px #777; }
    ul.menu-h.wa-theme-filter-colors li.wa-themes-all { border-color: transparent; box-shadow: none; }
    ul.menu-h.wa-theme-filter-colors li.wa-themes-white { background: #fff; }
    ul.menu-h.wa-theme-filter-colors li.wa-themes-black { background: #444; }
    ul.menu-h.wa-theme-filter-colors li.wa-themes-red { background: #ce4444; }
    ul.menu-h.wa-theme-filter-colors li.wa-themes-green { background: #5dc166; }
    ul.menu-h.wa-theme-filter-colors li.wa-themes-blue { background: #33a5d4; }
    ul.menu-h.wa-theme-filter-colors li.wa-themes-yellow { background: #e7d400; }
    ul.menu-h.wa-theme-filter-colors li.wa-themes-purple { background: #8963a9; }

    ul.menu-h.wa-theme-filter-price li { font-size: 0.9em; margin-top: 3px; padding: 5px 0; }
    ul.menu-h.wa-theme-filter-price li.selected a { background: #ddd; }
    .wa-theme ul.menu-v a.disabled { color: #aaa; }
    .wa-theme h4.heading { margin-bottom: 10px; margin-top: 20px; }

    ul.with-icons.wa-theme { padding: 0 5px 0 3px; margin-top: 12px; }
    ul.with-icons.wa-theme li a { padding-left: 33px; }
    
    .wa-theme-selector li { width: 200px; }
    .wa-theme-selector li a { padding: 12px 13px; font-size: 1.3em; word-break: break-all; line-height: 1em; }
    .wa-theme-selector li a img { width: 24px; height: 24px; float: left; margin-right: 5px; margin-top: -3px; margin-left: -3px; }
    .wa-theme-selector li ul.menu-v { width: 250px; }
    .wa-theme-selector li ul.menu-v li { width: 208px; padding-left: 34px; }
    .wa-theme-selector li ul.menu-v li a { padding: 7px 4px; font-size: 1em; }
    .wa-theme-selector li ul.menu-v li.no-icon { padding-left: 14px; padding-right: 28px; }
    .wa-theme-selector li ul.menu-v li.selected a { background: inherit; }
    .wa-theme-routes { padding-left: 10px; padding-right: 10px; word-wrap: break-word; }
    .wa-theme-routes a i.icon10 { display: none; position: absolute; }
    .wa-theme-routes a:hover i.icon10 { display: inline; }
    .wa-theme-routes .hint a.no-underline { text-decoration: none !important; }    
    .wa-theme-block { margin-top: 6px;}
    .wa-theme-block ul.wa-theme li { padding: 4px 2px 4px 24px;}
    .wa-theme-block ul.wa-theme li.top-padded { padding-top: 15px; }
    .wa-theme-block ul.wa-theme li a { padding-left: 30px; word-break: break-all; }
    .wa-theme-block h4 { margin: 10px 10px 0; word-break: break-all; }
    
    #wa-design-sidebar { width: 210px; }
    #wa-design-container { margin-left: 210px; }
    #wa-design-container .value .icon16.color { margin-left: 4px; margin-top: 3px; cursor: pointer; }

</style>

{if $options.container}
<div class="shadowed wa-design">
{/if}
    <div id="wa-design-sidebar" class="sidebar left200px" style="min-height:300px">
        {include file="`$template_path`Sidebar.html"}
    </div>
    <div id="wa-design-container" class="content left200px bordered-left blank">
        <div  class="block double-padded">
            [s`Loading`]... <i class="icon16 loading"></i>
        </div>
        <div class="clear"></div>
    </div>
    <div class="dialog" id="wa-design-preview">
        <div class="dialog-background"> </div>
        <div class="dialog-window" style="height: 150px; min-height: 150px; width: 400px; min-width: 400px">
            <form>
                <input type="hidden" id="wa-preview-key" value="" />
                <div class="dialog-content">
                    <div class="dialog-content-indent">
                        <h1>[s`Theme preview`]</h1>
                        <p>[s`Design theme “<strong id="wa-current-theme"></strong>” is temporary enabled for you to see how it looks with your frontend. You can navigate through your website as you do it usually. Other users don't see that you are previewing this design theme.`]</p>
                    </div>
                </div>
                <div class="dialog-buttons">
                    <div class="dialog-buttons-gradient">
                        <input type="submit" class="button" value="[s`Finish preview session`]">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        var wa_url = "{$wa_url}";
        function waDesignConfirm() {
            if ($("#wa-design-button").length && $('#wa-design-button').hasClass('yellow')) {
                if (!confirm("[s`Unsaved changes will be lost if you leave this page now. Are you sure?`]")) {
                    return false;
                }
            }
            return true;
        }

        $(window).on('beforeunload', function () {
            if ($("#wa-design-button").length && $('#wa-design-button').hasClass('yellow')) {
                return "[s`Unsaved changes will be lost if you leave this page now. Are you sure?`]";
            }
        });

        $("#wa-theme-upload-link").click(function () {
            if (!waDesignConfirm()) return false;
            $(".wa-theme-dialog-error").text('');
            $("#wa-theme-upload-dialog div.loading").hide();
            $("#wa-theme-upload-dialog").waDialog({
                disableButtonsOnSubmit: true,
                onSubmit: function () {
                    $("#wa-theme-upload-dialog div.loading").show();
                    $("#wa-theme-upload-iframe").one('load', function () {
                        $("#wa-input-file").replaceWith('<input id="wa-input-file" type="file" name="theme_files[]" multiple="" >');
                        $("#wa-input-file").bind('change', function () {
                            $("#wa-theme-upload-form").submit();
                        });
                        var response;
                        try {
                            response = $.parseJSON($(this).contents().text());
                            if (response.status == 'fail') {
                                $("#wa-theme-upload-dialog div.loading").hide();
                                $("#wa-input-file").replaceWith('<input id="wa-input-file" type="file" name="theme_files[]" multiple="" >');
                                handleError(response);
                            } else if (response.status == 'ok') {
                                $("#wa-theme-upload-dialog").hide();
                                $(".wa-theme-dialog-error").text('');
                                location.reload();
                            }
                        } catch(e) {
                            response = {
                                'errors':[]
                            };
                            var message = $(this).contents().find('h1:first, h2:first');
                            if(message.length) {
                                response.errors.push([message.text()]);
                            } else {
                                response.errors.push(['JavaScript error: '+e.message]);
                            }
                            $("#wa-theme-upload-dialog div.loading").hide();
                            $("#wa-input-file").replaceWith('<input id="wa-input-file" type="file" name="theme_files[]" multiple="" >');
                            handleError(response);
                        }
                    });

                },
                onLoad: function () {

                }
            });
            return false;
        });

        $('.wa-theme-selector').on('mouseover', function () {
            $('#wa-theme-list').css('display', '');
        });

        $("#wa-theme-list li a").click(function () {
            $('#wa-theme-list').hide();
            if ($(this).attr('id') != 'wa-theme-upload-link') {
                var t = $(this).parent().data('theme');
                if (t) {
                    $("#wa-theme-active").text($(this).find('span.wa-theme-name').text());
                    if ($(this).hasClass('bold')) {
                        $("#wa-theme-active").addClass('bold');
                    } else {
                        $("#wa-theme-active").removeClass('bold');
                    }
                    var a, url;
                    var params = location.hash.split('&');
                    for (var i = 0; i < params.length; i++) {
                        var tmp = params[i].split('=');
                        if (tmp[0] == 'file') {
                            var url = "{$design_url}theme=" + t + '&file=' + tmp[1];
                            var a = $('#wa-theme-block-' + t + ' a[href="' + url + '"]');
                            break;
                        }
                    }
                    if (!a || !a.length) {
                        url = "{$design_url}theme=" + t + '&action=theme';
                        a = $('#wa-theme-block-' + t + ' a[href="' + url + '"]');
                    }
                    a.click();
                    location.href = url;

                    return false;
                }
            }
        });

        function handleError(data) {
            var error = '';
            if ( typeof data.errors == 'string') {
                error += (error?'\n':'') + data.errors;
            } else {
                for(error_item in data.errors) {
                    error += (error?'\n':'') + data.errors[error_item][0];
                }
            }
            if($(".dialog:visible").length) {
                $(".dialog:visible .wa-theme-dialog-error").html(error+'<br><br>');
            } else if($(".wa-theme-dialog-error:first:visible").length) {
                $(".wa-theme-dialog-error:first:visible").html('<br><br>'+error+'<br><br>');
            } else {
                alert('Error:'+error);
            }
            $("#wa-theme-name-dialog input[type=submit]").removeAttr('disabled');
            $("#wa-theme-upload-dialog input[type=submit]").removeAttr('disabled');
        };

        $(".wa-theme-preview").click(function () {
            var url = $(this).attr('href');
            if (!$(this).hasClass('used')) {
                $("#wa-current-theme").html($(this).parents('div:first').find('h4').text());
                $("#wa-design-preview").waDialog({
                    esc: false,
                    onSubmit: function () {
                        $("#wa-design-preview").hide();
                        $("body").append($('<iframe style="display:none" src="' + url.replace(/(set_force_theme=).*$/, '$1') + '" />').load(function () {
                            $(this).remove();
                        }));
                        return false;
                    }
                });
            }
        });

        $("#wa-design-sidebar h2 a").click(function () {
            if (!waDesignConfirm()) return false;
        });

        $("div.wa-theme-block ul li").on('click', 'a', function () {
            if ($(this).hasClass('wa-theme-preview')) return;
            if (!waDesignConfirm()) return false;
            $("#wa-design-sidebar li.selected").removeClass('selected');
            $(this).parent().addClass('selected');
            $.wa.setHash($(this).attr('href'));
            {if $options.is_ajax}
                return false;
            {else}
                waDesignLoad();
            {/if}
        });

        $("#wa-theme-link").on('click', function () {
            if (!waDesignConfirm()) return false;
            $("div.wa-theme-block ul li.selected").removeClass('selected');
            $(this).parent().addClass('selected');
            $.wa.setHash($(this).attr('href'));
            {if !$options.is_ajax}
            waDesignLoad();
            {/if}
            return false;
        });

        var wa_design_not_load = false;
        function waDesignLoad(hash) {
            if (wa_design_not_load) {
                wa_design_not_load = false;
                return;
            }
            if (hash  === undefined) {
                var hash = location.hash.replace(/\/$/, '').replace(/^#/, '');
                hash = hash.replace(/.*\/([^\/])/, '$1');
            }
            if (hash.length) {
                if (hash == 'themes') {
                    $('#wa-design-sidebar .wa-theme-block:visible .wa-themes.link').parent().addClass('selected');
                    $("#wa-design-container").load("?module=design&action=themes", function () {
                        if ($(".s-scrollable-part").length) {
                            $(".s-scrollable-part").scrollTop(0);
                        } else {
                            $(document).scrollTop(0);
                        }
                    });
                } else {
                    if (hash.indexOf('action=') == -1) {
                        hash = 'action=edit&' + hash;
                    }
                    if (hash.indexOf('theme=') != -1) {
                        var params = hash.split('&');
                        for (var j = 0; j < params.length; j++) {
                            var tmp = params[j].split('=');
                            //console.log(tmp);
                            if (tmp[0] == 'theme') {
                                $("#wa-theme-active").text($('#wa-theme-list-' + tmp[1] + ' a span.wa-theme-name').text());
                                $('#wa-design-sidebar .wa-theme-block').hide();
                                $('#wa-theme-block-' + tmp[1]).show();
                                $('#wa-design-sidebar a[href="' + location.hash + '"]').parent().addClass('selected');
                            }
                        }
                    }
                    $("#wa-design-container").load("?module=design&" + hash, function (responseText, textStatus, XMLHttpRequest) {
                        if ($(".s-scrollable-part").length) {
                            $(".s-scrollable-part").scrollTop(0);
                        } else {
                            $(document).scrollTop(0);
                        }
                        try{
                            if (response = $.parseJSON(responseText)) {
                                if(response.data && response.data.redirect) {
                                    var href = location.href.replace(/(\?|#).*$/,'') + response.data.redirect;
                                    location.replace(href);
                                }
                            }
                        }catch(e) {}
                    });
                }
            } else {
                $("#wa-theme-list li a:first").click();
            }
        }
        $(document).ready(function () {
            var a = $('#wa-design-sidebar .wa-theme-block a[href="' + location.hash + '"]:first');
            if (a.length) {
                a.parent().addClass('selected');
                var t = a.closest('.wa-theme-block').show().attr('id').replace(/wa-theme-block-/, '');
                $("#wa-theme-active").text($('#wa-theme-list-' + t).find('a span.wa-theme-name').text());
            }
            {if !$options.is_ajax}
                waDesignLoad();
            {/if}
        });
    </script>
{if $options.container}
</div>
{/if}

