<div class="box contentbox wa-design-gray-toolbar">

    <h2>{$app.name|string_format:'[s`Design themes for %s app`]'|escape} <i class="fas fa-spin fa-spinner"></i></h2>
    
    <ul class="chips outlined">
        <li id="themes-close" style="display: none">
            <a href="#" class="cancel gray bold" title="[s`Close`]">
                <i class="fas fa-times-circle"></i> [s`Close`]
            </a>
        </li>
    </ul>

    {include file="./Themes.installed_themes.html" inline}
</div>
<div class="wa-themes">
    <script type="text/javascript">
    $('div.wa-themes:first').load('{$wa_backend_url}installer/?module=themes&action=view&slug={$app_id}&return_hash={"`$design_url`theme=%theme_id%"|escape:'url'}',function(){
        $('.wa-design-gray-toolbar h4 svg').hide();
    });
    $('#themes-close a').on('click', function (e) {
        e.preventDefault();
        $('#wa-design-container').addClass('left200px').css('margin-left', '');
        $('.js-tab-content').show();
        $("#wa-theme-list li a:first").click();
    });
    </script>
</div>

<div class="dialog" id="wa-theme-start-using-dialog" data-url="{$design_url}">
    <div class="dialog-background"></div>
    <form class="dialog-body">
        <div class="dialog-content">
            <p>{sprintf("[s`Start using this theme on one of your existing %s app routes, or create a new route:`]", $app.name)}</p>

            <div class="fields">
                <div class="field">
                    <div class="name for-checkbox">[s`Existing route`]</div>
                    {foreach $routes as $r}
                    <div class="value">
                        <label>
                            <span class="wa-radio">
                                <input name="route" value="{$r._domain}|{$r._id}" type="radio" {if $r@first}checked{/if}>
                                <span></span>
                            </span>
                            {waIdna::dec($r._domain)}/{$r.url}
                            <span class="hint">{if isset($r.theme)}{$r.theme}{else}default{/if}</span>
                        </label>
                    </div>
                    {foreachelse}
                    <div class="value gray">
                        {sprintf('[s`There are no routes for %s app on this site yet.`]', $app.name)}
                    </div>
                    {/foreach}
                </div>
                <div class="field">
                    <div class="name for-checkbox">[s`New route`]</div>
                    <div class="value">
                        <label>
                            <span class="wa-radio">
                                <input name="route" id="create-new-route-choice" value="new" type="radio"{if !count($routes)} checked{/if}>
                                <span></span>
                            </span>
                        </label>

                        {if count($domains) == 1}
                        <input name="domain" type="hidden" value="{current($domains)}">
                        {current($domains)}/{else}
                        <div class="wa-select">
                            <select name="domain" class="create-new-route-control">
                                {foreach $domains as $d}
                                <option value="{$d}">{str_replace('www.','',$d)|truncate:23:'...':false:true}</option>
                                {/foreach}
                            </select>/
                        </div>
                        {/if}
                        <input type="text" name="url" value="" placeholder="*" class="short create-new-route-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <input type="hidden" name="theme" value="">
            <input type="submit" class="button green" data-value="{sprintf("[s`Start using %s theme`]", '%THEME%')}">
            [s`or`] <a href="#" class="js-close-dialog">[s`cancel`]</a>
        </div>
    </form>
</div>
