{$wrapper_id = uniqid("js-field-group-")}

<div class="field-group" id="{$wrapper_id|escape}">
    <div class="field">
        <div class="name"></div>
        <div class="value"><h3>{$obj->_w('Availability settings')}</h3></div>
    </div>

    {*ADDRESS*}
    <div class="field">
        <div class="name">{$obj->_w('Country')}</div>
        <div class="value no-shift">
            <span class="list-saved-countries">{$list_saved_countries|escape}</span>
            <i class="icon16 edit js-edit-countries" title="[`Edit`]"></i>
            <input type="hidden" name="{$namespace}[countries]" id="saved-country-codes" value='{$saved_country_codes}'>
            <input type="hidden" name="{$namespace}[regions]" id="saved-region-codes" value='{$saved_region_codes}'>

            {if isset($has_field_country)}<input type="hidden" name="{$namespace}[country]" value=''>{/if}
            {if isset($has_field_region)}<input type="hidden" name="{$namespace}[region]" value=''>{/if}
        </div>
    </div>

    {foreach $all_allowed_countries as $country}
        <div class="field country-field" {if !$country.enabled}style="display: none"{/if}>
            <div class="name">
                {$obj->_w('Regions')} ({$country.name|escape})
            </div>
            <div class="value">
                <span class="list-saved-regions">{$country.list_saved_regions|escape}</span>
                <i class="icon16 edit js-edit-country-regions" data-country="{$country.iso3letter}" title="[`Edit`]"></i>
                <p class="small">{$obj->_w('Shipping will be available for selected regions only')}</p>
            </div>
        </div>
    {/foreach}

    <div class="field">
        <div class="name">
            {$obj->_w('Localities')}
        </div>
        <div class="value">
            <input name="{$namespace}[cities]" value="{$settings.cities|default:''|escape}" type="text">
            <p class="hint">{$obj->_w('Separate locality names with a comma.')}</p>
        </div>
    </div>

    {*MAX SIZE AND WEIGHT*}
    <div class="field">
        <div class="name">{$obj->_w('Max weight')}</div>
        <div class="value">
            <input name="{$namespace}[max_weight]" value="{$settings.max_weight|default:''|escape}" type="number" min="5" max="30000" step="any">
            {$obj->_w('g')}
        </div>
    </div>
    <div class="field">
        <div class="name">{$obj->_w('Max length')}</div>
        <div class="value">
            <input name="{$namespace}[max_length]" value="{$settings.max_length|default:''|escape}" type="number" min="0" step="0.001" max="1.2">
            {$obj->_w('m')}
        </div>
    </div>
    <div class="field">
        <div class="name">{$obj->_w('Max width')}</div>
        <div class="value">
            <input name="{$namespace}[max_width]" value="{$settings.max_width|default:''|escape}" type="number" min="0" step="0.0001" max="0.8">
            {$obj->_w('m')}
        </div>
    </div>
    <div class="field">
        <div class="name">{$obj->_w('Max height')}</div>
        <div class="value">
            <input name="{$namespace}[max_height]" value="{$settings.max_height|default:''|escape}" type="number" min="0" step="0.0001" max="0.5">
            {$obj->_w('m')}
        </div>
    </div>

    <div class="field">
        <div class="name">{$obj->_w('Max dimensions')}</div>
        <div class="value">
            <input name="{$namespace}[max_dimensions]" value="{$settings.max_dimensions|default:''|escape}" type="number" min="0" step="0.0001" max="2.5">
            {$obj->_w('m')}
        </div>
    </div>

    <div class="field">
        <div class="value">
            <p class="hint bold">{$obj->_w('The sum of length, width, and height values must not exceed 2.5 m.')}</p>
        </div>
    </div>

    <script>
        ( function($) {
            // DOM
            var $wrapper = $("#{$wrapper_id|escape}");

            // CONST
            var loading = "<i class='icon16 loading'></i>"

            // VARS
            var region_xhr = null,
                countries_dialog_locked = false,
                regions_dialog_locked = false;

            $wrapper.on("click", ".js-edit-countries", function() {
                var $icon = $(this);

                if (!countries_dialog_locked) {
                    countries_dialog_locked = true;

                    $icon.hide();
                    var $loading = $(loading).insertAfter($icon);

                    showDialog().always( function() {
                        $loading.remove();
                        $icon.show();
                        countries_dialog_locked = false;
                    });
                }
            });

            $wrapper.on("click", ".js-edit-country-regions", function() {
                var that = this,
                    $icon = $(this);

                if (!regions_dialog_locked) {
                    regions_dialog_locked = true;

                    $icon.hide();
                    var $loading = $(loading).insertAfter($icon);

                    showRegionDialog(that).always( function() {
                        $loading.remove();
                        $icon.show();
                        regions_dialog_locked = false;
                    });
                }
            });

            function showDialog() {
                var deferred = $.Deferred();

                var sources = [{
                    id: "wa-dialog-css",
                    type: "css",
                    uri: "{$wa_url}wa-content/js/dialog/dialog.css?v={$wa->version(true)}"
                }, {
                    id: "wa-dialog-js",
                    type: "js",
                    uri: "{$wa_url}wa-content/js/dialog/dialog.js?v={$wa->version(true)}"
                }];

                $.shop.loadSources(sources).then(init, function() {
                    deferred.reject();
                });

                return deferred.promise();

                function init() {
                    var href = "{$wa_backend_url}webasyst/shipping/boxberry/settings/countryDialog/",
                        data = {
                            'saved_country_codes': $('#saved-country-codes').val(),
                        };

                    $.post(href, data, "json")
                        .done(function (html) {
                            var dialog = $.waDialog({
                                html: html,
                                debug_output: true,
                                options: {
                                    onSuccess: onSuccess
                                }
                            });

                            deferred.resolve(dialog);
                        })
                        .fail( function() {
                            deferred.reject();
                        });
                }

                // when user successfully submit form inside dialog
                function onSuccess(r) {
                    if (r.status === 'ok') {
                        $('#saved-country-codes').val(r.data.countries);
                        $('.list-saved-countries').html(r.data.list_saved_countries);
                        if (r.data.country_codes) {
                            $('.country-field').hide();
                            for (var code of r.data.country_codes) {
                                $('.js-edit-country-regions[data-country="' + code + '"]').parents('.country-field').show();
                            }
                        } else {
                            $('.country-field').show();
                        }
                    }
                }
            }

            function showRegionDialog(that) {
                var deferred = $.Deferred();

                var sources = [{
                    id: "wa-dialog-css",
                    type: "css",
                    uri: "{$wa_url}wa-content/js/dialog/dialog.css?v={$wa->version(true)}"
                }, {
                    id: "wa-dialog-js",
                    type: "js",
                    uri: "{$wa_url}wa-content/js/dialog/dialog.js?v={$wa->version(true)}"
                }];

                $.shop.loadSources(sources).then(init, function() {
                    deferred.reject();
                });

                return deferred.promise();

                function init() {
                    var href = "{$wa_backend_url}webasyst/shipping/boxberry/settings/regionDialog/",
                        data = {
                            'country': $(that).data('country'),
                            'saved_region_codes': $('#saved-region-codes').val(),
                        };

                    $.post(href, data, "json")
                        .done(function (html) {
                            var dialog = $.waDialog({
                                html: html,
                                debug_output: true,
                                options: {
                                    onSuccess: onSuccess
                                }
                            });

                            deferred.resolve(dialog);
                        })
                        .fail( function() {
                            deferred.reject();
                        });
                }

                // when user successfully submit form inside dialog
                function onSuccess(r) {
                    if (r.status === 'ok') {
                        $('#saved-region-codes').val(r.data.regions);
                        $(that).parent().find('.list-saved-regions').html(r.data.list_saved_regions);
                    }
                }
            }

        })(jQuery);
    </script>
</div>
