{strip}

{* CALENDAR *}
{if $selected_calendar_id && !empty($calendars[$selected_calendar_id])}
    {$selected_calendar = $calendars[$selected_calendar_id]}
{else}
    {$selected_calendar = $calendars["all"]}
{/if}

{* USER *}
{if $selected_user_id && !empty($users[$selected_user_id])}
    {$selected_user = $users[$selected_user_id]}
{else}
    {$selected_user = $users["all"]}
{/if}

<div class="t-calendar-page contentbox box">
    {* HEADER *}
    <header class="t-content-header t-calendar-header">
        <h1>[`Calendar`]</h1>

        <div class="alert t-info-notice-wrapper" style="display: none;">
            <div class="flexbox space-16 full-width">
                <div class="wide small">
                    <p>[`This is your team calendar. Schedule events and user statuses so all your teammates see who is up to on what. Click on a date or drag between dates to add an event.`]</p>
                </div>
                <div>
                    <a href="#" class="alert-close t-info-notice-toggle"><i class="fas fa-times"></i></a>
                </div>
            </div>
        </div>

        <div class="flexbox middle space-8 wrap small">
            <div class="dropdown js-calendar-dropdown custom-mx-auto-mobile custom-mx-auto-tablet custom-mb-16-mobile custom-mb-16-tablet">
                {* CALENDAR LIST *}
                {$_selected_calendar_styles = ''}
                {if $selected_calendar.id === 'birthday'}
                {$_selected_calendar_styles = "color: var(--white); background-image: linear-gradient(90deg, #FA5959 0%, #E419AB 100%);"}
                {else}
                    {if $selected_calendar.status_bg_color}
                    {$_selected_calendar_styles = "color: `$selected_calendar.status_font_color`; background-color: `$selected_calendar.status_bg_color`;"}
                    {else}
                    {$_selected_calendar_styles = "color: `$selected_calendar.font_color`; background-color: `$selected_calendar.bg_color`;"}
                    {/if}
                {/if}
                <a class="t-selected-item dropdown-toggle button light-gray rounded" style="{$_selected_calendar_styles}" href="{teamHelper::getUrl('calendar', $selected_calendar.id)}">
                    <i class="{if !$selected_calendar.id}fas fa-check-double{elseif $selected_calendar.id === 'birthday'}fas fa-birthday-cake{else}{$selected_calendar.icon|escape}{/if}" style="color: {if !empty($selected_calendar.status_font_color)}{$selected_calendar.status_font_color}{else}{$selected_calendar.font_color}{/if};"></i>
                    &nbsp;{$selected_calendar.name|escape}
                </a>
                <div class="dropdown-body">
                    <ul class="menu">
                        {foreach $calendars as $_c}
                            <li class="t-menu-item {if $selected_calendar.id == $_c.id}selected{/if}">
                                <a href="{teamHelper::getUrl('calendar', $_c.id)}">
                                    {$_style_item = ''}
                                    {if $_c.id === 'birthday'}
                                        {$_style_item = "color: #E419AB;"}
                                    {else}
                                        {if !empty($_c.status_bg_color)}
                                            {$_style_item = "color: `$_c.status_bg_color`;"}
                                        {else}
                                            {$_style_item = "color: `$_c.bg_color`;"}
                                        {/if}
                                    {/if}
                                    <i class="{if !$_c.id}fas fa-check-double{elseif $_c.id === 'birthday'}fas fa-birthday-cake{elseif $_c.icon}{$_c.icon|escape}{else}fas fa-calendar-alt{/if}" style="{$_style_item}"></i>
                                    <span>{$_c.name|escape}</span>
                                </a>
                            </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            <div class="dropdown js-calendar-dropdown custom-mx-auto-mobile custom-mx-auto-tablet custom-mb-16-mobile custom-mb-16-tablet">
                {* USER LIST *}
                <a class="t-selected-item dropdown-toggle button light-gray rounded" href="{teamHelper::getUrl('user', $selected_user.id)}">
                    <span class="icon">
                        <i class="{if !$selected_user.id && !empty($selected_user.photo_url_16)}fas fa-users{elseif $selected_user.id}userpic{else}fas fa-user{/if}"{if !empty($selected_user.photo_url_16) && $selected_user.id} style="background-image: url({$selected_user.photo_url_16});"{/if}></i>
                    </span>
                    <span class="custom-ml-{if !$selected_user.id && !empty($selected_user.photo_url_16)}8{else}4{/if}">{$selected_user.name|escape}</span>
                </a>
                <div class="dropdown-body">
                    <ul class="menu">
                        {foreach $users as $_u}
                            <li class="t-menu-item {if $selected_user.id == $_u.id}selected{/if}">
                                <a href="{teamHelper::getUrl('user', $_u.id)}">
                                    <span class="icon">
                                        <i class="{if !$_u.id && !empty($_u.photo_url_16)}fas fa-users{elseif $_u.id}userpic{else}fas fa-user{/if}"{if !empty($_u.photo_url_16) && $_u.id} style="background-image: url({$_u.photo_url_16});"{/if}></i>
                                    </span>
                                    <span>{$_u.name|escape}</span>
                                </a>
                            </li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            {* DATE PICKER *}
            <div class="t-date-filter_ t-header-item custom-ml-auto custom-mx-auto-mobile custom-mx-auto-tablet custom-mb-16-tablet custom-mb-16-mobile flexbox middle" id="t-date-filter">
                {$_set_year = date('Y', strtotime($period_start))}
                {$_start_year = date('Y', strtotime('-5 years'))}
                {$_end_year = date('Y', strtotime('5 years'))}
                {if $_set_year > $_end_year}
                    {$_end_year = $_set_year}
                {elseif $_set_year < $_start_year}
                    {$_start_year = $_set_year}
                {/if}
                {$_months = [
                    _w('January'), _w('February'), _w('March'), _w('April'), _w('May'), _w('June'),
                    _w('July'), _w('August'), _w('September'), _w('October'), _w('November'), _w('December')
                ]}

                <button type="button" class="nobutton t-arrow left" title="[`Previous month`]">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <div class="wa-select solid custom-mr-8">
                    <select name="month" class="month">
                        {foreach $_months as $_m}
                            <option value="{$_m@iteration}" {if date('n', strtotime($period_start)) == $_m@iteration}selected{/if}>{$_m}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="wa-select solid">
                    <select name="year" class="year">
                        {for $_year=$_start_year to $_end_year}
                            <option value="{$_year}" {if $_year == $_set_year}selected{/if}>{$_year}</option>
                        {/for}
                    </select>
                </div>
                <button type="button" class="nobutton t-arrow right" title="[`Next month`]">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </header>

    {* SCHEDULE *}
    {include file="../schedule/Schedule.inc.html" context=$context inline}

    {* JS *}
    <script>
        ( function($) {
            new CalendarPage({
                $wrapper: $(".t-calendar-page"),
                $dateFilter: $("#t-date-filter"),
                filters_href: "{teamHelper::getUrl()}",
                user_id: {$wa->user()->getId()|json_encode}
            });

            $.team.setTitle("[`Calendar`]");

            $(".js-calendar-dropdown").waDropdown();
        })(jQuery);
    </script>
</div>

{/strip}
