{strip}

<div class="dialog" id="t-event-days">
    <div class="dialog-background" style="background: transparent;backdrop-filter: unset;"></div>
    <div class="dialog-body" style="min-height:auto;width: 20rem">
        <a href="#" class="dialog-close js-close-dialog custom-p-0 custom-mt-8 custom-mr-12"><i class="fas fa-times small"></i></a>
        <div class="dialog-content">
            <h4 class="custom-p-0">{waDateTime::date('j f Y', $day)}</h4>

            <ul class="t-events unstyled">
                {foreach $events as $_event}

                    {$_type = null}
                    {$_single_day = false}
                    {$_current = date("Y-m-d", strtotime($day))}
                    {$_start = date("Y-m-d", strtotime($_event.start))}
                    {$_end = date("Y-m-d", strtotime($_event.end))}

                    {if $_current == $_start && $_start == $_end}
                        {$_type = 2}
                        {$_single_day = true}
                    {elseif $_current == $_start && $_start != $_end}
                        {$_type = 1}
                    {elseif $_current != $_start && $_current == $_end}
                        {$_type = 3}
                    {elseif $_current != $_start && $_start != $_end}
                        {$_type = 0}
                    {/if}

                    {$_calendar = [
                        "id" => null,
                        "bg_color" => "#f00",
                        "font_color" => "#fff"
                    ]}
                    {if !empty($_event.calendar_id) && !empty($calendars[$_event.calendar_id])}
                        {$_calendar = $calendars[$_event.calendar_id]}
                    {/if}

                    {$_is_birthday = ( $_event.calendar_id == "birthday" )}
                    {$_is_part_of_day = ( !$_event.is_allday && $_single_day )}

                    {$_badge_styles = ''}
                    {if $_event.is_status}
                        {if $_calendar.status_bg_color}
                            {$_badge_styles = "color: `$_calendar.status_font_color`; background: `$_calendar.status_bg_color`;"}
                        {else}
                            {$_badge_styles = "color: `$_calendar.font_color`; background: `$_calendar.bg_color`;"}
                        {/if}
                    {else}
                        {if !empty($_calendar.status_bg_color)}
                            {$_badge_styles = "color: `$_calendar.font_color`; background: `$_calendar.bg_color`;"}
                        {else}
                            {$_badge_styles = "color: `$_calendar.bg_color`; background: transparent; box-shadow: inset 0 0 0 1px currentColor;"}
                        {/if}
                    {/if}

                    {$_classes = []}
                    {if !empty($_event.id) && !empty($_calendar.id)}
                        {$_classes[] = "js-view-event"}
                    {/if}
                    {if $_single_day}
                        {$_classes[] = "is-single"}
                    {/if}
                    {if $_event.is_status}
                        {$_classes[] = "is-status"}
                    {else}
                        {$_classes[] = "is-event"}
                    {/if}

                    {$_user = null}
                    {if !empty($users[$_event.contact_id])}
                        {$_user = $users[$_event.contact_id]}
                    {/if}

                    <li class="t-event-wrapper{if !empty($_type)} type-{$_type}{/if}{if !$_event@last} custom-mb-4{/if}" {if !empty($_event.id)}data-id="{$_event.id}"{/if}>

                        <div class="t-event-block {$_classes|join:" "}" style="{if $_is_birthday && $_user}background-image: linear-gradient(to left, #ce19bc, #f9595a);{else}{$_badge_styles}{/if}">

                            {if !empty($_event.icon)}
                                <i class="{$_event.icon|escape}"></i>
                            {elseif $_is_birthday && $_user}
                                {$title = sprintf(_w("%s's birthday — %s"), $_user.name|escape, $_event.birthday_str)}
                                <i class="fas fa-birthday-cake" title="{$title}"></i>
                            {/if}

                            {if $_user}
                                {if $_is_birthday}
                                    <span class="t-login custom-ml-4">{$_user.name|escape}</span>
                                {elseif !empty($_user.photo_url_16)}
                                    <i class="userpic userpic20" style="background-image: url({$_user.photo_url_16})" title="{$_user.name|escape}"></i>
                                {/if}
                            {/if}


                            {if !$_is_birthday && $_is_part_of_day && $_event.start}
                                {$_styles2 = []}
                                {*{$_styles2[] = "background: `$_calendar.bg_color`;"}*}
                                {*{$_styles2[] = "color: `$_calendar.font_color`;"}*}
                                <span class="t-start" style="{$_styles2|join:""}">{wa_date("H:i", strtotime($_event.start))}</span>
                            {/if}

                            {if !$_is_birthday}
                                <span class="custom-ml-4">{$_event.summary|escape}</span>
                            {/if}
                        </div>

                    </li>
                {/foreach}
            </ul>
        </div>

    <script>
        ( function($) {
            new DayEventsDialog({
                $wrapper: $("#t-event-days")
            });
        })(jQuery);
    </script>
</div>

{/strip}
