{strip}

<div class="dialog" id="t-event-delete">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <h3 class="dialog-header">[`Delete this event?`]</h3>
        <footer class="dialog-footer">
            <div class="t-actions">
                <input class="button red js-delete-event" type="button" value="[`Delete`]">
                <a class="button light-gray js-close-dialog" href="javascript:void(0);">[`Cancel`]</a>
            </div>
        </footer>
    </div>
    <script>
        ( function($) {
            new EventDeleteDialog({
                $wrapper: $("#t-event-delete"),
                event_id: "{$event.id}"
            });
        })(jQuery);
    </script>
</div>

{/strip}
