.wa-set-password-form-wrapper input[type="text"],
.wa-set-password-form-wrapper input[type="email"],
.wa-set-password-form-wrapper input[type="password"] {
  width: 210px;
  max-width: 100%;
  padding: 0.25em 0.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.142857142857143em;
  line-height: 1.125em;
  border: 1px solid #cfcfcf;
  margin-right: 16px;
}
.wa-set-password-form-wrapper input.wa-onetime-password {
  width: 80px;
  min-width: 80px;
  display: inline-block;
}
.wa-set-password-form-wrapper select {
  max-width: 100%;
  height: 2em;
}
.wa-set-password-form-wrapper select option[disabled] {
  color: #aaa;
  background: #f0f0f0;
  font-weight: normal;
}
.wa-set-password-form-wrapper textarea {
  display: block;
  width: 100%;
  padding: 0.25em 0.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.142857142857143em;
  line-height: 1.125em;
  min-height: 1.75em;
  height: 5.125em;
  resize: vertical;
}
.wa-set-password-form-wrapper input.wa-error,
.wa-set-password-form-wrapper select.wa-error,
.wa-set-password-form-wrapper textarea.wa-error {
  border-color: #f00;
  color: #f00;
}
.wa-set-password-form-wrapper input,
.wa-set-password-form-wrapper select,
.wa-set-password-form-wrapper textarea {
  -webkit-transition: border-color 200ms linear;
  -moz-transition: border-color 200ms linear;
  -o-transition: border-color 200ms linear;
  -ms-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
  border-color: #cfcfcf;
  outline: 0;
}
.wa-set-password-form-wrapper input:hover,
.wa-set-password-form-wrapper select:hover,
.wa-set-password-form-wrapper textarea:hover {
  border-color: #888;
}
.wa-set-password-form-wrapper input:focus,
.wa-set-password-form-wrapper select:focus,
.wa-set-password-form-wrapper textarea:focus {
  border-color: #006bd8;
}
.wa-set-password-form-wrapper input::-webkit-input-placeholder,
.wa-set-password-form-wrapper select::-webkit-input-placeholder,
.wa-set-password-form-wrapper textarea::-webkit-input-placeholder {
  color: #aaa;
}
.wa-set-password-form-wrapper input:-moz-placeholder,
.wa-set-password-form-wrapper select:-moz-placeholder,
.wa-set-password-form-wrapper textarea:-moz-placeholder {
  color: #aaa;
}
.wa-set-password-form-wrapper input::-moz-placeholder,
.wa-set-password-form-wrapper select::-moz-placeholder,
.wa-set-password-form-wrapper textarea::-moz-placeholder {
  color: #aaa;
}
.wa-set-password-form-wrapper input:-ms-input-placeholder,
.wa-set-password-form-wrapper select:-ms-input-placeholder,
.wa-set-password-form-wrapper textarea:-ms-input-placeholder {
  color: #aaa;
}
.wa-set-password-form-wrapper .wa-error-msg {
  display: block;
  margin: 0.666666666666667em 0 0;
  color: #d02d14;
  font-size: 0.857142857142857em;
  font-style: normal;
  line-height: 1.166666666666667em;
}
.wa-set-password-form-wrapper .wa-error-msg:first-child {
  margin-top: 0;
}
.wa-set-password-form-wrapper .wa-field {
  margin: 1.071428571428571em 0 0;
}
.wa-set-password-form-wrapper .wa-field:first-child {
  margin-top: 0;
}
.wa-set-password-form-wrapper .wa-field .wa-name {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.857142857142857em;
  line-height: 1.166666666666667em;
  color: #888;
}
.wa-set-password-form-wrapper .wa-field .wa-value {
  margin: 0;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-input::-webkit-input-placeholder {
  font-size: 16px;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-input:-moz-placeholder {
  font-size: 16px;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-input::-moz-placeholder {
  font-size: 16px;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-input:-ms-input-placeholder {
  font-size: 16px;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-input:focus::-webkit-input-placeholder {
  color: #fff;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-input:focus:-moz-placeholder {
  color: #fff;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-input:focus::-moz-placeholder {
  color: #fff;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-input:focus:-ms-input-placeholder {
  color: #fff;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-code {
  margin-top: 0.5em;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-code .wa-captcha-img-wrapper {
  display: inline-block;
  width: 120px;
  height: 45px;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-code .wa-captcha-refresh-wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 3px 0 0 5px;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-code .wa-captcha-refresh-wrapper .wa-captcha-refresh {
  color: #aaa;
  font-size: 12px;
  width: 65px;
  line-height: 14px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-code .wa-captcha-refresh-wrapper .wa-captcha-refresh:hover {
  color: #555;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-code .wa-captcha-refresh-wrapper .wa-captcha-refresh .wa-captcha-refresh-icon {
  display: table-cell;
  background-image: url("../../../img/captcha-shape-gray.svg");
  background-repeat: no-repeat;
  width: 10.7px;
  height: 9px;
  padding-right: 6px;
}
.wa-set-password-form-wrapper .wa-captcha-section .wa-captcha-code .wa-captcha-refresh-wrapper .wa-captcha-refresh .wa-captcha-refresh-text {
  display: table-cell;
  width: 65px;
}
.wa-set-password-form-wrapper .wa-login-form-title {
  margin: 0 0 34px 0;
}
.wa-set-password-form-wrapper a.wa-is-disabled {
  color: #808080;
}
.wa-set-password-form-wrapper input[readonly] {
  pointer-events: none;
  background-color: #eee;
}
.wa-set-password-form-wrapper .wa-is-hidden {
  display: none;
}
.wa-set-password-form-wrapper .wa-set-password-form-fields {
  margin: 1.071428571428571em 0 0;
}
.wa-set-password-form-wrapper .wa-set-password-form-actions {
  margin: 1.071428571428571em 0 0;
}
.wa-set-password-form-wrapper .wa-set-password-form-actions .wa-uncaught-errors {
  margin-bottom: 1.071428571428571em;
}
.wa-set-password-form-wrapper .wa-set-password-form-actions .wa-login-url {
  margin-top: 2.142857142857143em;
}
.wa-set-password-form-wrapper .wa-field.wa-separator {
  height: 10px;
}
.wa-set-password-form-wrapper .wa-field.wa-required .wa-name:after {
  content: " *";
  color: #faa;
}
.wa-set-password-form-wrapper .wa-field .wa-value label {
  display: block;
}
