.p-app-sidebar .p-new-section .p-new-link {
  display: block;
  background: var(--accent-color);
  color: #fff;
  transition: background 200ms linear;
}
.p-app-sidebar .p-new-section .p-new-link:hover {
  background: var(--accent-color-hover);
}
.p-app-sidebar .p-sidebar-section .heading {
  cursor: default;
}
.p-app-sidebar .p-sidebar-section .heading .caret {
  display: inline-block;
}
.p-app-sidebar .p-sidebar-section.is-collapsed .heading .caret {
  transform: rotate(-90deg);
}
.p-app-sidebar .p-sidebar-section.is-collapsed > *:not(.heading) {
  display: none;
}
.p-app-sidebar .p-sidebar-section.with-divider:before {
  content: "";
  display: block;
  height: 0;
  margin: 0 1rem 1rem 1rem;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.p-app-sidebar .p-sidebar-section .menu > li > a .caret:hover,
.p-app-sidebar .p-sidebar-section .menu > li > a .action:hover {
  transform: scale(1.8);
  transition: all 300ms;
}
.p-app-sidebar .p-sidebar-section .menu > li > a .key-photo:hover {
  transform: scale(2);
  transition: all 300ms;
}
.p-app-sidebar .p-sidebar-section .menu > li > a .key-photo img {
  border-radius: 0.125rem;
}
.p-app-sidebar .p-sidebar-section .menu > li > a > span.caret {
  flex: 0 0 auto;
  margin-right: 0.4em;
  overflow: visible;
}
.p-app-sidebar .p-sidebar-section .menu > li.is-collapsed > a .caret {
  transform: rotate(-90deg);
}
.p-app-sidebar .p-sidebar-section .menu > li.is-collapsed > a .caret:hover {
  transform: scale(1.8) rotate(-90deg);
  transition: all 300ms;
}
.p-app-sidebar .p-sidebar-section .menu > li.is-collapsed > a > span.caret {
  flex: 0 0 auto;
  margin-right: 0.4em;
  overflow: visible;
}
.p-app-sidebar .p-sidebar-section .menu > li.is-collapsed > .menu {
  display: none;
}
.p-app-sidebar .p-sidebar-section .menu > li.drag-newparent {
  background-color: var(--menu-draginto-background-color);
}
.p-app-sidebar .p-sidebar-section .menu > li.ui-draggable.ui-draggable-dragging {
  background: var(--light-gray);
}
.p-app-sidebar .p-sidebar-section .menu > li.drag-newposition {
  height: 0.125rem;
}
.p-app-sidebar .p-sidebar-section .menu > li.drag-newposition.active {
  transition: all 300ms linear;
  min-height: 1.5rem;
  background-color: var(--menu-draginto-background-color);
}
aside {
  margin-top: 8rem;
}
#photo-stream .p-mini-stream {
  padding: 0 18px;
  list-style: none;
  position: relative;
}
#photo-stream .p-mini-stream li {
  margin: 0;
  padding: 0;
  padding-right: 7px;
}
#photo-stream .p-mini-stream li.stream-nav {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 16px;
  z-index: 1;
  cursor: pointer;
  text-align: center;
}
#photo-stream .p-mini-stream li.stream-nav.rewind {
  padding: 0;
  left: 0;
}
#photo-stream .p-mini-stream li.stream-nav.ff {
  right: 0;
  padding: 0;
}
#photo-stream .p-mini-stream li.stream-nav svg {
  color: #444;
}
#photo-stream .p-mini-stream li img {
  width: 48px;
  height: 48px;
  margin-bottom: 2px;
}
#photo-stream .p-mini-stream li.selected img {
  border: 0.25rem solid var(--thumbs-selected-color);
  border-radius: 0.25rem;
  box-sizing: border-box;
}
#photo-stream .p-mini-stream ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
#photo-stream .p-mini-stream .visible {
  display: block;
}
#cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}
#p-content #p-block .p-photo-header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#p-content #p-block .p-photo-header h1 .p-rate {
  font-size: 50%;
}
#p-content #p-block .p-photo-header h1 .p-rate .p-rate-clear {
  font-size: 87.5%;
}
#p-content #p-block .p-photo-h1-edit {
  font-size: 87.5%;
}
#p-content #p-block #album-thumbs-list li {
  text-align: center;
}
#p-content #p-block #photo-list li .p-image .p-image-corner {
  color: var(--white);
}
#p-content #p-block #photo-list[data-view="flex-thumbs"] {
  display: flex;
  flex-wrap: wrap;
}
#p-content #p-block #photo-list[data-view="flex-thumbs"] > li {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 2rem 0;
  margin: 0;
  line-height: 1.3;
  transition: all 500ms;
}
#p-content #p-block #photo-list[data-view="flex-thumbs"] > li .p-details {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 0.9375rem;
}
#p-content #p-block #photo-list[data-view="flex-thumbs"] > li .p-details strong {
  color: var(--text-color-strong);
}
#p-content #p-block #photo-list[data-view="flex-thumbs"] > li:not(.key-photo):hover .p-description .make-key-photo-link {
  display: inline-flex;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: var(--orange);
}
#p-content #p-block #photo-list[data-view="flex-thumbs"] > li.selected strong {
  color: var(--text-color-stronger);
}
#p-content #p-block #photo-list.li300px > li {
  width: 300px;
}
#p-content #p-block #photo-list.li300px > li .p-image {
  margin: 0 -2rem 0.5rem;
  align-self: center;
}
#p-content #p-block #photo-list.li300px > li.stacked img {
  position: relative;
  top: -0.25rem;
}
#p-content #p-block #photo-list.li300px > li.stacked .p-stack {
  background: var(--light-gray);
  height: 0.25rem;
  top: -0.25rem;
  position: relative;
  margin: 0 0.25rem;
  border-radius: 0 0 0.125rem 0.125rem;
}
#p-content #p-block #photo-list.p-descriptions {
  padding-left: 0;
}
#p-content #p-block .p-image {
  position: relative;
  display: inline-block;
  width: 100%;
}
#p-content #p-block .p-image .p-image-corner {
  position: absolute;
  z-index: 1;
  color: #fff;
  font-weight: bold;
}
#p-content #p-block .p-image .p-image-corner.top {
  top: 0.5rem;
}
#p-content #p-block .p-image .p-image-corner.left {
  left: 0.5rem;
}
#p-content #p-block .p-image .p-image-corner.right {
  right: 0.5rem;
}
#p-content #p-block .p-image .p-image-nav {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -48px;
  width: 96px;
  height: 96px;
  z-index: 100;
  cursor: pointer;
  background-color: rgba(255,255,255,0.6);
  border-radius: 0.5rem;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}
#p-content #p-block .p-image .p-image-nav.p-rewind {
  left: 20px;
  background-position: 0 0;
}
#p-content #p-block .p-image .p-image-nav.p-ff {
  right: 20px;
  background-position: -96px 0;
}
#p-content #p-block .p-image .p-image-nav:hover {
  opacity: 1;
}
#p-content #p-block .p-image.p-one-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#p-content #p-block .p-image.p-one-photo > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
#p-content #p-block .p-image.p-one-photo > a > img {
  height: 100%;
  width: auto !important;
  position: absolute;
  opacity: 0;
  transition: all 100ms linear;
}
#p-content #p-block .p-image.p-one-photo svg {
  color: #000;
}
#p-content #p-block .p-image .p-loupe-button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  overflow: hidden;
  background-color: rgba(255,255,255,0.6);
}
#p-content #p-block .p-description .make-key-photo-link {
  display: none;
}
#p-content #p-block .p-description textarea {
  margin: 0.25rem 0 0.5rem;
}
#p-content #p-block .p-descriptions li {
  width: 100%;
  flex-direction: row !important;
}
#p-content #p-block .p-descriptions li .p-image {
  width: auto;
}
#p-content #p-block .p-descriptions li .p-photo-details input {
  width: 100%;
  margin-bottom: 0.75rem;
}
#p-content #p-block .p-descriptions li .p-photo-details textarea {
  width: 100%;
}
.p-app-content #p-content #p-block .p-album-control {
  margin-bottom: 1rem;
}
.p-app-content #p-content #p-block .p-album-control .p-content-control > * {
  font-size: 0.75rem;
}
.p-app-content #p-content #p-block #photo-list li.key-photo .key-photo-icon {
  display: block;
  color: var(--orange);
}
.p-app-content #p-content #p-block #photo-list li .key-photo-icon {
  display: none;
}
.p-app-content #p-content #p-block #photo-list .p-details {
  text-align: left;
}
.p-app-content .p-image {
  position: relative;
  display: inline-block;
  width: 100%;
}
.p-app-content .p-image img {
  display: block;
  border-radius: 0.25rem;
  box-shadow: 0 1rem 2rem -0.25rem rgba(0,0,0,0.1), 0 0.5rem 1rem -0.75rem rgba(0,0,0,0.2);
  margin: 0;
  min-width: 150px;
  min-height: 50px;
}
.p-app-content .p-image img:not(#photo) {
  max-width: 100%;
}
.p-app-content .p-image .p-image-corner {
  position: absolute;
  z-index: 1;
  font-size: 1em;
  font-weight: bold;
  color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.p-app-content .p-image .p-image-corner.right {
  right: 3px;
}
.p-app-content .p-image .p-image-corner.left {
  left: 3px;
}
.p-app-content .p-image .p-image-corner.top {
  top: 3px;
}
.p-app-content .p-image .p-image-corner.top .p-private-photo {
  padding: 4px;
}
.p-app-content .p-details {
  margin-top: 0.625rem;
  text-align: center;
}
.p-app-content .p-details p {
  margin: 0;
}
.p-app-content .p-albums {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}
.p-app-content .p-albums li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  max-width: 192px;
  line-height: 1.3;
}
@media screen and (max-width: 760px) {
  .p-app-content .p-albums li {
    max-width: 128px;
  }
}
.p-app-content .p-albums li img {
  width: 192px;
  height: 192px;
}
@media screen and (max-width: 760px) {
  .p-app-content .p-albums li img {
    width: 128px;
    height: 128px;
  }
}
.p-app-content .p-albums.p-subalbums li {
  max-width: 96px;
}
.p-app-content .p-albums.p-subalbums li img {
  width: 96px;
  height: 96px;
  min-width: 96px;
  min-height: 96px;
}
#album-settings-dialog .dialog-body,
#album-create-dialog .dialog-body {
  width: 755px;
}
#set-rate .p-rate-photo {
  font-size: 2rem;
}
