{extends file='../backend/Backend.html'}
{block name="content"}
    {if $error}
        <div class="ui-error"><i class="icon16 error"></i>{$error}</div>
    {/if}
    <div class="sidebar left200px">
        <div class="i-plugin-list">
            <ul class="menu-v with-icons">
                 {foreach $apps as $app_id => $app}
                    {if !empty($app.current) && $app.enabled} {assign var=app_id value=$app.slug}
                        <li {if isset($slug)&&$slug==$app.slug && (!isset($vendor) || $vendor==$app.vendor)}class="selected"{/if}>
                            <a href="?module=themes&amp;slug={$app.slug}&amp;vendor={$app.vendor}">
                                 {if isset($app.downloadable)}
                                    <img style="height:16px;width:16px;top: 4px; left: 6px; position:absolute;"  src="{if $app.current}{if !empty($app.current.icon.16)}{"`$wa_url`wa-apps/`$app_id`/`$app.current.icon.16`"}{else}{"`$wa_url`wa-apps/`$app_id`/`$app.current.img`"}{/if}{elseif $app.img_cached}{"`$wa_url`wa-data/public/installer/images/`$app.img_cached`"}{else}{$app.img}{/if}" alt="">
                                 {else}
                                    <img style="height:16px;width:16px;top: 4px; left: 6px; position:absolute;"  src="{if $app.current}{if !empty($app.current.icon.16)}{"`$wa_url`wa-apps/`$app_id`/`$app.current.icon.16`"}{else}{"`$wa_url`wa-apps/`$app_id`/`$app.current.img`"}{/if}{elseif $app.img_cached}{$app.img_cached}{"`$wa_url`wa-data/public/installer/images/`$app.img_cached`"}{else}{$app.img}{/if}" alt="">
                                 {/if}
                                {$app.name|default:{$app.slug}|escape}
                                 {if isset($app.extras) && !empty($app.extras.themes)}
                                    <span class="count">{$app.extras.themes|count}</span>
                                 {/if}
                            </a>
                        </li>
                     {/if}
                 {foreachelse}
                    <li>
                        <br /><br />
                        <p class="align-center hint">[`No design theme enabled apps installed.`]</p>
                    </li>
                 {/foreach}
            </ul>
        </div>
    </div>
    <div class="content left200px" id="themes-list">
        {if  !empty($selected_app) && $selected_app}
            <div class="i-plugin-settings">
                <table class="i-plugins">
                    <tbody>
                        {if isset($selected_app.extras.themes)}
                            {foreach $selected_app.extras.themes as $theme_id => $theme}
                                <tr>
                                    <td class="i-plugin-name">
                                        <h5 title="{$theme_id|escape}">
                                            {if !empty($theme.img) || $theme.current}
                                                <img src="{if $theme.current}{if $theme.current.img}{"`$wa_url`wa-apps/`$theme.slug`/`$theme.current.img`"}{else}{"`$wa_url`wa-apps/`$theme.slug`/cover.png"}{/if}{elseif $theme.img_cached}{"`$wa_url`wa-data/public/installer/images/`$theme.img_cached`"}{else}{"`$wa_url`wa-apps/`$theme.slug`/cover.png"}{/if}" alt="">
                                                <br />
                                            {/if}
                                            {$theme.name|default:$theme_id|escape}
                                            {if !empty($theme.status_label)}
                                                <span class="highlighted i-plugin-label">{$theme.status_label}</span>
                                            {/if}
                                        </h5>
                                        {if !empty($theme.author)}<span class="hint">{$theme.author|escape}</span><br>{/if}
                                        <p class="small">{$theme.description|escape}</p>
                                    </td>
                                    <td>
                                        {if isset($theme.current) && $theme.current && $theme.enabled}
                                            <em class="i-plugin-installed">[`Installed`]
                                                <br>
                                                <span class="hint">{$theme.current.version}</span>
                                            </em>
                                        {elseif $theme.applicable}
                                            <a href="?module=update&amp;action=manager&amp;install=1&amp;app_id[{$theme.slug}]={$theme.vendor}" class="button green">[`Install`]</a>
                                        {else}
                                            <a href="#" title="[`App theme can not be installed`]" class="button grey">[`Install`]</a>
                                            {*<em class="i-app-installed">[`Design theme can not be installed`]</em>*}
                                        {/if}
                                    </td>
                                    <td class="min-width">
                                        {if  !$theme.system && !empty($theme.current)}
                                            <a class="i-app-delete" href="?module=themes&amp;action=remove&amp;extras_id[{$theme.slug}]={$theme.current.vendor|default:''}" onClick="return confirm(this.title);" title="[`This will delete this design theme templates and files without the ability to recover. Are you sure?`]">
                                                <i class="icon16 delete"></i>
                                                [`Delete`]
                                            </a>
                                        {/if}
                                    </td>
                                </tr>
                             {foreachelse}
                                <tr>
                                    <td>[`No design themes are available for this application.`]</td>
                                </tr>
                             {/foreach}
                        {else}

                            <tr>
                                <td>[`No design themes are available for this application.`]</td>
                            </tr>
                        {/if}
                    </tbody>
                </table>
                <div class="block double-padded align-center hint">
                    [`Design themes are downloaded from webasyst.com website and installed in a single click.`]
                </div>
                <div class="clear"></div>
            </div>
        {else}
            <div class="i-plugin-settings">
                <div class="block double-padded align-center hint">
                    [`Design themes are downloaded from webasyst.com website and installed in a single click.`]
                </div>
                <div class="clear"></div>
            </div>

        {/if}
    </div>
{/block}
