<form method="post" action="">
<input type="hidden" name="wa_auth_login" value="1" />
<h1{if !empty($title_style)} style="{$title_style}"{/if}>{$title|escape}</h1>
{if !empty($error)}
<div id="wa-login-error" class="error">{$error|escape}</div>
{elseif !empty($options.description)}
<div class="wa-login-description"><span>{_ws($options.description)}</span></div>
{else}
<div id="wa-login-error" class="error"></div>
{/if}
<div class="fields form">
    <div class="field">
        <div class="name">
        {if $options.login == 'email'}[s`Email`]{else}[s`Login`]{/if}:
        </div>
        <div class="value">
            <input type="text" class="wa-login-text-input" id="wa-login-input" value="{$login|escape}" name="login" />
        </div>
    </div>
    <div class="field">
        <div class="name">
            [s`Password`]:
        </div>
        <div class="value">
            <input type="password" class="wa-login-text-input" name="password" value="{if !empty($password)}{$password}{/if}" />
            {if $options.remember_enabled}
            <div class="wa-remember-me">
                <input id="remember-me" name="remember" type="checkbox" {if !empty($remember) || $wa->post('remember')}checked="checked" {/if} value="1" /> <label for="remember-me">[s`Remember me`]</label>
            </div>
            {else}
            <br><br>
            {/if}
        </div>
    </div>
    <div class="field">
        <div class="value submit">
            <input type="submit" value="[s`Sign In`]" class="button wa-login-submit" id="wa-login-submit">
            {if (!empty($back_on_cancel))}
                [s`or`]
                <a class="wa-logincancel" href="{$back_on_cancel}">[s`cancel`]</a>
            {/if}
            <a href="?forgotpassword" class="wa-forgotpassword">[s`Forgot password?`]</a>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
$(function() {
    // When user clicks "forgot password" link, send email (if already typed in)
    // to show on the next form by default.
    $('.wa-forgotpassword').click(function() {
        var val = $('#wa-login-input').val();
        if (!val) {
            return true;
        }
        var form = $('<form action="'+$(this).attr('href')+'" method="POST">'+
                        '<input type="hidden" name="ignore" value="1">'+
                        '<input type="hidden" name="login" value="">'+
                     '</form>');
        form.find('[name="login"]').val(val);
        form.appendTo('body');
        form.submit();
        return false;
    });
});
</script>