#i-themes-color li .i-check-icon {
  display: none;
}
#i-themes-color li .i-close-icon {
  display: none;
}
#i-themes-color li.selected:hover .i-check-icon {
  display: none;
}
#i-themes-color li.selected:hover .i-close-icon {
  display: block;
}
#i-themes-color li.selected .i-check-icon {
  display: block;
}
#i-themes-color li.selected .i-close-icon {
  display: none;
}
#i-themes-color .i-style-color {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 5px solid var(--white);
  box-shadow: inset 0 0 0 1px var(--light-gray);
  transition: 0.3s;
  transition-property: border-color, background-color;
}
#i-themes-color .i-style-color:hover {
  border-color: var(--light-gray);
}
#i-themes-color .i-style-color_black {
  background-color: var(--black);
}
#i-themes-color .i-style-color_gray {
  background-color: var(--gray);
}
#i-themes-color .i-style-color_white {
  background-color: var(--white);
}
#i-themes-color .i-style-color_green {
  background-color: var(--green);
}
#i-themes-color .i-style-color_yellow {
  background-color: var(--yellow);
}
#i-themes-color .i-style-color_orange {
  background-color: var(--orange);
}
#i-themes-color .i-style-color_brown {
  background-color: var(--brown);
}
#i-themes-color .i-style-color_red {
  background-color: var(--red);
}
#i-themes-color .i-style-color_purple {
  background-color: var(--purple);
}
#i-themes-color .i-style-color_blue {
  background-color: var(--blue);
}
#i-themes-color .i-style-color_aquamarine {
  background-color: #00d3c0;
}
#i-themes-color .i-style-color_any {
  background: url("../img/icons/gradient-sprite.png") no-repeat -7px -7px;
  background-size: 48px auto;
}
#i-themes-color .i-style-color-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.i-selected-icon {
  display: none;
}
.selected .i-selected-icon {
  display: block;
}
.i-assets-col-icon {
  width: 48px;
}
.i-assets-color-blue {
  color: var(--blue);
}
@media (max-width: 760px) {
  .i-assets-list thead {
    display: none;
  }
  .i-assets-list tr {
    display: grid;
    grid-template-columns: 1fr max-content;
    border-top: 1px solid var(--border-color-soft);
  }
  .i-assets-list td {
    border-bottom: none;
  }
  .i-assets-list td:nth-child(1) {
    display: none;
  }
  .i-assets-list td:nth-child(3) {
    text-align: right;
  }
  .i-assets-list td:nth-child(4) {
    grid-column: 1/-1;
    text-align: center;
  }
}
.i-assets-spinner {
  animation: iAssetsSpinner 1.8s linear infinite;
}
.js-installer-assets-spinner {
  display: none;
}
.js-installer-assets-spinner.-active {
  display: inline-block;
}
@-moz-keyframes iAssetsSpinner {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes iAssetsSpinner {
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes iAssetsSpinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes iAssetsSpinner {
  to {
    transform: rotate(360deg);
  }
}
.i-reviews {
  position: relative;
}
.i-reviews h1 {
  margin: 1.5rem;
  font-size: 2.286rem;
}
.i-reviews .i-reviews-filter {
  display: flex;
  margin: 1.8rem;
  justify-content: flex-start;
}
.i-reviews .i-reviews-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
  grid-gap: 20px;
  position: relative;
  margin: 1.8rem 0;
}
.i-reviews .i-reviews-list.rated {
  display: block;
}
.i-reviews .i-reviews-list .i-product-review-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--background-color-blank);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,0.13), 0 0 3px 0 rgba(40,40,80,0.1);
  transition: box-shadow linear var(--timing-fast);
}
[data-theme="dark"] .i-reviews .i-reviews-list .i-product-review-block {
  box-shadow: 0 0.5rem 2rem -1rem var(--dialog-shadow-color);
}
.i-reviews .i-reviews-list .i-product-review-block.rated {
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: none;
}
.i-reviews .i-reviews-list .i-product-review-block.rated:hover {
  box-shadow: none !important;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-icon {
  min-width: 195px;
  align-self: flex-start;
  align-items: flex-start;
  height: auto;
  margin: 0 1rem 0 0;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-product-review-support {
  border: 0 none;
  padding: 0;
  margin-bottom: 1rem;
  width: auto;
  flex-direction: row;
  height: 1.2rem;
  justify-content: flex-start;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-product-review-support span {
  margin-left: 0.5rem;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-rates-list {
  margin: 0;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-product-reviewer-info {
  margin: 1.5rem 0 0 0;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-product-reviewer-info .i {
  margin-right: 0.5rem;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-product-reviewer-info .user {
  margin-right: 0.5rem;
  font-weight: 600;
  color: #555;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-product-reviewer-info .review_date {
  margin-right: 1.5rem;
  color: #aaa;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-product-reviewer-info .review_change {
  margin: 0;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-product-reviewer-info .review_rating {
  margin-left: auto;
}
.i-reviews .i-reviews-list .i-product-review-block.rated .i-product-review-desc .i-product-review {
  display: block;
  margin: 0.5rem 0 0 1.25rem;
  color: #777;
  white-space: pre;
  line-height: 1.3rem;
}
.i-reviews .i-reviews-list .i-product-review-block.loader-pulse {
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.07);
  border-radius: 5px;
  align-items: center;
}
[data-theme="dark"] .i-reviews .i-reviews-list .i-product-review-block.loader-pulse {
  border-color: rgba(255,255,255,0.07);
}
.i-reviews .i-reviews-list .i-product-review-block.loader-pulse .i-product-review-title {
  width: 80%;
  height: 20px;
  margin-bottom: 1rem;
}
.i-reviews .i-reviews-list .i-product-review-block.loader-pulse .i-rates-list {
  margin-bottom: 3rem;
  display: flex;
  width: 60%;
  height: 20px;
  justify-content: space-around;
}
.i-reviews .i-reviews-list .i-product-review-block.loader-pulse .i-rates-list > span {
  color: rgba(0,0,0,0.05);
}
[data-theme="dark"] .i-reviews .i-reviews-list .i-product-review-block.loader-pulse .i-rates-list > span {
  filter: invert(1);
}
.i-reviews .i-reviews-list .i-product-review-block.loader-pulse .i-product-review-support {
  width: 100%;
  height: 20px;
}
.i-reviews .i-reviews-list .i-product-review-block.loader-pulse > span {
  background: rgba(0,0,0,0.05);
  border-radius: 5px;
}
.i-reviews .i-reviews-list .i-product-review-block.loader-pulse:hover {
  box-shadow: none !important;
}
.i-reviews .i-reviews-list .i-product-review-icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  margin-bottom: 0.72rem;
}
.i-reviews .i-reviews-list .i-product-review-icon img {
  max-width: 268px;
  height: auto;
  max-height: 120px;
}
.i-reviews .i-reviews-list .i-product-review-icon img.border {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}
.i-reviews .i-reviews-list .i-product-review-icon img.size-limit {
  max-width: 96px;
}
.i-reviews .i-reviews-list .i-product-review-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.i-reviews .i-reviews-list .i-product-review-desc .i-product-review-title {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.286rem;
}
.i-reviews .i-reviews-list .i-product-review-desc .i-rates-list {
  position: relative;
  margin-bottom: 0.5rem;
}
.i-reviews .i-reviews-list .i-product-review-desc .i-rates-list::after {
  content: '';
  width: 160px;
  height: 30px;
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0px, var(--background-color-blank) 25px, rgba(255,255,255,0) 80px);
  background-size: 600px;
  animation: shine-lines 5s infinite linear;
  position: absolute;
  top: 0;
  left: 0;
}
.i-reviews .i-reviews-list .i-product-review-desc .i-rates-list:hover::after {
  animation: none;
  z-index: -1;
}
.i-reviews .i-reviews-list .i-product-review-desc .i-rates-list > span {
  color: var(--light-gray);
}
.i-reviews .i-reviews-list .i-product-review-desc .i-rates-list > span.is-active {
  color: var(--yellow);
}
.i-reviews .i-reviews-list .i-product-review-desc .i-rates-list svg {
  width: 1.5rem;
  height: 1.5rem;
}
.i-reviews .i-reviews-list .i-product-review-desc .i-product-review-support {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--gray);
  font-size: 0.875rem;
  border-top: 1px solid var(--border-color-soft);
  padding: 1rem 1rem 0;
  margin-top: 1rem;
}
.i-reviews .i-reviews-list .i-product-review-desc .i-product-review-support:hover span {
  color: var(--red);
}
.i-reviews .i-reviews-list .i-product-review-desc .i-product-review-support span {
  color: var(--text-color-link);
}
.i-reviews .i-reviews-list .i-product-review-desc .i-product-reviewer-info,
.i-reviews .i-reviews-list .i-product-review-desc .i-product-review {
  display: none;
}
.i-reviews .i-loading-wrapper {
  position: absolute;
  top: 200px;
  left: calc(50% - 50px);
  opacity: 0.5;
  width: 100px;
  height: 100px;
  background: url("../img/icons/spinner.gif") no-repeat;
  background-size: 100px 100px !important;
  cursor: default;
}
.i-reviews .i-loading-wrapper.pulsed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
  grid-gap: 20px;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: none;
}
.i-reviews .hidden {
  display: none !important;
}
.i-reviews .border-no-color {
  border-color: transparent !important;
}
.i-reviews .overlay {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 5;
  background: #fff !important;
}
.loader-pulse {
  animation: loader-keyframes-pulse var(--timing--slowest) ease-in-out var(--timing-default) infinite;
}
@-moz-keyframes loader-keyframes-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loader-keyframes-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes loader-keyframes-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-keyframes-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.i-rates-list {
  white-space: nowrap;
  font-size: 22px;
  display: flex;
  align-items: flex-end;
}
.i-rates-list .i-rate {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  cursor: pointer;
  color: #a6a6a7;
}
.i-rates-list .i-rate:last-child {
  margin-right: 0;
}
.i-rates-list .i-rate.is-active {
  color: #07f;
}
.i-rates-list .gray {
  font-size: 14px;
}
.i-product-rate-section {
  margin: 2px 0;
  text-align: center;
}
.i-product-rate-section .i-rates-list {
  display: inline-block;
  vertical-align: top;
}
.i-product-rate-section .i-auth-information {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 1.214285714285714em;
  color: #999;
}
.i-product-rate-section .i-auth-information a {
  display: inline-block;
}
.i-product-review-dialog {
  font-size: 14px;
  line-height: 1.214285714285714em;
  color: #555;
}
.i-product-review-dialog .i-content-title {
  margin: 0 0 20px;
  font-size: 26px;
  line-height: 1.2em;
  color: #000;
}
.i-product-review-dialog .i-comment-section .i-description {
  margin: 25px 0 0;
}
.i-product-review-dialog .i-comment-section .i-comment-field {
  display: block;
  margin: 10px 0 0;
  width: 100%;
  height: 120px;
  padding: 0.5em;
  resize: none;
  background: #f0f0f0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
}
.i-product-review-dialog .i-errors-place {
  margin: 25px 0 0;
}
.i-product-review-dialog .i-errors-place .i-error {
  font-size: 12px;
  line-height: 1.166666666666667em;
  color: #f00;
}
.i-product-review-dialog .i-actions {
  margin: 25px 0 0;
}
.i-product-review-dialog .i-confirm-text {
  font-size: 18px;
  line-height: 1.2em;
  color: #000;
}
.i-product-review-dialog .i-comment-user {
  margin: 25px 0 0;
  display: flex;
  align-items: end;
}
.i-product-review-dialog .i-comment-user .user {
  margin: 0 10px;
}
#wa-plugins-content .i-product-widget-block.wa-dialog-inline {
  margin: 50px auto 0 auto;
}
#wa-plugins-content .i-skeleton-wrapper > .i-product-review-block {
  margin: 50px auto 0 auto;
}
.insidebar-wrapper .i-product-widget-block {
  width: 250px !important;
}
.insidebar-wrapper .i-product-widget-block .wa-dialog-body-inline {
  width: 250px !important;
}
.insidebar-wrapper .i-product-widget-block .wa-dialog-body-inline .wa-dialog-content-inline .i-product-icon {
  width: calc(250px - 1rem * 2);
}
.i-product-widget-block {
  width: 300px !important;
  height: auto;
  top: auto;
  left: auto;
  bottom: 15px !important;
  right: 15px !important;
  margin: 0 auto;
  box-shadow: 0 0.5rem 2rem -1rem var(--dialog-shadow-color);
  background: var(--background-color-blank);
  border-radius: 0.5rem;
}
.i-product-widget-block .wa-dialog-body {
  top: auto !important;
  left: auto !important;
  right: 15px !important;
  bottom: 15px !important;
  max-width: 100%;
  box-shadow: 0 5px 13px 0 rgba(0,0,0,0.13), 0 10px 25px 0 rgba(40,40,80,0.1);
}
.i-product-widget-block .wa-dialog-body-inline {
  box-shadow: 0 3px 7px 0 rgba(0,0,0,0.13), 0 0 3px 0 rgba(40,40,80,0.1);
  border-radius: 5px;
}
.i-product-widget-block .wa-dialog-body-inline .wa-close-icon {
  display: none;
}
.i-product-widget-block .wa-dialog-body,
.i-product-widget-block .wa-dialog-body-inline {
  display: flex;
  flex-direction: column;
  width: 300px !important;
}
.i-product-widget-block .wa-dialog-content,
.i-product-widget-block .wa-dialog-content-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem !important;
}
.i-product-widget-block .wa-dialog-content .i-product-icon,
.i-product-widget-block .wa-dialog-content-inline .i-product-icon {
  margin-bottom: 0.72rem;
  display: flex;
  width: 268px;
  height: 140px;
  justify-content: center;
  align-items: center;
}
.i-product-widget-block .wa-dialog-content .i-product-icon img,
.i-product-widget-block .wa-dialog-content-inline .i-product-icon img {
  max-width: 268px;
  max-height: 120px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}
.i-product-widget-block .wa-dialog-content .i-product-icon img.app,
.i-product-widget-block .wa-dialog-content-inline .i-product-icon img.app {
  border: 0 none;
}
.i-product-widget-block .wa-dialog-content .i-product-name,
.i-product-widget-block .wa-dialog-content-inline .i-product-name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.286rem;
  display: flex;
  flex-direction: column;
  line-height: 1.38;
}
.i-product-widget-block .wa-dialog-content .i-rates-list,
.i-product-widget-block .wa-dialog-content-inline .i-rates-list {
  margin-bottom: 0.5rem;
  position: relative;
}
.i-product-widget-block .wa-dialog-content .i-rates-list::after,
.i-product-widget-block .wa-dialog-content-inline .i-rates-list::after {
  content: '';
  width: 160px;
  height: 30px;
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0px, var(--background-color-blank) 25px, rgba(255,255,255,0) 80px);
  background-size: 600px;
  animation: shine-lines 5s infinite linear;
  position: absolute;
  top: 0;
  left: 0;
}
.i-product-widget-block .wa-dialog-content .i-rates-list:hover::after,
.i-product-widget-block .wa-dialog-content-inline .i-rates-list:hover::after {
  animation: none;
  z-index: -1;
}
.i-product-widget-block .wa-dialog-content .i-rates-list .i-rate,
.i-product-widget-block .wa-dialog-content-inline .i-rates-list .i-rate {
  color: var(--light-gray);
}
.i-product-widget-block .wa-dialog-content .i-rates-list .i-rate.is-active,
.i-product-widget-block .wa-dialog-content-inline .i-rates-list .i-rate.is-active {
  color: var(--yellow);
}
.i-product-widget-block .wa-dialog-content .i-rates-list .i-rate svg,
.i-product-widget-block .wa-dialog-content-inline .i-rates-list .i-rate svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.i-product-widget-block .wa-dialog-footer,
.i-product-widget-block .wa-dialog-footer-inline {
  border-top: 1px solid var(--border-color-soft);
  padding: 1rem !important;
}
.i-product-widget-block .wa-dialog-footer a,
.i-product-widget-block .wa-dialog-footer-inline a {
  color: var(--gray);
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.38;
}
.i-product-widget-block .wa-dialog-footer a span,
.i-product-widget-block .wa-dialog-footer-inline a span {
  color: var(--text-color-link);
}
.i-product-widget-block .wa-dialog-footer a:hover,
.i-product-widget-block .wa-dialog-footer-inline a:hover {
  color: var(--gray) !important;
}
.i-product-widget-block .wa-dialog-footer a:hover span,
.i-product-widget-block .wa-dialog-footer-inline a:hover span {
  color: var(--text-color-link-hover);
}
@-moz-keyframes shine-lines {
  0% {
    background-position: -160px;
  }
  25%, 100% {
    background-position: 200px;
  }
}
@-webkit-keyframes shine-lines {
  0% {
    background-position: -160px;
  }
  25%, 100% {
    background-position: 200px;
  }
}
@-o-keyframes shine-lines {
  0% {
    background-position: -160px;
  }
  25%, 100% {
    background-position: 200px;
  }
}
@keyframes shine-lines {
  0% {
    background-position: -160px;
  }
  25%, 100% {
    background-position: 200px;
  }
}
.i-skeleton-wrapper.pulsed {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: default;
}
.i-skeleton-wrapper.pulsed .i-product-review-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 300px !important;
  background-color: var(--background-color-blank);
  border: 1px solid rgba(0,0,0,0.07);
  border-radius: 5px;
  padding: 1.5rem;
}
[data-theme="dark"] .i-skeleton-wrapper.pulsed .i-product-review-block {
  border-color: rgba(255,255,255,0.07);
}
.i-skeleton-wrapper.pulsed .i-product-review-block .i-product-review-title {
  width: 80%;
  height: 20px;
  margin-bottom: 1rem;
}
.i-skeleton-wrapper.pulsed .i-product-review-block .i-rates-list {
  margin-bottom: 3rem;
  display: flex !important;
  width: 60%;
  height: 20px;
  justify-content: space-around;
}
.i-skeleton-wrapper.pulsed .i-product-review-block .i-rates-list > span {
  color: rgba(0,0,0,0.05);
}
[data-theme="dark"] .i-skeleton-wrapper.pulsed .i-product-review-block .i-rates-list > span {
  filter: invert(1);
}
.i-skeleton-wrapper.pulsed .i-product-review-block .i-rates-list svg {
  width: 1.5rem;
  height: 1.5rem;
}
.i-skeleton-wrapper.pulsed .i-product-review-block .i-product-review-support {
  width: 100%;
  height: 20px;
}
.i-skeleton-wrapper.pulsed .i-product-review-block > span {
  background: rgba(0,0,0,0.05);
  border-radius: 5px;
}
.i-skeleton-wrapper.pulsed .i-product-review-block:hover {
  box-shadow: none !important;
}
.i-skeleton-wrapper.pulsed .i-product-review-block .i-product-review-icon {
  width: 206px;
  height: 110px;
  align-self: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-skeleton-wrapper.pulsed .i-product-review-block .i-product-review-icon img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.i-skeleton-wrapper.pulsed .i-product-review-block .i-product-review-icon img.border {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}
.i-skeleton-wrapper.pulsed .i-product-review-block .i-product-review-icon img.size-limit {
  max-width: 96px;
}
@media (max-width: 760px) {
  .installer-update__table thead {
    display: none;
  }
  .installer-update__table tr {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--border-color-soft);
  }
  .installer-update__table tr.installer-update__table-tr {
    border-top-width: 3px;
  }
  .installer-update__table td {
    display: block;
    border-bottom: none;
  }
  .installer-update__table td:empty {
    display: none;
  }
  .installer-update__table td:nth-child(3),
  .installer-update__table td:nth-child(4) {
    width: 100%;
  }
  .installer-update__table td:nth-child(4) {
    display: flex;
    justify-content: center;
  }
  .installer-update__table td.installer-update__table-hidden {
    display: none;
  }
  .installer-update__table td.i-update-name {
    align-self: center;
  }
}
