#wa { background: #fff; }

#wa-app { padding-top: 13px; margin-top: -13px; } /* lift up a bit for a nice shadow*/
.i-white-core-content { background: #fff;}
.i-sidebar { padding-top: 25px; }
.i-content { border: 1px solid #ccc;-moz-box-shadow: 0px 1px 15px #bbb; -webkit-box-shadow: 0px 1px 15px #bbb;box-shadow: 0px 1px 15px #bbb; margin: 15px; background: #f7f7f7; }
.i-app-update-screen { background: #fff; }
.i-app-update-screen h3 { margin-bottom: 10px; }
.i-app-update-screen p { margin-bottom: 4px; }
.i-app-update-screen p span { color: #aaa; margin-right: 5px;  }
.i-app-update-screen .error { color: red; }
.i-app-update-screen .success { color: green; }
.i-app-update-screen .in-progress { color: gray; }
.i-app-update-screen .i-app-name { background: #f3f3f3; padding: 0 4px; color: #888; }
.i-app-update-result { margin: 20px 0; }

table.i-apps { margin: 0; border: 0; width: 100%;}
table.i-apps td { padding: 25px; vertical-align: middle; border-top: 0; text-align: center; background: #fff; border-bottom: 1px solid #ddd;}
table.i-apps td.i-app-icon { width: 1%; }
table.i-apps td.i-app-icon, table.i-apps td.i-app-name { vertical-align: top; text-align: left; }
table.i-apps td.i-app-name { padding-left: 0; }
table.i-apps td.i-app-name h5 { font-size: 1.2em; margin: 0; }
table.i-apps td.i-app-name p { margin-top: 10px; margin-bottom: 0; }
table.i-apps .i-app-label { font-size: 0.7em; padding: 1px 3px; color: #555; font-style: italic; }

.i-app-page { background: #fff; padding-top: 20px; }
.i-app-page .profile .image { width: 65px; }
.i-app-page .profile .image img { margin-left: 5px; }
.i-app-page .profile .details { margin-left: 65px; }
.i-app-page ul, .i-app-page ol { padding-left: 33px; }

.i-app-installed { display: block; padding: 1px 3px; }
.i-app-delete { display: block; text-decoration: none; font-size: 0.8em; }
.i-app-delete i.icon16 { margin-top: -0.35em; }
.i-apps .i-app-delete { margin-top: 15px; }

table.i-plugins { margin: 0; border: 0; width: 100%;}
table.i-plugins td { padding: 25px; vertical-align: middle; border-top: 0; text-align: center; background: #fff; border-bottom: 1px solid #ddd;}
table.i-plugins td.i-plugin-name { vertical-align: top; text-align: left; }
table.i-plugins td.i-plugin-name h5 { font-size: 1.1em; margin: 0; }
table.i-plugins td.i-plugin-name p { margin-top: 10px; margin-bottom: 0; }
table.i-plugins .i-plugin-label { font-size: 0.7em; padding: 1px 3px; color: #555; font-style: italic; }

table.zebra.i-updates { margin-bottom: 0; }
table.zebra.i-updates tr.i-top-extra-row td { background: #f7f7f7; padding-top: 20px; padding-bottom: 15px; }
table.zebra.i-updates tr.i-app-framework td { height: 48px; /* because of absent icon */ }
table.zebra.i-updates td.i-update-column a { display: inline; text-decoration: underline; }
table.zebra.i-updates td input { font-size: 0.9em; }

.i-message-success { border-bottom: 1px solid #ccc; background: #dfd; font-weight: bold; }
.i-message-fail { border-bottom: 1px solid #ccc; background: #fdd; font-weight: bold; }

.i-fixed-body #wa { position: absolute; top:0; bottom: 0; left:0; right: 0; overflow: hidden;}
.i-fixed-body .i-content { position: absolute; top:80px; left:200px; right: 0; bottom: 0;  overflow: hidden; }
.i-fixed-body .i-app-update-screen { height: 100%; overflow: auto;}

.i-requirement-warning { color: red; }

.i-plugin-list ul.menu-v.with-icons li { margin: 3px 3px 5px -1px; }
.i-plugin-list ul.menu-v.with-icons li a { padding-left: 26px; padding-top: 7px; padding-bottom: 7px; }
.i-plugin-list .i-app16x16icon-menu-v { width: 16px; height: 16px; left:6px; position:absolute; top:4px; }
.i-plugin-settings { border-left: 1px solid #ccc; background: #fff; }

#update-result-apps ul { list-style-type: none; padding-left: 0; margin: 0; }
#update-result-apps ul li { display:inline-block; width: 75px; text-align: center; vertical-align: top; position:relative; }
#update-result-apps ul li a { display: block; font-size: 11px; line-height: 1.05em; text-align: center; text-decoration: none; color: #555; padding-bottom: 13px; }
#update-result-apps ul li a:hover { color: #ee2200; }
#update-result-apps ul li a .indicator { position: absolute; top: 0px; right: 3px; background: #f00; }
#update-result-apps ul li a img { border: 0; display: block; margin: 0 auto 5px; width: 48px; height: 48px; }

#installer-cache-state { display:inline;margin-left:10px;}

.i-app-icon img { max-width: 48px; max-height: 48px; }
