<!-- {if isset($theme) && $theme}
{if isset($selected_app)}{assign var='current_app_id' value=$selected_app.id}{else}{assign var='current_app_id' value=$theme.app}{/if}
{if !isset($theme_slug)}{assign var=theme_slug value="`$current_app_id`/themes/`$theme.id`"}{/if}
--><tr id="theme_container_{$theme_slug|escape:'url'}" class="s-theme-type-{$theme.type}">
	<td>
		{if isset($apps)}
		{assign var=app value=$apps[$current_app_id]}
		{/if}
		{if isset($app)}
		<img class="s-app48x48icon-menu-v"  src="{"`$wa_url``$app.icon.48`"}" alt="{$app.name|default:$app.id|escape}">
		{/if}
	</td>
	<td class="s-theme-name">
		<h5>
			<span id="theme_name_{$theme_slug|escape:'url'}">{$theme.name|escape}</span>
		</h5>
<!-- {if isset($theme.used) && ($theme.used) }{foreach from=$theme.used item=used}{if $used.type eq 'desktop'} -->
			<a href="{$used.preview|escape}" class="highlighted s-theme-yellow-label" target="_blank" title="[`Used on`] {"`$used.domain`/`$used.url`"}">
				{$used.domain}{if $used.url}/{$used.url|replace:'*':''|escape}{/if}
				<i class="icon10 new-window"><!-- icon --></i>
			</a>
			<br>
<!-- {/if}{/foreach}{/if} -->

		<span class="{if $theme.type eq 'original'}hint{else}small{/if}"><strong id="theme_source_{$theme_slug|escape:'url'}">{$theme.custom|default:$theme.original}</strong></span><br>
		<span class="hint">[`Theme updated`] {$theme.mtime|wa_datetime:"humandatetime"}</span>
<!-- {*
							{$theme|print_r|escape}
*}-->
	</td>
	<td>
	{*
<!-- {if (!isset($theme.used) || !$theme.used)} -->
		<i class="icon16 yes"><!-- icon --></i><a href='?{"domain_id=`$domain_id`#/routing/route=`$current_app_id`"}'>[`Apply`]</a>
<!-- {else} -->
		&nbsp;
<!-- {/if} -->
    *}
	</td>
	<td>
		<i class="icon16 download"><!-- icon --></i><a href="?module=themes&amp;action=download&amp;slug={$theme_slug|escape:'url'}/">[`Download`]</a>
	</td>						
	<td>
		<ul class="menu-h dropdown">
			<li>
				<a href="#/themes/slug={$current_app_id}/" class="hint inline-link">
					<b><i>[`more`]</i></b><i class="icon10 darr"><!-- icon --></i>
				</a>
				<ul class="menu-v">
					<li>
						<a href="#/themes/slug={$current_app_id}/" class="js-site-theme" id="rename%2F{$theme_slug|escape:'url'}">
							<i class="icon16 edit"><!-- icon --></i>
							[`Rename`]
						</a>
					</li>
					<li>
						<a href="#/themes/slug={$current_app_id}/" class="js-site-theme" id="copy%2F{$theme_slug|escape:'url'}">
							<i class="icon16 plus"><!-- icon --></i>
							[`Duplicate theme`]
						</a>
					</li>
<!-- {if $theme.type eq 'overridden' } -->
					<li>
						<a href="#/themes/slug={$current_app_id}/" class="js-site-theme" id="brush%2F{$theme_slug|escape:'url'}" title="[`All themes files will be deleted permanently without the ability to recover. Are you sure?`]">
							<i class="icon16 broom"><!-- icon --></i>
							[`Reset theme`]<br>
							<span class="hint">[`rollback to the original theme`] "{$theme.name|escape}"</span>
						</a>
					</li>
<!-- {/if}{if ($theme.type eq 'custom')} -->
					<li>
						<a href="#/themes/slug={$current_app_id}/" class="js-site-theme" id="purge%2F{$theme_slug|escape:'url'}" title="[`This will permanently delete theme without the ability to recover. Are you sure?`]">
							<i class="icon16 delete" title="[`Delete theme`]"><!-- icon --></i>
							[`Delete`]
						</a>
					</li>
<!-- {/if} -->
				</ul>
			</li>
		</ul>
	</td>
</tr>
<!-- {else} -->
<!-- No theme data -->
<!-- {/if} -->