.wa-design { margin-bottom: 80px; }

.wa-editor-core-wrapper { background: white; }
.wa-design-gray-toolbar { background: #eee; padding-left: 15px; padding-top: 13px; padding-bottom: 13px; }
.wa-design-gray-toolbar h4 { font-size: 1.3em; margin-bottom: 0; }
.wa-design-save-panel { position: fixed; bottom: 0; left: 0; right: 0; background: #eee; padding-left: 420px; z-index: 1}

.wa-app-block { margin: 0; padding: 15px 15px 5px 42px;}
.wa-app-block span.hint { white-space: nowrap;}
.wa-app-block h2.short-header { line-height: 0.9em; vertical-align: top; min-width: 166px; font-weight: normal; font-size: 1.3em; }
.wa-app-block h2.short-header img { float: left; margin: -5px 7px 0 -32px; width: 24px; height: 24px; vertical-align: middle;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}
.wa-app-block h2.short-header .hint { font-size: 0.66em; }

.wa-dropdown { float: right; margin: 5px 20px 0 0; }
.wa-dropdown .wa-dropdown-content { padding: 20px;  width: auto; width: 760px;  min-height: 180px; max-height: 310px; overflow: auto; overflow-x: hidden;}
.wa-dropdown .wa-dropdown-content .field .name .inline-link b i { font-weight: bold; }
.wa-dropdown .wa-dropdown-content .field .name { width: 340px; }
.wa-dropdown .wa-dropdown-content .field .value { margin-left: 350px; }
.wa-dropdown .wa-dropdown-content .field.subfield .name { margin-left: 20px; }
.wa-dropdown .wa-dropdown-content .field.subfield .name .inline-link b i { font-weight: normal; font-size: 0.9em; }
.wa-dropdown .wa-drop-link { position: relative; padding: 6px 0 0 ; display: block;}
.wa-dropdown .wa-dropdown-block { display: none; position: absolute; bottom:1.4em; right:0; background: #F3F3F3; border: 2px solid #AAAAAA; box-shadow: 0 2px 10px #777; -webkit-box-shadow: 0 2px 10px #777; -moz-box-shadow: 0 2px 10px #777; -o-box-shadow: 0 2px 10px #777; z-index: 100;}
.wa-dropdown ul.tabs { height: 45px; padding-top: 6px; }
.wa-dropdown ul.tabs li.selected a { background: #fff;}
.wa-dropdown ul.tabs li.no-tab { min-width: 70px;}
.wa-dropdown ul.tabs li a { position: relative; padding:5px 15px 8px; height: 30px;}
.wa-dropdown ul.tabs li.no-tab { padding:4px 0.8em 0 40px;}
.wa-dropdown ul.tabs li.no-tab .hint { font-weight: bold;}
.wa-dropdown ul.tabs li.no-tab p { margin: 0 ; line-height: 16px; white-space: nowrap;}
.wa-dropdown ul.tabs li.no-tab img { float: left; vertical-align: top; margin:2px 0 0 -32px; width: 24px; height: 24px; }
.wa-dropdown .field .name { word-wrap: break-word; }

li.error a { color: red; }

.wa-themes { background: url(../../img/cloth-background-light.jpg); box-shadow: 0 6px 10px -5px #777 inset; min-height: 500px; }
.wa-themes ul.thumbs { padding: 25px 20px; margin-top: 0; }
.wa-themes ul.thumbs li { text-align: center; margin-right: 5px; }
.wa-themes ul.thumbs li a h5 { color: #000; margin-bottom: 10px; }
.wa-themes ul.thumbs li a .wa-theme-cover { width: 200px; height: 220px; overflow: hidden; box-shadow: 0 2px 9px #777; margin: 0 auto 10px; background: #fff; position: relative; }
.wa-themes ul.thumbs li a .wa-theme-cover .wa-in-use-badge { position: absolute; left: -12px; right: -12px; bottom: 0; margin-top: -10px; background: #5a4; color: #fff; font-style: italic; padding: 8px; font-weight: bold; }
.wa-themes ul.thumbs li a .wa-theme-cover span.hint { margin-top: 100px; display: block; }
.wa-themes ul.thumbs li a:hover .wa-theme-cover { box-shadow: 0 4px 13px #666; }
.wa-themes ul.thumbs li i.icon10 { display: none; }
.wa-themes ul.thumbs li:hover i.icon10 { display: inline-block; position: absolute; display: none\9; }
.wa-themes ul.thumbs li strong { padding: 2px 4px 1px; color: #000; background: #ffb; }
.wa-themes ul.thumbs li h5.wa-theme-name { font-size: 1.1em; }
.wa-themes ul.thumbs li .wa-theme-installed { color: #008000; display: inline-block; margin-left: -4px; padding: 2px 7px; }
.wa-themes ul.thumbs li .wa-theme-installed i.icon10 { position: static; display: inline-block !important; }
.wa-themes ul.thumbs li .wa-theme-not-in-use { color: #777; }
.wa-themes .wa-price { color: #777; font-weight: bold; }
.wa-themes .wa-price.free { color: green; }

h5.wa-themes-group { padding-top: 20px; margin-left: 20px; text-transform: uppercase; color: #777; }
.wa-themes-installed { background: rgba(0,0,0,0.15); }
.wa-themes-from-the-store { border-top: 2px dotted rgba(0,0,0,0.15); }

.wa-theme-image-select { padding-left: 0; margin-top: 0; }
.wa-theme-image-select li { list-style: none; display: inline-block; float: left\9; margin: 0 0 5px 0; padding: 0; }
.wa-theme-image-select a { display: block; max-height: 70px; max-width: 70px; overflow: hidden; border: 4px solid #fff; }
.wa-theme-image-select li.selected a { border-color: #FDDA3B; border-radius: 4px; }

/*     .wa-theme-image-upload { display: inline-block; } */
.wa-theme-image-upload img { margin-bottom: 10px; display: block; }

.wa-theme-preview i.icon16 { margin-right: 5px; }

.wa-theme-about h1 { margin-bottom: 20px; }
.wa-theme-about p { line-height: 1.5em; }
.wa-theme-about pre { background: none repeat scroll 0 0 #EEEEEE; border-left: 3px solid #CCCCCC; color: #777777; font-size: 0.9em; padding: 20px; }

.wa-theme-actions { background: #eee; }
.wa-theme-actions ul.menu-v.with-icons li a { word-break: break-word; }

ul.menu-h.wa-theme-filter-colors li { border-radius: 20px; padding: 8px; margin-right: 5px; box-shadow: 0 1px 2px #777; }
ul.menu-h.wa-theme-filter-colors li.wa-themes-all { border-color: transparent; box-shadow: none; }
ul.menu-h.wa-theme-filter-colors li.wa-themes-white { background: #fff; }
ul.menu-h.wa-theme-filter-colors li.wa-themes-black { background: #444; }
ul.menu-h.wa-theme-filter-colors li.wa-themes-red { background: #ce4444; }
ul.menu-h.wa-theme-filter-colors li.wa-themes-green { background: #5dc166; }
ul.menu-h.wa-theme-filter-colors li.wa-themes-blue { background: #33a5d4; }
ul.menu-h.wa-theme-filter-colors li.wa-themes-yellow { background: #e7d400; }
ul.menu-h.wa-theme-filter-colors li.wa-themes-purple { background: #8963a9; }

ul.menu-h.wa-theme-filter-price li { font-size: 0.9em; margin-top: 3px; padding: 5px 0; }
ul.menu-h.wa-theme-filter-price li.selected a { background: #ddd; }
.wa-theme ul.menu-v a.disabled { color: #aaa; }
.wa-theme h4.heading { margin-bottom: 10px; margin-top: 20px; }

ul.with-icons.wa-theme { padding: 0 5px 0 3px; margin-top: 0px; overflow: hidden; }
ul.with-icons.wa-theme li a { padding-left: 33px; }

.wa-theme-globalnav { border-bottom: 1px solid #aaa; position: relative; box-shadow: 0 4px 3px -2px rgba(0,0,0,0.1); background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.07) 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.1)), color-stop(1, rgba(0, 0, 0, 0.07))); }
.wa-theme-globalnav li { min-width: 75px; padding: 0 !important; margin: 0 !important; }
.wa-theme-globalnav li a { padding: 3px 10px 8px; font-size: 0.8em; white-space: nowrap; overflow: hidden; line-height: 1em; margin: 0; border: 0px solid red; display: block; text-align: center; color: #aaa; }
.wa-theme-globalnav li:hover { background: transparent !important; }
.wa-theme-globalnav li.selected a { background: transparent !important; }

.wa-theme-globalnav li.wa-theme-globalnav-switch { min-width: 206px; max-width: 356px; display: block; float: left; }
.wa-theme-globalnav li.wa-theme-globalnav-switch a { font-size: 1.2em; color: #03c; padding: 13px 10px 10px; text-align: left; line-height: 1.3em; }
.wa-theme-globalnav li.wa-theme-globalnav-switch a img { width: 48px; height: 48px; float: left; margin-right: 8px; margin-top: -4px; }
.wa-theme-globalnav li.wa-theme-globalnav-switch ul.menu-v li:hover { background: #eee !important; }

.wa-theme-globalnav li a i.icon48 { width: 48px; height: 48px; display: block; background: url('../../img/design-globalnav.png') no-repeat; background-size: 288px 96px; margin: 0 auto; opacity: 0.65; }
.wa-theme-globalnav li a:hover i.icon48 { opacity: 1; }
.wa-theme-globalnav li a i.icon48.templates { background-position: -48px 0; }
.wa-theme-globalnav li a i.icon48.pages { background-position: -96px 0; }
.wa-theme-globalnav li a i.icon48.store { background-position: -144px 0; }
.wa-theme-globalnav li a i.icon48.preview { background-position: -192px 0; }
.wa-theme-globalnav li a i.icon48.appearance { background-position: -240px 0; }
.wa-theme-globalnav li.selected a i.icon48 { opacity: 1; }
.wa-theme-globalnav li.selected a i.icon48.settings { background-position: 0 -48px; }
.wa-theme-globalnav li.selected a i.icon48.templates { background-position: -48px -48px; }
.wa-theme-globalnav li.selected a i.icon48.pages { background-position: -96px -48px; }
.wa-theme-globalnav li.selected a i.icon48.store { background-position: -144px -48px; }
.wa-theme-globalnav li.selected a i.icon48.preview { background-position: -192px -48px; }
.wa-theme-globalnav li.selected a i.icon48.appearance { background-position: -240px -48px; }

.wa-theme-globalnav li ul.menu-v { width: 250px; }
.wa-theme-globalnav li ul.menu-v li { min-width: 208px; padding-left: 34px; }
.wa-theme-globalnav li ul.menu-v li a { padding: 7px 8px; font-size: 1em; }
.wa-theme-globalnav li ul.menu-v li.no-icon { padding-left: 14px; padding-right: 28px; }
.wa-theme-globalnav li ul.menu-v li.selected a { background: inherit; }

.wa-theme-routes { padding-left: 10px; padding-right: 10px; word-wrap: break-word; }
.wa-theme-routes a i.icon10 { display: none; position: absolute; }
.wa-theme-routes a:hover i.icon10 { display: inline; }
.wa-theme-routes .hint a.no-underline { text-decoration: none !important; }
.wa-theme-block { margin-top: 6px;}
.wa-theme-block ul.wa-theme li { padding: 4px 2px 4px 24px; }
.wa-theme-block ul.wa-theme li.top-padded { padding-top: 15px; }
.wa-theme-block ul.wa-theme li a { padding-left: 30px; white-space: nowrap; }
.wa-theme-block h4 { margin: 10px 10px 0; word-break: break-all; }

#wa-design-container .value .icon16.color { margin-left: 4px; margin-top: 3px; cursor: pointer; }

/* taken form Site app's specific */

.wa-page-gray { color: #aaa; }
.s-draft { background: #ccc; color: #fff; font-weight: bold; font-size: 0.8em; padding: 0 2px; }
.s-label-with-check { display: block; padding:0 0 0.5em 0;}
.s-label-with-check input { vertical-align: middle; margin: 0 3px 0 0;}
.s-ibutton-checkbox ul.menu-h li { padding: 1px 0 10px; vertical-align: middle;}
.s-ibutton-checkbox ul.menu-h li span { position: relative; }
.s-app16x16icon-menu-v { width: 16px; height: 16px; }


/* TABLET
========= */

@media screen and (max-width: 1024px) {
    
 
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

    /* iPad portrait mode */

    .wa-theme-globalnav li.wa-theme-globalnav-switch { min-width: 176px; }
    
    .wa-theme-actions { display: none; }
    .wa-theme .sidebar.right250px { display: none; }
    .wa-theme .content.right250px { margin-right: 0; }

}