
<div class="dialog width400px height300px" id="schedule-dialog">
  <div class="dialog-background"> </div>
  <div class="dialog-window">
    <div class="dialog-content">
      <div class="dialog-content-indent">

        <h1>[`Schedule publication`]</h1>

        <br>
        <div class="datetime">
          <i class="icon16 clock" style="margin-top: 0.3em;"></i>
          {assign var="show_date" value = $post.datetime|wa_datetime:'U' >= time()|date_format:'Y-m-d'|wa_datetime:'U'}
          <input class="datepicker" name="schedule_datetime[]" type="text" disabled="disabled" value="{if $post.datetime && $show_date}{$post.datetime|wa_date}{/if}" size="8">&nbsp;
          <input type="text" name="schedule_datetime[]" class="time" disabled="disabled" value="{if $show_date && $post.datetime}{$post.datetime|wa_datetime:'H'}{else}10{/if}" size="2" maxlength="2" autocomplete="off">:<input type="text" data-role="datetime_minutes" disabled="disabled" name="schedule_datetime[]" class="time" value="{if $show_date && $post.datetime}{$post.datetime|wa_datetime:'i'}{else}00{/if}" size="2" maxlength="2" autocomplete="off">
        </div>

        <span class="hint">(<span class="user-date-format"><!-- format placeholder --></span> [`format`], [`current time is`] <span class="current-user-time">{time()|wa_date:'time'}</span>)</span>

        <br><br>

        <p class="hint">
        {if $cron_schedule_time}
          <i class="icon10 yes"></i>
          {$cron_schedule_time|wa_datetime:'humandatetime'|string_format:'[`Cron is working properly. Latest execution time: %s`]'}
        {else}
          {assign var=cron_commands value=$wa->blog->config()->getCronJob('scheduled_posts')}
          <i class="icon10 no"></i>
          <span class="red">{$cron_commands|string_format:'[`Scheduled publication requires CRON to be properly setup for Webasyst Blog app, which is not the case for this installation. Setup cron for the Blog app with the following command (<a href="http://www.webasyst.com/ru/framework/docs/server/cron/" target="_blank">cron setup instructions</a>):<br /><br /> <strong>%s</strong>`]'}</span>
        {/if}
        </p>
      </div>
    </div>
    <div class="dialog-buttons">
      <div class="dialog-buttons-gradient">
        <input type="button" name="scheduled" class="button green" value="[`Schedule`]">
        [`or`] <a href="#" class="cancel">[`cancel`]</a>
      </div>
    </div>
  </div>
</div>