<div class="dialog" id="postdelete-dialog">
  <div class="dialog-background"> </div>
  <div class="dialog-window" style="height: 180px; min-height: 180px; width: 400px; min-width: 400px">
    <div class="dialog-content">
      <div class="dialog-content-indent">
        {if isset($post) && $post}
          <h1>[`Delete post`]</h1>
          <p>{$post.title|default:'[`(empty title)`]'|escape|string_format:'[`The post <b>%s</b> will be permanently deleted without the ability to recover. Delete?`]'}</p>
        {else}
          <h1>[`Delete posts`]</h1>
          <p>[`Selected posts will be permanently deleted without the ability to recover. Delete?`]</p>
        {/if}
      </div>
    </div>
    <div class="dialog-buttons">
      <div class="dialog-buttons-gradient">
        <input type="button" name="delete" class="button red" value="[`Delete`]">
        [`or`] <a href="#" class="cancel">[`cancel`]</a>
      </div>
    </div>
  </div>
</div>