<div class="dialog" id="postmove-dialog">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <h3 class="dialog-header">[`Move posts`]</h3>
        <div class="dialog-content">
            <select name="blog_id">
                {foreach $blogs as $blog_item_id => $blog_item key}
                    {if $blog_item.rights ge blogRightConfig::RIGHT_READ_WRITE && (!$blog_id || $blog_item.id ne $blog_id)}
                        <option value="{$blog_item_id}">{$blog_item.name|escape}</option>
                    {/if}{/foreach}
            </select>
        </div>
        <div class="dialog-footer">
            <input type="button" name="delete" class="button blue" value="[`Move posts`]"> <a href="#" class="js-close-dialog button light-gray">[`cancel`]</a>
        </div>
    </div>
</div>
