<!-- cheat sheet -->
{$show_body_flag = false}
{$show_header_flag = false}
<header class="drawer-header bordered-bottom">
    <ul class="tabs">
        {if !empty($vars)}
            {foreach $vars as $id => $app_vars}
                {if !empty($apps_info[$id])}
                    <li id="wa-help-{$id}-vars-{$name}" {if $app_vars@first}class="selected"{/if}>
                        {$_tab_name = $tab_names[$id]|default:''|escape}
                        {if !$_tab_name}
                            {$_tab_name = $apps_info[$id]['name']|escape}
                        {/if}
                        <a href="#">{$_tab_name}</a>
                    </li>
                {/if}
            {/foreach}
            {$show_header_flag = true}
        {/if}
        {if !empty($wa_vars)}
            <li id="wa-help-wa-{$name}" {if !$show_header_flag} class="selected"{/if}>
                <a href="#">$wa</a>
            </li>
            {$show_header_flag = true}
        {/if}
        {if !empty($smarty_vars)}
            <li id="wa-help-smarty-{$name}" {if !$show_header_flag} class="selected"{/if}>
                <a href="#">Smarty</a>
            </li>
            {$show_header_flag = true}
        {/if}
        {if !empty($blocks)}
            <li id="wa-helper-blocks-{$name}" {if !$show_header_flag} class="selected"{/if}>
                <a href="#">[s`Blocks`]</a>
            </li>
            {$show_header_flag = true}
        {/if}
        {if !empty($plugins)}
            <li id="wa-help-plugins-{$name}" {if !$show_header_flag} class="selected"{/if}>
                <a href="#">[s`Plugins`]</a>
            </li>
            {$show_header_flag = true}
        {/if}
    </ul>
</header>
<div class="drawer-content custom-mt-0">
    <!-- app specific vars -->
    {if !empty($vars)}
        {foreach $vars as $id => $app_vars}
            <div id="wa-help-{$id}-vars-{$name}-content" class="tab-content wa-cheatsheet-dropdown-content" style="{if !$app_vars@first}display:none;{/if}">
                <ul class="separated bordered">
                    {foreach $app_vars as $v => $desc}
                        <li>
                            <a href="#" class="semibold inline-link js-var">&#123;{$v}&#125;</a>
                            {if !is_array($desc)}
                                <p class="small gray">{$desc}</p>
                            {/if}
                        </li>
                        {if is_array($desc)}
                            {foreach $desc as $sub_v => $sub_desc}
                                <li>
                                    <a href="#" class="semibold inline-link js-var">&#123;{$sub_v}&#125;</a>
                                    <p class="small gray">{$sub_desc}</p>
                                </li>
                            {/foreach}
                        {/if}
                    {/foreach}
                </ul>
            </div>
        {/foreach}
        {$show_body_flag = true}
    {/if}

    {if !empty($wa_vars)}
        <!-- misc $wa vars -->
        <div id="wa-help-wa-{$name}-content" class="tab-content wa-cheatsheet-dropdown-content" {if $show_body_flag}style="display:none"{/if}>
            <ul class="separated bordered">
                {foreach from=$wa_vars item=desc key=v}
                    <li>
                        <a href="#" class="semibold inline-link js-var">&#123;{$v}&#125;</a>
                        <p class="small gray">{$desc}</p>
                    </li>
                {/foreach}
            </ul>
        </div>
        {$show_body_flag = true}
    {/if}

    {if !empty($smarty_vars)}
        <!-- misc Smarty vars -->
        <div id="wa-help-smarty-{$name}-content" class="tab-content wa-cheatsheet-dropdown-content" {if $show_body_flag}style="display:none"{/if}>
            <ul class="separated bordered">
                {foreach from=$smarty_vars item=desc key=v}
                    <li>
                        <a href="#" class="semibold inline-link js-var">{$v|escape}</a>
                        <p class="small gray">{$desc}</p>
                    </li>
                {/foreach}
            </ul>
        </div>
        {$show_body_flag = true}
    {/if}

    {if !empty($blocks)}
        <div id="wa-helper-blocks-{$name}-content" class="tab-content wa-cheatsheet-dropdown-content" {if $show_body_flag}style="display:none"{/if}>
            <ul class="separated bordered">
                <li>
                    <a href="#" class="semibold inline-link js-var">{literal}{{/literal}$wa->block(<em>'id', $params=[]'</em>){literal}}{/literal}</a>
                    <p class="small gray">[`<strong>id</strong>: block ID.<br><strong>$params</strong>: associative array of additional parameters passed to a block (example: <code>['myparam' => 100]</code>). A parameter is available by its name as a Smarty variable within a block (example: <code>$myparam</code>).`]</p>
                </li>
                {foreach $blocks as $block_id => $b}
                    <li>
                        <a href="#" class="semibold inline-link js-var">{literal}{$wa->block('{/literal}{$block_id|escape}{literal}')}{/literal}</a>
                        <p class="small gray">{$b.description}</p>
                    </li>
                {/foreach}
            </ul>
        </div>
        {$show_body_flag = true}
    {/if}

    {if !empty($plugins)}
        <div id="wa-help-plugins-{$name}-content" class="tab-content wa-cheatsheet-dropdown-content" {if $show_body_flag}style="display:none"{/if}>
            <ul class="separated bordered">
                {foreach $plugins as $id => $data}
                    <li>
                        <a href="#" class="semibold inline-link js-var">&#123;{$id}&#125;</a>
                        {if !is_array($data)}
                            <p class="small gray">{$data}</p>
                        {/if}
                    </li>
                    {if is_array($data)}
                        {foreach $data as $sub_id => $sub_data}
                            <li class="field subfield">
                                <a href="#" class="semibold inline-link js-var">&#123;{$sub_id}&#125;</a>
                                <p class="small gray">{$sub_data}</p>
                            </li>
                        {/foreach}
                    {/if}
                {/foreach}
            </ul>
        </div>
        {$show_body_flag = true}
    {/if}

<script type="text/javascript">
    $("#wa-editor-help-{$name} ul.tabs li a").on('click', function(e) {
        e.preventDefault();
        $("#wa-editor-help-{$name} ul.tabs li.selected").removeClass('selected');
        let id = $(this).parent().addClass('selected').attr('id') + '-content';
        $("#wa-editor-help-{$name} div.tab-content").hide();
        $('#' + id).show();
    });
</script>
</div>
<footer class="drawer-footer">
    <button class="js-close-drawer button light-gray">[s`Close`]</button>
</footer>
