{* Case when not found bound backend user while backend auth force auth flow process *}
<img class="circle-check" src="{$wa_url}wa-content/img/wa-id/wrong.svg" alt="ERROR">
<div class="text-center">
    {$_webasyst_contact_info = $_auth_result.details.webasyst_contact_info|default:[]}

    {$_email = ''}
    {if $_webasyst_contact_info.email|default:[]}
        {$_email = $_webasyst_contact_info.email[0].value|escape}
    {/if}

    <p>
        {sprintf(_ws('You cannot sign in because Webasyst ID <strong>%s</strong> is connected to the backend at <strong>%s</strong>.'), $_email, $domain|escape)}
    </p>

    <div class="actions-buttons">
        <button onclick='location.href={$try_again_auth_url|json_encode}'>[s`Try with another Webasyst ID`]</button>
    </div>

    <p>
        {sprintf(_ws('Or <a class="link" href="%s">sign into your backend in the usual way</a> and connect it to your Webasyst ID.'), $forced_login_url)}
    </p>
</div>

