#wa { background: #fff url(../img/cloth.jpg); }

.c-sidebar { padding-top: 34px; }
.c-sidebar ul.menu-v li.selected a { background: rgba(120,120,120,0.25);}
.c-sidebar ul.menu-v li i.c-new-list { margin-top: 0; }

.c-list { background: #fff; }
.c-list h1 i.icon16 { margin-top: 6px; margin-left: 0.3em; }
.c-list ul.menu-v { margin: 15px 0 0; }
.c-list ul.menu-v li { padding-left: 28px; margin: 0 0 8px -10px; font-size: 1.05em; }
.c-list ul.menu-v li input { margin: 0 2px 0 -18px; }
.c-list ul.menu-v li span { margin: 0 0.3em 0 0;}
.c-list ul.menu-v span.c-completed-when { display: none; }
.c-list ul.menu-v span.c-completed-by { display: none; font-weight: bold; }
.c-list ul.menu-v li.c-done { margin-bottom: 3px; }
.c-list ul.menu-v li.c-done span.c-item-name  { color: #aaa; text-decoration: line-through; font-size: 0.8em; }
.c-list ul.menu-v li.c-done span.c-completed-when  { display: inline; }
.c-list ul.menu-v li.c-done span.c-completed-by  { display: inline; }
.c-list ul.menu-v li.c-add-form { padding-left:13px; padding-bottom: 10px; display: none; }
.c-list ul.menu-v li.c-add-form input { margin: 0; }
.c-list ul.menu-v li.c-add-form input[type="text"] { min-width: 250px; }
.c-list ul.menu-v li a.c-edit-item { display: none; }
.c-list ul.menu-v li a.c-delete-item { display: none; }
.c-list ul.menu-v li a.c-edit-item { display: none; }
.c-list ul.menu-v li a.c-delete-item { display: none; }
.c-list.cl-editable ul.menu-v li:hover a.c-edit-item { display: inline; opacity: 0.5; }
.c-list.cl-editable ul.menu-v li:hover a.c-delete-item { display: inline; opacity: 0.5; }
.c-list.cl-editable ul.menu-v li:hover a.c-edit-item:hover { opacity: 1.0; }
.c-list.cl-editable ul.menu-v li:hover a.c-delete-item:hover { opacity: 1.0; }

.c-settings ul.menu-h li a { padding: 8px 10px; }
.c-list-icons { max-width: 350px; }
.c-list-icons ul.menu-h { padding-bottom: 10px; }
.c-list-icons ul.menu-h li { margin: 0; }
.c-list-icons ul.menu-h li a { border: 3px solid transparent; }
.c-list-icons ul.menu-h li a i.icon16 { margin: 0; }
.c-list-icons ul.menu-h li.selected a { border: 3px solid #FDDA3B; background: #ffd; }

.c-white { background: #fff; }
.c-gray { background: #eee; }
.c-yellow { background: #ffc; }
.c-green { background: #dfc; }
.c-blue { background: #cef; }
.c-red { background: #fcc; }
.c-purple { background: #edf; }

ul.menu-h li.c-white { border: 1px solid #ddd; }
ul.menu-h li.c-gray { border: 1px solid #ccc; }
ul.menu-h li.c-yellow { border: 1px solid #dda; }
ul.menu-h li.c-green { border: 1px solid #ad9; }
ul.menu-h li.c-blue { border: 1px solid #acd; }
ul.menu-h li.c-red {  border: 1px solid #daa; }
ul.menu-h li.c-purple { border: 1px solid #cbd; }

