@CHARSET "UTF-8";

@media screen {
    input,.noprint {
        display: inline;
        height: auto;
    }
    .inline_edit input.text {
        background-color: #FAFAE7;
    }
    .printable {
        display: none;
    }
}

@media print {
    input,.noprint {
        display: none;
        /*	height: auto;*/
    }
    .printable {
        display: inline;
    }
}

.nobr {
    white-space: nowrap;
}

td {
    font-family: Verdana, Arial, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    color: black;
    line-height: 7pt;
}

.greatHeader {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
    color: #000000;
    padding-left: 11px;
}

.header1 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13pt;
    color: #000000;
    padding-right: 10px;
    padding-bottom: 3px;
}

.smallFont {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #000000;
}

.smallFont a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-decoration: none;
    color: #3A76B1;
}

.smallFont a:hover {
    text-decoration: underline;
}

h1 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 15pt;
    color: #000000;
    font-weight: normal;
    margin-top: 0px;
}

.title {
    font-family: Verdana, Arial, sans-serif;
    font-size: 15pt;
    color: #000000;
    font-weight: normal;
    margin-top: 0px;
}

.header2 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #362F2D;
}

.pageSubheader {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12pt;
    color: #000000;
    font-weight: normal;
}

.smallhead {
    border-bottom: 0px;
}

.largeText {
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.largeText_normal {
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
}

.greatText {
    font-family: Verdana, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.pageHeader {
    font-family: Verdana, Arial, sans-serif;
    font-size: 15pt;
    color: #000000;
    font-weight: normal;
    background-color: #F5EBD6;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

html,body {
    height: 98%;
    margin: 0px;
    padding: 5px;
    background-color: #FFFFFF;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
}

form {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.separator {
    overflow: hidden;
}

.list {
    margin-top: 0px;
    border: 1px solid #B1B1B1;
}

.list td {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid #B1B1B1;
}

.list th {
    padding-left: 5px;
    padding-right: 5px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
    height: 24px;
    background-color: #F0F0F0;
}

.list_rightBorder {
    border-right: 1px solid #BFBFBF;
}

.listFooter {
    background: #F7F7F7;
    border-top: 1px solid #D9D9D9;
    font-weight: bold;
}

.complexList {
    margin-top: 0px;
    border-right: 1px solid #B1B1B1;
    border-left: 1px solid #B1B1B1;
    border-bottom: 1px solid #B1B1B1;
}

.complexList td {
    padding-left: 5px;
    border-top: 1px solid #B1B1B1;
}

.complexList th {
    padding-left: 5px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
    height: 24px;
    border-right: 1px solid #B1B1B1;
    border-top: 1px solid #B1B1B1;
}

.complexList th a {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.complexList thead,.head {
    background-color: #F0F0F0;
}

/* Folder document view styles */
.treeDocumentListViewTable {
    padding-left: 20px;
    padding-bottom: 2px;
}

.treeDocumentListViewContent {
    padding-left: 40px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #000000;
}

.treeDocumentListViewContent a {
    font-size: 8pt;
    color: #0000FF;
}

.treeDocumentListViewTable th {
    font-weight: bold;
    padding-left: 0px;
    padding-top: 1px;
    font-size: 10pt;
}

.treeDocumentListTable {
    padding-bottom: 2px;
}

.treeDocumentListTable th {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 1px;
    font-size: 10pt;
}

.treeDocumentListTable td {
    padding-left: 10px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.dampedText {
    color: #888888 !important;
}

/* mt*/
.underlined {
    border-bottom: 1px solid #000000;
}

.b_left {
    border-left: 1px solid #000000;
}

.b_right {
    border-right: 1px solid #000000;
}

.b_bottom {
    border-bottom: 1px solid #000000;
}

.b_top {
    border-top: 1px solid #000000;
}

.b_light_left {
    border-left: 1px solid #CCCCCC;
}

.b_light_right {
    border-right: 1px solid #CCCCCC;
}

.b_light_bottom {
    border-bottom: 1px solid #CCCCCC;
}

.b_light_top {
    border-top: 1px solid #CCCCCC;
}

.item_cell {
    height: 4mm;
}

.name_cell {
    height: 4mm;
    padding-right: 2mm;
}

.docNameLabels {
    padding-top: 1mm;
    padding-bottom: 1mm;
    padding-left: 3mm;
    padding-right: 3mm;
}

.docNameValues {
    border-width: 2px !important;
}

.mainTable td {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 7pt;
    color: #000000 !important;
    padding: 1px;
}

.mainTable_normal td {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 7pt;
    color: #000000 !important;
    padding: 1px;
}

.normalfont_cell td {
    font-size: 10pt !important;
}

.boldborders td {
    border-width: 2px !important;
}

.totals td {
    font-weight: bold;
}

.normalFont {
    font-weight: normal !important;
}

.rightAlign {
    text-align: right !important;
}

.leftAlign {
    text-align: left !important;
}

.cellComment {
    font-size: 6pt !important;
}

.reportSmallFont {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 7pt;
    color: #000000;
}

.separatorCell {
    font-size: 1pt !important;
    height: 5px;
}

p {
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.reportMiddleFont,.reportMiddleFont td,.reportMiddleFont li {
    font-size: 8pt !important;
}