{* if invisible recaptcha passed once in session then no need to render capcha again *}
{if !$recaptcha_passed}
    {$_wrapper_id = uniqid('wa-invisible-recaptcha')}
    <div class="{$wrapper_class} wa-invisible-recaptcha" id="{$_wrapper_id}">
        <a class="wa-captcha-refresh" style="display:none;"></a>
        <img class="wa-captcha-img" src="" alt="" style="display: none;">
        <div class="g-recaptcha"
             data-sitekey="{$sitekey}"
             data-size="invisible"
             data-callback="onRecaptchaDataCallback"
             data-error-callback="onRecaptchaErrorCallback"
             data-expired-callback="onRecaptchaExpireCallback"></div>
    </div>
    <script>
        (function() {

            // if already has captcha in page
            if (window.grecaptcha_once) return;

            window.grecaptcha_once = true;

            var widget_id = null,
                $wrapper = $('#{$_wrapper_id}'),
                $widget = $wrapper.find('.g-recaptcha');

            var setCookie = function (value) {
                document.cookie = "g-recaptcha-response=" + encodeURIComponent(value) + "; max-age=300"
            };

            window.onRecaptchaDataCallback = function (response_id) {
                setCookie(response_id)
            };

            window.onRecaptchaErrorCallback = function (error) {
                if (error === "Timeout") {
                    try {
                        grecaptcha.reset(widget_id);
                        grecaptcha.execute(widget_id);
                        $(window).trigger('wa_recaptcha_loaded');
                    } catch (e) {
                        console.log('Unable to reset WA ReCaptcha widget id =', widget_id);
                        console.log(e);
                    }
                }
            };

            window.onRecaptchaExpireCallback = function () {
                try {
                    grecaptcha.reset(widget_id);
                    grecaptcha.execute(widget_id);
                    $(window).trigger('wa_recaptcha_loaded');
                } catch (e) {
                    console.log('Unable to reset WA ReCaptcha widget id =', widget_id);
                    console.log(e);
                }

            };

            window.onloadWaRecaptchaCallback = function () {
                widget_id = grecaptcha.render($widget.get(0));
                grecaptcha.execute(widget_id);
            };

            $(function () {
                $.getScript("https://www.google.com/recaptcha/api.js?render=explicit&onload=onloadWaRecaptchaCallback");
            });
        })();
    </script>
{/if}
