<?php
/******************************************************************
 * 
 * !!! The prefix MUST be a non-empty UNIQUE string.            !!!
 * !!! The prefix MUST be UNIQUE for SERVER, not only for host  !!!
 * !!! If you're unsure, consult the server's administrator     !!!
 * 
 ******************************************************************/
return array(
    'default' => array(
        'type' => 'xcache',
        'prefix' => ''
    )
);