{$container_id = uniqid('t-external-calendar-create')}
{$external_calendars_count = count($external_calendars)}
{$title = '[`Connect external calendar`]'}

{$_calendars = []}
{foreach $inner_calendars as $_c}
    {if !empty($_c.can_edit)}
        {$_calendars[] = $_c}
    {/if}
{/foreach}
{$_selected_calendar = reset($_calendars)}
{if empty($_selected_calendar)}
    {$_selected_calendar = [
        "id" => "",
        "name" => "[`Empty`]",
        "bg_color" => "#f0f0f0"
    ]}
{/if}


<div class="content article box t-edit-external-calendar-page t-external-calendar-create" id="{$container_id}">
    <div class="t-content-body article-body">
        <header class="t-content-header flexbox">
            <h1 class="custom-my-0 wide">{$title}</h1>
        </header>
    <form id="external-calendar-create" class="custom-mt-32">

        <p class="flexbox middle space-8 custom-my-0">
            {if !empty($calendar.plugin.icon)}
                <i class="icon t-plugin-icon" style="background-image: url('{$calendar.plugin.icon}');"></i>
            {/if}
            <span class="t-name">{$calendar.plugin.name|escape}</span>
        </p>
        <p class="custom-my-0">
            <span class="t-date">{$calendar.create_datetime|wa_date:'humandatetime'}</span>
        </p>
        <div class="t-html">{$calendar.plugin.account_info_html}</div>

        <div class="fields form" style="float: none;">

            <div class="field">
                <div class="name">
                    [`Inner calendars`]
                </div>
                <div class="value">
                    <div class="dropdown small js-calendar-dropdown">
                        {* CALENDAR LIST *}
                        <a class="t-selected-item dropdown-toggle button rounded dark-gray"
                           style="{if !empty($_selected_calendar.bg_color)}background-color:{$_selected_calendar.bg_color|escape};{/if}{if !empty($_selected_calendar.font_color)}color:{$_selected_calendar.font_color|escape};{/if}"
                           href="javascript:void(0);">
                            <i class="{if !empty($_selected_calendar.icon)}{$_selected_calendar.icon|escape}{else}fas fa-circle{/if}"></i>
                            &nbsp;<span class="custom-ml-8">{$_selected_calendar.name|escape}</span>
                        </a>
                        {if !empty($_calendars)}
                            <div class="dropdown-body">
                                <ul class="menu">
                                    {foreach $_calendars as $_c}
                                        <li class="t-menu-item{if $_selected_calendar.id == $_c.id} selected{/if}"
                                            data-id="{$_c.id}"
                                            data-font-color="{if !empty($_c.font_color)}{$_c.font_color|escape}{/if}"
                                            data-icon="{if !empty($_c.icon)}{$_c.icon|escape}{else}fas fa-circle{/if}"
                                            data-bg-color="{if !empty($_c.bg_color)}{$_c.bg_color|escape}{/if}">
                                            <a href="javascript:void(0);">
                                                <i class="{if !empty($_c.icon)}{$_c.icon|escape}{else}fas fa-circle{/if}"
                                                        {if !empty($_c.bg_color)} style="color:{$_c.bg_color};"{/if}
                                                ></i>
                                                <span>{$_c.name|escape}</span>
                                            </a>
                                        </li>
                                    {/foreach}
                                </ul>
                            </div>
                            <input name="inner_calendar" value="{$_selected_calendar.id}" type="hidden">
                        {/if}
                    </div>
                </div>
            </div>

            {* External calendars *}
            {if !empty($external_calendars)}
                <div class="field">
                    <div class="name">
                        {if $external_calendars_count > 1}
                            [`External calendars`]
                        {else}
                            [`External calendar`]
                        {/if}
                    </div>
                    <div class="value">
                        <ul>
                            {foreach $external_calendars as $external_calendar}
                                <li>
                                    <label>
                                        <span class="wa-radio">
                                            <input type="radio" name="external_calendar[id]" value="{$external_calendar.id}"{if $external_calendar@first} checked="checked"{/if}>
                                            <span></span>
                                        </span>
                                        {$external_calendar.name|escape}
                                    </label>
                                </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            {/if}

            <div class="field">
                <div class="name">
                    [`Integration levels`]
                </div>
                <div class="value">
                    <ul>
                        {foreach $integration_levels as $level => $level_info}
                            <li>
                                <label>
                                        <span class="wa-radio">
                                            <input type="radio" name="integration_level" value="{$level}"{if $level_info@first} checked="checked"{/if}{if $level_info.disabled} disabled="disabled"{/if}>
                                            <span></span>
                                        </span>
                                    {$level_info.name}
                                </label>
                                <p class="hint custom-my-0">{$level_info.description}</p>
                            </li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            <div class="t-progress-block custom-mt-40" style="display: none;">
                <div class="progressbar">
                    <div class="progressbar-line-wrapper text-inside">
                        <div class="progressbar-outer">
                            <div class="progressbar-inner" style="width: 0;">
                                <div class="progressbar-text">15%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-ready-report custom-mt-16" style="display: none;"></div>
            </div>

            <div class="t-authorize-block custom-mx-12" style="display: none;">
                <div class="spinner loading custom-mr-8"></div>
                [`Load authorize page`]...
            </div>
        </div>
    </form>
</div>
</div>
<div class="bottombar sticky bordered-top flexbox middle space-16 box">
    <div class="article width-100">
        <div class="article-body custom-py-0">
            {if $external_calendars_count > 1}
                <button class="button" form="external-calendar-create" type="submit"{if !$can_map} disabled="disabled"{/if}>[`Connect & import events`]</button>
            {else}
                <button class="button" form="external-calendar-create" type="submit"{if !$can_map} disabled="disabled"{/if}>[`Import events`]</button>
            {/if}
            <a href="javascript:void(0)" data-id="{$calendar.id}" class="cancel t-cancel-external-calendar">[`cancel`]</a>
            <div class="spinner loading t-buttons-loading custom-ml-8" style="display: none"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var container = $('#{$container_id}'),
            form = container.find('form'),
            $buttons = container.next(".bottombar");

        $.team.setTitle('{$title}');

        var external_calendars = { };
        $.each({$external_calendars|json_encode}, function (i, item) {
            external_calendars[item.id] = item;
        });

        {if $can_map}

            container.find('.t-cancel-external-calendar').on('click', function () {
                var link = $(this);
                var loading = container.find('.t-buttons-loading');
                $.post('?module=calendarExternal&action=delete', { id: link.data('id'), 'with_events': 1 })
                    .done(function () {
                        location.href = '{$wa_app_url}u/{urlencode($wa->user('login'))}/info/';
                    })
                    .always(function () {
                        loading.hide();
                    });
            });

            form.on('submit', function (e) {
                e.preventDefault();

                form.find('.error').removeClass('error');

                var send = true;
                var data = form.serializeArray();
                var external_calendar_id = '';
                $.each(data, function (k, item) {
                    if (!item.value) {
                        send = false;
                        form.find('[name="' + item.name + '"]').addClass('error');
                    }
                    if (item.name === 'external_calendar[id]') {
                        external_calendar_id = item.value;
                    }
                });

                var external_calendar = external_calendars[external_calendar_id] || { };
                $.each(external_calendar, function (name, value) {
                    if (name != 'id') {
                        data.push({
                            name: 'external_calendar[' + name + ']',
                            value: value
                        });
                    }
                });

                if (send) {
                    $.post('?module=calendarExternal&action=save&id={$calendar.id}', data,
                        function (r) {

                            if (r.status !== 'ok') {
                                return;
                            }

                            var percentage = 0;
                            var increment = 8;


                            const $progressbar_inner = container.find('.progressbar .progressbar-inner'),
                                $progressbar_text  = $progressbar_inner.find('.progressbar-text'),
                                $progress_block = container.find('.t-progress-block');

                            $progressbar_inner.css('width', '0%');
                            $progress_block.show();
                            $buttons.hide();

                            var pull_process = new LongActionProcess({
                                url: '?module=calendarExternal&action=pull',
                                post_data: { id: '{$calendar.id}' },
                                onProgress: function (r) {
                                    if (!r.done) {
                                        percentage += increment;
                                        if (percentage >= 50) {
                                            increment = 4;
                                        }
                                        if (percentage >= 75) {
                                            increment /= 2;
                                        }
                                        if (percentage >= 85) {
                                            increment /= 1;
                                        }
                                        if (percentage >= 90) {
                                            increment = 0;
                                        }
                                    } else {
                                        percentage += (100 - percentage) / 2;
                                        if (percentage >= 90) {
                                            percentage = 100;
                                        }
                                    }
                                    $progressbar_inner.css('width', percentage + '%');
                                    $progressbar_text.text(`${ percentage }%`);
                                    if (percentage >= 100) {
                                        this.stop();
                                    }
                                },
                                onError: function(r) {
                                    alert('Server error');
                                },
                                onStop: function (r) {
                                    $progressbar_inner.css('width', '100%');
                                    $progressbar_text.text('100%');
                                    setTimeout(function () {
                                        $progress_block.hide();
                                        location.href = '{$redirect_url}';
                                    }, 250);
                                }
                            });

                            pull_process.start();

                        }
                    );
                }

            });
        {/if}
    });

    // Calendar Toggle
    ( function($) {

        $(".js-calendar-dropdown").waDropdown({
            items: ".menu > li > a",
            change: function(event, target, dropdown) {
                const $li = target.closest('li'),
                    active_class = dropdown.options.active_class,
                    is_active = $li.classList.contains(active_class);

                if (!is_active) {
                    const bg_color = $li.dataset.bgColor,
                        font_color = $li.dataset.fontColor,
                        calendar_id = $li.dataset.id ;

                    dropdown.$button
                        .css({
                            'background-color': bg_color,
                            'color': font_color
                        })
                        .find('svg')
                        .css('color', font_color)

                    dropdown.$wrapper
                        .find('input[name="inner_calendar"]')
                        .val(calendar_id);
                }
            }
        });

    })(jQuery);
</script>
