{strip}
    <div class="dialog t-delete-calendar-external-popup" id="t-calendar-external-delete">
        <div class="dialog-background"></div>
        <div class="dialog-body">
            <h3 class="dialog-header">[`Confirm calendar unlinking`]</h3>
            <div class="dialog-content">
                <form>
                    <input type="hidden" name="id" value="{$calendar.id}">
                    {if $calendar.is_connected}
                        <p>{sprintf(_w('Are you sure to unlink "%s"?'), $calendar.name|escape)}</p>
                    {else}
                        <p>{sprintf(_w('Are you sure to delete "%s"?'), $calendar.name|escape)}</p>
                    {/if}
                    {if $events_count > 0}
                        <p>
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" name="with_events" value="1">
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`Also delete all events imported from this calendar `]
                                ({sprintf(_w('%d event', '%d events', $events_count))})
                            </label>
                        </p>
                    {/if}
                </form>
            </div>
            <footer class="dialog-footer">
                    <input class="button red js-delete-event" type="button" value="[`Delete`]">
                    <a class="button light-gray js-close-dialog" href="javascript:void(0);">[`Cancel`]</a>
                    <i class="spinner custom-ml-8 js-loading" style="display: none"></i>
            </footer>
        </div>
        <script>
            ( function($) {
                const $dialog = $('#t-calendar-external-delete');
                $dialog.find('.js-delete-event').on('click', function(event) {
                    event.preventDefault();
                    $(this).attr('disabled', true);
                    $dialog.find('.js-loading').show();
                    $.post('?module=calendarExternal&action=delete', $dialog.find('form').serialize(), function(r) {
                        if (r.status === 'ok') {
                            $dialog.trigger('afterDelete');
                        }
                        $(this).attr('disabled', false);
                    });
                });
            })(jQuery);
        </script>
    </div>

{/strip}
