{$_styles = [
    [
        'bg_color' => '#f9a9de',
        'font_color' => '#810959',
        'status_bg_color' => '#f249ba',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#efd7e0',
        'font_color' => '#7c314d',
        'status_bg_color' => '#b2476e',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#ecacac',
        'font_color' => '#681818',
        'status_bg_color' => '#d95757',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#e2f6a7',
        'font_color' => '#5d790c',
        'status_bg_color' => '#94bf13',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#ccf5ee',
        'font_color' => '#1c8d7a',
        'status_bg_color' => '#29ccb1',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#cccccc',
        'font_color' => '#404040',
        'status_bg_color' => '#999999',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#e9ccff',
        'font_color' => '#6500b3',
        'status_bg_color' => '#bb64ff',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#ffeab8',
        'font_color' => '#9e6f00',
        'status_bg_color' => '#eba400',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#fcc197',
        'font_color' => '#773404',
        'status_bg_color' => '#f98836',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#d4dcfc',
        'font_color' => '#0a2eae',
        'status_bg_color' => '#718ef7',
        'status_font_color' => '#ffffff'
    ],
    [
        'bg_color' => '#b8f2ff',
        'font_color' => '#00819e',
        'status_bg_color' => '#00c2ed',
        'status_font_color' => '#ffffff'
    ]
]}

{$_icons = [
    'fas fa-calendar-alt',
    'fas fa-umbrella-beach',
    'fas fa-plane',
    'fas fa-pills',
    'fas fa-people-arrows',
    'fas fa-home',
    'fas fa-ellipsis-h',
    'fas fa-car',
    'fas fa-building',
    'fas fa-running',
    'fas fa-mug-hot',
    'fas fa-cocktail',
    'fas fa-ban'
]}
{if empty($calendar.icon)}
    {$calendar.icon = $_icons[0]}
{/if}

{$_badge_status_styles = ''}
{if empty($calendar.id)}
    {$_badge_status_styles = "color: `$_styles[0].status_font_color`; background: `$_styles[0].status_bg_color`;"}
{else}
    {if !empty($calendar.status_bg_color)}
        {$_badge_status_styles = "color: `$calendar.status_font_color`; background: `$calendar.status_bg_color`;"}
    {else}
        {$_badge_status_styles = "color: `$calendar.font_color`; background: `$calendar.bg_color`;"}
    {/if}
{/if}

{$_badge_event_styles = ''}
{if empty($calendar.id)}
    {$_badge_event_styles = "color: `$_styles[0].font_color`; background: `$_styles[0].bg_color`;"}
{else}
    {if !empty($calendar.status_bg_color)}
        {$_badge_event_styles = "color: `$calendar.font_color`; background: `$calendar.bg_color`;"}
    {else}
        {$_badge_event_styles = "color: `$calendar.bg_color`; background: transparent; box-shadow: inset 0 0 0 1px currentColor;"}
    {/if}
{/if}

<div class="dialog" id="t-calendar-edit">
    <div class="dialog-background"></div>
    <form action="" method="post" class="dialog-body">
        <h3 class="dialog-header">{if !empty($calendar.id)}[`Edit calendar`]{else}[`New calendar`]{/if}</h3>
        <div class="dialog-content fields">
            {* NAME *}
            <div class="fields-group">
                <div class="field">
                    <div class="name for-input">
                        [`Name`]
                    </div>
                    <div class="value">
                        <input class="bold short" type="text" name="data[name]" placeholder="[`Calendar name`]" value="{$calendar.name|escape}">
                    </div>
                </div>

                {* Style *}
                <div class="field">
                    <div class="name"></div>
                    <div class="value">
                        <div class="t-badge-preview">
                            <span class="badge user js-badge-preview is-status nowrap" style="{$_badge_status_styles}">
                                <span class="js-badge-icon"><i class="{$calendar.icon|escape}"></i></span>
                                <span class="js-badge-name">{$calendar.name|default:'[`Status`]'|escape}</span>
                            </span>
                            <span class="hint">[`Status`]</span>
                        </div>
                        <div class="t-badge-preview">
                            <span class="badge user js-badge-preview is-event nowrap" style="{$_badge_event_styles}">
                                <span class="js-badge-icon"><i class="{$calendar.icon|escape}"></i></span>
                                <span class="js-badge-name">{$calendar.name|default:'[`Event`]'|escape}</span>
                            </span>
                            <span class="hint">[`Event`]</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields-group custom-mt-24">
                <div class="field">
                    <div class="name for-input">
                        [`Color`]
                    </div>
                    <div class="value">

                        <div class="t-style-wrapper">

                            <ul class="unstyled t-style-list">
                                {foreach $_styles as $_style}
                                    {$_is_selected = ($_style.status_bg_color == $calendar.status_bg_color && $_style.status_font_color == $calendar.status_font_color ) || (!$calendar.status_bg_color && !$calendar.bg_color && $_style@first)}

                                    <li class="t-style-item{if $_is_selected} is-selected{/if}" style="color: {$_style.status_font_color}; background-color: {$_style.status_bg_color};">
                                        <i class="fas fa-check smaller"></i>
                                    </li>
                                {/foreach}
                            </ul>

                            <a href="javascript:void(0)" class="js-custom-color"><i class="fas fa-check-circle custom-mr-4 hidden js-custom-color-check"></i>[`Custom color`] <i class="fas fa-caret-down js-custom-color-caret"></i></a>
                            <div class="t-color-toggle hidden">
                                <div class="t-toggle">
                                    <label class="t-label" for="data[status_bg_color]">[`Background color`]</label>
                                    <div class="flexbox middle">
                                        {if $calendar.status_bg_color}
                                        {$_status_bg_color = $calendar.status_bg_color}
                                        {elseif !$calendar.status_bg_color && !$calendar.bg_color}
                                        {$_status_bg_color = $_styles[0].status_bg_color}
                                        {elseif $calendar.bg_color}
                                        {$_status_bg_color = $calendar.bg_color}
                                        {/if}

                                        <input type="text" name="data[status_bg_color]" id="data[bg_color]" class="t-color-field solid" value="{$_status_bg_color}">
                                        <input name="data[bg_color]" type="hidden" value="{if empty($calendar.id)}{$_styles[0].bg_color}{else}{$calendar.bg_color}{/if}">
                                        <button type="button" class="button circle outlined light-gray smallest js-show-color-picker js-bg-color" style="background-color: {$_status_bg_color};"></button>
                                    </div>
                                </div>
                                <div class="t-toggle">
                                    <label class="t-label" for="data[status_font_color]">[`Font color`]</label>
                                    <div class="flexbox middle">
                                        {if $calendar.status_font_color}
                                        {$_status_font_color = $calendar.status_font_color}
                                        {elseif !$calendar.status_font_color && !$calendar.font_color}
                                        {$_status_font_color = $_styles[0].status_font_color}
                                        {elseif $calendar.font_color}
                                        {$_status_font_color = $calendar.font_color}
                                        {/if}

                                        <input class="t-color-field solid" name="data[status_font_color]" id="data[status_font_color]" type="text" value="{$_status_font_color}">
                                        <input name="data[font_color]" type="hidden" value="{if empty($calendar.id)}{$_styles[0].font_color}{else}{$calendar.font_color}{/if}">
                                        <button type="button" class="button circle outlined light-gray smallest js-show-color-picker js-font-color" style="background-color: {$_status_font_color};"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields-group">
                <div class="field">
                    <div class="name for-input">[`Icon`]</div>
                    <div class="value">
                        <div class="t-calendar-icons">
                            {foreach $_icons as $_icon}
                                {$_is_selected = $_icon == $calendar.icon}
                                <span class="t-calendar-icons--item{if $_is_selected} is-selected{/if}">
                                    <i class="{$_icon|escape}"></i>
                                </span>
                            {/foreach}
                        </div>
                        {*<a href="javascript:void(0)" class="js-custom-icon flexbox">[`Custom icon`]&nbsp;<i class="fas fa-caret-down"></i></a>*}
                        <input class="custom-mt-16" placeholder="{$calendar.icon|escape}" name="data[icon]" type="hidden" value="{$calendar.icon|escape}">
                    </div>
                </div>
            </div>
            {* SOME FIELD *}
            <div class="fields-group">
                <div class="field">
                    <div class="name for-checkbox">
                        [`Access`]
                    </div>
                    <div class="value">
                        <ul class="t-limited-toggle custom-mb-0">
                            <li>
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="data[is_limited]" value=""{if empty($calendar.is_limited)} checked{/if}>
                                        <span></span>
                                    </span>
                                    &nbsp;[`All users`]
                                </label>
                            </li>
                            <li>
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="data[is_limited]" value="on"{if !empty($calendar.is_limited)} checked{/if}>
                                        <span></span>
                                    </span>
                                    &nbsp;[`Selected user groups only`]&nbsp;<i class="fas fa-lock fa-xs"></i>
                                </label>
                            </li>
                        </ul>

                        <div class="t-limited-toggle">
                            <div class="t-hidden-content" style="{if empty($calendar.is_limited)}display: none;{/if}">
                                {if $groups || $locations}
                                    <p class="hint custom-mt-4">[`Select user groups which you want to be able to control events in this calendar:`]</p>
                                    {if !empty($groups)}
                                        <ul class="unstyled">
                                            {foreach $groups as $_g}
                                                <li class="custom-py-4{if $_g.rights < 0} is-inactive text-gray{/if}">
                                                    <label class="small">
                                                        <span class="wa-checkbox">
                                                            <input type="checkbox" name="data[groups][{$_g.id}]"{if $_g.rights > 0} checked{/if}{if $_g.rights > 1 || $_g.rights < 0} disabled{/if}>
                                                            <span>
                                                                <span class="icon">
                                                                    <i class="fas fa-check"></i>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        &nbsp;{$_g.name|escape}
                                                    </label>
                                                    {if $_g.rights < 0}
                                                        <p class="hint custom-my-4">
                                                            [`This group does not have access to Team app.`]
                                                            {if $wa->user()->isAdmin()}
                                                                &#32;
                                                                {sprintf_wp(
                                                                    'Customize group access rights using the <a class="js-edit-group inline-link" href="%s">Manage group</a> mode.',
                                                                    "`$wa_app_url`group/`$_g.id`/access/"
                                                                )}
                                                            {/if}
                                                        </p>
                                                    {/if}
                                                </li>
                                            {/foreach}
                                        </ul>
                                    {/if}
                                    {if !empty($locations)}
                                        <ul class="unstyled">
                                            {foreach $locations as $_g}
                                                <li class="custom-py-4{if $_g.rights < 0} is-inactive text-gray{/if}">
                                                    <label class="small">
                                                        <span class="wa-checkbox">
                                                            <input type="checkbox" name="data[groups][{$_g.id}]"{if $_g.rights > 0} checked{/if}{if $_g.rights > 1 || $_g.rights < 0} disabled{/if}>
                                                            <span>
                                                                <span class="icon">
                                                                    <i class="fas fa-check"></i>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        &nbsp;{$_g.name|escape}
                                                    </label>
                                                    {if $_g.rights < 0}
                                                        <p class="hint custom-my-4">
                                                            [`This group does not have access to Team app.`]
                                                            {if $wa->user()->isAdmin()}
                                                                &#32;
                                                                {sprintf_wp(
                                                                    'Customize group access rights using the <a class="js-edit-group inline-link" href="%s">Manage group</a> mode.',
                                                                    "`$wa_app_url`group/`$_g.id`/access/"
                                                                )}
                                                            {/if}
                                                        </p>
                                                    {/if}
                                                </li>
                                            {/foreach}
                                        </ul>
                                    {/if}
                                {else}
                                    <p class="hint">[`There are no user groups in your Webasyst installation.`] [`Add groups to be able to manage access to calendars.`]</p>
                                {/if}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="fields-group">
                <div class="field">
                    <div class="name for-input">
                        [`Default status`]
                    </div>
                    <div class="value">
                        <input type="text" name="data[default_status]" value="{$calendar.default_status|escape}" title="" class="short small">
                        <p class="hint">[`Default label for adding a user status in this calendar`]</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="dialog-footer flexbox middle space-8">
                <input type="submit" class="button" value="{if $calendar.id}[`Save`]{else}[`Create`]{/if}">
                <button type="button" class="button light-gray js-close-dialog">[`Cancel`]</button>
            {if $calendar.id}
                <button type="button" class="button red outlined custom-ml-auto js-delete-calendar"><i class="fas fa-trash-alt"></i>&nbsp;[`Delete`]</button>
            {/if}
        </footer>
        <input name="data[id]" type="hidden" value="{$calendar.id}">
    </form>

    <script>
        ( function($) {
            new CalendarEditDialog($("#t-calendar-edit"), {
                calendar_id: "{$calendar.id}",
                locales: {
                    empty: "[`Field is empty`]",
                    date: "[`Incorrect date`]",
                    period: "[`Incorrect period`]",
                    preview: "[`Calendar`]"
                },
                api: {
                    showDeleteConfirm: '?module=calendar&action=deleteConfirm',
                    save: '?module=calendar&action=save'
                }
            });
        })(jQuery);
    </script>
</div>
