<div id="wa-single-app-nav" class="js-no-animation-sidebar-block">
<style>
    #wa-single-app-nav #wa-header { display: block; }
    #wa-single-app-nav #wa-userprofile .dropdown-body { width: 200px; }
    #wa-single-app-nav #wa-userprofile .dropdown-body .bricks > .brick { width: 57px; }
    #wa-single-app-nav #wa-header .alert-fixed-box { right: auto; top: 3rem; margin-left: -2rem; }


    #wa-single-app-nav .wa-applist { width: 550px; flex: 1; padding-top: 0.25rem; position: relative; border-bottom: 1px solid rgba(0, 0, 0, 0.0625); text-align: center; }
    #wa-single-app-nav .wa-applist ul { list-style-type: none; padding-left: 0; margin: 0 auto; }
    #wa-single-app-nav .wa-applist ul li { position: relative; width: 5.5rem; margin-bottom: 0.75rem; }
    #wa-single-app-nav .wa-applist ul li a { display: block; font-size: 0.875rem; text-align: center; text-decoration: none; color: var(--text-color); }
    #wa-single-app-nav .wa-applist ul li a:hover { color: var(--text-color-strongest); }
    #wa-single-app-nav .wa-applist ul li a .badge { position: absolute; top: 0rem; right: 0.25rem; background: var(--red); color: var(--white); font-size: 0.75rem; min-width: 1em; min-height: 1em; padding: 0.25em; }
    #wa-single-app-nav .wa-applist ul li a img { border: 0; display: block; margin: 0 auto 0.5rem; width: 4rem; height: 4rem; }
    #wa-single-app-nav .wa-applist ul li.selected a { font-weight: bold; color: var(--text-color-stronger); }

    #wa-single-app-nav .dropdown-body { left: 2px; width: auto; overflow: visible; }
    @media screen and (max-width: 760px) {
        #wa-single-app-nav .wa-applist { width: 100%; }
        #wa-single-app-nav #wa-header .alert-fixed-box { left: auto; right: 0; }
        #wa-single-app-nav #wa-header .dropdown-body { left: auto; right: 0; min-width: 320px; }
        #wa-single-app-nav #wa-userprofile .dropdown-body { left: 0; }
    }
</style>
<div id="wa-header">
    <div class="wa-single-app-nav flexbox middle full-width">
        <div class="wa-single-app-nav-left">
            {* Current user options *}
            {include file="./BackendHeaderCurrentUser.inc.html" dropdown_body_left=true without_link_profile=true inline}
        </div>

        <div class="wa-single-app-nav-right flexbox middle">
            {* Announcements *}
            <div id="wa_announcement">
                <div class="dropdown custom-pr-12" id="wa-notifications-dropdown">
                    <button class="icon large wa-notifications-bell dropdown-toggle without-arrow js-notifications-bell" title="[s`Notifications`]"><i class="fas fa-bell"></i>{if !empty($notifications)}<span class="badge">{$notifications|count}</span>{/if}</button>
                    {include file="../dashboard/DashboardAnnouncement.html" notifications=$notifications inline}
                </div>
            </div>

            <!-- plugin hook: 'backend_header.header_single_app_user' -->
            {* @event backend_header.%plugin_id%.header_single_app_user *}
            {if !empty($header_single_app_user)}{foreach $header_single_app_user as $_}{$_}{/foreach}{/if}

        </div>

    </div>
</div>

<script type="text/javascript" src="{$root_url}wa-content/js/jquery-wa/wa.header.bell-announcement.js?{$wa->version(true)}"></script>
<script>
    $(function() {
        new BellAnnouncement();
        {if $has_new_notifications}
            $('.js-notifications-bell').trigger('click', { disable_set_seen: true });
        {/if}
    });
</script>
</div>
