<!DOCTYPE html>
<html class="mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>{$wa->accountName()}</title>
    <link rel="stylesheet" href="{$wa_url}wa-content/css/wa/wa-2.0.css?v={$wa->version(true)}" />
    <script>backend_url = {$wa_backend_url|json_encode};</script>
    <script src="{$wa_url}wa-content/js/jquery-wa/wa.switch-mode.js?v{$wa->version(true)}"></script>
    <link rel="stylesheet" href="{$wa_url}wa-content/css/dashboard/mobile.css?v={$wa->version()}">
    <script defer src="{$wa_url}wa-content/js/fontawesome/fontawesome-all.min.js?v={$wa->version()}"></script>
    <script src="{$wa_url}wa-content/js/jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="{$wa_url}wa-content/js/jquery/jquery-migrate-3.3.2.min.js" type="text/javascript"></script>
    <script src="{$wa_url}wa-content/js/jquery-wa/wa.js?v={$wa->version()}"></script>

    <script src="{$wa_url}wa-content/js/d3/d3.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-wa/dashboard-mobile.js?v={$wa->version()}"></script>

    <script>
        {if $wa->whichUI() == '2.0'}
            if (typeof wa_url === "undefined") {
                wa_url = '{$wa_url}';
            }
        {/if}
    ( function($) {

        {if $wa->isMobile() == 'iphone'}
            $(document).on("click", "a", function(e) {
                e.preventDefault();
                location.href = $(this).attr("href");
            });
        {/if}

        var pixelRatio = !!window.devicePixelRatio ? window.devicePixelRatio : 1;
        if (pixelRatio > 1) {
            $(window).on("load", function() {
                $('#apps .wa-mobile-list-thumb img').each(function() {
                    if ($(this).data('src2')) {
                        $(this).attr('src', $(this).data('src2'));
                    }
                });
            });
        }
    })(jQuery);
    </script>
</head>
<body>
    <div id="wa">
        <div id="wa-nav">
            <div id="wa-header" class="blank flexbox space-16">
                {include file="./BackendHeaderAccount.inc.html" inline}
                <div class="wa-header-sitename">
                    <span class="h3">{$wa->accountName()|truncate:42}</span>
                </div>
                <div class="dropdown dashboard-main-page" id="wa-notifications-dropdown">
                    <button class="icon large wa-notifications-bell dropdown-toggle without-arrow js-notifications-bell" title="[s`Notifications`]"><i class="fas fa-bell"></i>{if !empty($notifications)}<span class="badge">{$notifications|count}</span>{/if}</button>
                    {include file="../dashboard/DashboardAnnouncement.html" inline}
                </div>
                {*
                    TEASING WEBASYST GLOBAL SEARCH
                    <button class="button rounded small outlined js-header-search"><span><i class="fas fa-search"></i></span></button>
                *}
                <div class="wa-corner">
                {strip}
                    {*
                        TEASING WEBASYST GLOBAL SEARCH
                        <form class="wa-header-search-form input-with-inner-icon right">
                            <input type="search" placeholder="[`Search`]" class="short">
                            <button class="icon"><i class="fas fa-search"></i></button>
                        </form>
                    *}
                    {* Current user *}
                    <div class="dropdown" id="wa-userprofile" data-user-id="{$user['id']}">
                        <a class="dropdown-toggle without-arrow" href="javascript:void(0)">
                            <img src="{$user->getPhoto(96)}" alt="" class="wa-userpic" />
                        </a>
                        <div class="dropdown-body right">
                            <ul class="menu">
                                <li>
                                    <a href="{$backend_url}?module=profile">
                                        <i class="fas fa-user"></i>
                                        <span>[s`My profile`]</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{$backend_url}?action=logout">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>[s`Logout`]</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {/strip}
                </div>
            </div>
        </div>

        <div id="wa-app" class="with-bottombar">

            <!-- YOUR APP HERE -->
            <div class="flexbox">
                <div class="content blank">
                    <section class="dashboard-apps js-dashboard-apps" data-nav="apps">
                        <ul>
                            {foreach $header_items as $app_id => $app}

                                {* Build item url *}

                                {* pseudo-app *}
                                {if !empty($app.app_id) && !empty($app.link)}
                                    {$_item_url = "`$backend_url``$app.app_id`/`$app.link`/"}
                                {* real app *}
                                {else}
                                    {$_item_url = "`$backend_url``$app_id`/"}
                                {/if}

                                {* Build app icon count *}
                                {$_count = null}
                                {if $counts && isset($counts[$app_id])}
                                    {if is_array($counts[$app_id])}
                                        {$_item_url = $counts[$app_id]['url']}
                                        {$_count = $counts[$app_id]['count']}
                                    {else}
                                        {$_count = $counts[$app_id]}
                                    {/if}
                                {/if}

                                <li data-app="{$app_id}">
                                    <a href="{$_item_url}" rel="external">
                                        {if $app.img}<img {if !empty($app.icon.96)}data-src2="{$wa_url}{$app.icon.96}"{/if} src="{$wa_url}{if !empty($app.icon.96)}{$app.icon.96}{else}{$app.img}{/if}" />{/if}
                                        <span class="nowrap">{$app.name}</span>
                                        {if $_count}
                                            <span class="badge{* wa-1.3-legacy-class *} indicator{* /wa-1.3-legacy-class *}">{$_count}</span>
                                        {/if}
                                    </a></li>
                            {/foreach}
                        </ul>
                    </section>
                    <section id="wa_activity" class="dashboard-activity js-dashboard-activity box" data-nav="activity" style="display: none">
                        <div class="dashboard-activity-wrapper">
                            {if !empty($activity)}
                                {include file="../dashboard/DashboardActivityFilter.inc.html" inline}
                            {/if}

                            {if $today_users}
                                {$users_birthdays = $today_users.birthday|default:[]}
                                {$users_statuses = $today_users.status|default:[]}

                                <div class="activity-list-block">
                                    <div class="activity-divider h3">[`Today`]</div>

                                    {if $users_birthdays}
                                        <div class="users-group">
                                            {foreach $users_birthdays.contacts as $contact}
                                                {if $contact@index == 4}
                                                    <span class="userpic userpic48 outlined" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));">
                                                        <span class="userstatus birthday"><i class="fas fa-birthday-cake"></i></span>
                                                    </span>
                                                    {break}
                                                {/if}
                                                <span class="userpic userpic48 outlined" data-wa-tooltip-content="[`Birthday`]">
                                                    <img src="{$contact.photo_url_48}" alt="{$contact.formatted_name|escape}">
                                                    {if $contact@last || $contact@index < 4}
                                                        <span class="userstatus birthday"><i class="fas fa-birthday-cake"></i></span>
                                                    {/if}
                                                </span>
                                            {/foreach}
                                        </div>
                                    {/if}

                                    {if $users_statuses}
                                        <div class="users-group">
                                            {foreach $users_statuses as $status}
                                                {if $status@index == 4}
                                                    <span class="userpic userpic48 outlined" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));">
                                                        <span class="userstatus"></span>
                                                    </span>
                                                    {break}
                                                {/if}
                                                <span class="userpic userpic48 outlined" data-wa-tooltip-content="{$status.statuses[1].calendar.name|escape}">
                                                    <img src="{$status.photo_url_48}" alt="{$status.formatted_name|escape}">
                                                    {if $status@last || $status@index < 4}
                                                        <span class="userstatus" style="background-color: {$status.statuses[1].calendar.bg_color}"></span>
                                                    {/if}
                                                </span>
                                            {/foreach}
                                        </div>
                                    {/if}

                                    {if $users_birthdays || $users_statuses}
                                        <hr class="custom-my-16">
                                    {/if}
                                </div>
                            {/if}

                            {if $no_today_activity}
                                <div class="activity-list-block activity-empty-today">
                                    {if !$today_users}
                                        <div class="activity-divider today h3 2">[`Today`]</div>
                                    {/if}
                                    <div class="activity-item activity-empty-today custom-mb-24">
                                        <div class="item-content-wrapper">
                                            <div class="inline-content">
                                                [`No activity today yet.`]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {/if}

                            <div class="activity-list-block js-activity-list-block" data-empty-text="[`No events in the live stream yet.`]">
                                {if !empty($activity)}
                                    {include file="../dashboard/DashboardActivity.html" inline}
                                {else}
                                    <div class="empty-activity-text">
                                        <h3>[`No events in the live stream yet.`]</h3>
                                        <p>[`Live stream collects all events from installed apps and presents them in a chronological order.`]</p>
                                    </div>
                                {/if}
                            </div>
                        </div>
                    </section>
                    <section class="dashboard-widgets js-dashboard-widgets" data-nav="widgets" style="display: none">
                        {if !empty($public_dashboards)}
                        <div class="dashboard-tabs">
                            <ul class="tabs">
                                <li class="selected">
                                    <a href="javascript:void(0);" class="js-dashboard-widgets-page" data-dashboard="0">
                                        <i class="fas fa-home"></i>
                                    </a>
                                </li>
                                {foreach $public_dashboards as $d}
                                    <li>
                                        <a href="javascript:void(0);" class="js-dashboard-widgets-page" data-dashboard="{$d.id}">
                                            {$d.name|escape}
                                        </a>
                                    </li>
                                {/foreach}
                            </ul>
                        </div>
                        {/if}
                        <div class="js-dashboard-widgets-wrapper">
                            {include file="../dashboard/DashboardWidgets.html" inline}
                        </div>
                    </section>
                </div>
            </div>
            <div class="bottombar js-bottombar">
                <ul>
                    <li class="selected">
                        <a href="#" data-nav="apps">
                            <i class="fas fa-th"></i>
                            <span>[`Apps`]</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-nav="activity">
                            <i class="fas fa-bolt"></i>
                            <span>[`Activity`]</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-nav="widgets">
                            <i class="fas fa-tv"></i>
                            <span>[`Dashboards`]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            new Page();

            new WaMobileDashboard({
                $wrapper: $('.content'),
                $header: $('#wa-nav')
            });

            $(".js-activity-filter-toggler").on("click", function(event) {
                event.preventDefault();
                $('#activity-filter').slideToggle();
            });

            const $notifications_bell = $('.js-notifications-bell');
            $notifications_bell.on('click', function (e){
                e.preventDefault();
                $(this).toggleClass('wa-animation-bell');
                setTimeout(() => $(this).toggleClass('wa-animation-bell'), 1000);
                if (e.hasOwnProperty('originalEvent')){
                    $(this).next('.js-notification-wrapper').toggle().removeClass('hidden');
                }else{
                    $(this).next('.js-notification-wrapper').toggle();
                }
            });
            {if !empty($notifications)}
                $notifications_bell.trigger('click');
            {/if}

            $("#wa-userprofile").waDropdown({
                hover: false
            });
        });
    </script>
</body>
</html>
