.s-review-images-section {
  padding: 15px 20px;
  border: 2px dashed var(--gray5);
  -webkit-transition: 200ms background linear;
  -moz-transition: 200ms background linear;
  -o-transition: 200ms background linear;
  -ms-transition: 200ms background linear;
  transition: 200ms background linear;
  border-radius: 10px;
}
.s-review-images-section.is-highlighted {
  background: #fafadf;
}
.s-review-images-section .s-image-form-section {
  position: relative;
}
.s-review-images-section .s-image-form-section .s-description {
  color: var(--gray3);
}
.s-review-images-section .s-image-form-section .s-description .s-icon {
  position: relative;
  display: inline-block;
  vertical-align: -3px;
  width: 22px;
  height: 19px;
  margin-right: 10px;
}
.s-review-images-section .s-image-form-section .s-description .s-icon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-review-images-section .s-image-form-section .s-description a {
  color: var(--link-color);
}
.s-review-images-section .s-image-form-section .s-file-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  text-indent: -100%;
  font-size: 0;
}
.s-review-images-section .s-attached-files-section:not(:empty) {
  margin: -20px 0 0;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 40px 40px 0 0;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-image-wrapper {
  width: 200px;
  height: 200px;
  background: var(--gray7) 50% no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid var(--gray5);
  border-radius: 7px;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.153846153846154em;
  min-height: 55px;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper.is-extended .s-visible {
  display: none;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper:not(.is-extended) .s-hidden {
  display: none;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper .s-visible {
  padding: 5px;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper .s-textarea {
  display: block;
  border: solid 1px rgba(0,0,0,0.1);
  padding: 4px 6px;
  font-size: 14px;
  line-height: 15px;
  width: 100%;
  height: 55px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: auto;
  min-height: auto;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-description-wrapper a {
  color: var(--link-color);
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -10px);
  -moz-transform: translate(50%, -10px);
  -o-transform: translate(50%, -10px);
  -ms-transform: translate(50%, -10px);
  transform: translate(50%, -10px);
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions .s-action {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border: solid 1px rgba(0,0,0,0.33);
  background: var(--white);
  cursor: pointer;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions .s-action:not(:first-child) {
  margin-top: 10px;
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions .s-action .s-icon {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.s-review-images-section .s-attached-files-section .s-file-wrapper .s-actions .s-action .s-icon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-review-images-section .s-errors-section:not(:empty) {
  margin: 20px 0 0;
}
.s-review-images-section .s-errors-section .s-error {
  font-size: 12px;
  line-height: 1.166666666666667em;
  color: var(--red);
}
.s-review-images-section .s-errors-section .s-error:not(:first-child) {
  margin-top: 5px;
}
.s-review-images-section,
.s-review-notice-section {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 760px) {
  .s-review-images-section,
  .s-review-notice-section {
    width: 100%;
  }
}
.s-review-wrapper .s-images-list {
  margin: 5px 0 0;
}
.s-review-wrapper .s-images-list .s-image-wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 5px 0;
}
.s-review-wrapper .s-images-list .s-image-wrapper .s-image {
  height: 100px;
  vertical-align: top;
}
.s-slider-section .s-layout {
  display: table;
  width: 100%;
}
.s-slider-section .s-layout.inline {
  width: auto;
}
.s-slider-section .s-layout.fixed {
  table-layout: fixed;
}
.s-slider-section .s-layout > .s-column {
  display: table-cell;
  vertical-align: top;
}
.s-slider-section .s-layout > .s-column.middle {
  vertical-align: middle;
}
.s-slider-section .s-layout > .s-column.center {
  text-align: center;
}
.s-slider-section .s-layout > .s-column.right {
  text-align: right;
}
.s-slider-section .bx-wrapper {
  margin: 0;
}
.s-slider-section .bx-wrapper .bx-viewport {
  top: 0;
  left: 0;
  padding: 0;
  border: 0;
  border-radius: 1.072rem;
  overflow: hidden;
  box-shadow: var(--shadow);
}
.s-slider-section .bx-wrapper .bx-controls {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.s-slider-section .bx-wrapper .bx-controls .bx-pager {
  background: var(--white);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 20px;
  bottom: -10px;
  -webkit-box-shadow: 0 5px 30px rgba(0,0,0,0.05);
  box-shadow: 0 5px 30px rgba(0,0,0,0.05);
}
.s-slider-section .bx-wrapper .bx-controls .bx-pager.bx-default-pager a {
  background: rgba(0,0,0,0.15);
}
.s-slider-section .bx-wrapper .bx-controls .bx-pager.bx-default-pager a.active,
.s-slider-section .bx-wrapper .bx-controls .bx-pager.bx-default-pager a:hover {
  background: var(--gray1) !important;
}
.s-slider-section .bx-wrapper .bx-controls .bx-controls-direction a {
  margin: 0;
  -webkit-transition: all 222ms linear;
  -moz-transition: all 222ms linear;
  -o-transition: all 222ms linear;
  -ms-transition: all 222ms linear;
  transition: all 222ms linear;
  z-index: auto;
  overflow: hidden;
  width: 48px;
  height: 48px;
  background: var(--white) url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.685547 7.64551C0.685547 7.37305 0.799805 7.10938 1.00195 6.91602L6.77637 1.1416C7.00488 0.921875 7.24219 0.825195 7.48828 0.825195C8.05078 0.825195 8.45508 1.2207 8.45508 1.75684C8.45508 2.03809 8.34082 2.27539 8.16504 2.45117L6.1875 4.45508L3.63867 6.78418L5.67773 6.66113H16.3301C16.9189 6.66113 17.3232 7.06543 17.3232 7.64551C17.3232 8.2168 16.9189 8.62109 16.3301 8.62109H5.67773L3.63867 8.49805L6.1875 10.8271L8.16504 12.8311C8.34082 13.0068 8.45508 13.2441 8.45508 13.5254C8.45508 14.0615 8.05078 14.457 7.48828 14.457C7.24219 14.457 7.00488 14.3604 6.79395 14.1582L1.00195 8.36621C0.799805 8.17285 0.685547 7.90918 0.685547 7.64551Z' fill='currentColor'/%3E%3C/svg%3E") center no-repeat;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  border-radius: 15px;
  top: calc(50% - 24px);
}
.s-slider-section .bx-wrapper .bx-controls .bx-controls-direction a:hover {
  background-position: 8px;
  transition: background-position 300ms;
}
.s-slider-section .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
  left: -24px;
}
.s-slider-section .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
  right: -24px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.s-slider-section .s-slider-block {
  margin: 0;
  padding: 0;
}
.s-slider-section .s-slider-block .s-slide-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-slide-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-header {
  margin: 0;
  color: inherit;
  font-size: var(--h1-size);
  font-weight: 700;
  line-height: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-description {
  font-size: var(--h5-size);
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper {
  margin: 1.5em 0 0;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper .s-price {
  font-size: 1.6em;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper .s-compare-price {
  font-size: 1.2em;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-counter {
  line-height: normal;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-counter span {
  display: inline-block;
  padding: 10px 16px;
  background: rgba(0,0,0,0.8);
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--yellow);
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-badge-wrapper .badge span {
  font-size: 0.9rem;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-image-wrapper {
  position: relative;
  margin: 1.5em 0 0;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-image-wrapper img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  max-height: 320px;
  border-radius: 10px;
}
.s-slider-section .s-slider-block .s-slide-wrapper .s-slide-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-slider-section.is-promocards .bx-wrapper .bx-controls-direction a:after {
  background-image: url("../img/bx-controls-white.png");
}
.s-slider-section.is-promocards .s-slider-block {
  height: 312px;
}
.s-slider-section.is-promocards .s-slider-block .s-slide-wrapper {
  background: transparent 50% 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.s-slider-section.is-promocards .s-slider-block .s-slide-wrapper .s-slide-block {
  padding: 2em;
}
.s-slider-section.is-promocards .s-slider-block .s-slide-wrapper .s-header,
.s-slider-section.is-promocards .s-slider-block .s-slide-wrapper .s-description {
  color: inherit;
}
.s-slider-section.is-products {
  -webkit-box-shadow: 0 5px 30px rgba(0,0,0,0.06);
  box-shadow: 0 5px 30px rgba(0,0,0,0.06);
  border-radius: 15px;
  background: var(--white);
}
.s-slider-section.is-products .bx-wrapper {
  padding: 40px 54px;
}
.s-slider-section.is-products .bx-wrapper .s-slider-block .s-slide-wrapper .s-slide-block {
  padding: 0;
}
.s-slider-section.is-products .bx-wrapper .s-slider-block .s-slide-wrapper .s-slide-block .s-header {
  color: var(--gray1);
}
.s-slider-section.is-products .bx-wrapper .s-slider-block .s-slide-wrapper .s-slide-block .s-description {
  color: var(--gray3);
}
.s-slider-section.is-products-wide {
  color: var(--white);
}
.s-slider-section.is-products-wide .s-slider-block {
  height: 420px;
}
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper {
  background: transparent center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
}
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
}
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-slide-block {
  position: relative;
  margin: 40px 54px;
}
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-slide-block .s-header,
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-slide-block .s-description,
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-slide-block .s-price,
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-slide-block .s-compare-price {
  color: inherit;
}
.s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-slide-block .s-description {
  padding-right: 100px;
}
@media (max-width: 760px) {
  .s-slider-section .s-layout.is-adaptive {
    display: block;
    width: auto;
  }
  .s-slider-section .s-layout.is-adaptive > .s-column {
    display: block;
  }
  .s-slider-section .bx-wrapper .bx-pager {
    display: none;
  }
  .s-slider-section .bx-wrapper .bx-controls-direction a {
    display: none;
  }
  .s-slider-section .s-slider-block {
    height: 200px;
    text-align: center;
  }
  .s-slider-section .s-slider-block .s-slide-wrapper .s-slide-block {
    padding: 1em;
  }
  .s-slider-section .s-slider-block .s-slide-wrapper .s-header {
    font-size: 15px;
  }
  .s-slider-section .s-slider-block .s-slide-wrapper .s-description {
    display: none;
  }
  .s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper .s-price,
  .s-slider-section .s-slider-block .s-slide-wrapper .s-price-wrapper .s-compare-price {
    font-size: 15px;
  }
  .s-slider-section.is-products .s-slider-block {
    height: 285px;
  }
  .s-slider-section.is-products .s-slider-block .s-slide-wrapper .s-slide-block {
    padding: 0;
  }
  .s-slider-section.is-products .s-slider-block .s-slide-wrapper .s-price-wrapper {
    margin: 0.5em 0 0;
  }
  .s-slider-section.is-products .s-slider-block .s-slide-wrapper .s-image-wrapper {
    margin: 0.5em 0 0;
  }
  .s-slider-section.is-products .s-slider-block .s-slide-wrapper .s-image-wrapper img {
    max-height: 320px;
  }
  .s-slider-section.is-products-wide {
    color: var(--white);
  }
  .s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-slide-block {
    padding: 1em;
  }
  .s-slider-section.is-products-wide .s-slider-block .s-slide-wrapper .s-price-wrapper {
    padding: 100px 0 0;
  }
}
.store-info .s-schedule-wrapper {
  position: relative;
}
.store-info .s-schedule-wrapper.is-open .s-label-wrapper .s-icon {
  -webkit-transform: rotate(180deg) translate(0, -1px);
  -moz-transform: rotate(180deg) translate(0, -1px);
  -o-transform: rotate(180deg) translate(0, -1px);
  -ms-transform: rotate(180deg) translate(0, -1px);
  transform: rotate(180deg) translate(0, -1px);
}
.store-info .s-schedule-wrapper.is-open .s-hidden {
  display: block;
  z-index: 1;
}
.store-info .s-schedule-wrapper .s-hidden {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 275px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 60px rgba(0,0,0,0.1);
  box-shadow: 0 10px 60px rgba(0,0,0,0.1);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: var(--white);
  text-align: left;
}
.store-info .s-schedule-wrapper .s-label-wrapper {
  display: inline-block;
  cursor: pointer;
  color: var(--gray3);
}
.store-info .s-schedule-wrapper .s-label-wrapper .s-icon {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: transparent url("../img/svg/arrow.down.svg") 50% no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.store-info .s-schedule-wrapper .s-days-wrapper {
  margin: 10px;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper {
  margin-top: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper:first-child {
  margin-top: 0;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper .s-date {
  display: inline-block;
  vertical-align: top;
  color: var(--gray4);
  font-size: 14px;
  line-height: 1.214285714285714em;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper .s-day-dot-divider {
  border-bottom: 1px dotted var(--gray5);
  height: 1em;
  margin: 0 5px;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper .s-value {
  display: inline-block;
  vertical-align: top;
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper .s-value .s-time {
  color: var(--gray1);
}
.store-info .s-schedule-wrapper .s-days-wrapper .s-day-wrapper .s-value .s-text {
  color: var(--gray3);
}
.store-info .s-schedule-wrapper .s-close-icon {
  display: block;
  position: absolute;
  top: 2px;
  right: 0;
  width: 30px;
  height: 30px;
  color: var(--gray1);
  cursor: pointer;
}
