<div class="block">
    {if !$records}
    <p>[`Guestbook is empty. Write a new post on the public guestbook page.`]</p>
    {else}
    <ul class="zebra">
        {foreach from=$records item=r}
        <li>
            {if $rights_delete}<a class="count" href="?action=delete&id={$r.id}"><i class="icon16 delete"></i></a>{/if}

            {if $rights_contacts && $r.contact_id}<a href="{$wa_backend_url}contacts/#/contact/{$r.contact_id}">{/if}
            <strong>{if $r.contact_id}<img src="{$r.photo_url}" alt="{$r.name|escape}" style="float:left; position:relative; top:-4px; left:-4px;">{/if} {$r.name|escape}</strong>
            {if $rights_contacts && $r.contact_id}</a>{/if}
            <span class="hint">{$r.datetime|wa_datetime}</span>
            {$r.text|escape|nl2br}
        </li>
        {/foreach}
    </ul>
    <br />
    {/if}
    {if $url}
    <a href="{$url}" target="_blank">[`Guestbook on site`]</a>
    <i class="icon10 new-window"></i>
    {else}
    <em>[`Guestbook not found in routing. Please settle guestbook on your website using Site app.`]</em>
    {/if}
</div>
