/*
 * Webasyst CUSTOM theme family
 *
 * Blog app CSS for multi-touch mobile devices
 * (requires linking base custom.css, custom.mobile.css files from the Site app, and custom.blog.css)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2012 Webasyst LLC
 * @package Webasyst
 */
 
.post { margin-right: 0; }
.post h3 { font-size: 1.5em; }
.post .hero, .post .hero.superhero { margin-right: -15px; }
.post img { max-width: 100%; height: auto !important; }

#page { margin: 0 0 20px; }
#timeline { display:none; }
#blog-list { padding-bottom: 20px; }
#blog-nav { padding-left: 10px; }

.comment-form-fields label { width: auto; float: none; }
.comment-form-fields input { width: 80%; }
.comment-form textarea { width: 100%; }
.comment-form .comment-submit { padding-left: 0; }
.comment-form .wa-captcha img { margin-bottom: 10px; }