<div class="shadowed">
    <div class="i-white-core-content">
        <div class="block double-padded">
            <div class="fields">
                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            [`System settings`]
                        </div>
                        <div class="value">
                            {sprintf('[`<a href="%s">Change system settings in Settings app</a>.`]', "`$wa_backend_url`webasyst/settings/")}
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            [`Webasyst version`]
                        </div>
                        <div class="value no-shift">{$version}</div>
                    </div>
                    <div class="field">
                        <div class="name">[`Installer ID`]</div>

                        <div class="value no-shift">
                            <a href="javascript:void(0)" class="js-show-installer-static-id">[`View ...`] <i class="icon16 loading" style="display: none"></i></a>

                            <span class="js-installer-static-id"></span>
                            &nbsp;
                            <a href="javascript:void(0)" class="hint js-installer-static-id-copy" style="display: none">[`copy`]</a>
                            <i class="icon10 yes js-installer-static-id-copied" style="display: none; margin-left: 10px;"></i>

                        </div>

                        <div class="value js-beta-test-products-wrapper" style="display: none;">

                            <div class="js-title" style="margin: 20px 0">[`Products whose beta testing is enabled for this backend:`]</div>

                            <div class="js-beta-test-products">

                                {* dom template for js *}
                                <div class="js-beta-test-product js-is-template" style="display: none; margin-bottom: 10px;">
                                    <div class="field">
                                        <div class="name"><span class="js-name"></span></div>
                                        <div class="value">
                                            <a href="javascript:void(0)" class="js-disconnect-beta-test-product small">[`disconnect`] <i class="icon16 loading" style="display: none;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <div class="name" style="margin-top: 8px;">
                            [`Clear cache`]
                        </div>
                        <div class="value">
                            <input type="button" class="button gray" name="clear_cache" value="[`Clear cache`]">
                            <span id="installer-cache-state" style="display: none;"><!-- state placeholder --></span>
                            <p class="custom-mt-4 js-container-status"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script src="{$wa_app_static_url}js/settings.js?v={$wa->version()}" type="text/javascript"></script>

{$_locale = [
    'confirm_disconnect' => _w('Confirm disconnection from the beta testing of this product')
]}

<script type="text/javascript">
    $(document).ready(function () {
        $.installer_settings.init({
            messages: {$_locale|json_encode},
            loading: '<i class="icon16 loading"></i>'
        });
    });
</script>
