<section class="wa-dashboard-page widgets">
    <div class="d-page-header">
        <h1>{$dashboard.name|escape}</h1>
    </div>

    <div class="d-dashboard-link-wrapper align-center custom-mb-16" id="d-dashboard-link-wrapper">
        <div class="dropdown" id="dashboard_link">
            <button class="dropdown-toggle button nobutton rounded" type="button">
                <span><i class="fas fa-tv custom-mr-4"></i> {sprintf('[`Link to %s`]', {$dashboard.name|escape|truncate:32})}</span>
            </button>
            <div class="dropdown-body right" style="width: auto; max-width: fit-content;">
                <ul class="menu">
                    <li>
                        <a href="javascript:void(0)" class="js-copy-url">
                            <code class="nowrap bold">{$wa->domainUrl()}{$wa_backend_url}dashboard/{$dashboard.hash}/</code>
                        </a>
                    </li>
                    <li>
                        <a href="{$wa->domainUrl()}{$wa_backend_url}dashboard/{$dashboard.hash}/" target="_blank" rel="noopener">
                            <i class="fas fa-external-link-alt"></i> <span>[`Open in a new window`]</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="js-copy-url">
                            <i class="fas fa-clone"></i> <span>[`Copy`]</span>
                        </a>
                    </li>
                </ul>
            </div>
            <input style="position: absolute; left: -9999em" class="js-dashboard-url" type="text" aria-hidden="true" value="{$wa->domainUrl()}{$wa_backend_url}dashboard/{$dashboard.hash}/">
        </div>
        <a href="javascript:void(0)" data-dashboard-id="{$dashboard.id}" data-dashboard-name="{$dashboard.name|escape}"
            class="button nobutton circle count action small js-dashboard-delete custom-ml-8"><i class="fas fa-trash-alt text-gray"></i></a>
        <div class="alert-fixed-box hidden" id="link_coped">
            <span class="alert success">
                [`Copied`]
                <span class="alert-close"><i class="fas fa-check"></i></span>
            </span>
        </div>
    </div>
    <div id="wa_widgets" class="box js-dashboard-widgets">
        {include file="../dashboard/DashboardWidgets.html" inline}
        <div class="d-settings-wrapper" id="d-settings-wrapper" style="display: none">
            <div class="d-settings-container" id="d-settings-container">
                <div class="d-settings-inner-container">
                    <div class="d-settings-block" id="d-settings-block"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script id="script-dashboard-init">
    $(function () {
        new Page({
            locale: "{$wa->user()->getLocale()|replace:'_':'-'}"
        });

        let $dashboard_link_wrapper = document.querySelector('#d-dashboard-link-wrapper'),
            $dashboard_link = document.querySelector('.js-dashboard-url'),
            $copy_btns = $dashboard_link_wrapper.querySelectorAll('.js-copy-url'),
            $link_coped = $dashboard_link_wrapper.querySelector('#link_coped');

            for (const $copy_btn of $copy_btns) {
                $copy_btn.addEventListener('click', function (event) {
                    event.preventDefault();

                    $dashboard_link.select();
                    document.execCommand("copy");
                    $link_coped.classList.toggle('hidden');

                    setTimeout(()=>{
                        $link_coped.classList.toggle('hidden');
                    }, 1000)
                });
            }

        $("#dashboard_link").waDropdown();
        $("[data-wa-tooltip-content]").waTooltip();
    });
</script>
