<section class="article wa-dashboard-page apps">
    <div class="article-body">
        <h1 class="d-page-header">[`Apps`]</h1>
        {include file="./DashboardAppsBlock.html"}
    </div>
</section>
<script>
    $(function () {
        let $wa_header = document.querySelector('#wa-header'),
            wa_header_height = $wa_header.clientHeight;
        WaHeader.headerBehavior('.wa-dashboard-page', { rootMargin: `${ wa_header_height }px 0px -100% 0px` });
        WaHeader.setHeaderTitle({
            title_text: "[`Apps`]",
            truncate: 42
        })
    });
</script>