<section class="article wa-dashboard-page users">
    <div class="article-body">
        <h1 class="d-page-header">{if $team}{$team.name|escape}{else}[`Everyone`]{/if}</h1>
        {if $team && !empty($team.description)}
            <p class="small">{$team.description|escape}</p>
        {/if}

        <ul class="thumbs li150px d-users-list">
            {foreach $users as $user}
                <li>
                    <a class="userpic userpic144" href="{$user.link}">
                        <img class="" src="{$user.photo_url_144}" alt="">
                        {if $user._online_status === 'online'}<span class="userstatus"></span>{/if}
                        <span class="user-name">{$user.name|escape}</span>
                        {if $user.jobtitle}<span class="user-jobtitle">{$user.jobtitle|escape}</span>{/if}
                        <span class="user-login small">{$user.login|escape}</span>
                    </a>
                </li>
            {/foreach}
        </ul>

        <div id="wa_activity">
            <div class="activity-list-block break-word" data-empty-text="[`No events in the live stream yet.`]">
                {if !empty($activity)}
                    {include file="../dashboard/DashboardActivity.html" inline}
                {else}
                    <div class="empty-activity-text">
                        <h3>[`No events in the live stream yet.`]</h3>
                        <p>[`Live stream collects all events from installed apps and presents them in a chronological order.`]</p>
                    </div>
                {/if}
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        let $wa_header = document.querySelector('#wa-header'),
            wa_header_height = $wa_header.clientHeight,
            title_text = document.querySelector('.d-page-header').textContent;

        WaHeader.headerBehavior('.wa-dashboard-page', { rootMargin: `${ wa_header_height }px 0px -100% 0px` });
        WaHeader.setHeaderTitle({
            title_text,
            truncate: 42
        })
        new Page();
    });
</script>
