{strip}

{$_is_admin = $wa->user()->isAdmin($wa->app())}

<div class="t-users-page is-online-page article break-word" id="t-users-page">
    {* HEADER *}
    <header class="t-content-header article-header">
        <h1>[`Online users`]</h1>
    </header>

    {* CONTENT *}
    <div class="t-content-body article-body">
        {if !empty($online)}
            {include file="./Users.inc.html" contacts=$online}
        {else}
            <p class="t-description">[`No users online.`]</p>
        {/if}

        {if !empty($offline)}
            <h5 class="t-header heading large">[`Offline`]</h5>

            <ul class="list t-offline-list js-users-list">
                {foreach $offline as $user}
                    <li class="item t-user-wrapper{if $user.is_user >= 1 && !$wa->isMobile()} js-move-user{/if}" data-user-id="{$user.id}" data-update-datetime="{$user.update_datetime|default:''}">
                        <a href="{$wa_app_url}u/{urlencode($user.login|escape)}/" class="image" title="{$user.name|escape}">
                            <i class="userpic userpic48" style="background-image: url('{$user.photo_url_32}')"></i>
                        </a>
                        <a href="{$wa_app_url}u/{urlencode($user.login|escape)}/" class="details" title="{$user.name|escape}">
                            <strong>{waUser::getNameAndStatus($user)}</strong>
                            <p class="hint">
                                [`Last seen`]
                                &nbsp;
                                {if empty($user.last_datetime)}
                                    —
                                {else}
                                    {$user.last_datetime_formatted}
                                {/if}
                            </p>
                        </a>
                    </li>
                {/foreach}
            </ul>
        {/if}
    </div>

    {* JS *}
    <script>
        ( function($) {
            $.team.setTitle("[`Online`]");
            $.team.sidebar.updateCount("{$wa_app_url}online/", {count($online)});
        })(jQuery);
    </script>
</div>

{/strip}
