{strip}
<div class="dialog t-invite-user-dialog" id="t-invite-user-dialog">
    <div class="dialog-background"></div>
    <form class="dialog-body" method="post" id="t-invite-user-form">
        <h3 class="dialog-header">[`Invite new user`]</h3>
        <div class="dialog-content">
            <div class="fields">
                <div class="fields-group">
                    <div class="toggle rounded js-invite-type">
                        <span class="selected" data-type="email"><i class="fas fa-envelope"></i> [`By email`]</span>
                        <span data-type="link"><i class="fas fa-link"></i> [`By link`]</span>
                        {if !$is_waid_forced}
                        <span data-type="login"><i class="fas fa-key"></i> [`Enter login name & password`]</span>
                        {/if}
                    </div>
                </div>
                <div class="fields-group js-by-email">
                    <p class="small by-login-hint hidden">[`Enter a login name and a password for this user without sending an invitation.`]</p>
                    <div class="field">
                        <div class="name for-input">[`Email`]</div>
                        <div class="value">
                            <input class="long bold" type="text" name="email" placeholder="[`name@company.com`]">
                            <p class="hint by-email-hint">[`Enter an email address to send the new user an invitation with sign-in instructions.`]</p>
                        </div>
                    </div>
                    <div class="t-create-user-credentials hidden">
                        <div class="field">
                            <div class="name for-input">[`Login`]</div>
                            <div class="value">
                                <input type="text" name="login">
                            </div>
                        </div>
                        <div class="field">
                            <div class="name for-input">
                                [`Password`]
                            </div>
                            <div class="value">
                                <input type="password" name="password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="name for-input">
                                [`Confirm password`]
                            </div>
                            <div class="value">
                                <input type="password" name="password_confirm">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields-group custom-mt-24 js-by-link hidden">
                    <div class="field">
                        <div class="value">
                            <input class="short bold custom-mr-8 custom-mt-8" type="text" name="firstname" placeholder="[`First name`]">
                            <input class="short bold custom-mt-8" type="text" name="lastname" placeholder="[`Last name`]">
                        </div>
                    </div>
                    <div class="field">
                        <div class="value">
                            <p class="hint">[`If neither first name nor last name are specified then the invitation date will be used as a temporary name.`]</p>
                        </div>
                    </div>
                </div>
                <div class="t-groups-wrapper custom-mt-32">
                    <div class="fields-group">
                        {if $groups}
                            <div class="field">
                                <div class="name custom-pt-0">[`Groups`]</div>
                                <div class="value">
                                    <ul class="small">
                                        {foreach $groups as $_g}
                                            <li data-group-id="{$_g.id}">
                                                <label>
                                                    <span class="wa-checkbox">
                                                        <input type="checkbox" name="groups[{$_g.id}]">
                                                        <span>
                                                            <span class="icon">
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    &nbsp;{$_g.name|escape}
                                                </label>
                                            </li>
                                        {/foreach}
                                    </ul>
                                </div>
                            </div>
                        {/if}
                    </div>

                    <div class="fields-group">
                        {if $locations}
                            <div class="field">
                                <div class="name custom-pt-0">[`Locations`]</div>
                                <div class="value">
                                    <ul class="small">
                                        {foreach $locations as $_g}
                                            <li data-group-id="{$_g.id}">
                                                <label>
                                                    <span class="wa-checkbox">
                                                        <input type="checkbox" name="groups[{$_g.id}]">
                                                        <span>
                                                            <span class="icon">
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    &nbsp;{$_g.name|escape}
                                                </label>
                                            </li>
                                        {/foreach}
                                    </ul>
                                </div>
                            </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <footer class="dialog-footer fields">
            {if $groups || $locations}
            <div class="field t-apps-list-wrapper custom-my-16 invisible">
                <div class="name">[`The user will access`]</div>
                <div class="value js-swiper-groups swiper-container">
                    {$apps = $groups[$groups|@key]['apps']}
                    <div class="t-user-groups-nav left blank ">
                        <i class="fas fa-angle-left"></i>
                    </div>
                    <ul class="swiper-wrapper custom-m-0">
                        {foreach $apps as $app_id => $app}
                            <li class="t-access-app custom-mt-0 swiper-slide">
                                <img class="t-dialog-app-icon"
                                     src="{$wa_url}{$app.img}"
                                     alt="{$app.name|escape}"
                                     title="{$app.name|escape}"
                                     data-wa-tooltip-template=".access-info-{$app_id}">

                                <div class="wa-tooltip-template access-info-{$app_id}" data-app-id="{$app_id}">
                                    {if $groups}
                                        {foreach $groups as $group}
                                            {$_app = $group['apps'][$app_id]}
                                            {if $_app.access > 1}
                                                {$_access = $access_types.full}
                                            {elseif $_app.access}
                                                {$_access = $access_types.limited}
                                            {else}
                                                {$_access = $access_types.no}
                                            {/if}
                                            <span class="hidden"
                                                  data-access-id="{$_access.id}"
                                                  data-access-name="{$_access.name|default:''|escape}"
                                                  data-group-id="{$group.id}"
                                            >
                                                {$_access.name|default:""|escape}
                                            </span>
                                        {/foreach}
                                    {/if}
                                    {if $locations}
                                        {foreach $locations as $loc}
                                            {$_app = $loc['apps'][$app_id]}
                                            {if $_app.access > 1}
                                                {$_access = $access_types.full}
                                            {elseif $_app.access}
                                                {$_access = $access_types.limited}
                                            {else}
                                                {$_access = $access_types.no}
                                            {/if}
                                            <span class="hidden"
                                                  data-access-id="{$_access.id}"
                                                  data-access-name="{$_access.name|default:''|escape}"
                                                  data-group-id="{$loc.id}"
                                            >
                                                {$_access.name|default:""|escape}
                                            </span>
                                        {/foreach}
                                    {/if}
                                </div>
                            </li>
                        {/foreach}
                    </ul>
                    <div class="t-user-groups-nav right blank">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </div>
            {/if}
            <div class="action-buttons">
                <div class="flexbox middle js-by-link hidden">
                    <input type="text" class="wide short js-invite-link text-gray hidden">
                    <button type="button" class="button outlined js-get-link"><i class="fas fa-link"></i> [`Create link`]</button>
                    <button type="button" class="button js-copy-link hidden"><i class="fas fa-copy"></i> <span class="desktop-and-tablet-only">[`Copy`]</span></button>
                    <button type="button" class="button light-gray js-close-dialog">[`Cancel`]</button>
                </div>
                <button type="submit" class="button js-submit-button js-by-email">[`Send`]</button>
                <button type="button" class="button light-gray js-close-dialog js-by-email">[`Cancel`]</button>
            </div>
        </footer>
    </form>
</div>
{/strip}
<script>
    (function ($) {
        "use strict";

        const dialog = $('#t-invite-user-dialog').data('dialog'),
            $dialog = dialog.$wrapper,
            locales = {
                "get_link": {_w("Create link")|json_encode},
                "make_invite": {_w('Creating an<span class="desktop-and-tablet-only"> invitation</span>')|json_encode},
                "copy": {_w("Copy")|json_encode},
                "copied": {_w("Copied")|json_encode},
                "add": {_w("Add")|json_encode},
                "send": {_w("Send")|json_encode},
                "done": '[`Done`]'
            },
            $form = $dialog.find('form'),
            $button = $form.find(".js-submit-button"),
            $groups_wrapper = $form.find('.t-groups-wrapper'),
            $login_hint = $form.find('.js-by-login-hint');

        let form_action = "?module=users&action=invite";

        const apps_group_slider = new Swiper('.js-swiper-groups', {
            roundLengths: true,
            slideClass: 't-access-app',
            height: 48,
            slidesPerView: 'auto',
            slidesOffsetBefore: 28,
            slidesOffsetAfter: 28,
            spaceBetween: 5,
            navigation: {
                nextEl: ".t-user-groups-nav.right",
                prevEl: ".t-user-groups-nav.left",
            },
            mousewheel: true
        });

        $(".t-dialog-app-icon").waTooltip();

        $form.on('keyup change', '.state-error', function () {
            $(this)
                .removeClass('state-error')
                .parent()
                .find(".state-error-hint").remove();
        });

        $form.on('click', '[name^="groups"]', function () {
            let group_id = this.closest('li').dataset.groupId,
                $checked = $groups_wrapper.find(':checked'),
                has_checked = $checked.length,
                $apps_group_wrapper = $form.find('.t-apps-list-wrapper'),
                $apps_group = $apps_group_wrapper.find('.swiper-wrapper'),
                $tooltips = $apps_group.find('.wa-tooltip-template');

            $apps_group_wrapper.toggleClass('invisible', !has_checked)

            dialog.resize();

            if(has_checked) {
                $tooltips.each(function () {
                    let $tooltip = this,
                        $group_tooltip = $($tooltip).find(`[data-group-id="${ group_id }"]`),
                        $group_parent = $group_tooltip.closest('li'),
                        access_name = '',
                        checked_group_access = { },
                        no_access = false;

                    $checked.each(function () {
                        const group_id = this.closest('li').dataset.groupId,
                            tooltip_data = $tooltip.querySelector(`[data-group-id="${ group_id }"]`).dataset;
                        checked_group_access[tooltip_data.accessId] = tooltip_data.accessName;
                    })

                    if ('full' in checked_group_access) {
                        access_name = checked_group_access["full"];
                    }else if('limited' in checked_group_access){
                        access_name = checked_group_access["limited"];
                    }else if('no' in checked_group_access){
                        no_access = true;
                        access_name = checked_group_access["no"];
                    }

                    $group_parent.toggleClass('hidden', no_access);
                    $group_parent.find('.t-dialog-app-icon')[0]._tippy.setContent(access_name);
                });

                let apps_count = apps_group_slider.$wrapperEl.find(`.${ apps_group_slider.params.slideClass }:not(.hidden)`).length,
                    apps_fit = (apps_count < 7);

                if (apps_count) {
                    apps_group_slider.navigation.nextEl.classList.toggle('hidden', apps_fit)
                    apps_group_slider.navigation.prevEl.classList.toggle('hidden', apps_fit)
                    apps_group_slider.params.slidesOffsetBefore = 0;
                    if (apps_fit) {
                        apps_group_slider.params.slidesOffsetBefore = 0;
                        apps_group_slider.params.slidesOffsetAfter = 0;
                    }else{
                        apps_group_slider.params.slidesOffsetBefore = 28;
                        apps_group_slider.params.slidesOffsetAfter = 28;
                    }
                    apps_group_slider.update();
                    apps_group_slider.slideTo(0);
                }else{
                    $apps_group_wrapper.addClass('invisible');
                    dialog.resize();
                }
            }
        });

        $(".js-invite-type").waToggle({
            change: function (event, target)  {
                const $by_email = document.querySelectorAll('.js-by-email'),
                    $by_link = document.querySelectorAll('.js-by-link');

                Array.from($by_email).forEach(item => item.classList.toggle('hidden', (target.dataset.type !== 'email' && target.dataset.type !== 'login')))
                Array.from($by_link).forEach(item => item.classList.toggle('hidden', target.dataset.type !== 'link'))

                let is_login = (target.dataset.type === 'login');
                $form.find('.t-create-user-credentials').toggleClass('hidden', !is_login).find(':input').attr('disabled', !is_login);
                $button.val(is_login ? locales["add"] : locales["send"]);
                $by_email[0].classList.toggle('is-by-login', is_login);

                $login_hint.toggleClass('hidden', !is_login)

                if (is_login) {
                    form_action = "?module=users&action=create";
                }

                dialog.resize();
            }
        });

        $form.submit(function (e) {
            e.preventDefault();

            $form.find('.state-error-hint').remove();
            $form.find('.state-error').removeClass('state-error');

            $button.append('<i class="fas fa-spinner fa-spin custom-ml-4 js-state-loading-spinner"></i>');
            $button.prop('disabled', true);

            $.post(form_action, $form.serialize(), function (result) {
                $button.find('.js-state-loading-spinner').remove();
                $button.prop('disabled', false);

                if (result.status === 'ok') {
                    // close dialog
                    dialog.close();
                    // reload sidebar
                    $.team.sidebar.reload();
                    // reload content
                    if (result.data.contact_url) {
                        $.team.content.load(result.data.contact_url);
                    }
                } else {
                    $.each(result.errors, function (key, value) {
                        let $input;
                        if ($.isArray(value)) {
                            $input = $form.find('[name="' + value[1] + '"]').addClass('state-error');
                            value = value[0];
                        } else {
                            $input = $form.find('[name="email"]').addClass('state-error');
                        }

                        $input.after($(`<p class="state-error-hint custom-my-4">${ value }</p>`));
                    });
                }
            }, 'json');

        });

        // Get Link
        $('.js-get-link').on('click', function () {
            const $get_link = $(this);
            $get_link.html(`<i class="fas fa-link"></i> ${ locales.make_invite }... <i class="fas fa-spinner fa-spin wa-animation-spin speed-1000"></i>`)

            $.post($.team.app_url + '?module=users&action=createInvitation', $form.serialize(), response => {
                if(response.status === 'ok') {
                    $('.js-close-dialog:first')
                        .toggleClass('light-gray gray')
                        .text(locales.done)
                        .on('click', () => {
                            if (response.data?.contact_url) {
                                $.team.content.load(response.data?.contact_url);
                            }
                    })
                    $get_link.remove()
                    $('.js-invite-link').val(`${ response.data.invitation_link }`).toggleClass('hidden')
                    $('.js-copy-link').toggleClass('hidden')
                    // reload sidebar
                    $.team.sidebar.reload();
                }else{
                    $.each(response.errors, function (key, value) {
                        $form.find(`[name="${ key }"]`)
                        .addClass('state-error')
                        .parent()
                        .append($(`<p class="state-error-hint custom-my-4">${ value }</p>`));
                    });
                }
            }, 'json')
                .always(() => $get_link.html(`<i class="fas fa-link"></i> ${ locales.get_link }`));

        })
        // Copy link
        $('.js-copy-link').on('click', function () {
            let $invite_link = document.querySelector('.js-invite-link'),
                $btn = $(this);

            $invite_link.select();
            $invite_link.setSelectionRange(0, 99999);

            document.execCommand("copy");
            $btn.addClass('green').html(`<i class="fas fa-check"></i> <span class="desktop-and-tablet-only">${ locales.copied }</span>`)
            setTimeout(()=>{
                $btn.removeClass('green').html(`<i class="fas fa-copy"></i> <span class="desktop-and-tablet-only">${ locales.copy }</span>`)
            }, 1500)

        })

    })(jQuery);
</script>
