{strip}

{$_is_global_admin = $wa->user()->isAdmin('webasyst')}

{function name=user_block user=[]}
{strip}
    <div class="t-user-block">
        <div class="t-layout">
            <div class="t-column left">
                <div class="t-userpic-wrapper">
                    <img class="userpic t-userpic" src="{$user.photo_url_96}">
                </div>
            </div>
            <div class="t-column">
                <h5 class="t-name">{$user.name|escape}</h5>
                {if !empty($user.login)}
                    <div class="t-login">@{$user.login|escape}</div>
                {/if}
            </div>
            <div class="t-column right">
                <div class="t-actions">
                    <a class="inline-link js-move-user" href="javascript:void(0);">
                        <span class="t-add-text" title="[`Add to group`]">
                            <i class="icon16 add"></i>
                            <b><i>[`Add to group`]</i></b>
                        </span>
                        <span class="t-remove-text" title="[`Remove from group`]">
                            <i class="icon16 delete"></i>
                            <b><i>[`Remove from group`]</i></b>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{/strip}
{/function}

<div class="t-group-manage-page" id="t-group-manage-page">
    {* HEADER *}
    <header class="t-content-header">
        <h1>
            <a class="t-back-link" href="{$wa_app_url}group/{$group.id}/">← [`Back`]</a>
            <span class="editable js-name-editable">{$group.name|escape}</span>
        </h1>

        <ul class="menu-h t-actions">
            {* ACCESS *}
            {if $_is_global_admin}
                <li>
                    <a href="{$wa_app_url}group/{$group.id}/access/"><i class="icon16 lock"></i>[`Manage access`]</a>
                </li>
            {/if}
            {* EDIT *}
            <li>
                <a class="js-edit-group" href="javascript:void(0);"><i class="icon16 edit"></i>[`Edit group`]</a>
            </li>
            {* DELETE *}
            {if $wa->user()->isAdmin('webasyst')}
                <li>
                    <a class="js-delete-group" href="javascript:void(0);"><i class="icon16 delete"></i>[`Delete group`]</a>
                </li>
            {/if}
        </ul>

    </header>

    <div class="t-content-body">

        <div class="t-autocomplete-wrapper">
            <input class="t-input long large bold" type="text" placeholder="[`Find and add user`]">
        </div>

        {* USERS IN GROUP *}
        <div class="t-users-wrapper">
            <h5 class="heading">[`Users in this group`]</h5>
            <p class="t-description t-empty-users-in-group {if !empty($group_users)}is-hidden{/if}">[`No users in this group.`]</p>
            <ul class="menu-v t-users-list is-used-list {if empty($group_users)}is-hidden{/if}">
                {foreach $group_users as $_user}
                    <li class="t-user-wrapper" data-user-id="{$_user.id}">
                        {user_block user=$_user}
                    </li>
                {/foreach}
            </ul>
        </div>

        {* OTHER USERS *}
        <div class="t-users-wrapper">
            <h5 class="heading">[`Others users`]</h5>
            <p class="t-description t-empty-users-outside-group {if !empty($other_users)}is-hidden{/if}">[`All users in this group.`]</p>
            <ul class="menu-v t-users-list is-unused-list {if empty($other_users)}is-hidden{/if}">
                {foreach $other_users as $_user}
                    <li class="t-user-wrapper" data-user-id="{$_user.id}">
                        {user_block user=$_user}
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>

    <script>
        ( function($) {
            new GroupManage({
                $wrapper: $("#t-group-manage-page"),
                locales: {
                    added: "[`Added`]",
                    in_group: "[`Already in group`]"
                },
                group_id: "{$group.id}"
            });
            $.team.setTitle({json_encode($group.name)});
        })(jQuery);
    </script>

</div>

{/strip}
