{*
Requirements list
@todo adjust requirements level
*}
{if !empty($item.requirements)}
    {$_warning_meets = false}

    {capture assign='_warning'}
        {if !isset($class)}{$class = "small red"}{/if}
        {if !isset($icon)}{$icon = false}{/if}
        <ul class="menu-v">
            {foreach $item.requirements as $subject => $requirement}
                {if ($requirement.warning && !$requirement.passed)}
                    {$_warning_meets = true}
                    <li>
                        <span class="{if strstr($subject,'app.') == $subject}hint{else}{$class}{/if}" title="{$requirement.name|escape}">
                            {if $icon}<i class="icon10 no{if $requirement.passed}-bw{/if}"></i>{/if}
                            {$requirement.warning|default:$requirement.note|escape}
                        </span>
                    </li>
                {/if}
            {/foreach}
        </ul>
    {/capture}
    {if $_warning_meets && $_warning}
        {$_warning}
    {/if}
{/if}
