/*
 * Webasyst Clear theme family
 *
 * Additional CSS for tablet computers (e.g. iPad)
 * (requires linking clear.css)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2013 Webasyst LLC
 * @package Webasyst
 */

body { font-size: 15px; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; -webkit-text-size-adjust: 100%; }

h2.title { font-size: 220%; }

.container { min-width: 0; padding: 15px; }
.sidebar { padding-top: 0; }
.sidebar.left { width: 100%; float: none; }
.sidebar.right { width: 100%; float: none; }
.content.left { margin-left: 0; }
.content.right { margin-right: 0; }

#header { margin: 0 0 15px; }
#header .container { padding: 0 0 10px; }
#header #cart { float: none !important; width: 100%; text-align: center; background: #444; padding: 20px 0; margin: 0 0 10px; }
#header .search { padding: 0; margin: 0 270px 0 0; width: auto; float: none; clear: none; }
#header .search input { width: 100%; margin-top: 15px; margin-bottom: 10px; }
#header ul.menu-h li a { padding: 5px 20px 10px; }
