.s-general-settings-page .gradient1 {
  background: linear-gradient(90deg, #ff0078 0%, #ff5900 100%);
}
.s-general-settings-page .gradient2 {
  background: linear-gradient(90deg, #ff682d 0%, #ff9500 100%);
}
.s-general-settings-page .gradient3 {
  background: linear-gradient(90deg, #f7a500 0%, #e5cf00 100%);
}
.s-general-settings-page .gradient4 {
  background: linear-gradient(90deg, #a3d900 0%, #d9d900 100%);
}
.s-general-settings-page .gradient5 {
  background: linear-gradient(90deg, #26e500 0%, #99e500 100%);
}
.s-general-settings-page .gradient6 {
  background: linear-gradient(90deg, #0be50b 0%, #00ed77 100%);
}
.s-general-settings-page .gradient7 {
  background: linear-gradient(90deg, #00ec76 0%, #00e5bf 100%);
}
.s-general-settings-page .gradient8 {
  background: linear-gradient(90deg, #00bfff 0%, #00d9d9 100%);
}
.s-general-settings-page .gradient9 {
  background: linear-gradient(90deg, #7396ff 0%, #26b7ff 100%);
}
.s-general-settings-page .gradient10 {
  background: linear-gradient(90deg, #5975ff 0%, #a173ff 100%);
}
.s-general-settings-page .gradient11 {
  background: linear-gradient(90deg, #a565ff 0%, #df3eff 100%);
}
.s-general-settings-page .gradient12 {
  background: linear-gradient(90deg, #f23da7 0%, #ef3eff 100%);
}
.s-general-settings-page .gradient13 {
  background: linear-gradient(90deg, #c4c4c4 0%, #808080 100%);
}
.s-general-settings-page .gradient14 {
  background: linear-gradient(90deg, #ff0f80 0%, #cc4700 100%);
}
.s-general-settings-page .gradient15 {
  background: linear-gradient(90deg, #f58f00 0%, #fa4700 100%);
}
.s-general-settings-page .gradient16 {
  background: linear-gradient(90deg, #dbc500 0%, #c78500 100%);
}
.s-general-settings-page .gradient17 {
  background: linear-gradient(90deg, #cc0 0%, #7ea800 100%);
}
.s-general-settings-page .gradient18 {
  background: linear-gradient(90deg, #24db00 0%, #690 100%);
}
.s-general-settings-page .gradient19 {
  background: linear-gradient(90deg, #0bdf0b 0%, #00994c 100%);
}
.s-general-settings-page .gradient20 {
  background: linear-gradient(90deg, #00eb75 0%, #00a88c 100%);
}
.s-general-settings-page .gradient21 {
  background: linear-gradient(90deg, #00d6d6 0%, #0091c2 100%);
}
.s-general-settings-page .gradient22 {
  background: linear-gradient(90deg, #05acff 0%, #1f57ff 100%);
}
.s-general-settings-page .gradient23 {
  background: linear-gradient(90deg, #8b52ff 0%, #1e42f5 100%);
}
.s-general-settings-page .gradient24 {
  background: linear-gradient(90deg, #d91aff 0%, #6a00ff 100%);
}
.s-general-settings-page .gradient25 {
  background: linear-gradient(90deg, #ee2eff 0%, #bf0d75 100%);
}
.s-general-settings-page .gradient26 {
  background: linear-gradient(90deg, #999 0%, #545454 100%);
}
.s-general-settings-page .gradient27 {
  background: linear-gradient(90deg, #db0067 0%, #993500 100%);
}
.s-general-settings-page .gradient28 {
  background: linear-gradient(90deg, #db8000 0%, #c73800 100%);
}
.s-general-settings-page .gradient29 {
  background: linear-gradient(90deg, #a89700 0%, #8a5c00 100%);
}
.s-general-settings-page .gradient30 {
  background: linear-gradient(90deg, #a3a300 0%, #547000 100%);
}
.s-general-settings-page .gradient31 {
  background: linear-gradient(90deg, #1fbd00 0%, #4e7500 100%);
}
.s-general-settings-page .gradient32 {
  background: linear-gradient(90deg, #09b909 0%, #00753b 100%);
}
.s-general-settings-page .gradient33 {
  background: linear-gradient(90deg, #00b359 0%, #006b59 100%);
}
.s-general-settings-page .gradient34 {
  background: linear-gradient(90deg, #00adad 0%, #006b8f 100%);
}
.s-general-settings-page .gradient35 {
  background: linear-gradient(90deg, #008bd1 0%, #0029a3 100%);
}
.s-general-settings-page .gradient36 {
  background: linear-gradient(90deg, #793eef 0%, #0724b0 100%);
}
.s-general-settings-page .gradient37 {
  background: linear-gradient(90deg, #a600c7 0%, #4a00b3 100%);
}
.s-general-settings-page .gradient38 {
  background: linear-gradient(90deg, #b600c7 0%, #690740 100%);
}
.s-general-settings-page .gradient39 {
  background: linear-gradient(90deg, #757575 0%, #333 100%);
}
.s-general-settings-page .gradient40 {
  background: linear-gradient(90deg, #a3004d 0%, #5c2000 100%);
}
.s-general-settings-page .gradient41 {
  background: linear-gradient(90deg, #995900 0%, #8a2700 100%);
}
.s-general-settings-page .gradient42 {
  background: linear-gradient(90deg, #706500 0%, #473000 100%);
}
.s-general-settings-page .gradient43 {
  background: linear-gradient(90deg, #707000 0%, #2e3d00 100%);
}
.s-general-settings-page .gradient44 {
  background: linear-gradient(90deg, #147a00 0%, #334d00 100%);
}
.s-general-settings-page .gradient45 {
  background: linear-gradient(90deg, #067e06 0%, #004d26 100%);
}
.s-general-settings-page .gradient46 {
  background: linear-gradient(90deg, #007a3d 0%, #003d33 100%);
}
.s-general-settings-page .gradient47 {
  background: linear-gradient(90deg, #006080 0%, #003838 100%);
}
.s-general-settings-page .gradient48 {
  background: linear-gradient(90deg, #00527a 0%, #001452 100%);
}
.s-general-settings-page .gradient49 {
  background: linear-gradient(90deg, #4000c2 0%, #000e52 100%);
}
.s-general-settings-page .gradient50 {
  background: linear-gradient(90deg, #73008a 0%, #280061 100%);
}
.s-general-settings-page .gradient51 {
  background: linear-gradient(90deg, #670070 0%, #30031d 100%);
}
.s-general-settings-page .gradient52 {
  background: linear-gradient(90deg, #5e5e5e 0%, #171717 100%);
}
.s-general-settings-page .gradient53 {
  background: linear-gradient(90deg, #520026 0%, #1a0900 100%);
}
.s-general-settings-page .gradient54 {
  background: linear-gradient(90deg, #523000 0%, #1f0900 100%);
}
.s-general-settings-page .gradient55 {
  background: linear-gradient(90deg, #474000 0%, #140e00 100%);
}
.s-general-settings-page .gradient56 {
  background: linear-gradient(90deg, #474700 0%, #0f1400 100%);
}
.s-general-settings-page .gradient57 {
  background: linear-gradient(90deg, #0c4700 0%, #0e1400 100%);
}
.s-general-settings-page .gradient58 {
  background: linear-gradient(90deg, #044904 0%, #00140a 100%);
}
.s-general-settings-page .gradient59 {
  background: linear-gradient(90deg, #004221 0%, #001411 100%);
}
.s-general-settings-page .gradient60 {
  background: linear-gradient(90deg, #00394d 0%, #000f0f 100%);
}
.s-general-settings-page .gradient61 {
  background: linear-gradient(90deg, #003652 0%, #00061a 100%);
}
.s-general-settings-page .gradient62 {
  background: linear-gradient(90deg, #23006b 0%, #000624 100%);
}
.s-general-settings-page .gradient63 {
  background: linear-gradient(90deg, #440052 0%, #110029 100%);
}
.s-general-settings-page .gradient64 {
  background: linear-gradient(90deg, #410047 0%, #18020f 100%);
}
.s-general-settings-page .gradient65 {
  background: linear-gradient(90deg, #383838 0%, #0f0f0f 100%);
}
.s-general-settings-page .settings-logo {
  flex: 1 1 100%;
  margin-left: 0;
}
.s-general-settings-page .settings-logo .custom-colors .pickr {
  display: inline-block;
}
.s-general-settings-page .settings-logo .custom-colors .pickr .pcr-button {
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.15);
  height: 1.3em;
  width: 1.3em;
  vertical-align: middle;
  margin-left: 3px;
}
.s-general-settings-page .settings-logo .custom-colors .pickr .pcr-button:before {
  background: none;
  border-radius: 50%;
}
.s-general-settings-page .settings-logo .custom-colors .pickr .pcr-button:after {
  border-radius: 50%;
}
.s-general-settings-page .settings-logo .custom-colors .pcr-save,
.s-general-settings-page .settings-logo .custom-colors .pcr-cancel {
  background: none;
  color: var(--text-color-link);
  padding: 0;
  letter-spacing: unset;
  font-size: 0.85em;
  box-shadow: none;
}
.s-general-settings-page .settings-logo .custom-colors .pcr-save:focus,
.s-general-settings-page .settings-logo .custom-colors .pcr-cancel:focus {
  box-shadow: none;
}
.s-general-settings-page .settings-logo .custom-colors .pcr-save {
  color: var(--text-color-link);
}
.s-general-settings-page .settings-logo .custom-colors .pcr-cancel {
  color: #808080;
}
.s-general-settings-page .settings-logo .custom-colors .pcr-app[data-theme=classic] {
  width: 10em;
}
.s-general-settings-page .settings-logo .custom-colors ul {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.s-general-settings-page .settings-logo .custom-colors ul li {
  margin: 0 !important;
}
.s-general-settings-page .settings-logo .custom-colors ul li .field {
  display: flex;
  flex-direction: column;
}
.s-general-settings-page .config-text-logo {
  display: flex;
  flex-wrap: wrap;
}
.s-general-settings-page .config-text-logo .logo-area {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  transition: all 300ms;
  text-transform: uppercase;
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient1'] {
  background: linear-gradient(90deg, #ff0078 0%, #ff5900 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient2'] {
  background: linear-gradient(90deg, #ff682d 0%, #ff9500 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient3'] {
  background: linear-gradient(90deg, #f7a500 0%, #e5cf00 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient4'] {
  background: linear-gradient(90deg, #a3d900 0%, #d9d900 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient5'] {
  background: linear-gradient(90deg, #26e500 0%, #99e500 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient6'] {
  background: linear-gradient(90deg, #0be50b 0%, #00ed77 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient7'] {
  background: linear-gradient(90deg, #00ec76 0%, #00e5bf 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient8'] {
  background: linear-gradient(90deg, #00bfff 0%, #00d9d9 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient9'] {
  background: linear-gradient(90deg, #7396ff 0%, #26b7ff 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient10'] {
  background: linear-gradient(90deg, #5975ff 0%, #a173ff 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient11'] {
  background: linear-gradient(90deg, #a565ff 0%, #df3eff 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient12'] {
  background: linear-gradient(90deg, #f23da7 0%, #ef3eff 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient13'] {
  background: linear-gradient(90deg, #c4c4c4 0%, #808080 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient14'] {
  background: linear-gradient(90deg, #ff0f80 0%, #cc4700 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient15'] {
  background: linear-gradient(90deg, #f58f00 0%, #fa4700 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient16'] {
  background: linear-gradient(90deg, #dbc500 0%, #c78500 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient17'] {
  background: linear-gradient(90deg, #cc0 0%, #7ea800 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient18'] {
  background: linear-gradient(90deg, #24db00 0%, #690 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient19'] {
  background: linear-gradient(90deg, #0bdf0b 0%, #00994c 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient20'] {
  background: linear-gradient(90deg, #00eb75 0%, #00a88c 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient21'] {
  background: linear-gradient(90deg, #00d6d6 0%, #0091c2 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient22'] {
  background: linear-gradient(90deg, #05acff 0%, #1f57ff 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient23'] {
  background: linear-gradient(90deg, #8b52ff 0%, #1e42f5 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient24'] {
  background: linear-gradient(90deg, #d91aff 0%, #6a00ff 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient25'] {
  background: linear-gradient(90deg, #ee2eff 0%, #bf0d75 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient26'] {
  background: linear-gradient(90deg, #999 0%, #545454 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient27'] {
  background: linear-gradient(90deg, #db0067 0%, #993500 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient28'] {
  background: linear-gradient(90deg, #db8000 0%, #c73800 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient29'] {
  background: linear-gradient(90deg, #a89700 0%, #8a5c00 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient30'] {
  background: linear-gradient(90deg, #a3a300 0%, #547000 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient31'] {
  background: linear-gradient(90deg, #1fbd00 0%, #4e7500 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient32'] {
  background: linear-gradient(90deg, #09b909 0%, #00753b 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient33'] {
  background: linear-gradient(90deg, #00b359 0%, #006b59 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient34'] {
  background: linear-gradient(90deg, #00adad 0%, #006b8f 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient35'] {
  background: linear-gradient(90deg, #008bd1 0%, #0029a3 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient36'] {
  background: linear-gradient(90deg, #793eef 0%, #0724b0 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient37'] {
  background: linear-gradient(90deg, #a600c7 0%, #4a00b3 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient38'] {
  background: linear-gradient(90deg, #b600c7 0%, #690740 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient39'] {
  background: linear-gradient(90deg, #757575 0%, #333 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient40'] {
  background: linear-gradient(90deg, #a3004d 0%, #5c2000 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient41'] {
  background: linear-gradient(90deg, #995900 0%, #8a2700 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient42'] {
  background: linear-gradient(90deg, #706500 0%, #473000 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient43'] {
  background: linear-gradient(90deg, #707000 0%, #2e3d00 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient44'] {
  background: linear-gradient(90deg, #147a00 0%, #334d00 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient45'] {
  background: linear-gradient(90deg, #067e06 0%, #004d26 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient46'] {
  background: linear-gradient(90deg, #007a3d 0%, #003d33 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient47'] {
  background: linear-gradient(90deg, #006080 0%, #003838 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient48'] {
  background: linear-gradient(90deg, #00527a 0%, #001452 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient49'] {
  background: linear-gradient(90deg, #4000c2 0%, #000e52 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient50'] {
  background: linear-gradient(90deg, #73008a 0%, #280061 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient51'] {
  background: linear-gradient(90deg, #670070 0%, #30031d 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient52'] {
  background: linear-gradient(90deg, #5e5e5e 0%, #171717 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient53'] {
  background: linear-gradient(90deg, #520026 0%, #1a0900 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient54'] {
  background: linear-gradient(90deg, #523000 0%, #1f0900 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient55'] {
  background: linear-gradient(90deg, #474000 0%, #140e00 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient56'] {
  background: linear-gradient(90deg, #474700 0%, #0f1400 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient57'] {
  background: linear-gradient(90deg, #0c4700 0%, #0e1400 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient58'] {
  background: linear-gradient(90deg, #044904 0%, #00140a 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient59'] {
  background: linear-gradient(90deg, #004221 0%, #001411 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient60'] {
  background: linear-gradient(90deg, #00394d 0%, #000f0f 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient61'] {
  background: linear-gradient(90deg, #003652 0%, #00061a 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient62'] {
  background: linear-gradient(90deg, #23006b 0%, #000624 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient63'] {
  background: linear-gradient(90deg, #440052 0%, #110029 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient64'] {
  background: linear-gradient(90deg, #410047 0%, #18020f 100%);
}
.s-general-settings-page .config-text-logo .logo-area[data-background='gradient65'] {
  background: linear-gradient(90deg, #383838 0%, #0f0f0f 100%);
}
.s-general-settings-page .config-text-logo .logo-area.two-lines {
  font-size: 1.6em;
  line-height: 1.8rem;
  text-align: center;
  overflow-wrap: anywhere;
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button {
  box-shadow: none;
  font-size: 0.75rem;
  font-weight: normal;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient1'] {
  background: linear-gradient(90deg, #ff0078 0%, #ff5900 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient2'] {
  background: linear-gradient(90deg, #ff682d 0%, #ff9500 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient3'] {
  background: linear-gradient(90deg, #f7a500 0%, #e5cf00 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient4'] {
  background: linear-gradient(90deg, #a3d900 0%, #d9d900 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient5'] {
  background: linear-gradient(90deg, #26e500 0%, #99e500 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient6'] {
  background: linear-gradient(90deg, #0be50b 0%, #00ed77 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient7'] {
  background: linear-gradient(90deg, #00ec76 0%, #00e5bf 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient8'] {
  background: linear-gradient(90deg, #00bfff 0%, #00d9d9 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient9'] {
  background: linear-gradient(90deg, #7396ff 0%, #26b7ff 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient10'] {
  background: linear-gradient(90deg, #5975ff 0%, #a173ff 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient11'] {
  background: linear-gradient(90deg, #a565ff 0%, #df3eff 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient12'] {
  background: linear-gradient(90deg, #f23da7 0%, #ef3eff 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient13'] {
  background: linear-gradient(90deg, #c4c4c4 0%, #808080 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient14'] {
  background: linear-gradient(90deg, #ff0f80 0%, #cc4700 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient15'] {
  background: linear-gradient(90deg, #f58f00 0%, #fa4700 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient16'] {
  background: linear-gradient(90deg, #dbc500 0%, #c78500 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient17'] {
  background: linear-gradient(90deg, #cc0 0%, #7ea800 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient18'] {
  background: linear-gradient(90deg, #24db00 0%, #690 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient19'] {
  background: linear-gradient(90deg, #0bdf0b 0%, #00994c 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient20'] {
  background: linear-gradient(90deg, #00eb75 0%, #00a88c 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient21'] {
  background: linear-gradient(90deg, #00d6d6 0%, #0091c2 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient22'] {
  background: linear-gradient(90deg, #05acff 0%, #1f57ff 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient23'] {
  background: linear-gradient(90deg, #8b52ff 0%, #1e42f5 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient24'] {
  background: linear-gradient(90deg, #d91aff 0%, #6a00ff 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient25'] {
  background: linear-gradient(90deg, #ee2eff 0%, #bf0d75 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient26'] {
  background: linear-gradient(90deg, #999 0%, #545454 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient27'] {
  background: linear-gradient(90deg, #db0067 0%, #993500 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient28'] {
  background: linear-gradient(90deg, #db8000 0%, #c73800 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient29'] {
  background: linear-gradient(90deg, #a89700 0%, #8a5c00 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient30'] {
  background: linear-gradient(90deg, #a3a300 0%, #547000 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient31'] {
  background: linear-gradient(90deg, #1fbd00 0%, #4e7500 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient32'] {
  background: linear-gradient(90deg, #09b909 0%, #00753b 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient33'] {
  background: linear-gradient(90deg, #00b359 0%, #006b59 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient34'] {
  background: linear-gradient(90deg, #00adad 0%, #006b8f 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient35'] {
  background: linear-gradient(90deg, #008bd1 0%, #0029a3 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient36'] {
  background: linear-gradient(90deg, #793eef 0%, #0724b0 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient37'] {
  background: linear-gradient(90deg, #a600c7 0%, #4a00b3 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient38'] {
  background: linear-gradient(90deg, #b600c7 0%, #690740 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient39'] {
  background: linear-gradient(90deg, #757575 0%, #333 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient40'] {
  background: linear-gradient(90deg, #a3004d 0%, #5c2000 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient41'] {
  background: linear-gradient(90deg, #995900 0%, #8a2700 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient42'] {
  background: linear-gradient(90deg, #706500 0%, #473000 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient43'] {
  background: linear-gradient(90deg, #707000 0%, #2e3d00 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient44'] {
  background: linear-gradient(90deg, #147a00 0%, #334d00 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient45'] {
  background: linear-gradient(90deg, #067e06 0%, #004d26 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient46'] {
  background: linear-gradient(90deg, #007a3d 0%, #003d33 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient47'] {
  background: linear-gradient(90deg, #006080 0%, #003838 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient48'] {
  background: linear-gradient(90deg, #00527a 0%, #001452 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient49'] {
  background: linear-gradient(90deg, #4000c2 0%, #000e52 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient50'] {
  background: linear-gradient(90deg, #73008a 0%, #280061 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient51'] {
  background: linear-gradient(90deg, #670070 0%, #30031d 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient52'] {
  background: linear-gradient(90deg, #5e5e5e 0%, #171717 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient53'] {
  background: linear-gradient(90deg, #520026 0%, #1a0900 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient54'] {
  background: linear-gradient(90deg, #523000 0%, #1f0900 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient55'] {
  background: linear-gradient(90deg, #474000 0%, #140e00 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient56'] {
  background: linear-gradient(90deg, #474700 0%, #0f1400 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient57'] {
  background: linear-gradient(90deg, #0c4700 0%, #0e1400 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient58'] {
  background: linear-gradient(90deg, #044904 0%, #00140a 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient59'] {
  background: linear-gradient(90deg, #004221 0%, #001411 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient60'] {
  background: linear-gradient(90deg, #00394d 0%, #000f0f 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient61'] {
  background: linear-gradient(90deg, #003652 0%, #00061a 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient62'] {
  background: linear-gradient(90deg, #23006b 0%, #000624 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient63'] {
  background: linear-gradient(90deg, #440052 0%, #110029 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient64'] {
  background: linear-gradient(90deg, #410047 0%, #18020f 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button[data-background='gradient65'] {
  background: linear-gradient(90deg, #383838 0%, #0f0f0f 100%);
}
.s-general-settings-page .config-text-logo .color-picker .color-picker-button > svg {
  border-radius: 50%;
  background: rgba(0,0,0,0.25);
  padding: 0.5em;
}
.s-general-settings-page .config-image-logo {
  display: flex;
  flex-wrap: wrap;
}
.s-general-settings-page .config-image-logo .logo-area {
  border: 1px solid var(--light-gray);
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.s-general-settings-page .config-image-logo .logo-input .file-upload {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}
.s-general-settings-page .config-image-logo .logo-input .file-upload .file-upload-label {
  z-index: 0;
}
.s-general-settings-page .config-image-logo .logo-input .file-upload .file-upload-label .file-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  opacity: 0;
}
.s-general-settings-page .config-image-logo .logo-input .image-logo-delete {
  color: var(--red);
}
.s-general-settings-page .color-items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.s-general-settings-page .color-items .color-picker-button {
  box-shadow: none;
  font-size: 0.75rem;
  font-weight: normal;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-general-settings-page .color-items .color-picker-button > svg {
  border-radius: 50%;
  background: rgba(0,0,0,0.25);
  padding: 0.5em;
}
.s-general-settings-page .color-items .color-picker-button > i {
  padding: 0.5em;
  width: 1em;
  height: 1em;
  display: inline-block;
}
.s-email-settings-page .s-settings-items .s-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.s-email-settings-page .s-settings-items .s-item .field:first-child {
  display: inline-block;
}
.s-email-settings-page .s-settings-items .s-item .s-remove {
  text-align: right;
}
.s-email-settings-page .s-settings-items .s-item .s-dkim-field {
  margin-top: 10px;
}
.s-email-settings-page .s-item {
  position: relative;
}
.s-email-settings-page .s-item.js-template {
  display: none;
}
.s-email-settings-page .s-add-item {
  display: inline-block;
  margin-top: 20px;
}
.s-email-templates-page .s-email-template-sidebar-wrapper section header {
  cursor: pointer;
}
.s-email-templates-page .s-email-template-sidebar-wrapper section header .caret {
  display: inline-block;
}
.s-email-templates-page .s-email-template-sidebar-wrapper section header .caret.darr {
  transform: rotate(0);
}
.s-email-templates-page .s-email-template-sidebar-wrapper section header .caret.rarr {
  transform: rotate(-90deg);
}
.s-email-templates-page .s-email-template-sidebar-wrapper .s-new-templates {
  display: block;
  padding: 18px 10px;
  margin: 0 0 10px 1px;
}
.s-email-templates-page .s-email-template-sidebar-wrapper .s-channel {
  cursor: default;
}
.s-email-templates-page .s-email-template-sidebar-wrapper .s-sidebar-items i.darr,
.s-email-templates-page .s-email-template-sidebar-wrapper .s-sidebar-items i.rarr {
  margin-left: -14px;
  margin-top: -1px;
  cursor: pointer;
}
.s-email-templates-page .s-email-template-sidebar-wrapper .s-sidebar-items .s-channel-item {
  display: inline-block;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.s-email-templates-page .s-email-template-sidebar-wrapper .s-sidebar-items .s-channel-edit {
  margin-top: 1px;
  opacity: 0.6;
  transition: opacity 200ms linear;
  cursor: pointer;
  float: right;
}
.s-email-templates-page .s-email-template-sidebar-wrapper .s-sidebar-items .s-channel-edit:hover {
  opacity: 1;
}
.s-email-templates-page .s-email-template-sidebar-wrapper .s-sidebar-items .s-template-item {
  padding-left: 44px !important;
}
.s-email-templates-page .content {
  width: 100%;
}
.s-email-templates-page .content .s-template-form {
  overflow: visible;
}
.s-email-templates-page .content .s-template-form .s-template-name {
  margin-bottom: 26px;
}
.s-email-templates-page .content .s-template-form .field {
  margin-bottom: 16px;
}
.s-email-templates-page .content .s-template-form .field .name {
  margin-top: 2px;
}
.s-email-templates-page .content .s-template-form .field .value .hint {
  margin-top: 6px;
}
.s-email-templates-page .content .s-template-form .field .value .hint .icon10 {
  margin-top: 0;
}
.s-email-templates-page .content .s-template-form .ace {
  display: block;
  padding: 0.625em 0.875em;
  margin: 0;
  border: 0;
  width: 100%;
  height: auto;
  min-height: 2.5em;
  background: var(--background-color-input);
  border-radius: 0.25em;
  font-size: inherit;
  line-height: 1.5em;
  color: var(--text-color-input);
  appearance: none;
  outline: none;
  box-sizing: border-box;
  resize: vertical;
}
.s-email-templates-page .content .s-template-form .ace .ace-eclipse {
  background: transparent;
}
.s-email-templates-page .content .s-template-form .ace .ace-eclipse .ace_active-line {
  background: var(--background-color-input);
}
.s-email-templates-page .content .s-template-form .ace .ace_scroller.ace_scroll-left {
  box-shadow: initial !important;
}
.s-email-templates-page .content .s-template-form .ace .ace_print-margin {
  display: none !important;
}
.s-email-templates-page .content .s-template-form .s-no-templates {
  margin: 80px auto;
  text-align: center;
  color: #999;
}
.s-email-templates-page .content .s-template-form .s-cheat-sheet-wrapper {
  display: inline-block;
  margin-left: 16px;
}
.s-email-templates-page .content .s-channel-actions {
  float: right;
  display: inline-block;
  margin-top: 12px;
}
.s-email-templates-page .content .s-channel-actions a:not(:first-child) {
  margin-left: 12px;
}
@media screen and (max-width: 1380px) {
  .s-email-templates-page .hide-on-small-screens {
    display: none !important;
  }
}
.s-email-edit-channel-dialog .s-channel-actions {
  display: inline-block;
  float: right;
  margin-top: 12px;
}
.s-email-edit-channel-dialog .s-channel-actions a:not(:first-child) {
  margin-left: 12px;
}
.s-sms-templates-page .s-sms-template-sidebar-wrapper .s-new-templates {
  display: block;
  padding: 18px 12px;
  margin: 0 0 10px 0;
}
.s-sms-templates-page .s-sms-template-sidebar-wrapper ul.menu.stack li .icon16 {
  margin-left: -14px;
  cursor: pointer;
}
.s-sms-templates-page .content {
  width: 100%;
}
.s-sms-templates-page .content .s-template-form {
  overflow: visible;
}
.s-sms-templates-page .content .s-template-form .s-template-name {
  margin-bottom: 26px;
}
.s-sms-templates-page .content .s-template-form .field .name {
  margin-top: 2px;
}
.s-sms-templates-page .content .s-template-form .field .value .hint {
  margin-top: 6px;
}
.s-sms-templates-page .content .s-template-form .field .value .hint .icon10 {
  margin-top: 0;
}
.s-sms-templates-page .content .s-cheat-sheet-wrapper {
  display: inline-block;
  margin-left: 16px;
}
.s-sms-templates-page .content .ace {
  display: block;
  padding: 0.625em 0.875em;
  margin: 0;
  border: 0;
  width: 100%;
  height: 10em;
  min-height: 2.5em;
  background: var(--background-color-input);
  border-radius: 0.25em;
  font-size: inherit;
  line-height: 1.5em;
  color: var(--text-color-input);
  appearance: none;
  outline: none;
  box-sizing: border-box;
  resize: vertical;
}
.s-sms-templates-page .content .ace .ace-eclipse {
  background: transparent;
}
.s-sms-templates-page .content .ace .ace-eclipse .ace_active-line {
  background: var(--background-color-input);
}
.s-sms-templates-page .content .ace .ace_scroller.ace_scroll-left {
  box-shadow: initial !important;
}
.s-sms-templates-page .content .ace .ace_print-margin {
  display: none !important;
}
.s-sms-templates-page .content .s-preview {
  text-align: right;
}
.s-sms-templates-page .content .s-preview .s-preview-link {
  display: block;
  margin: 4px 0 14px 0;
  font-size: 14px !important;
}
.s-sms-templates-page .content .s-channel-actions {
  float: right;
  display: inline-block;
  margin-top: 12px;
}
.s-sms-templates-page .content .s-channel-actions a:not(:first-child) {
  margin-left: 12px;
}
.s-sms-templates-page .content .s-no-templates {
  margin: 80px auto;
  text-align: center;
  color: #999;
}
@media screen and (max-width: 1380px) {
  .s-sms-templates-page .hide-on-small-screens {
    display: none !important;
  }
}
.s-sms-preview-template-dialog .s-message-wrapper {
  position: relative;
  margin-left: 20px;
}
.s-sms-preview-template-dialog .s-message-wrapper .message {
  max-width: 255px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  display: inline-block;
  white-space: pre-wrap;
  background-color: #e5e4e9;
  color: #363636;
  margin-right: 80px;
}
.s-sms-preview-template-dialog .s-message-wrapper .message:before {
  border-color: #e5e4e9;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 0 20px;
  bottom: 0;
  clip: rect(20px, 35px, 42px, 0px);
  content: " ";
  height: 40px;
  position: absolute;
  right: -50px;
  width: 30px;
  z-index: -1;
  left: -50px;
  transform: rotateY(180deg);
}
.s-sms-preview-template-dialog .s-sender-wrapper {
  margin-left: 36px;
}
.s-sms-preview-template-dialog .s-sender-wrapper .s-company-userpic {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-bottom: -5px;
}
.s-sms-preview-template-dialog .s-sender-wrapper .s-time {
  display: inline-block;
  margin-left: 8px;
}
.s-sms-check-template-dialog .s-field-error {
  color: #f00;
  margin: -8px 0 10px 17px;
}
.s-sms-check-template-dialog .s-recipient-field .s-field-error {
  margin: 0 0 10px 180px;
}
.s-sms-check-template-dialog .s-templates-list .s-template-item {
  margin-bottom: 10px;
}
.s-auth-settings-page .s-auth-settings-fields-block .field {
  margin: 20px 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-auth-config-params {
  border-bottom: 1px solid #ccc;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-channel-template-diagnostic-messages {
  margin: 10px 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-channel-template-diagnostic-messages .s-error-help-text-wrapper {
  margin: 5px 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-phone-channel-settings-block {
  margin: 8px 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-by-phone-toggle,
.s-auth-settings-page .s-auth-settings-fields-block .s-rememberme-toogle {
  display: inline-block;
  margin-right: 6px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-auth-background .s-background-images {
  margin-top: 0;
  margin-left: -4px;
  padding-left: 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-auth-background .s-background-images li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 5px 5px 0;
  padding: 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-auth-background .s-background-images li a {
  border: 4px solid #fff;
  display: block;
  max-height: 95px;
  max-width: 95px;
  overflow: hidden;
  opacity: 0.7;
  transition: opacity 100ms linear;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-auth-background .s-background-images li a:hover {
  opacity: 0.9;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-auth-background .s-background-images li a img {
  width: 95px;
  height: 95px;
  border-radius: 2px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-auth-background .s-background-images li.selected > a {
  border-color: #fdda3b;
  border-radius: 4px;
  opacity: 1;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-custom-background-preview .s-custom-image-preview {
  display: block;
  max-width: 360px;
  border-radius: 2px;
  margin-top: 30px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-custom-background-preview .s-custom-image-params {
  margin: 4px 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-custom-background-preview .s-custom-image-params .s-image-size {
  margin-left: 5px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview {
  display: inline-block;
  margin: 30px 0;
  padding: 15px 30px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  min-width: 205px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .field {
  margin: 0 0 10px 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .field .s-company-name {
  text-align: center;
  font-weight: normal;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .field .name.s-field-name {
  color: #000;
  width: 205px !important;
  display: block;
  padding-bottom: 4px;
  float: none;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .field .name.s-field-name input {
  width: 201px;
  max-width: 201px;
  min-width: 201px;
  outline: none;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .field .value {
  margin-left: 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .checkbox label {
  white-space: normal;
  margin-bottom: 5px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .s-editable-item.hidden {
  display: none;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .s-editable-text {
  padding-top: 1px;
  padding-left: 1px;
  color: #000;
  line-height: 18px;
  white-space: normal;
  border: 1px dashed #ccc;
  display: block;
  min-height: 18px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .s-editable-item:hover {
  border: dashed #000 1px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .fill {
  min-width: 0 !important;
  width: 201px !important;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .s-placeholder-input {
  color: #888;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .s-placeholder-input:focus {
  color: #000;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .wa-captcha-refresh {
  margin-bottom: 10px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .wa-captcha p {
  margin-bottom: 0;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .wa-captcha strong {
  position: relative;
  top: -16px;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .wa-captcha .wa-captcha-refresh {
  display: inline-block;
  clear: left;
  font-size: 0.8em;
  text-decoration: underline;
  color: #aaa;
}
.s-auth-settings-page .s-auth-settings-fields-block .s-login-form-preview .wa-captcha .wa-captcha-input {
  min-width: 58px !important;
  width: 58px !important;
  position: relative;
  top: -17px;
}
.s-auth-settings-page .file-upload {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}
.s-auth-settings-page .file-upload .file-upload-label {
  z-index: 0;
}
.s-auth-settings-page .file-upload .file-upload-label .file-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  opacity: 0;
}
.s-field-settings-page .s-field-constructor .hint {
  padding: 0 2px;
}
.s-field-settings-page .s-field-constructor .fieldset {
  overflow: hidden;
}
.s-field-settings-page .s-field-constructor .fieldset .fields {
  min-width: 370px;
}
.s-field-settings-page .s-field-constructor .fieldset .field .name {
  color: var(--text-color-stronger);
  width: 360px;
}
.s-field-settings-page .s-field-constructor .fieldset .field .sort {
  cursor: move;
}
.s-field-settings-page .s-field-constructor .s-main-fields-label {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.s-field-settings-page .s-field-constructor a.star:hover i.icon16 {
  background-position: -352px -64px;
}
.s-field-settings-page .s-field-constructor .wa-edit-field-link:not(:hover) > .edit {
  visibility: hidden;
}
.s-field-settings-page .s-new-field {
  margin: 1px 0 20px 0;
}
.s-field-settings-page .s-new-field .add {
  margin-right: 7px;
}
#subfileds-list {
  display: table;
  table-layout: fixed;
}
.s-field-edit-dialog .s-values-textarea-wrapper textarea {
  min-width: 350px;
}
.s-field-edit-dialog .subfields-list td {
  vertical-align: top;
}
.s-field-edit-dialog .subfields-list tr:hover .c-link-wrapper a {
  opacity: 1;
}
.s-field-edit-dialog .editor-on .edit {
  visibility: hidden;
}
.s-field-edit-dialog .editor-on .show-in-readonly {
  display: none;
}
.s-field-edit-dialog .editor-on .name-label {
  display: none;
}
.s-field-edit-dialog .editor-on .name-hint {
  display: none;
}
.s-field-edit-dialog .editor-off .name-input {
  display: none;
}
.s-field-edit-dialog .editor-off .field-advanced-settings > * {
  display: none;
}
.s-field-edit-dialog .editor-off .show-in-readonly {
  display: block;
}
.s-field-edit-dialog .show-always {
  display: block;
}
.s-field-edit-dialog .hide-when-field-enabled {
  display: none;
}
.s-field-edit-dialog .s-link-wrapper {
  float: right;
  display: inline-block;
  text-align: right;
}
.s-field-edit-dialog .s-link-wrapper a {
  opacity: 0.5;
  transition: opacity 200ms linear;
}
.s-field-edit-dialog .s-link-wrapper a:hover {
  opacity: 1;
}
.s-field-edit-dialog .ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 210px;
  display: inline-block;
  overflow: hidden;
}
.s-field-edit-dialog .sort {
  cursor: move;
}
.s-field-edit-dialog .s-subfield-editor {
  margin-bottom: 0.5em;
  width: 1%;
  min-width: 120px;
}
.s-field-edit-dialog .s-subfield-editor .sort {
  margin-top: 1px;
  margin-right: 0;
}
.s-field-edit-dialog .s-subfield-editor .s-small-input {
  width: 109px !important;
  height: 12px !important;
}
.s-field-edit-dialog .s-subfield-editor .no {
  margin-top: 4px;
}
.s-field-values-dialog .sort {
  cursor: move;
}
.s-field-values-dialog .s-values tr {
  display: block;
  margin-bottom: 5px;
}
.s-field-values-dialog .s-delete-value .icon10 {
  margin-top: 1px;
}
.s-db-list-dialog .good {
  color: #139a13;
}
.s-db-list-dialog .bad {
  color: #808080;
}
.s-db-list-dialog .s-dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-db-list-dialog .s-dialog-header a.is-selected b {
  border-bottom: 0;
}
.s-db-list-dialog .s-dialog-header a.is-selected b i {
  color: #000;
  font-weight: bold;
}
.s-db-list-dialog .s-dialog-header a:not(:first-child):before {
  content: "•";
  padding-right: 5px;
  color: #000;
}
.s-db-list-dialog .s-dialog-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@-webkit-keyframes pending {
  0% {
    color: #222;
  }
  50% {
    color: rgba(34,34,34,0);
  }
  100% {
    color: #222;
  }
}
.s-db-list-dialog .s-dialog-footer .s-dialog-notice {
  -webkit-animation: pending 2s linear infinite;
  animation: pending 2s linear infinite;
}
@-moz-keyframes pending {
  0% {
    color: #222;
  }
  50% {
    color: rgba(34,34,34,0);
  }
  100% {
    color: #222;
  }
}
@-webkit-keyframes pending {
  0% {
    color: #222;
  }
  50% {
    color: rgba(34,34,34,0);
  }
  100% {
    color: #222;
  }
}
@-o-keyframes pending {
  0% {
    color: #222;
  }
  50% {
    color: rgba(34,34,34,0);
  }
  100% {
    color: #222;
  }
}
@keyframes pending {
  0% {
    color: #222;
  }
  50% {
    color: rgba(34,34,34,0);
  }
  100% {
    color: #222;
  }
}
.s-regions-settings-page .s-regions-settings-fields-block form table tr td:last-of-type {
  text-align: center;
}
.s-waid-settings-page .s-page-header .s-waid-disconnect {
  color: #555;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  float: right;
}
.s-waid-settings-page .s-page-header .s-waid-disconnect .icon16 {
  margin-top: 6px;
}
.s-waid-settings-page h2 {
  margin-bottom: 1.5rem;
}
.s-waid-settings-page .s-connected-users tr td {
  font-size: 87.5%;
}
.s-waid-settings-page .s-waid-not-connected-users-block {
  margin-bottom: 70px;
}
.s-waid-settings-page .s-waid-not-connected-users-block .s-waid-description-block .s-description {
  margin-top: 10px;
}
.s-waid-settings-page .s-waid-not-connected-users-block .s-not-connected-users tr td {
  font-size: 100%;
}
.s-waid-settings-page .s-waid-not-connected-block .w-waid-connect-panel {
  margin-top: 10px;
  display: table;
}
.s-waid-settings-page .s-waid-not-connected-block .w-waid-connect-panel .w-waid-connect-button-block,
.s-waid-settings-page .s-waid-not-connected-block .w-waid-connect-panel .w-waid-upgrade-checkbox-block,
.s-waid-settings-page .s-waid-not-connected-block .w-waid-connect-panel .w-waid-upgrade-hint-block {
  display: table-cell;
}
.s-waid-settings-page .s-waid-not-connected-block .w-waid-connect-panel .w-waid-connect-button-block {
  white-space: nowrap;
}
.s-waid-settings-page .s-waid-not-connected-block .w-waid-connect-panel .w-waid-upgrade-checkbox-block {
  padding: 15px 10px 0 20px;
}
.s-waid-settings-page .s-waid-invite-progressbar-wrapper {
  margin-bottom: 10px;
}
.s-waid-settings-page .s-waid-invite-progressbar-wrapper .s-waid-invite-progressbar {
  margin: 0 10px 10px 0;
  min-width: 500px;
  display: inline-block;
}
.s-waid-settings-page .s-waid-invite-progressbar-wrapper .s-waid-invite-progressbar .progressbar-inner {
  width: 0;
}
.s-waid-settings-page .s-waid-invite-progressbar-wrapper .s-waid-icon {
  margin-top: 18px;
}
.s-waid-settings-page .s-waid-invite-progressbar-wrapper .s-waid-report {
  margin-left: 2px;
  font-weight: bold;
}
.s-waid-settings-page .s-waid-invite-progressbar-wrapper .errormsg {
  margin-left: 2px;
}
.s-waid-settings-page .hidden {
  display: none;
}
.s-waid-settings-page .s-waid-force-auth-toggle {
  display: inline-block;
  margin-right: 10px;
}
.s-waid-settings-page .s-force-description {
  display: inline-block;
}
.s-waid-settings-page .s-force-description .icon16 {
  margin-top: 0;
}
.s-waid-settings-page .s-force-description .s-green {
  color: #008000;
}
.s-waid-settings-page .s-force-description .s-force-save-status {
  display: none;
}
