<script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.draggable.min.js"></script>
<script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.droppable.min.js"></script>
{wa_js file="js/blog-calendar.min.js"}
{$wa_app_static_url}js/blogCalendar.js
{/wa_js}
<script>
    $.wa_blog_options.calendar = {
        allow_add: {if $allow_add}true{else}false{/if},
        td_title: '[`Click to create a post scheduled to be published on this day`]',
        statuses: {
            'deadline': '{blogPostModel::STATUS_DEADLINE}',
            'draft': '{blogPostModel::STATUS_DRAFT}',
            'scheduled': '{blogPostModel::STATUS_SCHEDULED}',
            'public': '{blogBlogModel::STATUS_PUBLIC}',
            'private': '{blogBlogModel::STATUS_PRIVATE}'
        }
    };
</script>
<div class="b-calendar-page blank box contentbox">
    <div class="b-stream-title flexbox middle space-8 custom-mb-16">
        <div class="custom-ml-auto">
            {if $prev_overdue}
                <i class="fas fa-exclamation-triangle text-red" title="[`Overdue posts`]"></i>
            {/if}
            <a href="?action=calendar&amp;month={$prev_month}"><i class="fas fa-chevron-left"></i></a>
        </div>

        <div>
            <div class="wa-select bold">
                <select name="month" class="month">
                    {foreach $months as $key => $value}
                        <option value="{$key}" {if $current_month == $key}selected{/if}>{$value}</option>
                    {/foreach}
                </select>
            </div>
            <div class="wa-select bold">
                <select name="year" class="year">
                    {foreach $years as $year}
                        <option value="{$year}" {if $current_year == $year}selected{/if}>{$year}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="custom-mr-auto">
            <a href="?action=calendar&amp;month={$next_month}"><i class="fas fa-chevron-right"></i></a>
            {if $next_overdue}
                <i class="fas fa-exclamation-triangle text-red" title="[`Overdue posts`]"></i>
            {/if}
        </div>
    </div>

    <div class="b-post">
        <div class="b-calendar-table">
            <div class="b-calendar-header blank">
                {if $week_first_sunday}
                    <span class="b-day">{_ws('Sun')}</span>
                {/if}
                <span class="b-day">{_ws('Mon')}</span>
                <span class="b-day">{_ws('Tue')}</span>
                <span class="b-day">{_ws('Wed')}</span>
                <span class="b-day">{_ws('Thu')}</span>
                <span class="b-day">{_ws('Fri')}</span>
                <span class="b-day">{_ws('Sat')}</span>
                {if !$week_first_sunday}
                    <span class="b-day">{_ws('Sun')}</span>
                {/if}
            </div>
            {foreach $days as $week}
                {foreach $week as $day}
                    <div
                            id="date-{$day.date.date}"
                            class="blank b-calendar-cell{if $day.date.month != $current_month} b-not-this-month{elseif $day.date.month == $today_month && $day.date.day == $today} b-today{/if} hide-scrollbar"
                            {if $allow_add}onclick="window.location.href='?module=post&action=edit&date={$day.date.date}'"
                            title="[`Click to create a post scheduled to be published on this day`]"{/if}
                    >
                        <span>{$day.date.day}</span>
                        {if $allow_add}
                            <span class="b-add"><i class="fas fa-plus text-light-gray largest opacity-40"></i></span>
                        {/if}
                        {foreach $day.posts as $post}
                            <p title="{$post.blog_name|escape}" class="custom-mt-4 custom-mb-8 status-{$post.status} z-10" data-post-id="{$post.id}">
                                {strip}
                                {if isset($post.alert)}
                                    <i class="fas fa-exclamation-triangle smaller text-gray" title="[`Overdue`]"></i>
                                {elseif $post.status == blogPostModel::STATUS_DEADLINE}
                                    <i class="fas fa-exclamation-triangle smaller text-orange" title="[`Overdue`]"></i>
                                {elseif $post.status == blogPostModel::STATUS_DRAFT}
                                    <i class="fas fa-pen smaller text-gray" title="[`Draft`]"></i>
                                {elseif $post.status == blogPostModel::STATUS_SCHEDULED}
                                    <i class="fas fa-clock smaller text-blue" title="[`Scheduled for publication`]"></i>
                                    <strong class="small italic">{$post.datetime|wa_datetime:'time'}</strong>
                                    &nbsp;
                                {elseif $post.blog_status == blogBlogModel::STATUS_PUBLIC}
                                    <i class="fas fa-check-circle smaller text-green" title="[`Published`]"></i>
                                {elseif $post.blog_status == blogBlogModel::STATUS_PRIVATE}
                                    <i class="fas fa-lock smaller text-gray" title="[`Private post`]"></i>
                                {/if}
                                {/strip}
                                {$target=''}
                                {if $post.editable}
                                    {if $post.status neq blogPostModel::STATUS_PUBLISHED || $post.blog_status eq blogBlogModel::STATUS_PUBLIC}
                                        {$post_link="?module=post&amp;id=`$post.id`&amp;action=edit"}
                                    {elseif $post.link && $post.status eq blogPostModel::STATUS_PUBLISHED}
                                        {$target='target="_blank"'}
                                        {$post_link=current($post.link)}
                                    {else}
                                        {$post_link="?module=post&amp;id=`$post.id`"}
                                    {/if}
                                {elseif $post.link && $post.status eq blogPostModel::STATUS_PUBLISHED}
                                    {$target='target="_blank"'}
                                    {$post_link="{current($post.link)}"}
                                {else}
                                    {$post_link="?module=post&amp;id=`$post.id`"}
                                {/if}

                                <a href="{$post_link}"{$target} class="small {if isset($post.overdue) && $post.overdue}b-draft-overdue{else if $post.status eq blogPostModel::STATUS_DEADLINE || $post.status eq blogPostModel::STATUS_DRAFT}b-draft{else}{$post.color}{/if} {if $post.status eq blogPostModel::STATUS_SCHEDULED}italic{/if}">
                                    {$post.title|escape}
                                </a>
                                {if $post.status == blogPostModel::STATUS_PUBLISHED}
                                    <span class="hint">{$post.datetime|wa_datetime:"time"}</span>
                                {/if}
                            </p>
                        {/foreach}
                    </div>
                {/foreach}
            {/foreach}
        </div>
    </div>
</div>
<script>$.wa.locale['Overdue'] = '[`Overdue`]';</script>
