{*
Шаблон счета для юридических лиц (РФ)
 @var waOrder $order Order data
 @var string[string] $settings Payment plugin settings (data already escaped!)
 @var string[string] $company Customer company info (data already escaped!)
*}{strip}
<!DOCTYPE HTML>
<html style="padding: 0; margin: 0;">
<head>
    <meta charset="UTF-8">
    <title>Счет {$order.order_id_str|escape}</title>
</head>
<body style="padding: 16px; margin: 0; font-family: Verdana, Arial, sans-serif; font-size: 7pt; line-height: 1; color: #000;">
    <table cellpadding="0" cellspacing="0" width="100%" border="0" style="border-collapse: collapse;">
        <tr>
            <td style="width: 50%; vertical-align: top;">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" style="border-collapse:collapse;">
                    <tr>
                        <td style="vertical-align: top; padding: 0 0 6px; border-bottom: 1px solid #000;">
                            Оплата является признанием условий поставщика. цена и срок поставки пересматриваются в случае неоплаты в течение 2-х банковских дней или в случае непоступления денег в течение 7 календарных дней. срок поставки исчисляется с момента поступления денег на расчетный счет поставщика.
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom: 1px solid #000; padding: 10px 0;">
                <table cellpadding="4" cellspacing="0" border="0" style="border-collapse:collapse;">
                    <tr>
                        <td style="width: 20%; text-align: right;">ИНН</td>
                        <td><b>{$settings.inn}</b></td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right;">КПП</td>
                        <td><b>{$settings.kpp}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Получатель</td>
                        <td><b>{$settings.company_name}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Адрес</td>
                        <td><b>{$settings.company_address}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Тел.</td>
                        <td><b>{$settings.company_phone}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Р/счет</td>
                        <td>
                            <b style="margin: 0 20px 0 0;">{$settings.bank_account_number}</b>
                            Банк <b>{$settings.bank_name}</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">К/счет</td>
                        <td><b>{$settings.bank_kor_number}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">БИК</td>
                        <td><b>{$settings.bik}</b></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 10px 0;">
                <table>
                    <tr>
                        <td colspan="2"><b>Счет {$order.id_str|escape} от {$order.datetime|date_format:'d.m.Y'}</b></td>
                    </tr>
                    <tr>
                        <td align=right width="20%">ИНН</td>
                        <td><b>{$company.inn|default:''}</b></td>
                    </tr>
                    <tr>
                        <td align=right width="20%">Плательщик</td>
                        <td><b>{$company.company|default:''}</b></td>
                    </tr>
                    <tr>
                        <td align=right width="20%">Адрес</td>
                        <td>
                            <b>
                                {if !empty($order.billing_address.address)}
                                    {$order.billing_address.city|escape}, {$order.billing_address.zip|escape}, {$order.billing_address.street|escape}
                                {else}
                                    {$order.shipping_address.city|escape}, {$order.shipping_address.zip|escape}, {$order.shipping_address.street|escape}
                                {/if}
                            </b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellspacing=1 cellpadding=4 width="100%" bgcolor=#aaaaaa border=0>
                    <tr bgcolor=white>
                        <td>#</td>
                        <td width="30%">Наименование работ (услуг)</td>
                        <td>Ед.изм.</td>
                        <td>Кол-во</td>
                        <td>Цена</td>
                        <td width="5%" align=right>Сумма</td>
                    </tr>
                    {foreach $order.items as $item}
                        <tr bgcolor=white>
                            <td>{$item@iteration}</td>
                            <td><b>{$item.name|escape}</b></td>
                            <td>шт.</td>
                            <td>{$item.quantity}</td>
                            <td>{$item.price|wa_format_amount:$order.currency:'%2'}</td>
                            <td style="white-space: nowrap; text-align: right;">{$item.total|wa_format_amount:$order.currency:'%2'}</td>
                        </tr>
                    {/foreach}
                    {if $order.shipping > 0}
                        <tr bgcolor=white>
                            <td>{$item@iteration+1}</td>
                            <td><b><nobr>Доставка {$order.shipping_name|escape}</nobr></b></td>
                            <td>шт.</td>
                            <td>1</td>
                            <td style="white-space: nowrap;">{$order.shipping|wa_format_amount:$order.currency:'%2'}</td>
                            <td style="white-space: nowrap; text-align: right;">{$order.shipping|wa_format_amount:$order.currency:'%2'}</td>
                        </tr>
                    {/if}
                </table>
                <table cellspacing=0 cellpadding=5 width="100%" border=0 style="margin: 10px 0;">
                    <tr bgcolor=white>
                        <td align=right width="90%"><b>ИТОГО:</b></td>
                        <td style="white-space: nowrap; text-align: right; width: 10%;"><b>{$order.subtotal|wa_format_amount:$order.currency:'%2'}</b></td>
                    </tr>
                    {if $order.discount > 0}
                        <tr bgcolor=white>
                            <td align=right width="90%">Скидка:</td>
                            <td align=right width="10%"><b>{$order.discount|wa_format_amount:$order.currency:'%2'}</b></td>
                        </tr>
                    {/if}
                    {if $order.tax > 0}
                        <tr bgcolor=white>
                            <td align=right width="90%">НДС</td>
                            <td align=right width="10%"><b>{$order.tax|wa_format_amount:$order.currency:'%2'}</b></td>
                        </tr>
                    {/if}
                    <tr bgcolor=white>
                        <td align=right width="90%"><b>Всего к оплате</b></td>
                        <td style="white-space: nowrap; text-align: right; width: 10%;"><b>{$order.total|wa_format_amount:$order.currency:'%2'}</b></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding=6>
                    <tr bgcolor=white>
                        <td><b>Всего к оплате</b></td>
                        <td>{$order.total|wa_format_amount:$order.currency:'words'}</td>
                    </tr>
                    <tr bgcolor=white>
                        <td>&nbsp;</td>
                        <td>НДС - {$order.tax|wa_format_amount:$order.currency:'words'}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 10px 0 0;">
                <table cellpadding=6>
                    <tr bgcolor=white>
                        <td><b>Менеджер по продажам</b></td>
                        <td>_______________________________</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
{/strip}
