{if !empty($app_payment)}{$_action = "`$wa_app_url`data/payment/invoicejur/printForm/"}{else}{$_action = ''}{/if}

<form action="{$_action}" method="POST" target="_blank">
    {$wa->csrf()}
    <input type="submit" value="Распечатать счет на оплату">
    <input type="hidden" name="printform" value="1">
    {if !empty($app_payment)}
        <input type="hidden" name="plugin" value="invoicejur">
        <input type="hidden" name="order_id" value="{$order_id|escape}">
        <input type="hidden" name="merchant_id" value="{$merchant_id|escape}">
        <input type="hidden" name="app_payment" value="1">
        {if !empty($payment_params)}
            {foreach $payment_params as $key => $val}
                <input type="hidden" name="payment_params_{$key|escape}" value="{$val|escape}">
            {/foreach}
        {/if}
    {/if}
</form>
