#wa { background: url('../img/developer-bg.png'); }
#wa-account h3, #wa-account a, #wa-usercorner a, #wa-applist li a { color: #efd !important; text-shadow: 0 1px 3px #333; }
#wa-applist li.selected a { color: #fff !important; }

ul.tabs.d-greeny-style li { border-color: #796; background: #daeeca; }
ul.tabs.d-greeny-style li.selected { border-color: #796 #796 #fff; background: #fff; }
.tab-content.d-greeny-style { border-color: #796; box-shadow: 0 2px 4px #555; }

.d-sandbox-column { width: 50%; min-height: 100%; display: inline-block; overflow: hidden; margin-right: -1px /* because of border */; position: relative; }
.d-sandbox-column .d-header h2 { color: #aaa; margin-top: 0.2em; }
.d-sandbox-column .d-header h2 select { position: relative; top: -2px; }
.d-sandbox-column .d-editor { border: 1px dashed #ccc; min-height: 100px; }
#d-compile-toolbar { position: absolute; bottom: 0; width: 95%; }

#result-wrapper { overflow: auto; }

/* UI sandbox from webasyst.com */

.wa-ui-playground .wa-ui-predefined-controls { background: #eee; border-top: 1px solid #ccc; }
.wa-ui-playground .wa-ui-sandbox textarea { width:97%; min-height: 350px; font-size: 0.9em; }
.wa-ui-playground .wa-ui-sandbox iframe { width: 95%; min-height: 350px; border: 1px solid #777; }
.wa-ui-playground .wa-ui-sandbox .heading a { text-transform: none; }
#wa .wa-ui-class pre { background-color: #F3F3F3; border: 1px dashed #CCCCCC; padding: 20px; }