{$class_id = 'wa-backend-forgotpassword-form-wrapper'}
{$wrapper_id = uniqid($class_id)}
<div class="{$class_id}" id="{$wrapper_id}">

    {$renderer->setTitle("[s`Password recovery`]")}

    {if !empty($sent)}

        {$renderer->setMessages($messages)}

        {capture assign=_html}
            {$renderer->renderTitle()}
            <a href="{$login_url}">[s`Back to login page`]</a>
            {$renderer->renderMessages()}
        {/capture}

        {$renderer->wrap($_html, ['include_css' => true])}

    {else}
        {$renderer->render($data, $errors, $messages)}
    {/if}

</div>
