.wa-photo-wrapper {
  padding: 0.5em;
}
.wa-photo-wrapper .album-name {
  margin: 0 0 0 0.5rem;
}
.wa-photo-wrapper .album-note {
  margin: 0.5rem;
}
.wa-photo-wrapper .album-description {
  margin: 0.5rem 0;
}
.wa-photo-wrapper .albums-wrapper .albums-header {
  margin: 0 0 0 0.5rem;
  padding: 0;
}
.wa-photo-wrapper .albums-wrapper .album-item {
  margin: 0.5em 0 0;
}
.wa-photo-wrapper .albums-wrapper .album-item:first-child {
  margin-top: 0;
}
.wa-photo-wrapper .albums-wrapper .album-item .album-link {
  position: relative;
  display: block;
}
.wa-photo-wrapper .albums-wrapper .album-item .album-link .image-block {
  display: block;
  width: 100%;
  height: 10em;
  background: #fff 50% 50% no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}
.wa-photo-wrapper .albums-wrapper .album-item .album-link .image-block img {
  display: none;
}
.wa-photo-wrapper .albums-wrapper .album-item .album-link .text-block {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background: rgba(0,0,0,0.25);
  color: #fff;
  font: normal 0.9em/1 "Helvetica Neue", "Roboto Condensed", "Roboto", Arial, sans-serif;
  box-sizing: border-box;
}
.wa-photo-wrapper .albums-wrapper .album-item .album-link .text-block .album-name,
.wa-photo-wrapper .albums-wrapper .album-item .album-link .text-block .album-count {
  display: block;
}
.wa-photo-wrapper .albums-wrapper .album-item .album-link .text-block .album-count {
  margin: 0.5em 0 0;
}
.wa-photo-wrapper .albums-wrapper + .photo-list-wrapper {
  margin: 0.5em 0 0;
}
.wa-photo-wrapper .photo-list-wrapper .photo-item {
  margin: 0.5em 0 0;
}
.wa-photo-wrapper .photo-list-wrapper .photo-item:first-child {
  margin-top: 0;
}
.wa-photo-wrapper .photo-list-wrapper .photo-item .photo-desc {
  margin: 1.25em 0 0.25em 0.5rem;
  padding: 0;
}
.wa-photo-wrapper .photo-list-wrapper .photo-item .image-wrapper .image {
  position: relative;
  display: block;
  background: #fff 50% no-repeat;
  background-size: contain;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}
.wa-photo-wrapper .photo-list-wrapper .photo-item .image-wrapper .image .indicator {
  position: absolute;
  font-size: 1rem;
  line-height: 1rem;
  top: 0.5em;
  right: 0.5em;
  min-width: 1em;
  text-align: center;
  padding: 0.5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  background: rgba(0,0,0,0.5);
  color: #fff;
}
.wa-photo-wrapper .photo-list-wrapper .photo-item .image-wrapper .image .stack {
  padding: 0.5rem 0;
  line-height: 1rem;
}
.wa-photo-wrapper .photo-list-wrapper .photo-item .image-wrapper .image .stack .stack-nav {
  font-size: 1rem;
  line-height: 2.5;
}
.wa-photo-wrapper .photo-list-wrapper .photo-item .image-wrapper .image .stack .stack-nav a {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}
.wa-photo-wrapper .photo-list-wrapper .photo-item .image-wrapper .image > a img,
.wa-photo-wrapper .photo-list-wrapper .photo-item .image-wrapper .image > img {
  height: auto !important;
  width: 100% !important;
  vertical-align: middle;
}
.wa-photo-wrapper .photo-page-wrapper .photo-wrapper {
  background: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}
.wa-photo-wrapper .photo-page-wrapper .photo-wrapper .image-wrapper {
  text-align: center;
  min-height: 8em;
}
.wa-photo-wrapper .photo-page-wrapper .photo-wrapper .image-wrapper .image-link {
  display: block;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
}
.wa-photo-wrapper .photo-page-wrapper .photo-wrapper .image-wrapper .image-link img {
  height: auto !important;
  width: 100% !important;
}
.wa-photo-wrapper .photo-page-wrapper .photo-desc-wrapper {
  padding: 0.5em;
}
.wa-photo-wrapper .photo-page-wrapper .photo-desc-wrapper .line {
  margin: 1em 0 0;
}
.wa-photo-wrapper .photo-page-wrapper .photo-desc-wrapper .line:first-child {
  margin-top: 0;
}
.wa-photo-wrapper .photo-page-wrapper .photo-desc-wrapper .stack {
  padding: 0.5rem 0;
}
.wa-photo-wrapper .photo-page-wrapper .photo-desc-wrapper .stack .stack-nav {
  font-size: 1rem;
  line-height: 2.5;
  text-align: center;
}
.wa-photo-wrapper .photo-page-wrapper .photo-desc-wrapper .stack .stack-nav a {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star,
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star-half,
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star-hover,
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star-empty {
  color: #f7c854;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star:before,
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star-half:before,
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star-hover:before,
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star-empty:before {
  display: inline-block;
  width: 1em;
  font: normal 1em/1em "fontello";
  text-decoration: none;
  text-transform: none;
  text-align: center;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star-half:before {
  content: '\e802';
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star:before,
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star-hover:before {
  content: '\e800';
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .star-empty:before {
  content: '\e801';
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper > p {
  margin: 0.5em 0 0;
  padding: 0.5em;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper > p .p-rate-photo {
  font-size: 2em;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper > p .hint {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 1rem;
  font-size: 1.25rem;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper > p .p-rate {
  font-size: 1rem;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper > p .p-rate .p-rate-photo {
  display: block;
  margin: 0 0 1rem 0;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments .comments-header {
  margin-left: 0.5rem;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments > ul {
  margin: 0.5em 0 0;
  padding: 0.5em;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments ul {
  list-style: none;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments ul li {
  margin: 0;
  list-style: none;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments ul li:first-child {
  margin-top: 0;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments ul li li {
  margin: 0.5rem 0 0 3rem;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments ul li li .comment {
  position: relative;
  border-width: 0 0 0 1px;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments ul li li .comment:after {
  position: absolute;
  top: -0.1rem;
  right: 100%;
  margin: 0 0.5rem 0 0;
  content: "";
  opacity: 0.33;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent url("./img/icons/arrow-child.png") 50% no-repeat;
  background-size: 1em;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments .comment {
  margin: 0;
  padding: 0.5em;
  background: #fcfcfc;
  border: solid rgba(0,0,0,0.1);
  border-width: 1px 0 0 0;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments .comment .credentials > a {
  display: inline-block;
  margin: 0 0.25rem 0 0;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments .comment .credentials > a img {
  max-width: 1.25rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments .comment .credentials .date {
  display: inline-block;
  font-size: 0.8rem;
  color: #aaa;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments .comment .text {
  margin: 0.5rem 0;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comments .comment .actions {
  text-align: right;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form {
  margin: 0.5em 0 0;
  padding: 0.5em;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form h4 {
  font-size: 1.35rem;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form .comment-form-fields p {
  line-height: 1.3em;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form .comment-form-fields p img {
  vertical-align: top;
  max-width: 1.25rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form #user-auth-provider {
  list-style: none;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form #user-auth-provider li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form #user-auth-provider li a {
  display: block;
  margin: 0 0.25em 0.25em 0;
  padding: 0.5em;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.9em;
  color: #121212;
  text-decoration: none;
  background: #fcd630;
  background: #fcd630 -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: #fcd630 -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.5)), color-stop(100%, rgba(255,255,255,0)));
  background: #fcd630 -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: #fcd630 -o-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: #fcd630 -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: #fcd630 linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form #user-auth-provider li a img {
  vertical-align: middle;
  margin: 0 0.2rem 0 0;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form .wa-captcha strong,
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form .wa-captcha .wa-captcha-refresh {
  display: none;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form .comment-submit {
  margin: 1rem 0 0;
}
.wa-photo-wrapper .photo-page-wrapper .plugin-wrapper .comment-form .comment-submit .hint {
  display: none;
}
.wa-photo-wrapper .p-page-wrapper {
  margin: 0.5em 0 0;
  padding: 0.5em;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
