<script type="text/javascript">
    document.title = {json_encode($app.name)} + ' [`settings`] — ' + {json_encode($domain)};
</script>
<div class="s-editor s-white s-app-settings">
	<form id="s-settings-form" method="post" action="?module=routing&action=params&domain_id={$domain_id}&route={$route_id}">
	<div class="float-left">
		<div class="block float-right">
			<ul class="menu-h">
				<li><a href="#" class="s-route-action s-route-delete" title="[`Delete rule`]"><i class="icon16 delete"></i>[`Delete rule`]</a></li>
			</ul>
		</div>
		<div class="block padded">
			<h4>[`{$app.name|escape} app settled at`] /{$route.url|escape}</h4>
		</div>
		<div class="block padded">
			<div class="fields form">
				{$themes=siteHelper::getThemes($app_id, true)}
				{if $themes}
				<div class="field-group">
				<div class="field">
					<div class="name">[`Settlement name`]</div>
					<div class="value">
						<input type="text" name="params[_name]" value="{$route._name|escape}" class="bold" /><br />
						<span class="hint">[`Name is used in the <em>$wa->apps</em> navigation menu of this website`]</span>
					</div>
				</div>
				<div class="field">
					<div class="name">[`Design theme`]</div>
					<div class="value">
						{html_options name="params[theme]" options=$themes selected=$route.theme}
					</div>
				</div>
				<div class="field">
					<div class="name">[`Mobile design theme`]</div>
					<div class="value">
						{html_options name="params[theme_mobile]" options=$themes selected=$route.theme_mobile}
						<br />
						<span class="hint">[`Design theme for mobile multi-touch devices such as iPhone and Android`]</span>
					</div>
				</div>
                <div class="field">
                    <div class="name">[`Locale`]</div>
                    <div class="value">
                        {html_options name="params[locale]" options=$locales selected=$route.locale}
                    </div>
                </div>
                 <div class="field">
                    <div class="name">[`Privacy`]</div>
                    <div class="value">
                    	<label>
                    	<input type="checkbox" value="1" name="params[private]"{if !empty($route.private)} checked{/if}> [`Private settlement`]<br />
                        <span class="hint">[`When this option is enabled, the settlement is treated as hidden (not published), i.e. accessible by the direct URL but not included either in the $wa->apps array or in the main Sitemaps file. The private setting is useful for temporary settlements, such as “Under Construction” pages, and for other settlements which should not be included in the core website navigation menu or indexed by search engines.`]</span>
                        </label>
                    </div>
                </div>
				</div>
				{/if}
				{if !empty($params)}
					{foreach $params item=p}
					<div class="field">
						<div class="name">{$p.name|escape}</div>
						<div class="value">{$p.value}</div>
					</div>
					{/foreach}
				{/if}				
				<div class="field">
					<div class="name">[`Custom parameters`]</div>
					<div class="value">
						<textarea name="other_params">{foreach $route as $key=>$value}{if !in_array($key, array('app', 'url', 'theme', 'theme_mobile', 'locale', 'private')) && substr($key, 0, 1) != '_' && !isset($params[$key])}{$key|escape}={if $value===false}0{else}{$value|escape}{/if}

{/if}{/foreach}</textarea>
						<br />
						<span class="hint">[`Optional set of custom <em>key=value</em> parameters which can be used within design templates and pages of this settlement as <em>&#123;$wa->globals("key")&#125;</em>. Each key=value pair should be on a separate line.`] <a href="[`http://www.webasyst.com/framework/docs/site/design/`]" target="_blank">[`Help`]</a> <i class="icon10 new-window"></i></span>
					</div>
				</div>
				<div class="field">
					<div class="value">
						<input type="submit" name="save" class="button green" value="[`Save`]" /> [`or`] <a class="inline-link cancel" href="#"><b><i>[`cancel`]</i></b></a>
						<span id="s-settings-form-status"></span>
					</div>
				</div>					
			</div>
		</div>
	</div>
	</form>
<div class="clear"></div>
</div>

<script type="text/javascript">
    $("a.s-route-delete").click(function () {
        if (confirm('[`This will delete the rule from website structure. Are you sure?`]')) {
            $.post("?module=routing&action=delete&domain_id={$domain_id}", { "route": "{$route_id}"}, function (response) {
                if (response.status == 'ok') {
                    $("#route-{$route_id}").remove();
                    $("#s-route-params").html('<div class="block double-padded align-center hint"><br />' +
                        '<img src="{$wa_url}wa-apps/site/img/gear.png"><br /><br />[`Select route to manage its settings`]' +
                        '<div class="clear"></div></div>'
                    ).animate({ 'margin-left': '75%'}, 'slow');
                    $(".s-editor .sidebar").animate({ 'width':'75%'}, 'slow');
                    $("#s-rules").removeClass('s-routing-minimized');
                    $("#s-rules .s-domain-url").show();
                }
            }, "json");
        }
        return false;
    });
	$("#s-settings-form").submit(function () {
		var f = $(this);
		$("#s-settings-form-status").html('<i style="vertical-align:middle" class="icon16 loading"></i> [`Saving...`]').fadeIn("slow");
		$.post(f.attr('action'), f.serialize(), function () {
			$("#s-settings-form-status").html('<i style="vertical-align:middle" class="icon16 yes"></i>[`Saved`]').fadeOut('slow', function () {
                site_routing_full();
            });
		});
		return false;
	});
    $("#s-settings-form .cancel").click(function () {
        site_routing_full();
        return false;
    });
</script>