#wa { background: #fff; }

/* layout */
ul.menu-v li.top-padded { padding-top: 10px !important; }
.s-scrollable-content { zoom: 1; }
.s-scrollable-part { bottom: 50px; top:0; right: 0; left:0; overflow: auto; position: absolute; }
.s-scrollable-part.s-no-editor { bottom: 0; }
.s-bottom-fixed-bar { bottom: 0; float: none; height: 50px; left: 0; position: absolute; right: 0; background-color: #f7f7f7; border-top: 1px solid #ddd; }
.s-bottom-fixed-bar-content-offset .block { padding: 10px 10px 0 }
.s-bottom-fixed-bar-content-offset { margin-left: 410px; }
.s-bottom-fixed-bar-content-offset.s-page-editor { margin-left: 210px; }
.s-bottom-fixed-bar-content-offset #process-message i.icon16 { margin-top: 6px; }
.s-content:before, .s-content:after { content: ""; display: table;}
.s-content:after { clear: both; }
/* core app sidebar: app design editing tools, page list, settings */
.s-site-selector { display: inline-block; vertical-align: middle; margin: 5px 0 0; }
.s-site-selector h1 { line-height: 1.1em; font-size: 1.3em; margin: 0; max-width: 170px;  display: inline-block; overflow: hidden;white-space: nowrap;  }
.s-site-selector a.hint { padding-left:16px; }
.s-site-selector a.hint i.icon10 { margin: 0 2px 0 -12px }
.s-site-selector ul.menu-h.dropdown li { padding-left:0px;}
.s-site-selector li { padding-left: 0;}
.s-site-selector li h1 { margin-left: -5px; }
.s-site-selector li a { padding-bottom: 5px; padding-right: 0; padding-left: 10px; margin-left: -3px; margin-right: 5px; }
.s-site-selector li a i.icon16 { margin-top: 0; }
.s-site-selector li .s-menu-h-item-icon a { padding-left: 20px; }
.s-site-selector li a b { font-weight: bold;}
.s-site-selector ul.menu-v { min-width: 200px; font-size: 1.0em; width: inherit !important; }
.s-site-selector ul.menu-v li { padding-left: 8px !important /* no icons here */; overflow: hidden; }
.s-site-selector-left { display: inline-block; vertical-align: middle; }
.s-site-selector ul.menu-v.with-icons a { margin-left: 0; padding-left: 20px }
.s-site-selector ul.menu-v li.s-add-new-site { border-top: 1px solid #ccc; margin-top: 5px; padding-top: 8px; padding-bottom: 8px; }
.s-sidebar .s-app16x16icon-menu-v { position: absolute; top: 2px; left: 4px; }
.s-grey-toolbar  ul.tabs { margin-bottom: -10px; margin-top: 20px; }
a.s-settings-link { display: block; padding: 3px 0 5px; font-size: 0.8em; color: #999; text-decoration: none; }
a.s-settings-link i.icon10 { margin-top: 0px; margin-right: 2px; }
a.s-settings-link:hover { color: red; }
a.s-settings-link.selected { background: #eee; }
.s-site-selector a.s-settings-link { padding-left: 6px; padding-top: 7px; }
.s-site-selector a.s-settings-link i.icon10 { margin-top: 1px; margin-right: 5px; }
/* content part */
.s-content .s-editor { border-left: 1px solid #ccc; background: #eee; zoom:1; }
.s-content .s-editor.s-editor-shadow {-moz-box-shadow:0 5px 3px #d9d9d9 inset; -webkit-box-shadow:0 5px 3px #d9d9d9 inset;  box-shadow:0 5px 3px #d9d9d9 inset;  z;}
.s-content .s-editor-core-wrapper { background: #fff; }
.s-content .s-editor textarea.s-editor-core { width: 100%; min-height: 400px; HEIGHT: 800px; margin: 0; border: 0; }
.s-content .s-editor input.s-page-title { font-size: 1.8em; font-weight: bold; font-family: Helvetica, Arial, sans-serif; width: 75%; margin-bottom: 5px; }
.s-content .s-editor textarea.s-editor-core:focus { outline: none;}
.s-content .s-editor ul.s-page-status ul.menu-v { min-width: 250px; }
.s-content .s-editor ul.s-page-status li.s-page-preview { min-width: 450px; }
.s-content .s-editor ul.s-page-status li.s-page-preview a { display: inline; text-decoration: underline; }
.s-content .s-editor ul.s-page-status li.s-page-preview a.inline-link { color: #03c; }
.s-content .s-editor ul.s-page-status li.s-page-preview a.inline-link:hover { color: red; }
.s-content .s-editor .s-overhanging-amp { position: absolute; left: -1em; top: 5px; }
.s-content .s-editor a.s-delete { color: red; margin-left: 10px; }
.s-content .s-editor h4 { font-size: 1.3em; }
.s-content .s-editor .s-block-code { color: #555; }
.s-content .s-app-settings { border-left: 1px solid #ccc; background: #fff; zoom:1; }
.s-content .s-app-settings .hr { margin: 0; }
.s-content .s-app-settings .heading { margin-bottom: 20px; }
.s-content .s-page-urls { margin-bottom: 2px; }
.s-content .wa-page-app-url { }
.s-content .wa-page-app-url.gray { color: #AAA; }
.s-content .wa-page-app-url.s-disabled, .s-content .wa-page-app-url.s-disabled input { color: #aaa; }
.s-content .wa-page-app-url img { position: relative; top: 2px; margin-left: 2px; }
.s-content .wa-page-wysiwyg-html-toggle { margin-right: 17px; margin-top: -20px; float: right; margin-bottom:0 }
.s-content .wa-page-wysiwyg-html-toggle li { list-style: none; float: left; }
.s-content .wa-page-wysiwyg-html-toggle li a { display: block; color: #888; font-weight: bold; padding: 4px 12px 6px; text-decoration: none; font-size: 0.9em; }
.s-content .wa-page-wysiwyg-html-toggle li.selected a { background: #fff; }

/* app design editor header */
.s-core-app-name { margin: 0; padding: 15px 15px 5px 45px; }
.s-core-app-name h2.s-short-header { line-height: 0.9em; vertical-align: top; min-width: 166px; font-weight: normal; font-size: 1.3em; }
.s-core-app-name h2.s-short-header img { float: left; margin: 0px 7px 0 -33px; width: 24px; height: 24px; vertical-align: middle;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}
.s-core-app-name h2.s-short-header .hint { font-size: 0.66em; }

/* app design editor template & theme list */
.s-internal-sidebar { padding-bottom: 10px; }
.s-internal-sidebar.s-sidebar-shadow { -moz-box-shadow:0 5px 3px #DEDEDE inset; -webkit-box-shadow:0 5px 3px #DEDEDE inset;  box-shadow:0 5px 3px #DEDEDE inset; }
.s-internal-sidebar .s-theme-block { margin-top: 20px; }
.s-internal-sidebar ul.menu-v.with-icons .s-app16x16icon-menu-v { position: absolute; left: 7px; top: 3px; }
.s-internal-sidebar ul.menu-v.with-icons { padding:0 5px 0 3px; margin-top: 7px;}
.s-internal-sidebar ul.menu-v.with-icons li { padding: 4px 2px 4px 24px;}
.s-internal-sidebar ul.menu-v.with-icons li a b { display: inline-block; max-width: 120px; font-weight: normal; overflow: hidden;vertical-align: top;}
.s-internal-sidebar ul.menu-v.with-icons li ul li a b { max-width: 138px;}
.s-internal-sidebar ul.menu-v.with-icons li ul li ul li a b { max-width: 82px;}
.s-internal-sidebar ul.menu-v.with-icons li ul li ul li ul li a b { max-width: 60px;}
.s-internal-sidebar ul.menu-v.with-icons a { padding-left: 33px;}
.s-internal-sidebar ul.menu-v.with-icons.s-folderlist a {padding-left: 23px;}
.s-internal-sidebar ul.menu-v.with-icons li.selected a { background: #e7e7e7; }
.s-internal-sidebar ul.menu-v.with-icons li.selected ul.menu-v li a { background: #f7f7f7; }
.s-internal-sidebar .heading a.s-theme-preview i.icon16 { margin-left: 0; }
.s-internal-sidebar ul.menu-v.with-icons i.icon16.overhanging { margin-left: -20px; margin-right: 4px;}
.s-internal-sidebar h4 { margin: 10px 10px 0;}
.s-site-not-settled { background: url('../../wa-content/img/recovery-mode-background.png'); }
.s-site-not-settled span { background: #ff0; font-weight: bold; line-height: 1.2em; }

.s-routing-header { border-bottom: 1px solid #ccc; padding-top: 15px;}
table.s-settings-apps { margin-top: 10px; }
table.s-routing #s-routing-addrule { display: none; }
table.s-routing td.s-url { padding-left: 10px; width: 50%; }
table.s-routing td.s-url span { color: #aaa; }
table.s-routing td.s-url input { width: 100px; }
table.s-routing td.s-app { vertical-align: middle; padding-top: 10px; }
table.s-routing td.s-app img { float: left; top: 5px; width: 24px; height: 24px; margin-right: 6px; margin-top: -6px; }
table.s-routing td.s-actions, table.s-settings-apps td.s-actions { text-align: right; width: 1%; white-space: nowrap; }
table.s-routing td.s-actions a, table.s-settings-apps td.s-actions a { display: none; }
table.s-routing tr:hover td.s-actions a, table.s-settings-apps tr:hover td.s-actions a { display: inline; }
table.s-settings-apps td.s-app { vertical-align: middle; width: 230px; }
#s-apps-add { margin-left: 5px; }

/* files */
.s-content .s-editor.s-white { background: #fff;}
.s-grey-toolbar { background: #eee; }
.s-files-baseurl { padding: 13px 10px 0; }
.s-files-baseurl a.s-baseurl { text-decoration: none; padding: 5px; }
.s-files-baseurl a.selected { background: #e7e7e7; }
.s-files-path-to-folder { color: #aaa; }
.s-internal-sidebar .hierarchical { padding-left: 10px;}
ul.s-folderlist a { font-size: 0.9em; padding-left: 23px; }
ul.s-filelist-actions-menu { margin-top: 10px; margin-left: -5px; }

table.s-filelist { margin-bottom: 130px; }
table.s-filelist tr a i.s-file-actions { background-position: 10px 10px; }
table.s-filelist tr a:hover i.s-file-actions { background-position:-10px 0; }

table.s-filelist ul.menu-h.dropdown li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ul.menu-h.dropdown.s-filelist-actions-menu li ul.menu-v { min-width: 190px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
table.zebra.s-filelist ul.menu-h.dropdown li ul li a { display: inline; white-space: nowrap; }
table.s-filelist ul.menu-v { min-width: 400px; font-size: 1.0em; width: inherit !important;}

table.zebra.s-filelist .icon10.new-window { margin-left: .25em;}

/* bottom fixed-position bar with "Save" button */
.s-dropdown { float: right; margin: 10px 20px 0 0; }
.s-dropdown .s-dropdown-content { padding: 20px;  width: auto; width: 560px;  min-height: 180px; max-height: 310px; overflow: auto; overflow-x: hidden;}
.s-dropdown .s-dropdown-content .field .name .inline-link b i { font-weight: bold; }
.s-dropdown .s-dropdown-content .field.subfield .name { margin-left: 20px; }
.s-dropdown .s-dropdown-content .field.subfield .name .inline-link b i { font-weight: normal; font-size: 0.9em; }
.s-dropdown .s-drop-link { position: relative; padding: 6px 0 0 ; display: block;}
.s-dropdown .s-dropdown-block { display: none; position: absolute; bottom:1.4em; right:0; background: #F3F3F3; border: 2px solid #AAAAAA; box-shadow: 0 2px 10px #777; -webkit-box-shadow: 0 2px 10px #777; -moz-box-shadow: 0 2px 10px #777; -o-box-shadow: 0 2px 10px #777; z-index: 100;}
.s-dropdown ul.tabs { height: 45px; padding-top: 6px; }
.s-dropdown ul.tabs li.selected a { background: #fff;}
.s-dropdown ul.tabs li.no-tab { min-width: 70px;}
.s-dropdown ul.tabs li a { position: relative; padding:5px 15px 8px; height: 30px;}
.s-dropdown ul.tabs li.no-tab { padding:4px 0.8em 0 40px;}
.s-dropdown ul.tabs li.no-tab .hint { font-weight: bold;}
.s-dropdown ul.tabs li.no-tab p { margin: 0 ; line-height: 16px; white-space: nowrap;}
.s-dropdown ul.tabs li.no-tab img { float: left; vertical-align: top; margin:2px 0 0 -32px; width: 24px; height: 24px; }

/* misc */
.wa-page-gray { color: #aaa; }
.s-draft { background: #ccc; color: #fff; font-weight: bold; font-size: 0.8em; padding: 0 2px; }
.s-label-with-check { display: block; padding:0 0 0.5em 0;}
.s-label-with-check input { vertical-align: middle; margin: 0 3px 0 0;}
.s-ibutton-checkbox ul.menu-h li { padding: 1px 0 10px; vertical-align: middle;}
.s-ibutton-checkbox ul.menu-h li span { position: relative; }
.s-app16x16icon-menu-v { width: 16px; height: 16px; }

#wa .CodeMirror, #wa .CodeMirror-wrapping { padding: 10px; }
#wa .el-rte .toolbar { background: #fff; border-top: 0; border-left: 0; border-right: 0; border-bottom: 1px solid #ccc; }
#wa .el-rte .workzone { border: 0; padding: 10px; }

/* themes */

.s-theme-app-list ul.menu-v.with-icons li { margin: 3px 3px 5px -1px; }
.s-theme-app-list ul.menu-v.with-icons li a { padding-left: 26px; padding-top: 7px; padding-bottom: 7px; }
.s-theme-app-list .s-app16x16icon-menu-v { width: 16px; height: 16px; left:6px; position:absolute; top:4px; }
.s-themes { border-left: 1px solid #ccc; background: #fff; }
.s-themes table { margin: 0; border: 0; width: 100%;}
.s-themes table td { padding: 20px 5px; vertical-align: middle; border-top: 0; text-align: center; background: #fff; border-bottom: 1px solid #ddd; width: 15%; }
.s-themes table td a { font-size: 0.9em; }
.s-themes table td.s-theme-name { line-height: 1.1em; vertical-align: top; text-align: left; padding-left: 20px; width: 40%; }
.s-themes table td.s-theme-name h5 { font-size: 1.1em; margin: 0; }
.s-themes table td.s-theme-name h5 i.icon10 { margin-top: 4px; }
.s-themes table td.s-theme-name a { padding: 1px 2px; font-weight: normal; font-size: 0.8em; }
.s-themes table td.s-theme-name a.s-theme-yellow-label { color: #555; font-style: italic; background: #ffc; font-weight: bold; text-decoration: none; }
.s-themes table td.s-theme-name p { margin-top: 10px; margin-bottom: 0; }
.s-themes table td.min-width { width: 5%; }
.s-themes table ul.menu-h.dropdown ul.menu-v { right: 0; width: 200px; left: auto; }
.s-themes table ul.menu-h.dropdown li span.hint { font-size: 1em; }
#s-upload-link { display: block; margin-bottom: 6px; }

.CodeMirror, .CodeMirror-wrapping {
   min-height: 300px;
   background: #fff;
   margin-top: 5px;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

li.inherit a {color: #999}
li.error a {color: red}