html body {
  --background-color: #fff;
}
body.highlight-not-implemented .not-implemented {
  border: 1px dashed #f00;
}
h3.site-domain-header .button.smallest {
  font-size: 66%;
}
.s-tabs {
  position: sticky;
  top: 4rem;
  z-index: 1;
}
.s-settings-page .s-small {
  font-size: 0.9375rem;
}
.s-settings-page .s-field-waapps #s-wa-apps input[name="apps[name][]"] {
  width: calc(100% - 30px);
}
.s-settings-page .s-field-waapps #s-wa-apps input[name="apps[url][]"] {
  width: 100%;
}
.s-settings-page .s-field-waapps #s-wa-apps .s-actions {
  width: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.s-settings-page .s-field-waapps .name-wa-apps {
  color: var(--text-color-hint);
}
