/*
 * Webasyst Sidebar theme family
 *
 * Additional CSS for tablet computers (e.g. iPad)
 * (requires linking sidebar.css)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2013 Webasyst LLC
 * @package Webasyst
 */

body { font-size: 120%; -webkit-text-size-adjust: 100%; }

#sidebar { font-size: 100%; width: 180px; }
#sidebar .block { padding: 10px; }
#sidebar .title { font-size: 140%; margin-left: 0; margin-right: 0; }
#sidebar .search input { width: 155px; margin: 0 10px; }
#sidebar .auth { width: 160px; font-size: 70%; }

#main { margin-left: 180px; }