/*
 * Webasyst Sidebar theme family
 *
 * Core CSS file
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2013 Webasyst LLC
 * @package Webasyst
 */
 
/* Reset
-------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, /* ol, ul, li, */ fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, credentials, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }
article, aside, credentials, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }

/* Common HTML elements, fonts, and colors
------------------------------------------ */
html,
body { width: 100%; height: 100%; min-height: 100%; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 12px; background: #333; }
a { color: #25c; outline:0 none; }
a:focus { outline:none; outline-offset:-4px; }
a:visited { color: #65c; }
a:hover { color: red !important; }
input[type="button"]::-moz-focus-inner { border: 0; }
input[type="submit"]::-moz-focus-inner { border: 0; }
a img { border: 0; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, blockquote { margin-bottom: 20px; }
h1, h2, h3 { font-weight: normal; }
h1 { font-size: 2.4em; }
h1 a { text-decoration:none; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.45em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
h1, h2, h3, h4, h5, h6 { line-height:1.2em; }
ul, ol { padding-top:0; }
ol { list-style: decimal; }
input, textarea, select { margin:0; } 
input, textarea { font-size: 1em; color: #000; font-family: Helvetica, Arial, sans-serif; }
input[type="button"]:focus { outline:none; outline-offset:-2px; }
fieldset { border:1px solid #bbb; padding:10px; position:relative; background:#e9e9e9; margin-bottom:10px; }
legend { font-size:1.1em; padding:.4em .8em; background:#fff; //background:none;
border:1px solid #bbb; //border:none
}
fieldset p label { width:98%; }
fieldset p input[type="text"] { width:98%; }
fieldset p select { width:99%; }
blockquote { color: #555; font-size:0.9em; padding:20px; background: #f3f3f3; border-left: 2px solid #ccc; }
blockquote cite { font-size: 0.9em; }
hr { background-color: #ccc; height: 1px; border: 0; }
input::-webkit-input-placeholder { color: #ccc; }
input:-moz-placeholder,
input::-moz-placeholder { color: #ccc; }
input:-ms-input-placeholder { color: #ccc; }

/* Misc elements
---------------- */

.block { padding: 10px; }
.inline { display: inline !important; }
.inline-link { text-decoration: none !important; }
.inline-link b { border-bottom: 1px dotted; font-weight: normal; position: relative; top: -0.13em;}
.inline-link b i { font-style: normal; position: relative; top: 0.13em;}
.small { font-size: 0.9em; }
.large { font-size: 1.2em; }
.bold { font-weight: bold; }
.strike { text-decoration: line-through; }
.highlighted { background:  #ffc; }
.hint { color: #aaa; font-size: 0.9em; }
.hint a,
.hint:visited,
.hint a:visited { color: #888; }
.gray { color: #aaa; }
.gray a,
.gray:visited,
.gray a:visited { color: #888; }
.float-left { float: left; }
.float-right { float: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.clear-both { clear: both; }
.shadowed { -moz-box-shadow: 0 5px 15px #aaa; -webkit-box-shadow: 0 5px 15px #aaa; box-shadow: 0 5px 15px #aaa; }
.nowrap { white-space: nowrap; }
.hr { border-top: 1px solid #ccc; margin-bottom: 15px; }
.uppercase { text-transform: uppercase; }

/* Menus
-------- */

ul.menu-v { margin: 0 0 20px -6px; padding: 0; }
ul.menu-v li { list-style: none; padding: 0; margin: 2px 0 6px; line-height: 1.1em; }
ul.menu-v li a { padding: 5px 6px; display: block; }
ul.menu-v li ul.menu-v { margin-left: 15px; margin-top: 10px; margin-bottom: 15px; font-size: 0.9em; }
ul.menu-v li ul.menu-v li a { padding: 2px 6px; }

ul.menu-h { margin: 0; padding: 0; }
ul.menu-h.bottom-padded { margin-bottom: 15px; }
ul.menu-h li { list-style: none; display: inline-block; padding: 0 10px 0 0; line-height: 1.1em; display:block\9; float:left\9; /* ie8 hack */ }
ul.menu-h li a { display: inline-block; padding: 3px 5px; display:block\9; float:left\9; /* ie8 hack */ }
ul.menu-h li a img.icon16 { position: relative; top: 3px; left: -3px; }
ul.menu-h li a i.icon16 { margin-top: -0.1em; }
ul.menu-h li.selected a { color: #000; text-decoration: none; }

ul.menu-h.dropdown li { position: relative; }
ul.menu-h.dropdown li.collapsible { background: url('img/darr.png') no-repeat; background-position: right center; margin-right: 15px !important; padding-right: 5px; }
ul.menu-h.dropdown li a { display: block; }
ul.menu-h.dropdown ul.menu-v { display: none; position: absolute; width: 200px; top: 100%; left: -3px; background: #fff; border: 1px solid #ccc; padding: 0; z-index: 13012; margin-left: 0; -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1); box-shadow: 0px 1px 3px rgba(0,0,0,0.1); margin-top: 0; } /* .menu-h's dropdown menus look like .menu-v's menus: plain, with icons, new branches are rendered to the left from parent menu */
ul.menu-h.dropdown ul.menu-v li { display: block; width: 200px; padding: 0; margin: 0; border-bottom: 1px solid #eee; }
ul.menu-h.dropdown ul.menu-v li.collapsible { background: url('img/rarr.png') no-repeat; background-position: right center; margin-right: 0 !important; }
ul.menu-h.dropdown ul.menu-v li a { display: block; padding: 10px 25px 10px 15px; margin: 0; font-weight: normal !important; }
ul.menu-h.dropdown ul.menu-v li i.icon16 { margin-left:-20px; margin-right:4px; }
ul.menu-h.dropdown ul.menu-v li ul.menu-v { top: -1px; left: 100%; margin-left: 0; }
ul.menu-h.dropdown li:hover ul.menu-v { display: block; }
ul.menu-h.dropdown.disabled li:hover ul.menu-v { display: none !important; }
ul.menu-h.dropdown li:hover ul.menu-v ul.menu-v { display: none; top: -1px; }  /* level 2*/
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v { display: block; }
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v ul.menu-v { display: none; top: -1px; } /* level 3 */
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v { display: block; }
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v ul.menu-v { display: none; top: -1px; } /* level 4 */
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v { display: block; }
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v ul.menu-v { display: none; top: -1px; } /* level 5; add more levels in a similar way if needed */
ul.menu-h.dropdown li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v { display: block; }
ul.menu-h.dropdown li .inner { display: none; width: 400px; position: absolute; left: -3px; z-index: 13012; background: #fff; }
ul.menu-h.dropdown li .inner.shadowed { background: #fff; border: 1px solid #ccc; padding: 0; margin-left: 0; -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1); box-shadow: 0px 1px 3px rgba(0,0,0,0.1); margin-top: 0; }
ul.menu-h.dropdown li:hover .inner { top: 100%; display: block; }

/* float right dropdown menus unfold to the opposite direction */
.float-right ul.menu-h.dropdown ul.menu-v { left: auto; right: -3px; }
.float-right ul.menu-h.dropdown ul.menu-v li { padding-left: 13px; margin-left: 0 !important; }
.float-right ul.menu-h.dropdown ul.menu-v li.collapsible { background: url('img/larr.png') no-repeat; background-position: left center; padding-left: 13px; margin-left: 0 !important; }
.float-right ul.menu-h.dropdown ul.menu-v li ul.menu-v { left: auto; right: 100%; }

/* Sign up & Login forms
------------------------ */

.wa-auth-adapters ul { padding: 0; min-height: 16px; }
.wa-auth-adapters ul li { list-style: none; float: left; padding: 0 15px 0 0; }
.wa-auth-adapters ul li a { display: block; padding: 0px 5px; }
.wa-auth-adapters ul li a img { position: relative; top: 3px; left: -3px; }
.wa-auth-adapters p { clear: left; color: #888; font-size: 0.9em; width: 40%; }

.wa-form { float: left; margin: 10px 0; overflow: visible; }
.wa-form .wa-field { clear: left; margin: 0; padding-top: 3px; }
.wa-form .wa-field .wa-name { float: left; width: 155px; padding-top: 0.05em; padding-bottom: 10px; font-size: 0.95em; }
.wa-form .wa-field.wa-separator { height: 10px; }
.wa-form .wa-field .wa-value { margin-left: 180px; margin-bottom: 5px; position: relative; }
.wa-form .wa-field .wa-value input.wa-error { border: 2px solid red; }
.wa-form .wa-field .wa-value .wa-error-msg { font-size: 0.9em; color: red; display: block; }
.wa-form .wa-field .wa-value input[type="text"],
.wa-form .wa-field .wa-value input[type="email"],
.wa-form .wa-field .wa-value input[type="password"] { width: 30%; min-width: 260px;  margin:0;}
.wa-form .wa-field .wa-value textarea { min-width: 300px; height: 70px; }
.wa-form .wa-field .wa-value input.wa-captcha-input { width: 100px; min-width: 0; }
.wa-form .wa-field .wa-value label { display: block; }
.wa-form .wa-field .wa-value .wa-captcha img { margin-left: 0; }
.wa-form .wa-field .wa-value .errormsg { margin-left: 0; }
.wa-form .wa-field .wa-value.wa-submit { margin-top: 10px; }
.wa-form .wa-field .wa-value p label { display: block; margin: 0; }
.wa-form .wa-field .wa-value p { line-height: 1.6em; margin-bottom: 23px; position: relative; } 
.wa-form .wa-field .wa-value p span { color: #777; font-size: 0.9em; display: block; }
.wa-form .wa-field .wa-value p i.icon16 { float: left; left: -20px; margin-top: 2px; position: absolute; }
.wa-form .wa-field .wa-value p input { display: block; margin-bottom: 2px; }
.wa-form .wa-field .wa-value p input[type="radio"],
.wa-form .wa-field .wa-value p input[type="checkbox"] { display: inline; }
.wa-form .wa-field .wa-value p .field.wa-required span:after { content: " *"; color: #faa; }
.wa-form .wa-field.wa-required .wa-name:after { content: " *"; color: #faa; }

.wa-captcha { padding: 7px 0 10px; }
.wa-captcha p { clear: left; margin: 0; }
.wa-captcha strong { font-size: 1.2em; }
.wa-captcha p img { float: left !important; margin-right: 5px; margin-top: -8px; }
.wa-captcha .wa-captcha-refresh { font-size: 0.8em; text-decoration: underline; color: #aaa; }
.wa-captcha .wa-captcha-input { display: inline !important; }
.wa-captcha .errormsg { display: inline-block; margin-left: 10px; }

input.error, textarea.error { border: 2px solid red; }
.errormsg { color: red; margin-left: 170px; display: block; }

/* Multi-column layout
---------------------- */

.row { clear: both; border-top: 1px solid #eee; padding: 20px 0; }
.row.no-border { border: none; }
.col { float: left; }
.col.w1 { width: 6%; }
.col.w2 { width: 12%; }
.col.w3 { width: 18%; }
.col.w4 { width: 24%; }
.col.w5 { width: 30%; }
.col.w6 { width: 36%; }
.col.w7 { width: 42%; }
.col.w8 { width: 48%; }
.col.w9 { width: 54%; }
.col.w10 { width: 60%; }
.col.w11 { width: 66%; }
.col.w12 { width: 72%; }
.col.w13 { width: 78%; }
.col.w14 { width: 84%; }
.col.w15 { width: 90%; }
.col.w16 { width: 96%; }

/* Misc .table table
-------------------- */

table.table { margin-top: 25px; width: 100%; border-spacing:0; border-collapse:collapse; }
table.table th { padding-left: 7px; padding-right: 7px; }
table.table td { padding: 15px 7px; border-bottom: 1px solid #ddd; }
table.table td.min-width { width: 1%; }
table.table td p { margin: 0; }
table.table td input.numerical { width: 50px; margin-right: 5px; text-align: right; }
table.table tr.no-border td { border: none; }
table.table tr.thin td { padding-top: 13px; padding-bottom: 0; }
table.table tr.service td { padding-top: 5px; padding-bottom: 5px; padding-left: 25px; font-size: 0.8em; color: #555; }

/* 16x16 Icons
-------------- */

i.icon16 { background-repeat:no-repeat; height:16px; width:16px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.icon16 { text-decoration:none!important; vertical-align:top; margin: 0.2em 0.25em 0 0; }
.icon16.loading { background-image: url('/wa-content/img/loading16.gif'); }
.icon16.rss { background-image: url("img/rss.png"); }
.icon16.facebook { background-image: url("img/facebook.png"); }
.icon16.twitter { background-image: url("img/twitter.png"); }

.icon16.userpic20 { background-position: -2px -2px; }
.icon16.color { border-radius: 50%; border: 1px solid rgba(0,0,0,0.2); width: 14px; height: 14px; }

/* 10x10 Icons
-------------- */

i.icon10 { background-repeat:no-repeat; height:10px; width:10px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.icon10 { text-decoration:none!important; vertical-align:top; margin: 0.2em 0.1em 0 0; }
.icon10.darr { background-image: url('img/darr.png'); }

/* Clear theme layout
--------------------- */

.mobile-only { display: none; }

.container { padding: 15px 20px; }

.sidebar.left { width: 170px; float: left; }
.sidebar.right { width: 190px; float: right; }
.content.left { margin-left: 200px; }
.content.right { margin-right: 200px; }
.content.right #page { margin-right: 50px; /* extra margin in case page tree is on the right */ }
.sidebar p { line-height: 1.3em; }

.sidebar.left.double { width: 270px; float: left; }
.content.left.double { margin-left: 300px; float: left; }
.sidebar.right.double { width: 270px; float: right; }
.content.right.double { margin-right: 300px; }

.sidebar.left.triple { width: 450px; float: left; }
.content.left.triple { margin-left: 450px; margin-top: 0; }
.sidebar.right.triple { width: 450px; float: right; }
.content.right.triple { margin-right: 450px; margin-top: 0; }

.content { padding: 25px 0; overflow: hidden; }
.content.top-padded { padding-top: 50px; }

.welcome { text-align: center; padding: 80px 0 150px; }

#sidebar { width: 230px; min-height: 100%; float: left; font-size: 120%; font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;  }
#sidebar .block { padding-left: 25px; padding-right: 25px; }
#sidebar .title { margin: 40px 30px 40px; }
#sidebar a { color: #aaa; text-decoration: none; text-transform: uppercase; }
#sidebar a i.icon16 { margin-top: -0.2em; }
#sidebar a:hover { color: #ddd !important; }
#sidebar ul.menu-v li.selected a { color: #eee; font-weight: bold; }
#sidebar ul.menu-v li.selected ul li a { color: #aaa; font-weight: normal; }
#sidebar ul.apps { border-bottom: 1px solid #444; padding-bottom: 20px; }
#sidebar ul.apps li a { letter-spacing: 0.05em; }
#sidebar ul.apps li a i.marker { float: right; width: 12px; height: 12px; display: none; background: #eee; }
#sidebar ul.apps li.selected a i.marker { display: inline; }

#sidebar .auth { position: fixed; bottom: 0; left: 0; width: 210px; border-top: 1px solid #555; box-shadow: 0 -7px 8px -8px rgba(0,0,0,0.5); padding: 30px 10px; background: #333; text-align: center; font-size: 0.9em; }
#sidebar .auth a { }
#sidebar .auth a { padding-right: 3px !important; }
#sidebar .auth i.icon16.userpic20 { border-radius: 2px; margin-right: 8px; margin-top: 0; }

#sidebar #cart { margin: 25px 0 20px; text-transform: uppercase; text-align: center; font-size: 1.1em; }
#sidebar #cart a { font-weight: bold; display: inline-block; padding: 5px 0 0 32px; background: url('img/cart-full.png') no-repeat; height: 32px; white-space: nowrap; color: #fff; }
#sidebar #cart a:hover { color: #cfd !important; opacity: 1.0 !important; }
#sidebar #cart.empty a { opacity: 0.8; background-image: url('img/cart-empty.png'); }

#sidebar .search { margin: -20px 0 20px; text-align: center; }
#sidebar .search input { -webkit-appearance: none; background: #555 url("img/search10.png") no-repeat scroll 10px 7px; color: #eee; font-weight: bold; border: none; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; font-size: 1.1em; padding: 4px 0px 3px 28px; outline: 0; display: block; margin: 0 25px; width: 165px; }
#sidebar .search input::-webkit-input-placeholder { color: #bbb; font-weight: normal; }
#sidebar .search input:-moz-placeholder,
#sidebar .search input::-moz-placeholder { color: #bbb; font-weight: normal; }
#sidebar .search input:-ms-input-placeholder { color: #bbb; font-weight: normal; }

#main { background: #fff; margin-left: 230px; line-height: 1.5em; border-top: 5px solid #ddd; padding-bottom: 20px; min-height: 100%; }

.title { text-align: center; font-size: 180%; text-transform: uppercase; letter-spacing: 0.13em; }
.title a { text-decoration: none; color: #000; font-weight: bold; }
.title a:hover { color: #000 !important; }
h2.title { font-size: 170%; letter-spacing: 0.2em; }

.app-navigation { border-bottom: 1px solid #ccc; font-size: 110%; height: 48px\9; }
.app-navigation .static-text { padding: 12px 23px; color: #555; font-weight: bold; }
.app-navigation ul.menu-h li { margin: 0 !important; }
.app-navigation ul.menu-h li a { text-decoration: none; text-transform: uppercase; padding: 15px 15px 15px 0; color: #777; }
.app-navigation ul.menu-h li.selected a { font-weight: bold; color: #000; }

.static-pages { float: right; }

.breadcrumbs { padding: 5px 0; }
.breadcrumbs a { color: #777; }
.breadcrumbs span.rarr { color: #ccc; margin: 0 3px; }

.tags { line-height: 2em; min-height: 50px; }
.tags a { color: #25c !important; display: inline !important; padding: 5px 7px !important; }
.tags a:hover { color: red !important; }

#footer { clear: both; margin-top: 10px; color: #777; padding-bottom: 10px; }
#footer #sub-links { margin-left: 30px; }
#footer #sub-links ul { list-style: none; padding: 0; margin: 0; }
#footer #sub-links ul li { float: left;  padding: 0 15px 0 0; }
#footer #poweredby {  text-align: center; float: right; padding-top: 0; }
#footer #poweredby .dots { font-size: 0.8em; text-decoration: none; display: inline-block; width: 54px; height: 9px; background: url("/wa-content/img/dots/all-dots-default-order.png") no-repeat 0 3px; padding-top: 3px; margin-left: 10px; display: block\9; float: right\9; }

/* Customized app-dependent UI colors */

body#site #sidebar ul.apps li a i.marker { background-color: #6cf; }
body#site #sidebar ul.apps li.selected a { color: #6cf; }
body#site #main { border-color: #6cf; }

body#shop #sidebar ul.apps li a i.marker { background-color: #8d5; }
body#shop #sidebar ul.apps li.selected a { color: #8d5; }
body#shop #main { border-color: #8d5; }

body#photos #sidebar ul.apps li a i.marker { background-color: #b9e; }
body#photos #sidebar ul.apps li.selected a { color: #b9e; }
body#photos #main { border-color: #b9e; }

body#blog #sidebar ul.apps li a i.marker { background-color: #fc4; }
body#blog #sidebar ul.apps li.selected a { color: #fc4; }
body#blog #main { border-color: #fc4; }

body#qa #sidebar ul.apps li a i.marker { background-color: #f85; }
body#qa #sidebar ul.apps li.selected a { color: #f85; }
body#qa #main { border-color: #f85; }