/*
 * Webasyst Sidebar theme family
 *
 * Additional CSS for devices with width over 1440px (wide screens)
 * (requires linking sidebar.css)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2013 Webasyst LLC
 * @package Webasyst
 */

body { font-size: 120%; }

.container { padding: 30px; }

#sidebar { width: 270px; }
#sidebar .search input { width: 200px; }
#sidebar .auth { width: 250px; }

#main { margin-left: 270px; }
