/*
 * Webasyst Nifty theme family
 *
 * Additional CSS for tablet computers (e.g. iPad)
 * (requires linking nifty.css)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2013 Webasyst LLC
 * @package Webasyst
 */

body { font-size: 14px; -webkit-text-size-adjust: 100%; }

.container { padding: 0 15px 10px; }

#header { margin: 0 0 15px; }
#header #cart { float: none !important; width: 100%; text-align: center; padding: 20px 0; margin: 0 0 10px; }
#header .search { padding: 10px 0 0; margin: 0 270px 0 0; width: auto; float: none; clear: none; }
#header .search input { width: 100%; margin-bottom: 10px; }
#header .auth { margin-top: 10px; }

#niftybox .apps { padding-bottom: 10px; }
#niftybox .apps a { padding: 10px 15px; }
#niftybox .apps li.selected a { background: rgba(0,0,0,0.2); }