{strip}
{*
 * Template for $wa->authAdapters()
 *}
{$_w = 600}
{$_h = 500}
{if isset($options.width)}
    {$_w = $options.width|escape}
{/if}
{if isset($options.height)}
    {$_h = $options.height|escape}
{/if}
<div class="wa-auth-adapters">
    <ul>
        {foreach $adapters as $_adapter}
            <li class="wa-auth-adapter-{$_adapter->getId()}">
                <a href="{$_adapter->getUrl()}">
                    <img alt="{$_adapter->getName()}" title="{$_adapter->getName()}" src="{$_adapter->getIcon()}"/>
                    {if !empty($options.names)}
                        {$_adapter->getName()}
                    {/if}
                </a>
            </li>
        {/foreach}
    </ul>
    <br>
    <p>[s`Authorize either by entering your contact information, or through one of the websites listed above.`]</p>
</div>
<script type="text/javascript">
    $("div.wa-auth-adapters a").click(function () {
        var left = (screen.width - {$_w}) / 2;
        var top = (screen.height - {$_h}) / 2;
        window.open($(this).attr('href'),'oauth', "width={$_w},height={$_h},left="+left+",top="+top+",status=no,toolbar=no,menubar=no");
        return false;
    });
</script>
{/strip}