{$_title = "[s`Countries & regions`] — {$wa->accountName(false)}"}
<div class="s-regions-settings-page blank block double-padded" id="s-regions-settings-page">
    <h1 class="s-page-header">[s`Countries & regions`]</h1>
    <div class="s-regions-settings-fields-block">
        <form action="?module=settingsRegions">
            <div class="field">
                <div class="name">
                    [s`Country`]
                </div>
                <div class="value no-shift">
                    <i class="icon16 overhanging" style="background: url('{$wa_url}wa-content/img/country/{$country.iso3letter}.gif') no-repeat; top: 3px;"></i>
                    {$selected = false}
                    <select class="js-country-selector">
                        {if !$country.iso3letter}
                            <option value="">[s`Select a country`]</option>
                        {/if}
                        {foreach $countries as $c}
                            {if $c.name}
                                <option value="{$c.iso3letter|escape}"{if !$selected && $c.iso3letter === $country.iso3letter} selected {$selected = true} {/if}>{$c.name|escape}</option>
                            {else}
                                <option disabled></option>
                            {/if}
                        {/foreach}
                    </select>
                    <a href="javascript:void(0)" style="position:relative; top:0; left:5px;" title="[s`Clone on top of the list`]">
                        <input class="js-contry-fav-input" type="hidden" name="country_fav" value="{ifset($country.fav_sort, '')}">
                        <i class="icon16 star{if $country.fav_sort === null}-empty{/if} js-country-fav-icon"></i>
                    </a>
                </div>
            </div>
            {if $country.iso3letter}
                <input type="hidden" name="country" value="{$country.iso3letter|escape}">
                <div class="field">
                    <div class="name">
                        [s`Regions`]
                    </div>
                    <div class="value no-shift">
                        <table class="js-regions-table zebra">
                            <thead>
                            <tr>
                                <th>[s`Region name`]</th>
                                <th>[s`Region code`]</th>
                                <th>[s`Administrative center`]</th>
                                <th class="min-width"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $regions as $r}
                                <tr data-orig-code="{$r.code|escape}">
                                    <td><input type="text" class="js-input-required" name="region_names[]" placeholder="[s`Region name`]" value="{$r.name|escape}"
                                               rel="{$r.name|escape}"></td>
                                    <td><input type="text" class="js-input-required" name="region_codes[]" placeholder="[s`Region code`]" value="{$r.code|escape}"></td>
                                    <td><input type="text" name="region_centers[]" placeholder="[s`Administrative center`]" value="{$r.region_center|escape}"></td>
                                    <td class="min-width"><a class="nowrap" href="javascript:void(0)">
                                            {if $r.fav_sort === null}
                                                <input type="hidden" name="region_favs[]" value="">
                                                <i class="icon16 fav star-empty" title="[s`Clone on top of the list`]"></i>
                                            {else}
                                                <input type="hidden" name="region_favs[]" value="{ifset($r.fav_sort, '')}">
                                                <i class="icon16 fav star" title="[s`Clone on top of the list`]"></i>
                                            {/if}
                                            <i class="icon16 no"></i>
                                        </a></td>
                                </tr>
                                {foreachelse}
                                <tr class="empty-stub">
                                    <td colspan="3">
                                        <em class="grey">[s`No regions (states, provinces) are defined for this country.`]</em>
                                    </td>
                                </tr>
                            {/foreach}

                            <tr class="white">
                                <td colspan="3"><a href="javascript:void(0)" class="js-add-region-link inline-link"><i class="icon16 add"></i><b><i>[s`Add region`]</i></b></a></td>
                            </tr>

                            {* Template for new rows *}
                            <tr class="hidden highlighted just-added js-template-new">
                                <td><input type="text" class="js-input-required" name="region_names[]" value="" placeholder="[s`Region name`]"></td>
                                <td><input type="text" class="js-input-required" name="region_codes[]" value="" placeholder="[s`Region code`]"></td>
                                <td><input type="text" name="region_centers[]" value="" placeholder="[s`Administrative center`]"></td>
                                <td class="min-width"><a href="javascript:void(0)">
                                        <input type="hidden" name="region_favs[]" value="">
                                        <i class="icon16" style="background: none;"></i>
                                        <i class="icon16 no"></i>
                                    </a></td>
                            </tr>

                            {* Template for deleted rows *}
                            <tr class="gray hidden highlighted js-template-deleted">
                                <td class="bold strike insert-name-here"></td>
                                <td><em class="small">[s`Click “Save” button below to commit the delete.`]</em></td>
                                <td class="min-width"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            {/if}

            <div class="s-form-buttons">
                <div class="s-footer-actions js-footer-actions">
                    <input class="button green js-submit-button" type="submit" name="" value="[s`Save`]">
                    <span class="s-hidden">
                        <span style="margin: 0 4px;">[s`or`]</span>
                        <a href="{$wa_app_url}webasyst/settings/regions/" class="js-cancel">[s`cancel`]</a>
                    </span>
                    <i class="icon16 loading s-loading" style="display: none;"></i>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    (function ($) {
        new WASettingsRegions({
            $wrapper: $("#s-regions-settings-page"),
            country_iso3letter: '{$country.iso3letter}',
            locales: {
                'confirm_region_not_saved': '[s`Regions are not saved. Are you sure you want to leave current page?`]'

            }
        });
        $.wa.setTitle({$_title|json_encode});
    })(jQuery);
</script>