{if $is_broken_route_url}
<div class="incorrect-rule-error alert warning small">
    <div class="flexbox space-12">
        <div>
            <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
        </div>
        <div class="wide">
            [`This section’s URL was saved with an error in the old interface; therefore, you cannot edit it here. You can fix the error in the old interface or in file <em>wa-config/routing.php</em>.`]
        </div>
        <div>

        </div>
    </div>
</div>
{/if}
