.t-api-content
    @media (min-width: 761px) and (max-width: 1024px)
        max-width: calc(100vw - 4em - 13rem);

    @media (min-width: 1024px)
        max-width: calc(100vw - 4em - 16rem);

    @media (min-width: 1441px)
        max-width: calc(100vw - 4em - 19rem);
