.t-settings-page

    .t-calendar-settings

        .t-calendar-item
            user-select none
            display flex
            flex-wrap wrap
            &.sortable-chosen
                background: var(--highlighted-yellow)

            .badges-wrapper
                flex 1
                padding .5em 0
                gap .5rem

            .t-toggle
                cursor move
                margin .52em 0 auto 0
            .button
                margin .35em 0 auto auto
