//@import "nib";

$pad = 0.625rem
$rem = 16

$link_c = var(--text-color-link)

// Calendar, many used variables
$event_max_count = 4
$event_h = 1.5rem
$event_pad = 0.0625rem
$row_h = ($event_h + $event_pad * 2)
$week_h = $row_h * $event_max_count

@import "./sidebar.styl";

// CONTENT HEADER
@import "./header.styl"

// CALENDAR PAGE
@import "./calendar.styl"

// USERS PAGE
@import "./users.styl";

// USER PAGE
@import "./profile.styl";
@import "./profile.stats.styl";
@import "./profile.sidebar.styl";

// ACCESS PAGE
@import "./access.styl";

// API TOKENS PAGE
@import "./api-tokens.styl";
/*
//
@import "./icons.styl";
*/
//
@import "./dialogs.styl";

//
@import "./settings.styl";

//
@import "./welcome.styl";
/*
//
@import "./todo.styl";
            */

@import "./upload-cover-dialog.styl";
@import "./paging.styl";
