.t-welcome-page
    height: calc(100vh - 4rem)
    .t-content-body
        .t-invite-wrapper
            .t-invite-list
                margin 0
                padding 0
                list-style none
                .t-invite-item
                    position relative
                    align-items flex-start
                    &:hover
                        .t-remove
                            visibility visible
                    .t-remove
                        visibility hidden
                        cursor pointer
