@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

html {

  --accent-color:                           #1a9afe;

  --background-color-blank:                 #fff;
  --background-color-input:                 rgba(0, 20, 80, 0.05);
  --background-color-input-solid:           rgba(0, 20, 80, 0.05);
  --text-color-hint:                        #aab;
  --border-color-input:                     transparent;
  --border-color-input-hover:               rgba(0, 20, 80, 0.2);
  --border-color-input-outlined:            rgba(0,0,0,0.1);
  --blue:                                   #1a9afe;
  --green: #22d13d;
  --white: #fff;
  --red: #ed2509;
  --orange: #ff6c00;
  --gray: #aab; /*#89a;*/
  --light-gray: rgba(0, 20, 65, 0.2);
  --border-color-soft:                      rgba(0, 20, 80, 0.1);

    /* content */
    --text-color:                             #444;
    --text-color-strong:                      #333;
    --text-color-stronger:                    #111;
    --text-color-strongest:                   #000;
    --text-color-hint:                        #aab;
    --text-color-hint-strong:                 #89a;
    --text-color-link:                        var(--blue);
    --text-color-link-hover:                  #f20;
    --text-color-input:                       #1f2d3d;
    --text-color-button-disabled:             rgba(255, 255, 255, 0.65);
    --text-color-heading:                     #9ab;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.3;
  color: var(--text-color);
}

a, a:visited {
    color: var(--text-color-link);
    outline:0 none;
}

a:hover {
  color: var(--text-color-link-hover);
}

a:focus {
    outline: none;
    outline-offset: -4px;
}

input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
}

a img {
    border: 0;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 8px;
}

h1, h2, h3 {
    font-size: 1.8em;
}

h1, .h1 { color: var(--text-color-strongest); }

h2, .h2 { color: var(--text-color-strong); }

h1 a {
    text-decoration: none;
}

h2 {
    font-size: 1.35em;
}

h3 {
    font-size: 1.05em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    margin-bottom: .3em;
}

ul, ol {
    padding-top: 0;
}

ol {
    list-style: decimal;
}

hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}

table {
    border: 1px solid #bbb;
    margin-bottom: 10px;
    width: 100%;
}

th, td {
    padding: .2em 0.75em;
    text-align: left;
}

thead th {
    border-bottom: 2px solid #888;
    background: #bbb;
    padding: .4em 1em .2em;
}

tbody th, tbody td {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    background: var(--white);
}

tfoot th, tfoot td {
    border-top: 2px solid #666;
    background: #eee;
}

form {
    overflow: hidden;
}

input, textarea {
    font-size: 1em;
    color: #000;
}

input[type="button"]:focus {
    outline: none;
    outline-offset: -2px;
}

fieldset {
    border: 1px solid #bbb;
    padding: 10px;
    position: relative;
    background: #e9e9e9;
    margin-bottom: 10px;
}

legend {
    font-size: 1.1em;
    padding: .4em .8em;
    background: var(--white);
    border: 1px solid #bbb;
}

fieldset p label {
    width: 98%;
}

fieldset p input[type="text"] {
    width: 98%;
}

fieldset p select {
    width: 99%;
}

blockquote {
    color: #333;
    font-size: 1.0em;
    padding-left: 1em;
    background: #eee;
    border-left: 2px solid #ccc;
}

blockquote cite {
    font-size: .9em;
}

#wa {
    width: 100%;
    height: auto !important;
    min-height: 100%;
    min-width: 600px;
}

#wa-installer {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #5a6bca;
    background: linear-gradient(-100deg, #309BE1 0%, #2049B3 100%);
}

#wa-installer .content {
  min-height: 380px;
  height: 70vh;
  width: 650px;
  padding: 1.5rem 2rem 1.25rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1.5rem -0.25rem rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
}

#wa-installer.with-progress form {
  margin-right: -2rem;
}
#wa-installer.with-progress form .form-content {
  padding-right: 2rem;
}
#wa-installer.with-progress form .form-buttons {
  margin-right: 1rem;
}

#wa-installer form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#wa-installer form .form-content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#wa-installer form .form-buttons {
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.1);
}
#wa-installer .form-content .content-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--white);
  padding-bottom: 0.25rem;
}

#wa-installer .i-welcome {
    text-align: center;
    margin: 2rem 5rem 0;
}
#wa-installer .i-welcome h1 {
  text-align: center;
  font-size: 1.5rem;
}
#wa-installer .i-welcome h2.i-url {
  text-align: center;
  font-size: 1.25rem;
}

#wa-installer .i-welcome h2 span {
    color: #e2e2e2;
}

#wa-installer .i-welcome input.button {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-width: 0;
}

#wa-installer .i-hint {
    color: var(--text-color-hint);
    padding-top: 0.5rem;
    font-size: 0.95em;
}

#wa-installer .i-error {
    color: var(--red);
    font-weight: 600;
}

#wa-installer .i-success {
    color: var(--green);
    font-weight: 500;
}

#wa-installer .i-progress-indicator {
    margin-right: 1rem;
    display: flex;
    font-size: 0.85rem;
}

#wa-installer .i-progress-indicator span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    margin-left: 0.5rem;
    border: 1px solid var(--border-color-soft);
    border-radius: 50%;
    padding: 0.5rem;
    width: 0.75rem;
    height: 0.75rem;
}

#wa-installer .i-progress-indicator span.passed {
  color: var(--white);
  background-color: var(--accent-color);
  opacity: 0.75;
}

#wa-installer .i-progress-indicator span.current {
  color: var(--text-color-strong);
  border-width: 2px;
  font-weight: bold;
  background: var(--border-color-soft);
}

#wa-installer .i-log {
    margin: 10px 0;
}

#wa-installer .i-log p {
    margin-bottom: 3px;
}

#wa-installer .i-log p span {
    color: var(--gray);
    margin-right: 5px;
}

#wa-installer .field .name {
    color: #333;
}

#wa-installer a.wa-help-link {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--gray);
    margin-left: 10px;
    font-size: 0.9em;
    text-decoration: none;
}

#wa-installer a.wa-help-link span {
    text-decoration: underline;
}

.large {
    font-size: 1.0em;
}

.small {
    font-size: 0.8em;
}

.visible {
    display: block !important;
}

.bold {
    font-weight: bold !important;
}

.no-bold {
    font-weight: normal !important;
}

.underline {
    text-decoration:underline !important;
}

.no-underline {
    text-decoration:none !important;
}

.strike, .strike * {
    text-decoration: line-through !important;
}

.hidden {
    display: none !important;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.highlighted {
    background:#ffc;
}

.heading {
    color: #999;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.hint, a.hint, span.hint {
    color: var(--gray);
    font-size: .875em;
}

.hint a {
    color: #888;
}

.hint a, a.hint {
    text-decoration: underline !important;
}

.hint a:hover, a.hint:hover {
    color: var(--red);
}

.hr {
    border-top: 1px solid #ccc;
    margin: 5px 10px;
    padding: 0;
}

a.inline-link {
    text-decoration:none !important;
}

a.inline-link b {
    border-bottom: 1px dotted;
    font-weight: normal;
    position: relative;
    top: -0.13em;
}

a.inline-link b i {
    font-style: normal;
    position: relative;
    top: 0.13em;
}

.indicator {
    -moz-border-radius: 9px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: var(--gray);
    color: var(--white);
    font-size: 10px;
    line-height: 1em;
    padding: 2px 4px;
    display: inline-block;
    position: relative;
    top: -0.65em;
}

.indicator.red {
    background: var(--red);
}

.fields {
    margin-bottom: 0.5rem;
    width: 100%;
}

.field-group {
    margin: 5px 0 20px;
}

.field {
    clear: left;
    margin: 0;
    padding-top: 3px;
}

.field .name {
    float: left;
    width: 160px;
    padding-top: 0.05em;
    padding-bottom: 10px;
    color: #888;
    font-size: 0.85em;
}

.field .name.large {
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}

.fields.form .field .name {
    padding-top: 0.45em;
}

.field .value {
    margin-left: 180px;
    margin-bottom: 5px;
    position: relative;
}

.field .value.submit {
    margin-left: 170px;
}

.field .value .error-message {
    display: none;
}

.field .value input[type="text"], .field .value input[type="password"], .field .value textarea {
    width: 30%;
    min-width: 200px;
}

.field .value textarea {
    min-width: 400px;
}

.field .value input.semi {
    width: 10%;
    min-width: 80px;
}

.field .value textarea {
    height: 70px;
}

.field .value input.large {
    width: 35%;
}

.field .value .errormsg {
    display: block;
    font-size: 0.85em;
    font-weight: 500;
    color: var(--red);
}

input.large {
    font-size: 1.2em;
    font-weight: bold;
}

input.small {
    font-size: 0.8em;
    width: 100px !important;
    min-width: 100px !important;
}

input.empty {
    color: var(--gray);
}

input.error {
    border: 2px solid var(--red);
    color: var(--red);
}

button,
.button,
input[type="button"]
{ display: inline-block; font-weight: 500; color: var(--white); text-align: center; user-select: none; background-color: var(--accent-color); border: .125em solid transparent; margin-right: 0.375em; padding: .4375em .75em; line-height: 1; border-radius: .5em; outline: 0 none; box-shadow: 0 0.25em 0.75em -0.25em rgba(0, 0, 0, 0.2); transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out; cursor: pointer; box-sizing: border-box; }

.button.disabled:not(.outlined),
.button:disabled:not(.outlined) { color: var(--text-color-button-disabled) !important; box-shadow: none; cursor: default; pointer-events: none; }

button.rounded, .button.rounded { border-radius: 1.5em; }

.button:hover { color: var(--white); top: 0; box-shadow: 0 0.5em 1em -0.25em rgba(0, 0, 0, 0.2); transition: 500ms; }

.button.red { border-color: #F60; }

.button.green {
  background: var(--green);
  color: var(--white);
}

.button.blue {
  background: #09F;
}

.button.yellow {
  background: #FDDA3B;
}

ul.menu-v {
    list-style-type: none;
    margin: 5px 0 0;
}

ul.menu-v li {
    text-align: left;
    display: block;
    margin: 0 -2px 3px 0;
    padding: 4px 0;
    line-height: 1em;
    position: relative;
    min-width: 60px;
}

ul.menu-v a {
    outline: none;
    -moz-outline: none;
    font-style: normal;
    text-decoration: none;
    color: #03c;
    display: block;
    padding: 5px;
    margin: -5px;
}

ul.menu-v a:hover {
    color: var(--red);
}

ul.menu-v li.selected a {
    background: #eee;
    color: #000;
}
ul.menu-v li strong {
    color: var(--text-color-strong);
}

ul.menu-v li.selected ul.menu-v li a {
    background: inherit;
    color: #03c;
}

ul.menu-v.with-icons li {
    padding: 4px 2px 7px 24px;
    margin-left: -4px;
}

ul.menu-v.with-icons a {
    padding-left: 23px;
    margin-left: -23px;
}

ul.menu-v.with-icons i.icon10 {
    margin-left: -17px;
    margin-right: 7px;
}

ul.menu-v.with-icons i.icon16, ul.menu-v.with-icons i.icon12 {
    margin-left: -16px;
    margin-right: 4px;
}

ul.menu-v li a.inline {
    display: inline;
    margin: 0;
    padding: 0;
    min-width: 0;
}

i.icon16, i.icon12, i.icon64  {
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    text-indent: -9999px;
    text-decoration: none !important;
}
i.icon64 {
  height: 64px;
  width: 64px;
}

i.icon12 {
  height: 12px;
  width: 12px;
}

* i.icon16, * i.icon12 {
    text-decoration: none !important;
    vertical-align: baseline;
    margin: -0.1em 0.25em 0 0;
}

.hint i.icon10 {
    vertical-align: top;
    margin: -0.05em 0.15em 0 0;
}

h1 i.icon16, h2 i.icon16 {
    margin-top: 0.1em;
}

.icon64.yes, .icon16.yes {
  background-image: url('data:image/svg+xml,<svg fill="rgb(34,209,61)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM227.3 387.3l184-184c6.2-6.2 6.2-16.4 0-22.6l-22.6-22.6c-6.2-6.2-16.4-6.2-22.6 0L216 308.1l-70.1-70.1c-6.2-6.2-16.4-6.2-22.6 0l-22.6 22.6c-6.2 6.2-6.2 16.4 0 22.6l104 104c6.2 6.2 16.4 6.2 22.6 0z"/></svg>');
}

.icon16.no, .icon12.no {
    background-image: url('data:image/svg+xml,<svg fill="rgb(237,37,9)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"/></svg>');
}

.icon16.no-bw, .icon12.no-bw {
    background-image: url('data:image/svg+xml,<svg fill="rgb(255,108,0)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M569.5 440C588 472 564.8 512 527.9 512H48.1c-36.9 0-60-40.1-41.6-72L246.4 24c18.5-32 64.7-32 83.2 0l239.9 416zM288 354c-25.4 0-46 20.6-46 46s20.6 46 46 46 46-20.6 46-46-20.6-46-46-46zm-43.7-165.3l7.4 136c.3 6.4 5.6 11.3 12 11.3h48.5c6.4 0 11.6-5 12-11.3l7.4-136c.4-6.9-5.1-12.7-12-12.7h-63.4c-6.9 0-12.4 5.8-12 12.7z"/></svg>');
}

.icon16.loading {
    background-image: url('data:image/svg+xml,<svg fill="rgb(150,150,150)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M304 48c0 26.5-21.5 48-48 48s-48-21.5-48-48 21.5-48 48-48 48 21.5 48 48zm-48 368c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48-21.5-48-48-48zm208-208c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48-21.5-48-48-48zM96 256c0-26.5-21.5-48-48-48S0 229.5 0 256s21.5 48 48 48 48-21.5 48-48zm12.9 99.1c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48c0-26.5-21.5-48-48-48zm294.2 0c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48c0-26.5-21.5-48-48-48zM108.9 60.9c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48-21.5-48-48-48z"/></svg>');
    animation: rotation 1s linear infinite;
}
.icon24.lock {
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: inline-block;
    background-image: url('data:image/svg+xml,<svg fill="rgb(170,170,187)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128zm96 64a63.1 63.1 0 0 1 8.1-30.5c-4.8-.5-9.5-1.5-14.5-1.5h-16.7a174.1 174.1 0 0 1 -145.8 0h-16.7A134.4 134.4 0 0 0 0 422.4V464a48 48 0 0 0 48 48h280.9a63.5 63.5 0 0 1 -8.9-32zm288-32h-32v-80a80 80 0 0 0 -160 0v80h-32a32 32 0 0 0 -32 32v160a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V320a32 32 0 0 0 -32-32zM496 432a32 32 0 1 1 32-32 32 32 0 0 1 -32 32zm32-144h-64v-80a32 32 0 0 1 64 0z"/></svg>');
}

i.icon10 {
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    display: inline-block;
    text-indent: -9999px;
    text-decoration: none !important;
}

* i.icon10 {
    text-decoration: none !important;
    vertical-align: top;
    margin: 0.2em 0.1em 0 0;
}

.icon10.yes, .icon12.yes {
    background-image: url('data:image/svg+xml,<svg fill="rgb(34,209,61)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M173.9 439.4l-166.4-166.4c-10-10-10-26.2 0-36.2l36.2-36.2c10-10 26.2-10 36.2 0L192 312.7 432.1 72.6c10-10 26.2-10 36.2 0l36.2 36.2c10 10 10 26.2 0 36.2l-294.4 294.4c-10 10-26.2 10-36.2 0z"/></svg>');
}

.icon10.no {
    background-image: url('data:image/svg+xml,<svg fill="rgb(237,37,9)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M242.7 256l100.1-100.1c12.3-12.3 12.3-32.2 0-44.5l-22.2-22.2c-12.3-12.3-32.2-12.3-44.5 0L176 189.3 75.9 89.2c-12.3-12.3-32.2-12.3-44.5 0L9.2 111.5c-12.3 12.3-12.3 32.2 0 44.5L109.3 256 9.2 356.1c-12.3 12.3-12.3 32.2 0 44.5l22.2 22.2c12.3 12.3 32.2 12.3 44.5 0L176 322.7l100.1 100.1c12.3 12.3 32.2 12.3 44.5 0l22.2-22.2c12.3-12.3 12.3-32.2 0-44.5L242.7 256z"/></svg>');
}

.icon10.no-bw {
    background-image: url('data:image/svg+xml,<svg fill="rgb(255,108,0)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M569.5 440C588 472 564.8 512 527.9 512H48.1c-36.9 0-60-40.1-41.6-72L246.4 24c18.5-32 64.7-32 83.2 0l239.9 416zM288 354c-25.4 0-46 20.6-46 46s20.6 46 46 46 46-20.6 46-46-20.6-46-46-46zm-43.7-165.3l7.4 136c.3 6.4 5.6 11.3 12 11.3h48.5c6.4 0 11.6-5 12-11.3l7.4-136c.4-6.9-5.1-12.7-12-12.7h-63.4c-6.9 0-12.4 5.8-12 12.7z"/></svg>');
}

.icon10.new-window {
    background-image: url('data:image/svg+xml,<svg fill="rgb(170,170,187)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M432 320H400a16 16 0 0 0 -16 16V448H64V128H208a16 16 0 0 0 16-16V80a16 16 0 0 0 -16-16H48A48 48 0 0 0 0 112V464a48 48 0 0 0 48 48H400a48 48 0 0 0 48-48V336A16 16 0 0 0 432 320zM488 0h-128c-21.4 0-32.1 25.9-17 41l35.7 35.7L135 320.4a24 24 0 0 0 0 34L157.7 377a24 24 0 0 0 34 0L435.3 133.3 471 169c15 15 41 4.5 41-17V24A24 24 0 0 0 488 0z"/></svg>');
}

/* WA 2.0 */
.wa-select { position: relative; display: inline-block; background: var(--background-color-input); border-radius: 0.5em; margin-right: 0.25em; transition: 0.1s; max-width: 100%; }
.wa-select:before { content: ""; display: block; position: absolute; top: 50%; right: 0.75em; margin: -0.125em 0 0; border: solid transparent; border-width: 0.375em; border-top-color: var(--text-color-hint); }
.wa-select select { position: relative; display: inline-block; padding: 0.1875em 2.25em 0.1875em 0.375em; line-height: 1.5em; margin: 0; border: 0.125em solid var(--border-color-input); border-radius: 0.5em; color: var(--text-color-input); background: var(--background-color-input); -webkit-appearance: none; appearance: none; outline: none; box-sizing: border-box; cursor: pointer; font-size: 100%; min-width: 100%; }

.wa-select:hover { background: var(--background-color-input-solid); }

.wa-select.outlined select,
.wa-select select.outlined { border-color: var(--border-color-input-outlined); }

.bg-white { background-color: var(--white); }

.text-orange { color: var(--orange); }

.custom-mt-4 { margin-top: 0.25rem !important; }
.custom-mt-8 { margin-top: 0.5rem !important; }
.custom-mt-16 { margin-top: 1rem !important; }
.custom-mt-24 { margin-top: 1.5rem !important; }
.custom-mt-32 { margin-top: 2rem !important; }
.custom-mt-48 { margin-top: 3rem !important; }

.custom-mb-8 { margin-bottom: 0.5rem !important; }

.custom-pt-12 { padding-top: 0.75rem !important; }
.custom-pt-16 { padding-top: 1rem !important; }

.flexbox { display: flex; }
.flexbox.full-width { justify-content: space-between; }
.flexbox.middle { align-items: center; }
.flexbox.space-4 { gap: .25rem; }
.flexbox.space-8 { gap: .5rem; }

.semibold { font-weight: 500; }

/* Inputs & form elements
------------------------- */
input[type="text"],
input[type="password"],
input[type="email"] { display: inline-block; padding: 0.3125em 0.5em; border-radius: 0.5em; margin: 0 0.25em 0 0; border: 0.125em solid var(--border-color-input); line-height: 1.25em; background: var(--background-color-input); color: var(--text-color-input); -webkit-appearance: none; appearance: none; outline: none; box-sizing: border-box; max-width: 100%; transition: 0.1s; }

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover { border-color: var(--border-color-input-hover); }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus { border-color: var(--accent-color); background-color: var(--background-color-blank); }

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled { border-color: transparent; color: var(--gray); }

input.long { width: 24rem; }
input.short { width: 12rem; }
input.full-width { width: 100%; }

[type=checkbox]:not(.not-styled) { appearance: none; width: 1em; height: 1em; margin-top: 0.25em; vertical-align: text-bottom; border-radius: 0.25em; border: 1px solid var(--background-color-checkbox-border); background-repeat: no-repeat; background-position: center; background-size: 0.75em; background-color: var(--background-color-input); cursor: pointer;}
[type=checkbox]:checked:not(.not-styled) { background-color: var(--accent-color); background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");}
[type=checkbox] + label { cursor: pointer; }

/* Keyframes */
@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
