#t-api-tokens-page
    .t-page-name
        display inline-block
        vertical-align top
        margin 0
        padding 0 25px
        overflow hidden
        box-sizing border-box
        margin-right -4px
        height: 48px
        line-height: 48px

    .t-content-body
        border-top: 1px solid #ddd
        background-color #fff
        padding 10px 0

        .tc-api-tokens-list
            .tc-column-user
                .tc-column-image
                    width 16px
                    padding-right  4px

                    img
                        width 16px
                        height 16px
                        border-radius 50%

        .t-no-tokens
            margin 80px auto
            text-align center
            color #999