$path = "../../../wa-content/img/users/";

.icon16
    &.kill-wa-style
        background-position 50%
        background-size contain !important;

    &.calendars
        background-image url("../img/icons/calendars.png");
        background-position 50%
        background-size auto auto;

    &.user
        background-image url($path + "user.png");
        background-position 50%
        background-size auto auto;

    &.user-black
        background-image url($path + "user-black.png");
        background-position 50%
        background-size auto auto;

    &.user-black-female
        background-image url($path + "user-black-female.png");
        background-position 50%
        background-size auto auto;

    &.user-black-female
        background-image url($path + "user-black-female.png");
        background-position 50%
        background-size auto auto;

    &.user-business
        background-image url($path + "user-business.png");
        background-position 50%
        background-size auto auto;

    &.user-business-boss
        background-image url($path + "user-business-boss.png");
        background-position 50%
        background-size auto auto;

    &.user-business-gray
        background-image url($path + "user-business-gray.png");
        background-position 50%
        background-size auto auto;

    &.user-business-gray-boss
        background-image url($path + "user-business-gray-boss.png");
        background-position 50%
        background-size auto auto;

    &.user-detective
        background-image url($path + "user-detective.png");
        background-position 50%
        background-size auto auto;

    &.user-detective-gray
        background-image url($path + "user-detective-gray.png");
        background-position 50%
        background-size auto auto;

    &.user-female
        background-image url($path + "user-female.png");
        background-position 50%
        background-size auto auto;

    &.user-gray
        background-image url($path + "user-gray.png");
        background-position 50%
        background-size auto auto;

    &.user-gray-female
        background-image url($path + "user-gray-female.png");
        background-position 50%
        background-size auto auto;

    &.user-green
        background-image url($path + "user-green.png");
        background-position 50%
        background-size auto auto;

    &.user-green-female
        background-image url($path + "user-green-female.png");
        background-position 50%
        background-size auto auto;

    &.user-medical
        background-image url($path + "user-medical.png");
        background-position 50%
        background-size auto auto;

    &.user-medical-female
        background-image url($path + "user-medical-female.png");
        background-position 50%
        background-size auto auto;

    &.user-medium
        background-image url($path + "user-medium.png");
        background-position 50%
        background-size auto auto;

    &.user-medium-female
        background-image url($path + "user-medium-female.png");
        background-position 50%
        background-size auto auto;

    &.user-medium-silhouette
        background-image url($path + "user-medium-silhouette.png");
        background-position 50%
        background-size auto auto;

    &.user-nude
        background-image url($path + "user-nude.png");
        background-position 50%
        background-size auto auto;

    &.user-nude-female
        background-image url($path + "user-nude-female.png");
        background-position 50%
        background-size auto auto;

    &.user-red
        background-image url($path + "user-red.png");
        background-position 50%
        background-size auto auto;

    &.user-red-female
        background-image url($path + "user-red-female.png");
        background-position 50%
        background-size auto auto;

    &.user-white
        background-image url($path + "user-white.png");
        background-position 50%
        background-size auto auto;

    &.user-white-female
        background-image url($path + "user-white-female.png");
        background-position 50%
        background-size auto auto;

    &.user-worker
        background-image url($path + "user-worker.png");
        background-position 50%
        background-size auto auto;

    &.user-worker-boss
        background-image url($path + "user-worker-boss.png");
        background-position 50%
        background-size auto auto;

    &.user-yellow
        background-image url($path + "user-yellow.png");
        background-position 50%
        background-size auto auto;

    &.user-yellow-female
        background-image url($path + "user-yellow-female.png");
        background-position 50%
        background-size auto auto;

    &.cake
        background-image url("../img/icons/cake.png");
        background-position 50%
        background-size auto auto;