/* MOVE TO WEBASYST CORE CSS */

.user-status { white-space: nowrap; padding: 2px 5px 2px; border-radius: 3px; border: 1px solid rgba(0,0,0,0.2); background: #ccc; color: rgba(0,0,0,0.5); font-size: 0.8em; line-height: 1em; }
.user-status.green { background: #afa; }

/* Team app CSS */

ul.thumbs.t-list li { line-height: 1.5em; width: 170px; }
ul.thumbs.t-list li a,
ul.thumbs.t-list li a:hover { color: inherit !important; }
ul.thumbs.t-list li a h5 { font-size: 1.1em; width: 114px; display: block; margin: 0 auto 5px; color: #03c; }
ul.thumbs.t-list li a:hover h5 { color: red; }

.wa-user-info
    display inline-block
    line-height 18px

    .icon16
        position relative
        top 3px
        display inline-block
        vertical-align baseline

    .icon16
    .user-name
    .user-login
    .user-badge
        margin 0 2px 0 0

    .user-name
        color #2659d3

        &:hover
            color inherit

        &.gray
            color #aaa

    .user-login
        color #bebfc5

    .user-badge
        display inline-block
        vertical-align baseline
        padding 1px 2px
        border-radius 2px
        line-height 1.2em
        border 1px solid rgba(0,0,0,.05)
        font-size .8em