{$_title = ".button"}
{$wa->title($_title)}

{function name="_render"}
<p>
    <button class="button">button</button>
    <span class="button">span.button</span>
    <a href="#" class="button"><i class="fas fa-edit"></i> a.button</a>
    <a href="#" class="button blue">.blue</a>
    <a href="#" class="button green">.green</a>
    <a href="#" class="button yellow">.yellow</a>
    <a href="#" class="button orange">.orange</a>
    <a href="#" class="button red">.red</a>
</p>
<p>
    <a href="#" class="button purple">.purple</a>
    <a href="#" class="button pink">.pink</a>
    <a href="#" class="button brown">.brown</a>
    <a href="#" class="button gray">.gray</a>
    <a href="#" class="button dark-gray">.dark-gray</a>
    <a href="#" class="button black">.black</a>
    <a href="#" class="button light-gray">.light-gray</a>
    <a href="#" class="button white">.white</a>
</p>
{/function}

{function name="_render_disabled"}
<p>
    <button disabled="disabled">button:disabled</button>
    <a class="button blue disabled">.blue</a>
    <button class="button green" disabled="disabled">.green</button>
    <button class="button yellow" disabled="disabled">.yellow</button>
    <button class="button orange" disabled="disabled">.orange</button>
    <button class="button red" disabled="disabled">.red</button>
</p>
<p>
    <button class="button purple disabled">.purple</button>
    <button class="button pink" disabled="disabled">.pink</button>
    <button class="button brown" disabled="disabled">.brown</button>
    <button class="button gray" disabled="disabled">.gray</button>
    <button class="button dark-gray" disabled="disabled">.dark-gray</button>
    <button class="button black" disabled="disabled">.black</button>
    <button class="button light-gray" disabled="disabled">.light-gray</button>
    <button class="button white" disabled="disabled">.white</button>
</p>
<p>
    <button class="button outlined" disabled="disabled">.outlined:disabled</button>
    <a class="button blue outlined disabled">.blue</a>
    <button class="button outlined green" disabled="disabled">.green</button>
    <button class="button outlined yellow" disabled="disabled">.yellow</button>
    <button class="button outlined orange" disabled="disabled">.orange</button>
    <button class="button outlined red" disabled="disabled">.red</button>
</p>
<p>
    <button class="button outlined disabled purple">.purple</button>
    <button class="button outlined pink" disabled="disabled">.pink</button>
    <button class="button outlined brown" disabled="disabled">.brown</button>
    <button class="button outlined gray" disabled="disabled">.gray</button>
    <button class="button outlined dark-gray" disabled="disabled">.dark-gray</button>
    <button class="button outlined black" disabled="disabled">.black</button>
    <button class="button outlined light-gray" disabled="disabled">.light-gray</button>
    <button class="button outlined white" disabled="disabled">.white</button>
</p>
{/function}

{function name="_render_dws"}
<p>
    <a href="#" class="button danger">.danger</a>
    <a href="#" class="button warning">.warning</a>
    <button class="success">.success</button>
</p>
{/function}

{function name="_render_gradient"}
<p>
    <a href="#" class="button gradient">.gradient</a>
    <a href="#" class="button gradient rounded blue">.blue</a>
    <a href="#" class="button gradient rounded green">.green</a>
    <a href="#" class="button gradient rounded yellow">.yellow</a>
    <a href="#" class="button gradient rounded orange">.orange</a>
    <a href="#" class="button gradient rounded red">.red</a>
</p>
<p>
    <a href="#" class="button gradient rounded purple">.purple</a>
    <a href="#" class="button gradient rounded pink">.pink</a>
    <a href="#" class="button gradient rounded brown">.brown</a>
    <a href="#" class="button gradient rounded gray">.gray</a>
    <a href="#" class="button gradient rounded dark-gray">.dark-gray</a>
    <a href="#" class="button gradient rounded black">.black</a>
    <a href="#" class="button gradient rounded light-gray">.light-gray</a>
    <a href="#" class="button gradient rounded white">.white</a>
</p>
{/function}

{function name="_render_sizing"}
<p>
    <a href="#" class="button smallest">.smallest</a>
    <a href="#" class="button smaller">.smaller</a>
    <a href="#" class="button small">.small</a>
    <a href="#" class="button">.button</a>
    <a href="#" class="button large">.large</a>
    <a href="#" class="button larger">.larger</a>
    <a href="#" class="button largest">.largest</a>
</p>
<p>
    <a href="#" class="button outlined smallest">.smallest</a>
    <a href="#" class="button outlined smaller">.smaller</a>
    <a href="#" class="button outlined small">.small</a>
    <a href="#" class="button outlined">.button</a>
    <a href="#" class="button outlined large">.large</a>
    <a href="#" class="button outlined larger">.larger</a>
    <a href="#" class="button outlined largest">.largest</a>
</p>
<p>
    <a href="#" class="button rounded smallest">.smallest</a>
    <a href="#" class="button rounded smaller">.smaller</a>
    <a href="#" class="button rounded small">.small</a>
    <a href="#" class="button rounded">.button</a>
    <a href="#" class="button rounded large">.large</a>
    <a href="#" class="button rounded larger">.larger</a>
    <a href="#" class="button rounded largest">.largest</a>
</p>
<p>
    <a href="#" class="button rounded outlined smallest">.smallest</a>
    <a href="#" class="button rounded outlined smaller">.smaller</a>
    <a href="#" class="button rounded outlined small">.small</a>
    <a href="#" class="button rounded outlined">.button</a>
    <a href="#" class="button rounded outlined large">.large</a>
    <a href="#" class="button rounded outlined larger">.larger</a>
    <a href="#" class="button rounded outlined largest">.largest</a>
</p>
{/function}

{function name="_render_giant"}
<p>
    <a href="#" class="button orange rounded gradient" style="font-size: 5rem;">OMG!</a>
</p>
{/function}

{function name="_render_outlined"}
<p>
    <button class="button outlined">button</button>
    <span class="button outlined">span.button</span>
    <a href="#" class="button outlined"><i class="fas fa-edit"></i> a.button</a>
    <a href="#" class="button blue outlined">.blue</a>
    <a href="#" class="button green outlined">.green</a>
    <a href="#" class="button yellow outlined">.yellow</a>
    <a href="#" class="button orange outlined">.orange</a>
    <a href="#" class="button red outlined">.red</a>
</p>
<p>
    <a href="#" class="button purple outlined">.purple</a>
    <a href="#" class="button pink outlined">.pink</a>
    <a href="#" class="button brown outlined">.brown</a>
    <a href="#" class="button gray outlined">.gray</a>
    <a href="#" class="button dark-gray outlined">.dark-gray</a>
    <a href="#" class="button black outlined">.black</a>
    <a href="#" class="button light-gray outlined">.light-gray</a>
    <a href="#" class="button white outlined">.white</a>
</p>
{/function}

{function name="_render_rounded"}
<p>
    <a href="#" class="button rounded">Default</a>
    <a href="#" class="button rounded"><i class="fas fa-star"></i> Edit</a>
    <a href="#" class="button rounded blue">.blue</a>
    <a href="#" class="button rounded green">.green</a>
    <a href="#" class="button rounded yellow">.yellow</a>
    <a href="#" class="button rounded orange">.orange</a>
    <a href="#" class="button rounded red">.red</a>
</p>
<p>
    <a href="#" class="button rounded purple">.purple</a>
    <a href="#" class="button rounded pink">.pink</a>
    <a href="#" class="button rounded brown">.brown</a>
    <a href="#" class="button rounded gray">.gray</a>
    <a href="#" class="button rounded dark-gray">.dark-gray</a>
    <a href="#" class="button rounded light-gray">.light-gray</a>
    <a href="#" class="button rounded black">.black</a>
    <a href="#" class="button rounded white">.white</a>
</p>
<p>
    <button class="button rounded outlined">button</button>
    <span class="button rounded outlined">span.button</span>
    <a href="#" class="button rounded outlined"><i class="fas fa-edit"></i> a.button</a>
    <a href="#" class="button rounded blue outlined">.blue</a>
    <a href="#" class="button rounded green outlined">.green</a>
    <a href="#" class="button rounded yellow outlined">.yellow</a>
    <a href="#" class="button rounded orange outlined">.orange</a>
    <a href="#" class="button rounded red outlined">.red</a>
</p>
<p>
    <a href="#" class="button rounded purple outlined">.purple</a>
    <a href="#" class="button rounded pink outlined">.pink</a>
    <a href="#" class="button rounded brown outlined">.brown</a>
    <a href="#" class="button rounded gray outlined">.gray</a>
    <a href="#" class="button rounded dark-gray outlined">.dark-gray</a>
    <a href="#" class="button rounded light-gray outlined">.light-gray</a>
    <a href="#" class="button rounded black outlined">.black</a>
    <a href="#" class="button rounded white outlined">.white</a>
</p>
{/function}

{function name="_render_circle"}
<p>
    <button class="circle"><i class="fas fa-plus"></i></button>
    <button class="circle green"><i class="fas fa-arrow-right"></i></button>
    <button class="circle yellow"><i class="fas fa-church"></i></button>
    <button class="circle red"><i class="fas fa-times"></i></button>
    <button class="circle light-gray"><i class="fas fa-ellipsis-h"></i></button>
</p>
<p>
    <a class="button circle"><i class="fas fa-plus"></i></a>
    <a class="button circle green"><i class="fas fa-arrow-right"></i></a>
    <a class="button circle yellow"><i class="fas fa-church"></i></a>
    <a class="button circle red"><i class="fas fa-times"></i></a>
    <a class="button circle light-gray"><i class="fas fa-ellipsis-h"></i></a>
</p>
<p>
    <button class="circle pink" style="font-size: 3rem;"><i class="fas fa-magic"></i></button>
    <a href="#" class="button circle purple" style="font-size: 3rem;"><i class="fas fa-magic"></i></a>
    <button class="circle outlined brown" style="font-size: 3rem;"><i class="fas fa-magic"></i></button>
    <a href="#" class="button circle outlined light-gray" style="font-size: 3rem;"><i class="fas fa-magic"></i></a>
</p>
{/function}

{function name="_render_nobutton"}
<p>
    <a href="#" class="button">Sign In</a>
    <a href="#" class="button nobutton">Forgot Password?</a>
</p>
{/function}

{function name="_render_fullwidth"}
<div style="max-width: 400px;">
    <a href="#" class="button full-width">Download Now</a>
</div>
{/function}

<div class="u-component-page">
    <h1 class="u-page-title">{$_title|escape}</h1>

    <p>Кнопки разных цветов на все случаи жизни.</p>

    <p>В подавляющем большинстве случаев, включающих любое мгновенное действие, рекомендуется использовать стандартные кнопки <code>.button</code>:</p>

    <div class="line">
        {_render}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render|escape}</pre>
    </div>

    <h3>.button<code>.outlined</code></h3>

    <p>«Пустые» кнопки без заливки с границей рекомендуется использовать, когда обычные кнопки выглядят слишком «тяжелыми» в интерфейсе или же в паре с обычными кнопками в качестве альтернативных вариантов. А также в случаях, когда взаимодействие с кнопкой не выполняет мгновенного действия, а лишь приводит к некоторому подтверждению/уточнению перед непосредственным действием. Например, выпадающему меню, выезжающей шторки, дополнительному диалогу.</p>

    <div class="line">
        {_render_outlined}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_outlined|escape}</pre>
    </div>

    <h3>.button<code>.rounded</code></h3>

    <p>Кнопки с полностью скругленными краями рекомендуется использовать только там, где первостепенное внимание и цель пользователя должны быть именно в нажатии на кнопку. Например, в списке действий на экране заказа (пользователь открывает заказ с целью намеренно выполнить с ним некоторое действие), но не в диалоге (где основное внимание все-таки сосредоточено на содержимом диалога, а не на кнопке). То есть только в особых случаях, в которых действие выходит за рамки привычного сценария сохранения (отправки) набора данных, отображаемого на этой же странице.</p>

    <div class="line">
        {_render_rounded}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_rounded|escape}</pre>
    </div>

    <h3>.button<code>.nobutton</code></h3>

    <p>Кнопка без видимых границ. Полезна для расположения рядом с кнопкой в виде ссылки, если вариант <code>.outlined</code> стилистически подходит плохо.</p>

    <div class="line">
        {_render_nobutton}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_nobutton|escape}</pre>
    </div>

    <h3>.button<code>.full-width</code></h3>

    <p>Внутри контейнеров небольшого размера (например, <a href="{$wa_app_url}component/card/">.card</a>) иногда будет полезно разместить кнопку шириной во всю доступную область.</p>

    <div class="line">
        {_render_fullwidth}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_fullwidth|escape}</pre>
    </div>

    <h3>.button<code>.gradient</code></h3>

    <p>Дополнительный класс <code>.gradient</code> позволяет стилизовать кнопку градиентом (за исключением светло-серой и белой кнопок). Рекомендуется применять только в особых случаях, в которых кнопка (или несколько кнопок) имеет в интерфейсе доминирующую роль. Градиентное выделение хорошо работает в паре с <code>.rounded</code>.</p>

    <div class="line">
        {_render_gradient}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_gradient|escape}</pre>
    </div>

    <h3>Размеры кнопок</h3>

    <p>Регулировать размеры кнопок можно с помощью классов <code>.small</code>, <code>.smaller</code>, <code>.smallest</code>, <code>.large</code>, <code>.larger</code>, <code>.largest</code>.</p>
    <p>Изменяйте размер кнопок, только когда этого явно требует контекст и изменение размера действительно помогает пользователю. Например, в диалоге-анонсе какой-то очень полезной функции.</p>

    <div class="line">
        {_render_sizing}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_sizing|escape}</pre>
    </div>

    <p>Или явно укажите размер шрифта, чтобы нарисовать кнопку какого угодно размера:</p>
    <div class="line">
        {_render_giant}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_giant|escape}</pre>
    </div>

    <h3>button<code>.circle</code></h3>
    <p>Для кнопок действий с иконкой и без текста рекомендуется использовать строгую круглую форму и вместо .rounded использовать класс <code>.circle</code>.</p>
    <div class="line">
        {_render_circle}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_circle|escape}</pre>
    </div>

    <h3><code>.danger</code>, <code>.warning</code>, <code>.success</code></h3>
    <p>Если вы привыкли к семантике <a href="{$wa_app_url}component/alert/">.alert</a>, то цвет кнопки можно также задать с помощью классов <code>.danger</code> (то же, что и .red), <code>.warning</code> (то же, что и .yellow), <code>.success</code> (то же, что и .success):</p>
    <div class="line">
        {_render_dws}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_dws|escape}</pre>
    </div>

    <h3>.button<code>:disabled</code></h3>
    <p>HTML-элементы button и input в задизейбленном состоянии <code><strong>:disabled</strong></code> и любые другие элементы с дополнительным классом <code>.button<strong>.disabled</strong></code> имеют приглушенный некликабельный вид:</p>
    <div class="line">
        {_render_disabled}
    </div>
    <div class="line">
        <pre class="prettyprint">{_render_disabled|escape}</pre>
    </div>

    <h3>Общие рекомендации</h3>

    <ul class="separated">
        <li>Не рекомендуется одновременно размещать на странице более 3 одноцветных кнопок. Лучше использовать комбинацию цветов или комбинацию кнопки с заливкой и «пустой».</li>
        <li>Не рекомендуется использовать круглые кнопки в качестве кнопок отправки данных формы.</li>
        <li>Универсальный синий <code>.blue</code>: любое действие типа подтверждения, согласия, принятия, «ок, понял», перехода по ссылке, начала загрузки файлов, очистки кеша.</li>
        <li>«Успешный» <code>.green</code>: любое действие, которое <em>сразу же</em> приведет к счастливому финалу: что-то подключится, деньги спишутся, файлы появятся (не начнут копироваться, а сразу же завершат копироваться).</li>
        <li>Желтый <code>.yellow</code>: любое достаточно важное действие, требующие внимания пользователя — отложенный старт рассылки, перемещение файлов между хранилищами, отправка важной формы с данными. Или если просто это визуально подходит к остальной части интерфейса.</li>
        <li>Оранжевый <code>.orange</code>: любое важное и потенциально опасное действие, но которое при желании можно откатить обратно. Используйте в случаях, если действие опасное, но красный цвет выглядит слишком агрессивно.</li>
        <li>Красный <code>.red</code>: только для действий перманентного изменения/удаления данных, которое нельзя откатить обратно. Один лишь вид кнопки вселяет чувство опасности и забирает на себя все внимание пользователя, поэтому показывать такие красные кнопки нужно только в случае действительно «неотвратимой опасности».</li>
        <li>Серые <code>.gray</code> и <code>.dark-gray</code>: для скучных и нейтральных действий или действий, подразумевающих некоторое убывание и уменьшение значения. Например, для отключения какого-то режима работы или функции.</li>
        <li>Другие цвета, включая чисто черный и белый, — на усмотрение автора приложения.</li>
    </ul>




    <script>
        $.wa_ui.title.set({$_title|json_encode});

        if (typeof prettyPrint != 'undefined' && $.isFunction(prettyPrint)) {
            prettyPrint();
        }
    </script>
</div>
