{$_title = ".waUpload()"}
{$wa->title($_title)}

{function name="_upload"}
<div id="file-upload">
    <div class="upload">
        <label class="link">
            <i class="fas fa-file-upload"></i>
            <span>[s`Select file`]</span>
            <input name="namespace" type="file" autocomplete="off">
        </label>
    </div>
</div>

<script>
    ( function($) {
        $("#file-upload").waUpload({
            show_file_name: false
        })
    })(jQuery);
</script>
{/function}

{function name="_uploadbox"}
    <div id="drop-area">
        <div class="upload">
            <label class="link">
                <i class="fas fa-file-upload"></i>
                <span>[s`Select file`]</span>
                <input name="namespace" type="file" multiple autocomplete="off">
            </label>
        </div>
    </div>

    <script>
        ( function($) {
            $("#drop-area").waUpload({
                is_uploadbox: true
            })
        })(jQuery);
    </script>
{/function}

<div class="u-component-page">
    <h1 class="u-page-title">{$_title|escape}</h1>

    <blockquote class="small">Для работы компонента требуется подключение <code>wa-content/js/jquery-wa/<b>wa.js</b></code> — файла, в котором реализованы все базовые JS-компоненты Webasyst 2.</blockquote>

    <h3>Загрузка файла по клику</h3>
    <p>Для замены стандартного браузерного контрола загрузки файлов используйте следующую разметку.</p>
    <p>В этом варианте компонент <code>.waUpload()</code> управляет только отображением имени загруженного файла через опцию <span class="bold">show_file_name</span>.</p>

    <div class="line">
        {_upload}
    </div>

    <div class="line">
        <pre class="prettyprint">{_upload|escape}</pre>
    </div>

    <h3>Загрузка файлов drag-n-drop</h3>
    <p>Для оформления блока используются стили компонента <code>.box.uploadbox</code>.</p>

    <div class="line">
        {_uploadbox}
    </div>

    <div class="line">
        <pre class="prettyprint">{_uploadbox|escape}</pre>
    </div>

    <p>Реализация загрузки файлов на сервер остается на усмотрение разработчика.</p>

    <div class="u-example-section">
        <h3>.waUpload() <code>options</code></h3>
        <ul>
            <li><span class="bold">is_uploadbox</span> (boolean, по умолчанию false) — поддержка режима загрузки файлов 'drag-n-drop'.
                <br><br>
            </li>
            <li><span class="bold">show_file_name</span> (boolean, по умолчанию true) — показывать имена загруженных файлов.
                <br><br>
            </li>
        </ul>
    </div>

    <script>
        $.wa_ui.title.set({$_title|json_encode});

        if (typeof prettyPrint != 'undefined' && $.isFunction(prettyPrint)) {
            prettyPrint();
        }
    </script>
</div>
