{$_title = "[s`Captcha settings`] — {$wa->accountName(false)}"}
<div class="article s-captcha-settings-page" id="s-captcha-settings-page">
  <div class="article-body">
    <h1 class="s-page-title">[s`Captcha settings`]</h1>
    <p class="s-description">[s`Select a type of captcha to be used on your websites.`]</p>
    <div class="s-captcha-settings-fields-block">
        <form action="?module=settingsCaptchaSave" class="fields">
            <div class="fields-group">
                <div class="field">
                    <div class="name for-checkbox">[s`Captcha type`]</div>
                    <div class="value">
                        <ul>
                            <li>
                                <label>
                            <span class="wa-radio">
                                <input type="radio" name="captcha" {if ifset($captcha) == 'waPHPCaptcha' || empty($captcha)}checked{/if} value="waPHPCaptcha">
                            <span></span>
                            </span>
                                    [s`Webasyst Captcha`]
                                </label>
                            </li>
                            <li>
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="captcha" {if ifset($captcha) == 'waReCaptcha'}checked{/if} value="waReCaptcha">
                                    <span></span>
                                    </span>
                                    [s`Google reCAPTCHA`]
                                    <div{if ifset($captcha) != 'waReCaptcha'} style="display: none"{/if} class="js-captcha-adapter-settings fields-group">
                                    <div class="field">
                                        <div class="name">[s`Site Key`]</div>
                                        <div class="value">
                                            <input type="text" name="captcha_options[sitekey]" value="{$captcha_options.sitekey|default:''|escape}">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="name">[s`Secret`]</div>
                                        <div class="value">
                                            <input type="text" name="captcha_options[secret]" value="{$captcha_options.secret|default:''|escape}"><br>
                                            <p class="hint"><a href="https://www.google.com/recaptcha" target="_blank">[s`Get site key and secret for your website`]</a> <i class="fas fa-external-link-alt"></i></p>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="name">
                                            <label for="invisible">[s`Invisible mode`]</label>
                                        </div>
                                        <div class="value">
                                            <span class="switch" id="invisible">
                                                <input id="invisible" type="checkbox" name="captcha_options[invisible]" value="true"{if ifset($captcha_options.invisible)} checked{/if}>
                                            </span>
                                        </div>
                                    </div>
                    </div>
                    </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {include file="./SettingsSaveBtn.inc.html" settings_page="captcha" inline}
        </form>
    </div>
  </div>
</div>
<script>
    (function($) {
        $("#invisible").waSwitch();
        new WASettingsCaptcha({
            $wrapper: $("#s-captcha-settings-page"),
            wa2: true
        });
        $.wa.title.set({$_title|json_encode});
    })(jQuery);
</script>
