{* New template dialog *}
{$class_id = 's-onetime-password-auth-confirm-dialog'}
<div class="dialog width600px {$class_id} js-is-template" style="display: none;">
    <div class="dialog-background"> </div>
    <div class="dialog-window">
        <div class="dialog-content">
            <div class="dialog-content-indent">
                <h1>[s`Set one-time password authentication?`]</h1>
                <p>
                    [`This authentication type means that a backend user is sent a new one-time password every time they log into the backend. Therefore, you must ensure that at least either email or SMS notifications, or both, are being sent and delivered so that your backend users can always log in with their one-time passwords.`]
                </p>
                <p class="js-email-channel-text">
                    {sprintf('[s`Please check in “<a href="%s">%s</a>” section that email notifications based on “%s“ template are correctly sent.`]', "`$wa_backend_url`webasyst/settings/email/template/:id:/onetime_password", '[s`Email templates`]', '[s`One-time password`]')}
                </p>
                <p class="js-sms-channel-text" style="display: none;">
                    {sprintf('[s`Also check in “<a href="%s">%s</a>” section that SMS notifications based on “%s“ template are correctly sent, too. Be aware that SMS sending mignt not work occasionally; e.g., due to low SMS balance.`]', "`$wa_backend_url`webasyst/settings/sms/template/:id:/", '[s`SMS templates`]', '[s`One-time password`]')}
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="dialog-buttons">
            <div class="dialog-buttons-gradient">
                <input type="button" class="button green" value="[s`Select`]"> [s`or`]
                <a href="javascript:void(0)" class="cancel">[s`cancel`]</a>
            </div>
        </div>
    </div>
</div>

