{* New template dialog *}
<div class="dialog" id="wa-sms-new-template-dialog">
    <div class="dialog-background"> </div>
    <form action="?module=settingsTemplateSMSNew" class="dialog-body fields">
        <header class="dialog-header">
            <h3>[s`Creating new templates`]</h3>
            <span class="js-error" style="color: red;font-weight: bold;"></span>
        </header>
        <div class="dialog-content">
            <div class="fields-group form">
                <div class="field">
                    <div class="name for-input">
                        [s`Template group name`]
                    </div>
                    <div class="value">
                        <input type="text" name="data[name]" />
                        <div class="s-error-message-wrapper js-error-name"></div>
                    </div>
                </div>
                <div class="field">
                    <div class="name">
                        [s`Sender`]
                    </div>
                    <div class="value">
                        <div class="wa-select">
                            <select name="data[address]">
                                {foreach $numbers as $_number => $_adapter_name}
                                    <option value="{$_number|escape}">{$_number|escape} ({$_adapter_name|escape})</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="s-error-message-wrapper js-error-address"></div>
                        <p class="hint">{sprintf('[s`Senders are edited in “<a class="js-disable-router" href="%s">SMS&nbsp;providers</a>” section.`]', "`$wa_backend_url`webasyst/settings/sms")}</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="dialog-footer dialog-buttons">
            <div class="fields-group">
                <div class="field">
                    <div class="value submit">
                        <input type="submit" class="button js-submit-button" value="[s`Save`]">
                        &nbsp;[s`or`]&nbsp;<a href="javascript:void(0);" class="js-close-dialog">[s`cancel`]</a>
                        <i class="fas fa-spinner fa-spin s-loading" style="margin-left: 10px; margin-top: 10px; display: none;"></i>
                    </div>
                </div>
            </div>
        </footer>
    </form>
</div>
