{$_cheat_sheet_name = "wa-settings-sms-templates"}
<div class="s-sms-templates-page flexbox{if $wa->isMobile()} vertical{/if}" id="s-sms-templates-page">
    {* SIDEBAR *}
    {$sidebar_html}

    {* CONTENT *}
    <div class="content" id="s-sms-template-wrapper">
        <div class="article">
            <div class="article-body">
                {if $channel->getId()}
                <form class="s-template-form fields vertical" action="?module=settingsTemplateSMSSave&id={$channel->getId()|escape}">
                    <div class="s-sms-templates">
                        <h1 class="s-template-name">{$channel->getName()|escape}</h1>
                        <div class="fields-group">
                            <div class="field">
                                <div class="name">[s`Template group name`]</div>
                                <div class="value">
                                    <input type="text" class="wide" name="data[name]" value="{$channel->getName()|escape}" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="name">[s`Sender`]</div>
                                <div class="value">
                                    <div class="wa-select">
                                    <select name="data[address]">
                                        {foreach $numbers as $_number => $_adapter_name}
                                            <option value="{$_number|escape}"{if $channel->getAddress() == $_number} selected{/if}>{$_number|escape} ({$_adapter_name|escape})</option>
                                        {/foreach}
                                    </select>
                                    </div>
                                    <p class="hint">{sprintf('[`Senders are edited in “<a class="js-disable-router" href="%s">SMS&nbsp;providers</a>” section.`]', "`$wa_backend_url`webasyst/settings/sms/")}</p>
                                </div>
                            </div>
                        </div>
                        <div class="field-group">
                            {foreach $channel->getTemplatesList() as $_template_id => $_template_name}
                                <div class="field" data-template="{$_template_id|escape}">
                                    <div class="name">{$_template_name|escape}</div>
                                    <div class="value">
                                        <textarea class="wide" name="data[params][template][{$_template_id|escape}]" data-template="{$_template_id|escape}">{$channel->getTemplate($_template_id)|escape}</textarea>
                                        <div class="s-preview">
                                            <a class="s-preview-link js-preview-link hint" href="javascript:void(0);">
                                                <i class="fas fa-eye"></i> [s`Preview template`]
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {/foreach}
                        </div>
                        {* FIXED Buttons *}
                        <div class="bottombar flexbox middle"{if $wa->isMobile()} style="overflow-x: scroll;"{/if}>
                            <div class="article flexbox middle space-32 js-footer-actions"{if $wa->isMobile()} style="overflow-x: scroll; min-width: max-content; padding: 0 1rem;"{/if}>
                                <div>
                                    {* Save *}
                                    <input class="button js-submit-button" type="submit" name="" value="[s`Save`]">
                                    {* Cancel *}
                                    <span class="c-hidden">
                                        <span style="margin: 0 4px;">[s`or`]</span>
                                        <a href="{$wa_backend_url}webasyst/settings/sms/template/{$channel->getId()|escape}" class="js-cancel">[s`cancel`]</a>
                                    </span>
                                    <i class="fas fa-spinner fa-spin s-loading" style="display: none;"></i>
                                </div>
                                <div>
                                    {* Check sending *}
                                    <input class="smallest button gray rounded js-check-button" type="button" style="margin-left: 10px;" value="[s`Check sending`]">
                                    {* Cheat sheet *}
                                    <div class="s-cheat-sheet-wrapper js-cheat-sheet-wrapper"></div>
                                </div>
                                <div>
                                    {* Actions *}
                                    {* Reset *}
                                    <a href="javascript:void(0);" class="button rounded gray outlined smallest js-reset" title="[s`Restore default text`]">
                                        <span><i class="fas fa-broom"></i>
                                        <b class="hide-on-small-screens"><i>[s`Reset`]</i></b></span>
                                    </a>
                                    {* Duplicate *}
                                    <a href="javascript:void(0);" class="button rounded gray outlined smallest js-duplicate" title="[s`Duplicate templates`]">
                                        <span><i class="fas fa-copy"></i><span class="hide-on-small-screens"> [s`Duplicate`]</span></span>
                                    </a>
                                    {* Delete *}
                                    {if !$channel->isSystem()}
                                        <a href="javascript:void(0);" class="button rounded gray outlined smallest js-delete" title="[s`Delete templates`]">
                                            <span><i class="fas fa-trash"></i><span class="hide-on-small-screens"> [s`Delete`]</span></span>
                                        </a>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {else}
                    <div class="s-no-templates">
                        {if !empty($channels)}
                            [s`Templates not found`]
                        {else}
                            [s`No templates`]
                        {/if}
                    </div>
                {/if}
            </div>
        </div>
    </div>
</div>

{* Delete channel confirm dialog *}
<div class="dialog" id="s-sms-delete-channel-dialog">
    <div class="dialog-background"></div>
    <form class="dialog-body">
        <header class="dialog-header">
            <h3>[s`Delete template group?`]</h3>
        </header>
        <div class="dialog-content"></div>
        <div class="dialog-footer">
            <input type="submit" class="button red js-submit-button" value="[s`Delete`]">
            &nbsp;[s`or`]&nbsp;<a href="javascript:void(0);" class="js-close-dialog">[s`cancel`]</a>
            <i class="fas fa-spinner fa-spin loading" style="margin-left: 10px; margin-top: 10px; display: none;"></i>
        </div>
    </form>
</div>

{* Preview SMS template dialog *}
<div class="dialog s-sms-preview-template-dialog" id="s-sms-preview-template-dialog">
    <div class="dialog-background"> </div>
        <div class="dialog-body">
            <header class="dialog-header">
                <h4>[s`Preview SMS message “<span class="js-template-name"></span>”`]</h4>
            </header>
            <div class="dialog-content">
                <div class="s-message-wrapper">
                    <div class="message js-message-place"></div>
                </div>
                <div class="s-sender-wrapper">
                    <img class="s-company-userpic" src="{waContact::getPhotoUrl(0, 0, 16)}" alt="">
                    <span class="s-company-name">{$wa->accountName(true)}</span>
                    <span class="hint s-time js-time"></span>
                </div>
            </div>
            <footer class="dialog-footer">
                <button class="js-close-dialog button gray">[s`Close`]</button>
            </footer>
        </div>
</div>

{* Check SMS templates dialog *}
<div class="dialog s-sms-check-template-dialog" id="s-sms-check-template-dialog">
    <div class="dialog-background"> </div>
    <form action="?module=settingsTemplateCheckSending" class="dialog-body">
        <h4 class="dialog-header">[s`Checking the sending of SMS messages`]</h4>
        <div class="dialog-content fields">
                <div class="fields-group">
                    {* Recipient *}
                    <div class="field s-recipient-field">
                        <div class="name">[s`Recipient's phone number`]</div>
                        <div class="value">
                            <input type="text" name="data[recipient]" value="{$user->get('phone', 'default')|escape}" />
                            <p class="hint">[s`+1XXXXXXXXXX, 1XXXXXXXXXX`]</p>
                        </div>
                    </div>
                    {* Templates *}
                    <div class="field">
                        <div class="name">[s`Templates`]</div>
                        <div class="value s-templates-list js-templates-list">
                            {foreach $channel->getTemplatesList() as $_template_id => $_template_name}
                                {$_id = uniqid("template_`$channel->getId()|escape`_`$_template_id|escape`")}
                                <div class="s-template-item js-template-item">
                                    <input id="{$_id}" class="js-template-item-checkbox" type="checkbox" name="data[template][{$_template_id|escape}]" checked />
                                    <label for="{$_id}">{$_template_name|escape}</label>
                                </div>
                            {foreachelse}
                                <span style="color: #999;">[s`Templates not found`]</span>
                            {/foreach}
                        </div>
                    </div>
                    <input type="hidden" name="data[channel_id]" value="{$channel->getId()|escape}" />
                </div>
        </div>

        <div class="dialog-footer">
            <input type="submit" class="button blue js-submit-button" value="{sprintf('[s`Send %s SMS`]', count($channel->getTemplatesList()))}"{if count($channel->getTemplatesList()) == 0} disabled{/if}>
                &nbsp;[s`or`]&nbsp;<a href="javascript:void(0);" class="js-close-dialog">[s`cancel`]</a>
            <i class="fas fa-spinner fa-spin loading" style="margin-left: 10px; margin-top: 10px; display: none;"></i>
        </div>
    </form>
</div>

{* Message about the requirement to save changes *}
<div class="dialog" id="s-sms-requirement-to-save-changes-dialog">
    <div class="dialog-background"> </div>
    <div class="dialog-body">
        <h2 class="dialog-header">[s`Save your templates`]</h2>
        <div class="dialog-content">
                <p>[s`To check the sending of SMS messages, you must save the changes you made.`]</p>
        </div>
        <div class="dialog-footer">
            <a href="javascript:void(0);" class="button js-close-dialog">[s`Close`]</a>
        </div>
    </div>
</div>

{* New template dialog *}
{* NOTICE: this template inc use $numbers var from this scope (template) *}
{include file="./SettingsNewTemplateSMSDialog.inc.html" inline}
{$_title = "[s`SMS templates`] — {$wa->accountName(false)}"}
<script>
    document.querySelector('#wa-app').classList.add('with-bottombar');
    (function ($) {
        new WASettingsSMSTemplate({
            $wrapper: $("#s-sms-template-wrapper"),
            $delete_confirm_dialog: $("#s-sms-delete-channel-dialog"),
            $sms_preview_dialog: $("#s-sms-preview-template-dialog"),
            $sms_check_dialog: $("#s-sms-check-template-dialog"),
            $requirement_to_save: $("#s-sms-requirement-to-save-changes-dialog"),
            channel_id: {$channel->getId()|json_encode},
            path_to_templates: "{"`$wa_backend_url`webasyst/settings/sms/template/"}",
            cheat_sheet_name: {$_cheat_sheet_name|json_encode},
            default_templates: {$default_templates|json_encode},
            locales: {
                send_nan_sms: {_ws('Send %s SMS')|json_encode}
            },
            wa2: true
        });
        $.wa.title.set({$_title|json_encode});
    })(jQuery);
</script>
