{$dialog_class = 'w-waid-disconnect-dialog'}
{$dialog_id = uniqid($dialog_class)}
<div class="dialog {$dialog_class}" id="{$dialog_id}">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <h3 class="dialog-header js-title">[s`Disable sign-in with Webasyst ID`]</h3>
        <div class="dialog-content">
            <p class="state-error">
                <i class="fas fa-exclamation-triangle"></i>
                [s`If you disable sign-in with Webasyst ID, all configured user associations with Webasyst ID accounts will be deleted. Users will not be able to sign into the backend with Webasyst ID.`]</p>
            <div class="js-success-block" style="display: none">
                <p>[s`Sign-in with Webasyst ID has been disabled.`] <i class="fas fa-check-circle"></i></p>
            </div>
            <div class="js-fail-block" style="display: none">
                <p class="errormsg state-error">[s`Failed to disable sign-in with Webasyst ID.`] <i class="fas fa-times-circle"></i></p>
            </div>

        </div>
        <footer class="dialog-footer js-disconnect-dialog-footer">
            <input type="button" class="button red js-disconnect" value="[s`Disable Webasyst ID for everyone`]"> [s`or`]
            <a href="javascript:void(0)" class="js-close-dialog">[s`cancel`]</a> <i class="fas fa-spinner fa-spin js-loading" style="display: none"></i>
        </footer>
        <footer class="dialog-footer js-success-dialog-footer" style="display: none;">
            <input type="button" class="button js-close-dialog" value="[s`Close`]">
        </footer>
    </div>

    <script>
        $(function () {
            new WASettingsWaIDDisconnectConfirm({
                $dialog: $('#{$dialog_id}'),
                connect_url: {$connect_url|default:''|json_encode}
            });
        })
    </script>
</div>
